{% set post = THIS.post %}
<h2 class="entry-title">{{ post.get('title') }}</h2>
<p>{{ 'Tags:'|_ }} {% for tag in post.getTags() %}<a href="{{ tag.getUrl() }}" class="label">{{ tag.get('tag_name') }}</a>{% endfor %}</p>
<p class="entry-headline-meta">
    by <a class="author vcard" href="{{ APP.href('blog') ~ '/author/' ~ post.getAuthor().username }}">{{ post.getAuthorName() }}</a>
    on <abbr class="published" title="{{ post.get('create_at') }}">{{ post.get('create_at') | date('F jS') }}</abbr>
</p>
<div class="entry-content">
    {{ post.get('content') | raw }}
</div>

{{ THIS.view('disqus/embed') | raw }}
