{% extends '@Sellvana_PaymentAuthorizeNet/authorizenet/aim.html.twig' %}
{% set method = THIS.get('method') %}
{% block extra %}


    <script type="text/javascript" nonce="{{ RESPONSE.pageNonce() }}">
        require(['jquery'], function($){
            var iframeName = 'dpm_post';
            var dpmUrl = '{{ config["cgi_url"] }}';
            var iFrameTpl = '<iframe src="/empty.html" frameborder="0" allowtransparency="true"'
                    + 'style="display: none;width:100%;background-color:transparent" name="'
                    + iframeName + '" id="dpm-post-frame"></iframe>';

            var dpmFormTpl = '<form method="post" enctype="application/x-www-form-urlencoded" ' +
                    'action="' + dpmUrl + '" target="' + iframeName + '" style="display: none"></form>';


            var $placeOrderBtn = $("button[name='place_order']");
            var $form = $placeOrderBtn.parents('form');

            var $iframe = $(iFrameTpl);
            $iframe.insertAfter($form);
            $form.submit(function(event){
                if($("#payment_method_{{ method_code }}").prop("checked") == false) {
                    return;
                }
                event.preventDefault();

                var data = $form.serialize();
                data += "&is_ajax=1";
                $.post(
                        '{{ APP.href("/checkout") }}',
                        data,
                        function (response) {
                            console.log(response);

                            var dpmData = {};
                            dpmData['x_card_num'] = $("#authnet_cc_number").val();
                            dpmData['x_exp_date'] = parseInt($("#authnet_cc_expiration_date_month").val()) + '/' + parseInt($("#authnet_cc_expiration_date_year").val());
                            var billing = response['billing'];
                            var order = response['order'];
                            dpmData['x_invoice_num'] = order['unique_id'];
                            {% if config['useccv']  %}
                            dpmData['x_card_code'] = $("#authnet_cc_cid").val();
                            {% endif %}
                            if (billing) {
                                if (billing['firstname']) {
                                    dpmData['x_first_name'] = billing['firstname'];
                                }
                                if (billing['lastname']) {
                                    dpmData['x_last_name'] = billing['lastname'];
                                }
                                if (billing['company']) {
                                    dpmData['x_company'] = billing['company'];
                                }
                                if (billing['city']) {
                                    dpmData['x_city'] = billing['city'];
                                }
                                if (billing['region']) {
                                    dpmData['x_state'] = billing['region'];
                                }
                                if (billing['postcode']) {
                                    dpmData['x_zip'] = billing['postcode'];
                                }
                                if (billing['country']) {
                                    dpmData['x_country'] = billing['country'];
                                }
                                if (billing['phone']) {
                                    dpmData['x_phone'] = billing['phone'];
                                }
                                if (billing['fax']) {
                                    dpmData['x_fax'] = billing['fax'];
                                }
                            }
                            if (order['customer_email']) {
                                dpmData['x_email'] = order['customer_email'];
                            }
                            if (order['customer_id']) {
                                dpmData['x_cust_id'] = order['customer_id'];
                            }

                            dpmData['x_po_num'] = order['unique_id'];

                            for (var key in response['x_fields']) {
                                dpmData[key] = response['x_fields'][key];
                            }
                            var $dpmForm = $(dpmFormTpl);
                            $dpmForm.insertAfter($form);
                            $.each(dpmData, function (key, val) {
                                $('<input type="hidden" name="' + key + '" value="' + val + '"/>').appendTo($dpmForm);
                            });
                            $dpmForm.submit();
                        },
                        'json'
                );
            });
        });
    </script>
{% endblock %}
{#{{ THIS.view('authorizenet/aim').set({'method': method}) | raw }}#}