{% set d = THIS.get('customer') %}
<!--{ Content-Type: text/html; charset=UTF-8 }-->
<!--{ To: "{{ d.get('firstname') ~ ' ' ~ d.get('lastname') }}" <{{ d.get('email') }}> }-->
<!--{ From: "{{ CONFIG.get('modules/FCom_Core/support_name') }}" <{{ CONFIG.get('modules/FCom_Core/support_email') }}> }-->
<!--{ Subject: {{ "Password reset instructions" | _ }} }-->


<p>{{ "Hello, %s." | _(d.get('firstname')) }}</p>

<p>{{ "Please go to this URL to reset your password:" | _ }}</p>
{% set resetUrl = 'customer/password/reset?token=' ~ d.get('token') %}
<p><a href="{{ APP.href(resetUrl) }}">{{ APP.href(resetUrl) }}</a></p>
