<style type="text/css">
    .green {
        color: green;
    }
    .red {
        color: darkred;
    }
</style>
<div class="f-admin-main-view">
  <div class="page-header f-admin-page-header">
    <h1 class="f-page-title">Developers - Test</h1>
    <div class="btn-group">
        {% if THIS.get('can_cgi') %}
        <button class="btn" id="btn-test-cgi">Run tests cgi</button>
        {% endif %}
        <button class="btn" id="btn-test-web">Run tests web</button>
    </div>
  </div>
  <div class="f-admin-main">
    <div class="tab-content">
      <div id="results" class="tab-pane active" style="display: none; max-height:480px; overflow:auto;">
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
    require(['jquery'], function($){
        function ajax_tests_run() {
            $.ajax({
                type: "GET",
                url: "{{ APP.href('tests/run') }}"
            }).done(function (msg) {
                var $results = $('#results');
                $results.show().html("<h3>{{ "FCom Test suite CLI"|_ }}</h3>");
                var res = "";
                $(msg).each(function (i, o) {
                    res += o + '\n';
                });
                var c = $("<pre/>").text(res);
                $results.append(c);

            }).fail(function (result, msg) {
                console.log(msg);
            });
            return false;
        }
        function ajax_tests_run2() {
            jQuery.get("{{ APP.href('tests/run2') }}")
                    .done(function (result) {
                        var $results = $('#results');
                        $(result).each(function (i, o) {
                            if(i == 0 && o.event == 'suiteStart' && o.suite) {
                                var $div = $('<div class="suite-start">');
                                $div.append('<p>{{ "Running test suite "|_ }}' + o.suite + '</p>');
                                $div.append('<p>' + o.tests + '{{ " tests found"|_ }}');
                                $results.html($div);
                            } else if(o.event == 'test') {
                                var className = 'test';
                                var title = o.test;
                                if(o.status == 'pass') {
                                    className += ' green';
                                } else {
                                    className += ' red';
                                    title += o.message;
                                }

                                var $span = $('<span class="' + className + '">');
                                $span.append('<span class="glyphicon glyphicon-check" title="' + title + '"/>');
                                $results.append($span);
                            }
                            console.log(i);
                            console.log(o);
                        });
                        $results.show();
                    })
                    .fail(function (result, msg) {
                        console.log(msg);
                    });
            return false;
        }

        $('#btn-test-web').click(ajax_tests_run2);
        $('#btn-test-cgi').click(ajax_tests_run);
    });
</script>
