<!--{ label: {{ 'Customers'|_ }}}-->
<!--{ pos: 20 }-->
{% set m = THIS.get('model') %}
{% set customerCtrl = APP.instance('Sellvana_Customer_Admin_Controller_Customers') %}
<input type='hidden' name='model[customer_ids_add]' id='customer_ids_add'/>
<input type='hidden' name='model[customer_ids_remove]' id='customer_ids_remove'/>


{{ THIS.view('core/backbonegrid').set('grid', customerCtrl.getGroupCustomersConfig(m)) | raw }}

<a role="button" href="#customer-grid-add" data-toggle="modal" style='display:none;' id='btn_add_customer'>{{ "Add"|_ }}</a>
<div class='modal fade' id='customer-grid-add' tabindex='-1'>
    <div class='modal-dialog' style='width:900px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='myModalLabel'>{{ "Add user"|_ }}</h4>
            </div>
            <div class='modal-body'>
                {{ THIS.view('core/backbonegrid').set('grid', customerCtrl.getAllCustomersConfig(m)) | raw }}
            </div>
            <div class='modal-footer'>
                <button class='btn btn-default btn-close group-customer-modal-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
            </div>
        </div>
    </div>
</div>
