{% import THIS.view('core/form-elements').twigName() as forms %}
{% set hlp = APP.instance('Sellvana_Catalog_ProductsImport') %}
{% set info = hlp.getFileInfo(THIS.get('dir')~'/'~THIS.get('file')) %}
{% if not info %}
    <div class="panel-body">
        {{ 'Invalid file format, please go back and select another file'|_ }}
    </div>
{% else %}
    <div class="panel-body">
        <form id="import-columns-form" class="form form-horizontal" method="post">
            <input type="hidden" name="config[filename]" value="{{ THIS.get('file') }}" />
            <fieldset>
                {{ forms.input({ field:'delim', label: 'Field Delimiter'|_, value: info.delim, name_prefix:'config' }) }}
                {{ forms.input({ field:'skip_first', label: 'Skip First Lines'|_, value: info.skip_first, name_prefix:'config' }) }}
                {{ forms.input({ field:'batch_size', label: 'Batch Size'|_, value: info.batch_size ?: 100, name_prefix:'config' }) }}
                {{ forms.input({ field:'multivalue_separator', label: 'Multi Value Delimiter'|_, value: info.multivalue_separator, name_prefix:'config' }) }}
                {{ forms.input({ field:'nesting_separator', label: 'Nesting Level Delimiter'|_, value: info.nesting_separator ?: '>', name_prefix:'config' }) }}
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Column Content'|_ }}</label>
                    <label class="col-md-5 control-label" style="text-align: left;">{{ 'DB Field'|_ }}</label>
                </div>
                {% for i, v in info.first_row %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{{ v }}</label>
                        <div class="col-md-5">
                            <select class="form-control" name="config[columns][{{ i }}]">
                                <option></option>
                                {{ UTIL.optionsHtml(hlp.getFieldOptions(), info.columns[i] ?: '') | raw }}
                            </select>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'DB Field'|_ }}</label>
                    <label class="col-md-5 control-label" style="text-align: left;">{{ 'Default'|_ }}</label>
                </div>
                {% for k, f in hlp.getFieldData() %}
                    {% set _default = info.defaults[k] ? info.defaults[k] %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{{ k }}</label>
                        <div class="col-md-5">
                            {% if f.options %}
                                <select name="config[defaults][{{ k }}]">
                                    <option></option>
                                    {{ UTIL.optionsHtml(f.options, _default) | raw }}
                                </select>
                            {% else %}
                                {% set _input = f.input ?: 'text' %}
                                {% if _input == 'text' %}
                                    <input class="form-control" type="text" name="config[defaults][{{ k }}]" value="{{ _default }}">
                                {% elseif _input == 'textarea' %}
                                    <textarea class="form-control" name="config[defaults][{{ k }}]" style="width:400px; height:100px">{{ _default }}</textarea>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>

            <div class="form-actions form-actions-padding-sm">
                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <button class="btn st1 sz2 btn btn-primary" id="step2-next"type="button">{{ 'Save configuration and go to next step'|_ }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endif %}
