
        <div class="row f-mb-slideout-menu">
            <div class="col-sm-9 f-col-main">
                <header class="f-page-header">
                    <h1 class="f-page-title">{{ "Orders History" | _ }}</h1>
                    <a href="javascript:void(0);" id="button" class="f-mb-slideout-menu-toggle btn btn-default visible-xs">
                        Menu
                    </a>
                </header>
                {% if THIS.get('orders') %}
                    <table class="table">
                      <thead>
                        <tr>
                            <th>{{ "ID" }}</th>
                            <th>{{ "Shipping" | _ }}</th>
                            <th>{{ "Payment" | _ }}</th>
                            <th>{{ "Status" | _ }}</th>
                            <th class="text-right">{{ "Balance" | _ }}</th>
                        </tr>
                      </thead>
                        {% for order in THIS.get('orders')  %}
                            <tr>
                                <td>
                                    <a href="{{ APP.href('orders/view') }}?id={{ order.get('unique_id') }}">
                                        {{ order.get('unique_id') }}
                                    </a>
                                </td>
                                <td>{{ order.get('shipping_method') }} </td>
                                <td>{{ order.get('payment_method') }} </td>
                                <td>{{ order.get('status') }} </td>
                                <td class="text-right">{{ order.get('balance') }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            {{ THIS.view('customer/account/sidebar').set('current', 'orders') | raw }}
        </div>
<script>
    require(['jquery'], function($) {
        $( "#button" ).click(function() {
            $('.f-mb-slideout-menu .f-col-sidebar').toggleClass( "open" );
        });
    });
</script>
