<div class="f-site-main" role="main">
  <div class="container">
    <div class="f-page-header">
      <h1 class="f-page-title">My Account</h1>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <h3>My Accounts</h3>
        <div class="myaccountbox">
          <ul>
            <li>
              <a href="{{ APP.href('customer/myaccount/edit') }}"> Edit your account information</a>
            </li>
            <li>
              <a href="{{ APP.href('customer/myaccount/editpassword') }}"> Change your password</a>
            </li>
            <li>
              <a href="{{ APP.href('customer/address') }}">Modify your address book entries</a>
            </li>
            <li>
              <a href="{{ APP.href('wishlist') }}">Modify your wish list</a>
            </li>
          </ul>
        </div>
        <h3>My Orders</h3>
        <div class="myaccountbox">
          <ul>
            <li>
              <a href="{{ APP.href('customer/order') }}"> View your order history</a>
            </li>
            <li>
              <a href="#"> Downloads</a>
            </li>
            <li>
              <a href="#">Your Reward Points</a>
            </li>
            <li>
              <a href="#">View your return requests</a>
            </li>
            <li>
              <a href="#">Your Transactions</a>
            </li>
          </ul>
        </div>
        <h3>Newsletter</h3>
        <div class="myaccountbox">
          <ul>
            <li>
              <a href="#"> Subscribe</a>
              <a href="#"> unsubscribe to newsletter</a>
            </li>
          </ul>
        </div>
      </div>

      {{ THIS.view('customer/account/sidebar') | raw }}
    </div>
  </div>
</div>

