{% set cart = APP.instance('Sellvana_Sales_Model_Cart').sessionCart() %}
{% set totals = cart.getTotals() %}

<h4>{{ 'Totals'|_ }}</h4>

{% for total in totals %}
    <div class="row {{ total.getRowClass() }}">
        <div class="col-md-8 title">
            {{ total.getLabelFormatted() | raw }}
            {% if total.getError() %}<br/>(<span class="error">{{ total.getError() }}</span>){% endif %}
        </div>
        <div class="col-md-4">
            {{ total.getValueFormatted() | raw }}
        </div>
    </div>
{% endfor %}

<h4>{{ "Order Items" |_ }}</h4>

{% for item in cart.items() %}
    {% if (item.get('qty') > 0) %}
        {{ THIS.view('checkout-simple/partial/summary-item').set({'item': item, 'product': p}) | raw }}
    {% endif %}
{% endfor %}
