{% set customer = APP.instance('Sellvana_Customer_Model_Customer').sessionUser() %}
{% set cart = APP.instance('Sellvana_Sales_Model_Cart').sessionCart() %}
{% if customer %}
    {% set balance = APP.instance('Sellvana_StoreCredit_Model_Balance').load(customer.id(), 'customer_id') %}
    {% if balance %}
        {% set balanceCurrency = cart.convertToStoreCurrency(balance.get('amount')) %}
        {% set totalCurrency = cart.convertToStoreCurrency(cart.get('grand_total')) %}
        {% set maxAmount = min(balanceCurrency, totalCurrency) %}
        {% set amountCurrency = cart.getData('store_credit/amount_currency') %}
        <p>
            {{ 'Available store credit balance:' | _ }}
            <strong>{{ balanceCurrency|currency }}</strong>
            {% if balanceCurrency %}
                <input type="checkbox" id="store_credit-use" name="store_credit[use]" value="1" {{ cart.getData('store_credit/use') ? 'checked' }}>
                <label for="store_credit-use">{{ 'Use'|_ }}</label>
                <span id="store_credit-amount-container">
                    <label for="store_credit-amount">{{ 'Amount:'|_ }}</label>
                    <input type="number" id="store_credit-amount_currency" name="store_credit[amount_currency]"
                           value="{{ amountCurrency ? min(amountCurrency, maxAmount) : maxAmount }}" step="0.01" min="0" max="{{ maxAmount }}">
                </span>
            {% endif %}
        </p>
        {% if balanceCurrency %}
            <script>
            require(['jquery'], function($) {
                var $container = $('#store_credit-amount-container');
                {% if not cart.getData('store_credit/use') %} $container.hide(); {% endif %}
                $('#store_credit-use').click(function(ev) { $container.toggle(); })
            });
            </script>
        {% endif %}
    {% endif %}
{% endif %}