{% set tabs = THIS.sortedTabs() %}
{% set m =THIS.model %}
{% set formUrl = APP.href('cms/nav/tree_form/' ~ m.get('id')) %}

<script>
    require(['fcom.admin'], function() {
        FCom.Admin.Tabs('.fcom-admin-main-container', {
            url_get: "{{ THIS.get('form_url') }}",
            cur_tab: "{{ THIS.get('cur_tab') }}"
        });
    })
</script>

<div class="box fcom-admin-main-content">
    <div class="fcom-admin-main-title box-header">
        <div class="title">{{ m.get('full_name')|replace('|', ' > ') }}</div>
        <div class="btn-group actions">
            <button class="btn btn-primary" onclick="return adminForm.saveAll(this)">{{ 'Save'|_ }}</button>
        </div>
    </div>
    <div>
        <div class="nav">
            <ul class="nav nav-tabs fcom-nav-st1">
                {% for k, tab in tabs %}
                    <li>
                        <a class="js-form-tab-toggle" href="#tab-{{ k }}" data-toggle="tab"><span class="icon"></span>{{ tab.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-content fcom-admin-main-content">
            {% for k, tab in tabs %}
                {% if tab.view is not empty %}
                    <div class="tab-pane" id="tab-{{ k }}" {% if tab.async is empty %}data-loaded="true"{% endif %}>
                        {% if tab.async is empty %}{{ THIS.view(tab.view)|raw }}{% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>