{% set formUrl = APP.href('cms/nav/tree_form/') %}

<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1 class="pull-left">
                <i class="icon-file"></i>
                <span>{{ "CMS Navigation" |_ }}</span>
            </h1>
        </div>
    </div>
</div>

<div class="box col-sm-12" id="cms-nav-layout">
    <div class="box-header blue-background">
        <div class="title">{{ "Pages"|_ }}</div>
        <div class="actions">
            <input id="nav-tree-lock" type="checkbox" />
            <input id="nav-expand-collapse" type="checkbox" />
        </div>
    </div>
    <div class="box-content" id="cms_nav"></div>

    <form id="nav-tree-form" method="post" action="{{ formUrl }}">
        <div class="ui-layout-center adm-main" id="nav-form-container"></div>
    </form>

</div>

<script>
    require(['jquery', 'jstree', 'fcom.admin'], function($) {
        $(function() {
            FCom.Admin.checkboxButton('#nav-tree-lock', {def:true, off:{icon:'icon-unlock', label:'Unlocked'}, on:{icon:'icon-lock', label:'Locked'}});
            FCom.Admin.checkboxButton('#nav-expand-collapse', {
                off:{icon:'triangle-1-e', label:'Expand All'}, on:{icon:'triangle-1-s', label:'Collapse All'},
                click:function(ev) { $('#cms_nav').jstree(this.checked?'open_all':'close_all', $('#1>ul>li')); }
                //TODO: fetch ancestors only for root node
            });

            FCom.Admin.tree('#cms_nav', {
                url:'{{ APP.href('cms/nav/tree_data') }}'
                , on_dblclick: function (n) { loadForm(n.attr('id')); }
                , on_select: function (n) { loadForm(n.attr('id')); }
                , lock_flag: '#nav-tree-lock'
            });

            /*var cmsNavLayout = $('#cms-nav-layout').height($('.adm-wrapper').height()).layout({
                useStateCookie: true,
                west__minWidth: 400,
                west__spacing_open: 1,
                west__closable: false,
                triggerEventsOnLoad: true,
                onresize: function (pane, $Pane, paneState)
                {
                    $('.ui-jqgrid-btable:visible', $Pane).each(function (index)
                    {
                        if (!this.id.match(/_t$/)) {
                            $(this).setGridWidth(paneState.innerWidth - 20);
                        }
                    });
                }
            });*/

            function loadForm(id) {
                var url = '{{ formUrl }}?id='+id;
                $('#nav-form-container').load(url, function() {
                    $('#nav-tree-form').attr('action', url);
                    window.adminForm = FCom.Admin.form({
                        tabs:     '.adm-tabs li',
                        panes:    '.adm-tabs-content',
                        url_get:  url,
                        url_post: url
                    });
                });
            }
        })
    })
</script>