- $user = FCom_Admin_Model_User::sessionUser();

- $modulesNotification = array();
- echo $this->hook('hook_modules_notification', array('modulesNotification' => &$modulesNotification));

.row
    .twelve.columns
        %nav.top-bar
            %ul
                %li.name
                    %h1
                        %a(href="#{BApp::href()}") = $this->_('Fulleron Admin')
                %li.toggle-topbar
                    %a(href="#")
            %section
                %ul.right
                    - if (!empty($this->_quickSearches))
                        %li.has-dropdown.sup-quicksearch
                            %a(href="#")
                                %span.icon
                                %span.title = $this->_('Quicksearch')
                            .dropdown(style="width:200px; padding:10px")
                                %form(action="#" method="post")
                                    %select.foundation-forms(name="type")
                                        - foreach ($this->_quickSearches as $qs)
                                            %option(value="{$qs['href']}") = $qs['label']
                                    %input.twelve(type="text" name="query")
                                    %input.small.button(type="submit" value="Search")

                    - if (!empty($this->_shortcuts))
                        %li.has-dropdown.sup-shortcuts
                            %a(href="#") = $this->_('Shortcuts')
                            %ul.dropdown
                                - foreach ($this->_shortcuts as $sc)
                                    %li
                                        %a(href="#{$sc['href']}") = $sc['label']

                    - if ($modulesNotification)
                        %li.has-dropdown.sup-updates
                            %a(href="#{BApp::href('market/index')}")
                                %span.icon
                                %span.title
                                    = $this->_('Notifications')
                                    &nbsp;
                                    %em.count = count($modulesNotification)
                            %ul.dropdown
                                - foreach ($modulesNotification as $notifyTitle => $notifications)
                                    %li
                                        %a(style="text-decoration: none; font-weight: bold; color:black") = strtoupper($notifyTitle)
                                - foreach ($notifications as $notify)
                                    - if ($notify->url)
                                        %li
                                            %a(href="#{BApp::href($notify->url)}" title="#{$notify->text}") = $notify->module
                                    - else
                                        %li = $notify->module

                    %li.divider.show-for-medium-and-up

                    %li.has-dropdown.sup-account
                        %a(href="#") = $user->fullname()
                        %ul.dropdown
                            %li
                                %a(href="#{BApp::href('my_account')}") = $this->_('My Account')
                            %li
                                %a(href="#{BApp::href('reports')}") = $this->_('My Reports')
                            %li
                                %a(href="#{BApp::href('logout')}") = $this->_('Log Out')

                            %li.divider
                            %li
                                %label = $this->_('My Avatar')
                            %li
                                %img.th(src="#{BUtil::gravatar($user->email)}" style="margin:3px 13px")
