{% set order = THIS.get('order') %}
{% set emailCustomer = THIS.get('email_customer') %}
{% set sessCustomer = THIS.get('sess_customer') %}
{% set email = order.get('customer_email') %}

<h1>{{ 'Thank you for your order!'|_ }}</h1>

<h4>{{ 'Your order number is #%s'|_(order.unique_id) }}</h4>
<p><a href="{{ APP.href('orders/view?id=' ~ order.unique_id) }}">{{ 'View Your Order'|_ }} </a></p>

{% if not sessCustomer %}
    {% if emailCustomer %}
        <p>{{ 'Our records indicate that you already have an account with this email: %s.'|_(email) }}</p>
        <p>{{ 'If you like to merge this order into your account please <a href="%s">login here</a>.'|_(APP.href('guest/add_to_account')) | raw }}</p>
    {% else %}

        {{ THIS.view('guest/create-account').set('order', order) | raw }}

    {% endif %}
{% endif %}