{% set c = THIS.get('model') %}
{% set mname = MODULES.currentModuleName() %}
{% set baseHtmlName = "config[modules][" ~ mname ~ "]" %}
{% set baseConfigPath = "modules/" ~ mname %}
{% set prefix = "free_s_" %}
{% set fieldData = { model: c, id_prefix:'free_s_', name_prefix: baseHtmlName } %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
<h2>{{ "Free shipping settings" | _}}</h2>
{{ forms.accordion_start({id:'settings-FCom_ShippingFree'}) }}
     {{ forms.accordion_panel_start({label:'Free shipping'|_, id:'settings-FCom_ShippingFree-group0', in:1}) }}
        {{ forms.boolean(fieldData|merge({field:'active', label:'Enabled'|_, value: c.get( baseConfigPath ~ '/active' )})) }}
     {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}
