<address>
    <p>{{ address.get('firstname') ~ ' ' ~ address.get('lastname') }}</p>
    <p>{{ address.get('street1') }}</p>
    <p>{{ address.get('street2') }}</p>
    <p>{{ address.get('street3') }}</p>
    <p>{{ address.get('country') ~ ' - ' ~ address.get('region') }}</p>
    <p>{{ address.get('city') ~ ' - ' ~ address.get('postcode') }}</p>
</address>
