<div class="f-site-main" role="main">
  <div class="container">
    <div class="row f-mb-slideout-menu">
      <div class="col-sm-9 f-col-main">
        <header class="f-page-header">
          <h1 class="f-page-title">{{"Orders" | _ }} #{{ THIS.get('order').get('id') }}</h1>
          <a href="javascript:void(0);" id="button" class="f-mb-slideout-menu-toggle btn btn-default visible-xs">Menu</a>
        </header>
        <div class="table-responsive">
          <table class="table">
            <tr>
                <th>{{"Shipping method" | _ }}</th>
                <td>{{ THIS.get('order').get('shipping_method') }} </td>
            </tr>
            <tr>
                <th>{{"Payment method" | _ }}</th>
                <td>{{ THIS.get('order').get('payment_method') }} </td>
            </tr>
            <tr>
                <th>{{"Status" | _ }}</th>
                <td>{{ THIS.get('order').get('status') }} </td>
            </tr>
            <tr>
                <th>{{"Balance" | _ }}</th>
                <td>{{ THIS.get('order').get('balance') }} </td>
            </tr>
          </table>
        </div>


        {% if THIS.get('orderItems') %}
        <h4>{{"Order items" | _ }}</h4>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>ID</th>
              <th>{{"Info" | _ }}</th>
              <th>{{"Qty" | _ }}</th>
              <th>{{"Total" | _ }}</th>
            </tr>
          {% for item in THIS.get('orderItems') %}
            <tr>
              <td>{{ item.get('id') }}</td>
              <td>{{ THIS.view('customer/order/item').set('product', UTIL.fromJson(item.get('product_info'))) | raw}} </td>
              <td>{{ item.get('qty') }} </td>
              <td>{{ item.get('total') }} </td>
            </tr>
          {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>
      {{ THIS.view('customer/account/sidebar').set('current', 'orders') | raw }}
    </div>
  </div>
</div>
<script>
require(['jquery'], function($) {
  $( "#button" ).click(function() {
    $('.f-mb-slideout-menu .f-col-sidebar').toggleClass( "open" );
  });
});
</script>
