{% set order = THIS.get('order') %}
{% set orderItems = order.items %}
{% set addresses = order.addresses %}

        <div class="row f-mb-slideout-menu">
            <div class="col-sm-9 f-col-main">
                <header class="f-page-header">
                    <h1 class="f-page-title">{{"Orders" | _ }} #{{ order.get('unique_id') }}</h1>
                    <big>{{"Status" | _ }} : {{ order.get('status') }}</big>
                    <a href="javascript:void(0);" id="button" class="f-mb-slideout-menu-toggle btn btn-default visible-xs">Menu</a>
                </header>

                {% if orderItems %}
                    <h4>{{"Order items" | _ }}</h4>
                    <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{"Info" | _ }}</th>
                                <th>{{"Qty" | _ }}</th>
                                <th>{{"Total" | _ }}</th>
                            </tr>
                          </thead>
                            {% for item in orderItems %}
                                <tr>
                                    <td>{{ item.get('id') }}</td>
                                    <td>{{ THIS.view('customer/order/item').set('product', UTIL.fromJson(item.get('product_info'))) | raw}} </td>
                                    <td>{{ item.get('qty') }} </td>
                                    <td>{{ item.get('total') }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}



                {% if addresses %}
                    <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                                <th>{{ "Your billing information" |_ }}</th>
                                <th>{{ "Your shipping information" |_ }}</th>
                            </tr>
                          </thead>
                            <tr>
                                {% for address in addresses %}
                                    <td>{{ THIS.view('checkout/success/address').set('address', address) | raw }}</td>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                {% endif %}


                <div class="table-responsive">
                    <table class="table">
                          <thead>
                        <tr>
                            <th>{{"Shipping method" | _ }}</th>
                            <th>{{"Payment method" | _ }}</th>

                        </tr>
                          </thead>
                        <tr>
                            <td>{{ order.get('shipping_method') }} </td>
                            <td>{{ order.get('payment_method') }} </td>
                        </tr>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table">
                          <thead>
                        <tr>
                            <th>{{"Subtotal" | _ }}</th>
                            <th>{{"Balance" | _ }}</th>
                            <th>{{"Grand Total" | _ }}</th>
                        </tr>
                          </thead>
                        <tr>
                            <td>{{ order.get('subtotal') }} </td>
                            <td>{{ order.get('balance') }} </td>
                            <td>{{ order.get('grand_total') }} </td>
                        </tr>
                    </table>
                </div>


            </div>
            {{ THIS.view('customer/account/sidebar').set('current', 'orders') | raw }}
        </div>

<script>
    require(['jquery'], function($) {
        $( "#button" ).click(function() {
            $('.f-mb-slideout-menu .f-col-sidebar').toggleClass( "open" );
        });
    });
</script>
