{% set config = THIS.get('config') %}
{% set mediaLib =  APP.instance('FCom_Admin_Controller_MediaLibrary') %}
{% set uploadConfig = mediaLib.uploadConfig() %}
{#{% set mediaLibConfig = mediaLib.gridConfig({'id': config.id, 'config': config.config, 'mode': config.mode}) %}#}
{% set mediaLibConfig = config.gridConfig %}
{#{{ dump(config) }}#}
{#{{ dump(uploadConfig) }}#}

<div class="f-admin-main-view">
    <div class="page-header f-admin-page-header">
        {% if config.title %}
        <h1 class="f-page-title">
            <i class="icon-table"></i>
            {{ config.title }}
        </h1>
        {% endif %}

        <div class="btn-group">
        </div>
    </div>
    <div class="f-admin-main">
        {{ THIS.view('core/messages') | raw }}
        <div class='' id='{{ config.id }}-attach_library'>
            {{ THIS.view('core/griddle').set('grid', mediaLibConfig) | raw }}
        </div>

        {#{% if uploadConfig.can_upload %}#}
            <div id="{{ config.id }}-modal">
                {{ THIS.view('core/medialib/upload').set({'config': config, 'uploadConfig': uploadConfig})|raw }}
            </div>
        {#{% endif %}#}
    </div>
</div>
