{% set s = THIS.get('s') %}
<div class="panel">
    {% if s['available_categories'] %}
        <div class="panel-heading">
            <span class="panel-title">{{ "Categories" | _ }}</span>
        </div>
        <a href="{{ APP.href('catalog/search') ~ '?' ~ REQUEST.rawGet() }}">&lt; {{ "All categories" | _ }}</a>
        {% for data in s['available_categories'] %}
            <ul>
                {% for obj in data %}
                    <li style="padding-left:{{ obj.get('level') * 10 }}px;">
                        {% if s['filter_selected'][obj.get('key')] and obj.get('name') in s['filter_selected'][obj.get('key')] %}
                            <strong>{{ obj.get('name') }} {{ obj.get('show_count') ? '<span class="count">(' ~ obj.get('count') ~ ')</span>' }}</strong>
                        {% else %}
                            <a href="{{ APP.href(obj.get('url_path')) ~ '?' ~ REQUEST.rawGet() }}">{{ obj.get('name') }}
                                {{ obj.get('show_count') and obj.get('count')? '<span class="count">(' ~ obj.get('count') ~ ')</span>' }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
    <a href="{{ APP.href('indextank/search') ~ '?q=' ~ (REQUEST.get('q')) }}">{{ "Clear filters" | _ }}</a>
</div>
