{% set m = THIS.get('model') %}
{% set validator = THIS.get('validator') %}

<fieldset name="adm-section-group">
    {{ forms.input({label: 'Title'|_, required: 1, name: "model[title]", value: validator.fieldValue('title'), id: "model-title" }) }}
    {{ forms.textarea({label: 'Text'|_, input_class: "ckeditor", input_div_class:"col-md-10", name: "model[text]", value: validator.fieldValue('text'), id: "model-title" }) }}
    {{ forms.input({label: 'Rating of product'|_, required: 1, name: "model[rating]", value: validator.fieldValue('rating'), id: "model-rating" }) }}
    {{ forms.input({label: 'Helpful points'|_, required: 1, name: "model[helpful]", value: validator.fieldValue('helpful'), id: "model-helpful" }) }}

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-approved">{{ 'Approved'|_ }}</label>
        <div class="col-md-5">
            <input type="hidden" name="model[approved]" value="0" />
            <input class="switch-cbx" id="model-approved" type="checkbox" name="model[approved]" value="1" {% if validator.fieldValue('approved') == 1 %}checked="checked" {% endif %} />
        </div>
    </div>
</fieldset>
