{% set m = THIS.get('model') %}
{% set ctrl = APP.instance('FCom_ProductReviews_Admin_Controller') %}
{% set gridConfig = ctrl.gridConfig(m) %}

<script>
$(function() {
    var btnApprove = $('#prod-reviews-approve');
    var btnDeny = $('#prod-reviews-deny');
    var selectedRows = [];
    var prodReviewGrid;
    window.products_reviews_register = function(grid) {
        prodReviewGrid = grid;
        grid.build();
    }
    require(["fcom.admin", "bootstrap"], function($, _) {
        adminForm.createSwitchButton();
        adminForm.wysiwygInit();

        btnApprove.on('click', function() {
            updateStatus(1);
        });

        btnDeny.on('click', function() {
            updateStatus(0);
        });

        function updateStatus(approve)
        {
            var selectedRows = reviewGrid.getRows().toJSON();
            for (var index = 0; index < selectedRows.length; index++) {
                var row = reviewGrid.getRows().findWhere({id:selectedRows[index].id});
                row.set('approved', approve);
                row.save();
                row.trigger('render');
                //todo: implement update multi rows
            }
            $.bootstrapGrowl("Successfully saved.", { type: 'success', align: 'center', width: 'auto' });
        }

    });
});
</script>

{#<div>
    <a role="button" href="#prod-review-modal" data-toggle="modal" style='display:none;' id='btn_prod-review-modal'></a>
    <div class='modal fade' id='prod-review-modal' tabindex='-1'>
        <div class='modal-dialog' style='width:900px;'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                    <h4 class='modal-title' id='myModalLabel'>{{ THIS.get('title') }} </h4>
                </div>
                <div class='modal-body'>
                    <fieldset name="adm-section-group">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prod-review-title">{{ 'Title'|_ }}</label>
                            <div class="col-md-5">
                                <input type="hidden" id="prod-review-id" />
                                <input class="form-control" type="text" id="prod-review-title" name="model[title]" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prod-review-text">{{ 'Text'|_ }}</label>
                            <div class="col-md-10">
                                <textarea class="form-control ckeditor" id="prod-review-text" name="model[text]" rows="5" cols="35"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prod-review-rating">{{ 'Rating of product'|_ }}</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="prod-review-rating" name="model[rating]" value=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prod-review-helpful">{{ 'Helpful points'|_ }}</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="prod-review-helpful" name="model[helpful]" value=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prod-review-approved">{{ 'Approved'|_ }}</label>
                            <div class="col-md-5">
                                <input type="hidden" name="model[approved]" value="0" />
                                <input class="switch-cbx" id="prod-review-approved" type="checkbox" name="model[approved]" value="1" checked/>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class='modal-footer'>
                    <button class='btn btn-default btn-primary btn-prod-review-save' data-dismiss='modal' type='button'>{{ "Save"|_ }}</button>
                    <button class='btn btn-default btn-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
                </div>
            </div>
        </div>
    </div>
</div>#}


{{ THIS.view('core/backbonegrid').set('grid', {config: gridConfig }) | raw }}


