%header.adm-page-title
    %span.title = $this->_('Upload and Import Products')
    .btns-set

.accordion#import-accordion
    .accordion-group
        .accordion-heading
            .accordion-toggle = $this->_('Step 1: Upload or select file')
        .accordion-body.in
            .accordion-inner
                %form(method="post")
                    - echo $this->view('jqgrid')->set('config', FCom_Catalog_Admin_Controller_ProductsImport::i()->getImportFilesGridConfig())
                    %br
                    %button.btn.st1.sz2#step1-next(type="button") = $this->_('Select file and go to next step')

    .accordion-group
        .accordion-heading
            .accordion-toggle = $this->_('Step 2: Configure columns and other options')
        .accordion-body
            .accordion-inner#import-config
    .accordion-group
        .accordion-heading
            .accordion-toggle = $this->_('Step 3: Proceed with Import')
        .accordion-body
            .accordion-inner#import-status
    .accordion-group
        .accordion-heading
            .accordion-toggle = $this->_('Step 4: Review Import results')
        .accordion-body
            .accordion-inner#import-review

:javascript
    $(function() {
        FCom.Admin.Accordion('import-accordion');

        importsGrid = new FCom.Admin.MediaLibrary({
            grid:'#import_files',
            url:'#{BApp::href('media/grid')}',
            folder:'storage/import/products'
        });

        $('#step1-next').click(function(ev) {
            var sel = importsGrid.getSelectedRows();
            if (!sel.length) {
                alert('Please select one file');
                return;
            }
            var row = $('#import_files').jqGrid('getRowData', sel[0]);
            $('#import-config').parent().collapse('show');
            $('#import-config').html('Please wait loading file configuration...');
            $.getJSON('#{BApp::href('catalog/products/import/config')}?file='+encodeURIComponent(row.file_name), function(data, status, xhr) {
                $('#import-config').html(data.html);
            });
        });

        $('#import-accordion').on('click', '#step2-next', function(ev) {
            $('#import-status').parent().collapse('show');
            $('#import-status').html('Please wait starting import...');
            $.post('#{BApp::href('catalog/products/import/config')}', $('#import-columns-form').serialize(), function(data, status, xhr) {
                $('#import-status').html(data);
            });
        });

        $('#import-accordion').on('click', '#step3-start', function(ev) {
            $('#import-status').load('#{BApp::href('catalog/products/import/status')}?start=true');
        });

        $('#import-accordion').on('click', '#step3-stop', function(ev) {
            $.post('#{BApp::href('catalog/products/import/stop')}', $('#import-columns-form').serialize(), function(data, status, xhr) {
                $('#import-status').html(data);
            });
        });
    });
