{% set loggedIn = APP.instance("Sellvana_Customer_Model_Customer").isLoggedIn() %}
{% set isMultiple = CONFIG.get('modules/Sellvana_Wishlist/multiple_wishlist') %}
{% set p = THIS.get('product') %}
{% set wishlist = APP.instance('Sellvana_Wishlist_Model_Wishlist').sessionWishlist() %}
{% if loggedIn and isMultiple %}
    {% set wishlists = APP.instance("Sellvana_Wishlist_Model_Wishlist").getMultipleWishlists() %}
    {% if wishlists %}
        <div class="btn-group">
            <a title="{{ "Add to Wishlist" | _ }}" class="btn btn-warning btn-lg btn-wishlist" href="{{ APP.href('wishlist/add?id=') ~ p.id() }}"
               onclick="add_wishlist({{ p.id() }})" name="add2wishlist" value="{{ p.id() }}" rel="nofollow"
                    ><span class="fa fa-heart"></span>{{ "Add to Wishlist" | _ }}</a>
            <button type="button" class="btn dropdown-toggle btn-lg btn-wishlist" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">{{ 'Toggle Dropdown'|_ }}</span>
            </button>
            <ul class="dropdown-menu">
                {% for id, wishlist in wishlists %}
                    <li><a href="{{ APP.href('wishlist/add?id=' ~ p.id() ~ '&wishlist_id=' ~ wishlist.id()) }}"
                           onclick="add_wishlist({{ p.id() }}, {{ wishlist.id() }})">{{ wishlist.get('title') | default('Default Wishlist'|_)}}</a></li>
                    {% if wishlist.get('is_default') %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <a title="{{ "Add to Wishlist" | _ }}" class="btn btn-link" href="{{ APP.href('wishlist/add?id=') ~ p.id() }}"
           onclick="add_wishlist({{ p.id() }})" rel="nofollow">{{ "Add to Wishlist" | _ }}</a>
    {% endif %}
{% else %}
    <a title="{{ "Add to Wishlist" | _ }}" class="btn btn-link" href="{{ APP.href('wishlist/add?id=') ~ p.id() }}"
       onclick="add_wishlist({{ p.id() }})" rel="nofollow">{{ "Add to Wishlist" | _ }}</a>
{% endif %}
