{% set wishlists = THIS.get('wishlists') %}
{% set action = THIS.get('action') ? THIS.get('action') : 'add' %}

{% if action == 'settings' or (action == 'edit' and pr is not empty) %}
{% if wishlists %}
<style>
    #wishlist-setting-form {
        margin: 0 auto;
        width: 700px;
    }
</style>
<form id="wishlist-setting-form" action="{{ APP.href('wishlist/settings') }}" method="POST" role="form">
<input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
{% endif %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{ "Wish Lists" | _ }}</th>
                <th style="text-align: center;">{{ "Default" | _ }}</th>
                <th style="text-align: center;">{{ "Delete" | _ }}</th>
            </tr>
        </thead>
        <tbody>
            {% for wId, wishlist in wishlists %}
            <tr>
                <td><input type="text" name="Wishlist[{{ wId }}][title]" class="form-control" value="{{ wishlist.title }}" required="required"></td>
                <td style="text-align: center;">
                    <div class="radio">
                        <label>
                            <input type="radio" name="Wishlist[is_default]" value="{{ wishlist.id }}" {{ wishlist.is_default == '1' ? 'checked' : '' }}>
                        </label>
                    </div>
                </td>
                <td style="text-align: center;">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="delete[]" value="{{ wishlist.id }}">
                        </label>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% if action == 'settings' or (action == 'edit' and pr is not empty) %}
    <button type="submit" class="btn btn-primary pull-right" data-loading-text="{{ 'Updating...' | _ }}">{{ 'Submit' | _ }}</button>
</form>
{% else %}
    <div class="alert alert-info">{{ "There are no products in wishlist" | _ }}.</div>
{% endif %}
{% endif %}
