<h2>{{ "My account" | _ }}</h2>

<p>{{ "Hello" | _ }}&nbsp;<strong>{{ THIS.get('customer').get('firstname') }}</strong>
{{ "E-mail:" | _ }}&nbsp;<strong>{{ THIS.get('customer').get('email') }}</strong></p>
<p><a href="{{ APP.href('customer/myaccount/edit') }}">{{"Edit" | _ }}</a><br/>
<a href="{{ APP.href('customer/myaccount/editpassword') }}">{{"Edit password" | _ }}</a></p>

<br/>
<br/>
<a href="{{ APP.href('orders') }}">{{ "Orders history" | _ }}</a>

<br/>
<br/>
<a href="{{ APP.href('customer/address') }}" >{{ "View Addresses" | _ }}</a><br/>