{% set xhr = REQUEST.xhr() %}

    
        {% if not xhr %}
            <a href="{{ APP.instance('FCom_Core_Main').lastNav() }}">&lt;&lt; {{ "Back to results" |_ }}</a>
        {% endif %}

        <header class="f-page-header">
            <h1 class="f-page-title">{{ 'Compare' |_ }} <span class="compare-num-products">{{ THIS.get('products') | length }}</span> {{ 'products' |_ }}</h1>
        </header>

        <table class="table f-prod-listing-grid f-prod-compare-listing">
          <tr>
            <th>Summary</th>
        {% for i in 0..3 %}
            <td class="item">
            {% if THIS.get('products')[i] %}{% set p = THIS.get('products')[i] %}
                <a href="#" class="trigger-remove fa fa-times" onclick="$('.block-compare').data('compare').remove({{ p.id() }}, this)" title="{{ "Remove" |_ }}"></a>
                <p><img src="{{ p.thumbUrl(125) }}"class="product-img"/></p>
                <h3 class="product-name"><a href="{{ p.url(THIS.get('category')) }}">{{ p.get('product_name') }}</a></h3>
                <span class="manuf-name">{{ p.get('mfr_name') }}</span>
                <span class="sku">{{ "Part #: %s" | _(p.get('mfr_sku'))  }}</span>
                <div class="rateit" data-rateit-value="{{p.get('avg_rating')}}"></div>
                {{ '%s of 5' | _(p.get('avg_rating')) }}
                {% if p.get('num_reviews') %}
                    (<a href="{{p.url(cat)}}#reviews">{{ '%s reviews' | _(p.get('num_reviews')) }}</a>)
                {% endif %}
                {{ THIS.view('catalog/product/price', {'prod': p}) | raw }}
                <button class="btn btn-primary btn-add-to-cart" onclick="dentevaCart.add({{ p.id() }})">+ {{ "Add to Cart" |_ }}</button>
            {% else %}
                &nbsp;
            {% endif %}
            </td>
        {% endfor %}
          </tr>
        </table>
{% if not xhr %}
    <script>
        require(['fcom.frontend'], function() {
            {#var compare = new FulleronCompare({emptyUrl:'{{ APP.instance('FCom_Core_Main').lastNav() }}'});#}
        })
    </script>
{% else %}
    <script>
        require(['jquery', 'jquery.rateit'], function($) {
            $('.rateit').rateit();
        })
    </script>
{% endif %}
