{% set pId = THIS.get('product_id') %}
{% set inSet = APP.instance('Sellvana_ProductCompare_Model_Set').sessionSet().isInSet(pId) %}
{% set base = 'catalog/compare/' %}
{% set action = inSet ? 'remove': 'add' %}
{% set href = base ~ action ~ '?id=' ~ pId %}
<a href="{{ APP.href(href) }}"
   id="btn-compare-{{ pId }}" data-id="{{ pId }}" class="btn btn-link btn-sm btn-compare"
   rel="nofollow"><span class="glyphicon glyphicon-{{ inSet ? "check": "unchecked" }}"></span>{{ 'Add to Compare'|_ }}</a>
