{% set category = APP.get('current_category') %}

<div class="f-site-main" role="main">
  <div class="container">
   <!--  breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">{{ category.get('node_name') }}</li>
    </ul>
    <a href="javascript:void()" class="f-btn-prod-listing-filter-toggle btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target=".f-col-sidebar">View filters</a>
    <div class="row">
      <!-- Sidebar Start -->
      <aside class="f-col-sidebar col-md-3 col-sm-3">
          {{ THIS.hook('sidebar-left') | raw }}
      </aside>
      <!-- Sidebar End -->
      <!-- Category -->
      <div class="f-col-main col-md-9 col-sm-9">
        <header class="f-page-header">
          <h1 class="f-page-title">{{ category.get('node_name') }}</h1>
        </header>
        {{ THIS.hook('main_products') | raw }}
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="f-prod-quickview" tabindex="-1" role="dialog" aria-labelledby="f-prod-quickview-label" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog f-prod-quickview">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Quick View</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- Product Image Column -->
            <div class="f-col-prod-img col-sm-6">
              <ul class="thumbnails rslides f-prod-imgs">
                <li><img class="f-prod-img img-responsive" src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product.jpg') }}" alt=""/></li>
                <li><img class="f-prod-img img-responsive" src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt=""/></li>
                <li><img class="f-prod-img img-responsive" src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt=""/></li>
              </ul>
              <ul class="f-prod-more-view-imgs row">
                <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product.jpg') }}" alt="" title=""></a></li>
                <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt="" title=""></a></li>
                <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb2.jpg') }}" alt="" title=""></a></li>
                <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="" title=""></a></li>
              </ul>
            </div>
            <div class="tab-content col-sm-6">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#f-tab-summary" data-toggle="tab">Summary</a></li>
                <li><a href="#f-tab-detail" data-toggle="tab">Details</a></li>
              </ul>
              <div class="tab-pane active" id="f-tab-summary">
                <h4 class="f-prod-name">Realistically longer name {{ prod.get('product_name') }}</h4>
                <div class="f-prod-avg-rating">
                  <div class="glyphicon f-rating-stars f-xs-stars">
                    <span class="f-filled-stars" style="width:100%;"></span>
                    <span class="f-empty-stars"></span>
                  </div>
                  <a href="#f-prod-tab-reviews">53 Reviews</a>
                </div>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$39.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                
                <form class="f-prod-select form-horizontal" role="form">
                  <div class="form-group">
                    <label for="#" class="col-md-2 control-label">Width:</label>
                    <div class="col-md-10">
                      <p class="form-control-static">M</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="#" class="col-md-2 control-label">Color:</label>
                    <div class="col-md-10">
                      <select class="form-control" id="#">
                        <option>Select Color</option>
                        <option>Red</option>
                        <option>Green</option>
                        <option>Blue</option>
                        <option>Black</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="#" class="col-md-2 control-label">Size:</label>
                    <div class="col-md-10">
                      <select class="form-control" id="#">
                      <option>Select Size</option>
                      <option>24</option>
                      <option>36</option>
                      <option>48</option>
                      </select>
                    </div>
                  </div>
                  <div class="f-prod-add-cart">
                    <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</button>
                    <ul class="f-add-to-links">
                      <li><a href="#">Add to Wishlist</a></li>
                      <li><a href="#">Add to Compare</a></li>
                    </ul>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="f-tab-detail">
                <div class="f-prod-short-description">
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
              </div>
            </div>
        </div><!-- /.modal-body -->
      </div><!-- /.modal-content -->
      <div class="modal-footer">
         <a href="#">See more product details</a>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->