{% set cart = APP.instance('FCom_Sales_Model_Cart').sessionCart() %}
{% set rates = cart.getShippingRates() %}

<form method="post" action="{{ APP.href('cart/shipping_estimate') }}">
    <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
    <label for="shipping-estimate-postcode">{{ 'Zip Code:'|_ }}</label>
    <input type="text" id="shipping-estimate-postcode" name="shipping[postcode]" required value="{{ cart.get('shipping_postcode') }}">
    <button type="submit" class="btn btn-default btn-xs">{{ 'Estimate'|_ }}</button>
</form>

{% if rates %}
<form method="post" action="{{ APP.href('cart/shipping_method') }}">
    <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
    <h4>{{ 'Shipping Methods'|_ }}</h4>
    <dl>
        {% for method in rates %}
            <dt>{{ method.title |_ }}</dt>
            {% for service in method.services %}
                <dd>
                    <label for="shipping_method-{{ service.value }}">
                        <input type="radio" name="shipping_method" id="shipping_method-{{ service.value }}" required
                               value="{{ service.value }}" {{ service.selected ? 'checked' }}>
                        {{ service.title |_ }}
                        {{ service.price ? service.price|currency : 'FREE'|_ }}
                        {% if service.max_days %}({{ '%s days'|_(service.max_days) }}){% endif %}
                    </label>
                </dd>
            {% endfor %}
        {% endfor %}
    </dl>
    <button type="submit" class="btn btn-xs btn-default">{{ 'Update shipping method'|_ }}</button>
</form>
{% endif %}