{% set fKey = THIS.get('facet_key') %}
{% set facet = THIS.get('facet') %}
{% set facets = THIS.products_data['facets'] %}
{% set prefix = APP.instance('FCom_Catalog_Model_Category').urlPrefix() %}
{% set s = THIS.products_data['state'] %}
{%  if facet['values'] %}
  <dt>{{ "Categories" | _ }}</dt>
  <dd>
    <ul>
    {% for vKey, value in facet['values'] %}
      <li style="padding-left:{{ value['level']*10 }}px;">
        {%  if value['selected'] %}
          <strong>{{ value['display'] }}</strong>
        {% elseif value['parent'] %}
          <strong><a href="{{ APP.href(prefix ~ vKey) ~ '?' ~ REQUEST.rawGet() }}">{{ value['display'] }}</a></strong>
        {% else %}
          <a href="{{ APP.href(prefix ~ vKey) ~ '?' ~ REQUEST.rawGet() }}">{{ value['display'] }}
            {{ (value['cnt'] ? '<span class="count">(' ~ value['cnt'] ~ ')</span>') | raw }}</a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    <small><a href="{{ APP.href('catalogindex/search') ~ '?q=' ~ REQUEST.get('q')|e('url') }}">{{ "Clear filters" | _ }}</a></small>
  </dd>
{% endif %}
