<!--{ label: Blog Post }-->
<!--{ pos: 10 }-->

{% set m = THIS.get('model') %}
{% set validator = THIS.get('validator', m) %}
<div class="f-section">
<fieldset class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-status">{{ 'Status'|_ }}</label>
        <div class="col-md-5">
            <select class="form-control" id="model-status" name="model[status]">
                {{ UTIL.optionsHtml(m.fieldOptions('status'), validator.fieldValue('status'))|raw }}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-status">{{ 'Author'|_ }}</label>
        <div class="col-md-5">
            <select class="form-control" id="model-author_user_id" name="model[author_user_id]">
                {{ UTIL.optionsHtml(APP.instance('FCom_Admin_Model_User').options(), validator.fieldValue('author_user_id'))|raw }}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-title">{{ 'Title'|_ }}</label>
        <div class="col-md-5">
            <input class="form-control required" id="model-title" type="text" name="model[title]" value="{{ validator.fieldValue('title') }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-tags">{{ 'Tags'|_ }}</label>
        <div class="col-md-5">
            <textarea class="form-control" id="model-tags" name="model[tags]">{{ validator.fieldValue('tags') ? validator.fieldValue('tags') : m.getTagsString() }}</textarea>
            {#//todo: need update this textarea to suggest availble tags#}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-url-key">{{ 'URL Key optional' }}</label>
        <div class="col-md-5">
            <input class="form-control" id="model-url-key" type="text" name="model[url_key]" value="{{ validator.fieldValue('url_key') }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-meta-description">{{ 'Meta Description'|_ }}</label>
        <div class="col-md-5">
            <textarea class="form-control" id="model-meta-description" name="model[meta_description]" cols="5">{{ validator.fieldValue('meta_description') }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-meta-keywords">{{ 'Meta Keywords'|_ }}</label>
        <div class="col-md-5">
            <textarea class="form-control" id="model-meta-keywords" name="model[meta_keywords]" cols="5">{{ validator.fieldValue('meta_keywords') }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-preview">{{ 'Preview'|_ }}</label>
        <div class="col-md-10">
            <textarea class="form-control ckeditor" id="model-preview" name="model[preview]" cols="5">{{ validator.fieldValue('preview') }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-content">{{ 'Content'|_ }}</label>
        <div class="col-md-10">
            <textarea class="form-content ckeditor" id="model-content" name="model[content]" cols="5">{{ validator.fieldValue('content') }}</textarea>
        </div>
    </div>

</fieldset>
</div>
<script>
    require(['jquery', 'jquery.validate', 'jstree'], function($) {
        $(function() {
            var form = $('#model-status').parents('form');
            $.validator.addMethod('category', validateCategory, 'You must choose one or more category.');
            function validateCategory (value, element, param) {
                $('#categories-layout').find('label.error').hide();
                $('a[href="#tab-category"]').find('i.error').hide();
                if (value == 'published') {
                    var checked_ids = [];
                    $("#categories").jstree("get_checked",null,true).each(function () {
                        checked_ids.push(this.id);
                    });
                    if (checked_ids.length == 0) {
                        $('#categories-layout').find('label.error').show();
                        $('a[href="#tab-category"]').find('i.error').show();
                        return false;
                    }
                }
                return true;

            }
            form.validate({
                ignore: '',
                rules:{
                    'model[status]': {
                        category: true
                    }
                }
            });

        })
    })
</script>
