{% set m = THIS.model %}
{% set validator = THIS.get('validator') %}

<fieldset class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-status">{{ 'Status'|_ }}</label>
        <div class="col-md-5">
            <select class="form-control" id="model-status" name="model[status]">
                {{ UTIL.optionsHtml(m.fieldOptions('status'), validator.fieldValue('status'))|raw }}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-title">{{ 'Title'|_ }}</label>
        <div class="col-md-5">
            <input class="form-control" id="model-title" type="text" name="model[title]" value="{{ validator.fieldValue('title') }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-tags">{{ 'Tags'|_ }}</label>
        <div class="col-md-5">
            <input class="form-control" id="model-tags" type="text" name="model[tags]" value="{{ validator.fieldValueTagsString() }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-url-key">{{ 'URL Key optional' }}</label>
        <div class="col-md-5">
            <input class="form-control" id="model-url-key" type="text" name="model[url_key]" value="{{ validator.fieldValue('url_key') }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-preview">{{ 'Preview'|_ }}</label>
        <div class="col-md-10">
            <textarea class="form-control ckeditor" id="model-preview" name="model[preview]" cols="5">{{ validator.fieldValue('preview') }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-content">{{ 'Content'|_ }}</label>
        <div class="col-md-10">
            <textarea class="form-content ckeditor" id="model-content" name="model[content]" cols="5">{{ validator.fieldValue('content') }}</textarea>
        </div>
    </div>
</fieldset>