{% set rawGet = REQUEST.rawGet() %}
{% set category = THIS.get('category') ? THIS.get('category') : APP.get('current_category') %}
{% set parent = false %}
{% set siblings = false %}
{% if category %}
  {% if category.get('parent_id') %}
      {% set parent = APP.instance('Sellvana_Catalog_Model_Category').load(category.get('parent_id')) %}
      {% set siblings = category.siblings() %}
  {% endif %}
  {% set children = category.children() %}
{% endif %}

<section class="f-prod-listing-filter">
  <header class="f-widget-header">
    <strong class="f-widget-title">{{ "Narrow Results" |_ }}</strong>
  </header>
  <form class="f-widget-content" action="" method="get">
    <dl>
      <dt>
        {{ "Categories" |_ }}
        <a href="{{ APP.href('catalog/search') ~ '?' ~ REQUEST.rawGet() }}">&lt; {{ "All categories" |_ }}</a>
      </dt>
      <dd>
        <ul>
        {% if category %}
            {% if parent and parent.get('node_name') %}
                <li style="padding-left: 10px;"><a href="{{ parent.url() ~ '?' ~ rawGet }}">&lt; {{ parent.get('node_name') }}</a></li>
            {% endif %}

            <li class="cat-level-0"><b>{{ category.get('node_name') }}</b></li>

            {% for c in children %}
                <li class="cat-level-1">
                    <a href="{{ c.url() ~ '?' ~ rawGet }}">{{ c.get('node_name') }}</a>
                </li>
            {% endfor %}

        {% endif %}
        {% if siblings %}
            {% for c in siblings %}
                <li class="cat-level-0">
                    <a href="{{ c.url() ~ '?' ~ rawGet }}">{{ c.get('node_name') }}</a>
                </li>
            {% endfor %}
        {% endif %}
        </ul>
      </dd>
    {{ THIS.hook('custom-fields-filters', { category: category }) | raw }}
    </dl>
  </form>
</section>

