<!--{permission: settings/translations}-->
{% set c = THIS.get('model') %}
{% set fieldData = { model: c, settings_module:'Sellvana_MultiLanguage' } %}
{% set backOrders = prod.backOrders() %}
{% set locales = LOCALE.getAvailableLocaleCodes() %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<h2>{{ "Multi Language Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-Sellvana_Language'}) }}
    {{ forms.accordion_panel_start({label:'Internationalization'|_, id:'settings-Sellvana_MultiLanguage-group1'}) }}
        {{ forms.select(fieldData, {field:'allowed_locales', label:'Allowed Product Data Locales', select2: {},
            multiple: true, options:locales }) }}
        {{ forms.select({ model: c, id_prefix:'web', name_prefix:'config[web]', get_prefix:'web', field:'language_in_url',
            label:'Prepend URL with language code', options: {
                '': 'No',
                'lang': 'Language Code (en)',
                'locale': 'Full Locale (en_US)',
            }
        }) }}{# 'name': 'Language name (english)', TODO:implement #}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}
