<div class="f-site-main" role="main">
  <div class="container">
    <div class="row f-mb-slideout-menu">
      <div class="col-sm-9 f-col-main">
        <header class="f-page-header">
          <h1 class="f-page-title">{{ "Wishlist" | _ }}</h1>
          <a href="javascript:void(0);" id="button" class="f-mb-slideout-menu-toggle btn btn-default visible-xs">Menu</a>
        </header>

{% if THIS.get('wishlist') or THIS.get('wishlist').items() %}
       <form name="cart" action="{{ APP.href('wishlist') }}" method="post">
          <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
          <div class="table-responsive">
            <table class="table">
                <col width="30"/>
                <col width="60"/>
                <col/>
                <col width="180"/>
                <col width="70"/>
                <col width="70"/>
                <thead>
                  <tr>
                    <th>{{ "Remove" | _ }}</th>
                    <th colspan="2">{{ "Product" | _ }}</th>
                    <th>{{ "Price" | _ }}</th>
                  </tr>
                </thead>
                <tbody>
        {% for item in THIS.get('wishlist').items() %}
            {% set p = item.product() %}
                  <tr id="f-product-row-{{ p.get('id')}}">
                    <td>
                      <label><input type="checkbox" name="remove[]" class="remove-checkbox" value="{{ item.get('id')}}"></label>
                    </td>
                    <td>
                        <img src="{{ p.thumbUrl(85, 60) }}" width="85" height="60" class="product-img" alt="{{ p.get('product_name') }}"/>
                    </td>
                    <td>
                      <strong class="f-prod-name"><a href="{{ p.url(THIS.get('category')) }}">{{ p.get('product_name') }}</a></strong>
                    </td>
                    <td>
                        <div class="price-box">
                            <span class="price">$ {{ p.get('base_price') | number_format }}</span>
                        </div>
                    </td>
                  </tr>
        {% endfor %}
                 </tbody>
                <tfoot>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><input type="submit" class="btn btn-default btn-xs" value="{{ "Update Wishlist" | _ }}"/></td>
                </tfoot>
            </table>
          </div>
        </form>
      {% else %}
        <div class="alert alert-info">{{ "There are no products in wishlist" | _ }}.</div>
      {% endif %}
      </div>
      {{ THIS.view('customer/account/sidebar').set('current', 'wishlist') | raw }}
    </div>
  </div>
</div>
<script>
  require(['jquery'], function($) {
    $( "#button" ).click(function() {
      $('.f-mb-slideout-menu .f-col-sidebar').toggleClass( "open" );
    });
  });
</script>
