{% set c = THIS.get('model') %}
{% set mname = APP.instance('BModuleRegistry').currentModuleName() %}
{% set baseHtmlName = "config[modules][" ~ mname ~ "][" %}
{% set baseConfigPath = "modules/"~ mname ~"/" %}

{% set aim = 'aim' %}
{% set aimPrefix = "authorizenet_"~ aim ~"_" %}
{% set baseAimHtmlName = baseHtmlName ~ aim ~ ']' %}
{% set baseAimConfigPath = baseConfigPath ~ aim %}

{% set dpm = 'dpm' %}
{% set dpmPrefix = "authorizenet_"~ dpm ~"_" %}
{% set baseDpmHtmlName = baseHtmlName ~ dpm ~ "]" %}
{% set baseDpmConfigPath = baseConfigPath ~ dpm %}
{% set fieldData = { model: c, id_prefix: aimPrefix, name_prefix: baseAimHtmlName } %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
<h2>{{ "Authorize.net Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-FCom_AuthorizeNet'}) }}
     {{ forms.accordion_panel_start({label:'Authorize.net API'|_, id:'settings-FCom_AuthorizeNet-group0', in:1}) }}
        {{ forms.boolean(fieldData|merge({field:'active', label:'Enabled'|_, value: c.get(baseAimConfigPath ~ "/active")})) }}
        {{ forms.input(fieldData|merge({field:'sort_order', label:'Payment Method Order'|_, value: c.get(baseAimConfigPath ~ '/sort_order')})) }}
        {{ forms.input(fieldData|merge({field:'title', label:'Title'|_, value: c.get(baseAimConfigPath ~ '/title')})) }}
        {{ forms.input(fieldData|merge({field:'login', label:'API Login ID'|_, type: "password", value: c.get(baseAimConfigPath ~ '/login')})) }}
        {{ forms.input(fieldData|merge({field:'trans_key', label:'API Transaction Key'|_, type: "password", value: c.get(baseAimConfigPath ~ '/trans_key')})) }}
        {{ forms.select(fieldData|merge({field:'payment_action', label:'Payment Action'|_, options: APP.instance('FCom_AuthorizeNet_Model_Settings').paymentActions(), value: c.get(baseAimConfigPath ~ '/payment_action')})) }}
        {{ forms.select(fieldData|merge({field:'order_status', label:'New Order Status'|_, options: APP.instance('FCom_AuthorizeNet_Model_Settings').orderStatuses(), value: c.get(baseAimConfigPath ~ '/payment_action')})) }}
        {{ forms.boolean(fieldData|merge({field:'test', label:'Sandbox Mode'|_, value: c.get(baseAimConfigPath ~ "/payment_action")})) }}
        {{ forms.input(fieldData|merge({field:'cgi_url', label:'Gateway URL'|_, attr: 'data-rule-number="true"', value: APP.instance('FCom_AuthorizeNet_Model_Settings').gatewayUrl(c)})) }}
        {{ forms.select(fieldData|merge({field:'currency', label:'Accepted Currency'|_, options: APP.instance('FCom_AuthorizeNet_Model_Settings').currencies(), value: c.get(baseAimConfigPath ~ '/currency')})) }}
        {{ forms.boolean(fieldData|merge({field:'email_customer', label:'Email Customer'|_, value: c.get(baseAimConfigPath ~ "/email_customer")})) }}
        {{ forms.input(fieldData|merge({field:'merchant_email', label:'Merchant\'s Email'|_, attr: 'data-rule-number="true"', value: c.get(baseAimConfigPath ~ '/merchant_email')})) }}
        {{ forms.select(fieldData|merge({field:'cctypes', label:'Credit Card Types'|_, options: APP.instance('FCom_AuthorizeNet_Model_Settings').cardTypes(), value: c.get(baseAimConfigPath ~ '/cctypes'), attr: 'multiple="multiple"'})) }}
        {{ forms.boolean(fieldData|merge({field:'useccv', label:'Credit Card Verification'|_, value: c.get(baseAimConfigPath ~ "/useccv")})) }}
        {{ forms.select(fieldData|merge({field:'allowspecific', label:'Payment from Applicable Countries'|_, options: {0:'All Allowed Countries', 1:'Specific Countries'}, value: c.get(baseAimConfigPath ~ '/allowspecific')})) }}
        {{ forms.select(fieldData|merge({field:'specific_country', label:'Payment from Specific Countries'|_, options: APP.instance('FCom_AuthorizeNet_Model_Settings').countries(), value: c.get(baseAimConfigPath ~ '/specific_country'), attr: 'multiple="multiple"'})) }}
        {{ forms.boolean(fieldData|merge({field:'allow_partial_authorization', label:'Allow Partial Authorization'|_, value: c.get(baseAimConfigPath ~ "/allow_partial_authorization")})) }}
    {{ forms.accordion_panel_end }}
    {{ forms.accordion_panel_start({label:'Authorize.net Direct Post Method API'|_, id:'settings-FCom_AuthorizeNet-group1'}) }}
        {{ forms.boolean(fieldData|merge({field:'active', label:'Enabled'|_, value: c.get(baseDpmConfigPath ~ "/active")})) }}
        {{ forms.input(fieldData|merge({field:'title', label:'Title'|_, value: c.get(baseDpmConfigPath ~ '/title')})) }}
        {{ forms.input(fieldData|merge({field:'login', label:'API Login ID'|_, type: "password", value: c.get(baseDpmConfigPath ~ '/login')})) }}
        {{ forms.input(fieldData|merge({field:'trans_key', label:'Transaction Key'|_, type: "password", value: c.get(baseDpmConfigPath ~ '/trans_key')})) }}
        {{ forms.input(fieldData|merge({field:'trans_md5', label:'Merchant MD5'|_, type: "password", value: c.get(baseDpmConfigPath ~ '/trans_md5')})) }}
        {{ forms.select(fieldData|merge({field:'payment_action', label:'Payment Action'|_, options: APP.instance('FCom_AuthorizeNet_Model_Settings').paymentActions(), value: c.get(baseDpmConfigPath ~ '/payment_action')})) }}
        {{ forms.select(fieldData|merge({field:'order_status', label:'New Order Status'|_, options: APP.instance('FCom_AuthorizeNet_Model_Settings').orderStatuses(), value: c.get(baseDpmConfigPath ~ '/order_status')})) }}
        {{ forms.boolean(fieldData|merge({field:'test', label:'Test Mode'|_, value: c.get(baseDpmConfigPath ~ "/payment_action")})) }}
        {{ forms.input(fieldData|merge({field:'cgi_url', label:'Gateway URL'|_, value: APP.instance('FCom_AuthorizeNet_Model_Settings').gatewayUrl(c)})) }}
        {{ forms.select(fieldData|merge({field:'currency', label:'Accepted Currency'|_, options: APP.instance('FCom_AuthorizeNet_Model_Settings').currencies(), value: c.get(baseDpmConfigPath ~ '/currency')})) }}
        {{ forms.boolean(fieldData|merge({field:'debug', label:'Debug'|_, value: c.get(baseDpmConfigPath ~ "/debug")})) }}
        {{ forms.boolean(fieldData|merge({field:'email_customer', label:'Email Customer'|_, value: c.get(baseDpmConfigPath ~ "/email_customer")})) }}
        {{ forms.input(fieldData|merge({field:'merchant_email', label:'Merchant\'s Email'|_, value: c.get(baseDpmConfigPath ~ '/merchant_email')})) }}
        {{ forms.select(fieldData|merge({field:'cctypes', label:'Credit Card Types'|_, attr: ' multiple="multiple"', options: APP.instance('FCom_AuthorizeNet_Model_Settings').cardTypes(), value: c.get(baseDpmConfigPath ~ '/cctypes')})) }}
        {{ forms.boolean(fieldData|merge({field:'useccv', label:'Credit Card Verification'|_, value: c.get(baseDpmConfigPath ~ "/useccv")})) }}
        {{ forms.select(fieldData|merge({field:'allowspecific', label:'Payment from Applicable Countries'|_, options: {0:'All Allowed Countries', 1:'Specific Countries'}, value: c.get(baseDpmConfigPath ~ '/allowspecific')})) }}
        {{ forms.select(fieldData|merge({field:'specificcountry', label:'Payment from Specific Countries'|_, attr: 'multiple="multiple"', options: APP.instance('FCom_AuthorizeNet_Model_Settings').countries(), value: c.get(baseDpmConfigPath ~ '/specific_country')})) }}
        {{ forms.input(fieldData|merge({field:'min_order_total', label:'Minimum Order Total'|_, value: c.get(baseDpmConfigPath ~ '/min_order_total')})) }}
        {{ forms.input(fieldData|merge({field:'max_order_total', label:'Maximum Order Total'|_, value: c.get(baseDpmConfigPath ~ '/max_order_total')})) }}
        {{ forms.input(fieldData|merge({field:'sort_order', label:'Sort Order'|_, value: c.get(baseDpmConfigPath ~ '/sort_order')})) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}

