{% set c = THIS.get('model') %}
{% set mname = APP.instance('BModuleRegistry').currentModuleName() %}
{% set baseHtmlName = "config[modules][" ~ mname ~ "][" %}
{% set baseConfigPath = "modules/"~ mname ~"/" %}

{% set aim = 'aim' %}
{% set aimPrefix = "authorizenet_"~ aim ~"_" %}
{% set baseAimHtmlName = baseHtmlName ~ aim ~ ']' %}
{% set baseAimConfigPath = baseConfigPath ~ aim %}

{% set dpm = 'dpm' %}
{% set dpmPrefix = "authorizenet_"~ dpm ~"_" %}
{% set baseDpmHtmlName = baseHtmlName ~ dpm ~ "]" %}
{% set baseDpmConfigPath = baseConfigPath ~ dpm %}

<h2>{{ "Authorize.net Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_AuthorizeNet">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'Authorize.net API'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_AuthorizeNet-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}active">{{ 'Enabled'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="{{ baseAimHtmlName }}[active]" value="0" id="{{ aimPrefix }}active"/>
                        <input class="switch-cbx" name="{{ baseAimHtmlName }}[active]" {% if c.get(baseAimConfigPath ~ "/active") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}sort_order">{{ 'Payment Method Order'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ aimPrefix }}sort_order" name="{{ baseAimHtmlName }}[sort_order]" type="text" value="{{ c.get(baseAimConfigPath ~ '/sort_order') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}title">{{ 'Title'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ aimPrefix }}title" name="{{ baseAimHtmlName }}[title]" type="text" value="{{ c.get(baseAimConfigPath ~ '/title') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}login">{{ 'API Login ID'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ aimPrefix }}login" name="{{ baseAimHtmlName }}[login]" type="password" value="{{ c.get(baseAimConfigPath ~ '/login') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}trans_key">{{ 'API Transaction Key'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ aimPrefix }}trans_key" name="{{ baseAimHtmlName }}[trans_key]" type="password" value="{{ c.get(baseAimConfigPath ~ '/trans_key') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}payment_action">{{ 'Payment Action'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseAimHtmlName }}[payment_action]" id="{{ aimPrefix }}payment_action">
                            {{ UTIL.optionsHtml( APP.instance('FCom_AuthorizeNet_Model_Settings').paymentActions(), c.get(baseAimConfigPath ~ '/payment_action'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}order_status">{{ 'New Order Status'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseAimHtmlName }}[order_status]" id="{{ aimPrefix }}order_status">
                            {{ UTIL.optionsHtml( APP.instance('FCom_AuthorizeNet_Model_Settings').orderStatuses(), c.get(baseAimConfigPath ~ '/payment_action'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}test">{{ 'Sandbox Mode'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="{{ baseAimHtmlName }}[test]" id="{{ aimPrefix }}test" value="0"/>
                        <input class="switch-cbx" name="{{ baseAimHtmlName }}[test]" {% if c.get(baseAimConfigPath ~ "/payment_action") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}cgi_url">{{ 'Gateway URL'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ aimPrefix }}cgi_url" name="{{ baseAimHtmlName }}[cgi_url]" type="text" value="{{ APP.instance('FCom_AuthorizeNet_Model_Settings').gatewayUrl(c) }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}currency">{{ 'Accepted Currency'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseAimHtmlName }}[currency]" id="{{ aimPrefix }}currency">
                            {{ UTIL.optionsHtml( APP.instance('FCom_AuthorizeNet_Model_Settings').currencies(), c.get(baseAimConfigPath ~ '/currency'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}email_customer">{{ 'Email Customer'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="{{ baseAimHtmlName }}[email_customer]" id="{{ aimPrefix }}email_customer" value="0"/>
                        <input class="switch-cbx" name="{{ baseAimHtmlName }}[email_customer]" {% if c.get(baseAimConfigPath ~ "/email_customer") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}merchant_email">{{ 'Merchant\'s Email'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ aimPrefix }}merchant_email" name="{{ baseAimHtmlName }}[merchant_email]" type="text" value="{{ c.get(baseAimConfigPath ~ '/merchant_email') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}cctypes">{{ 'Credit Card Types'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseAimHtmlName }}[cctypes][]" id="{{ aimPrefix }}cctypes" multiple="multiple">
                            {{ UTIL.optionsHtml( APP.instance('FCom_AuthorizeNet_Model_Settings').cardTypes(), c.get(baseAimConfigPath ~ '/cctypes'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}useccv">{{ 'Credit Card Verification'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="{{ baseAimHtmlName }}[useccv]" id="{{ aimPrefix }}useccv" value="0"/>
                        <input class="switch-cbx" name="{{ baseAimHtmlName }}[useccv]" {% if c.get(baseAimConfigPath ~ "/useccv") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}allowspecific">{{ 'Payment from Applicable Countries'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseAimHtmlName }}[allowspecific]" id="{{ aimPrefix }}allowspecific">
                            {{ UTIL.optionsHtml( {0:'All Allowed Countries', 1:'Specific Countries'}, c.get(baseAimConfigPath ~ '/allowspecific'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}specificcountry">{{ 'Payment from Specific Countries'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseAimHtmlName }}[specific_country][]" id="{{ aimPrefix }}specificcountry" multiple="multiple">
                            {{ UTIL.optionsHtml( APP.instance('FCom_AuthorizeNet_Model_Settings').countries(), c.get(baseAimConfigPath ~ '/specific_country'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ aimPrefix }}allow_partial_authorization">{{ 'Allow Partial Authorization'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="{{ baseAimHtmlName }}[allow_partial_authorization]" id="{{ aimPrefix }}allow_partial_authorization" value="0"/>
                        <input class="switch-cbx" name="{{ baseAimHtmlName }}[allow_partial_authorization]" {% if c.get(baseAimConfigPath ~ "/allow_partial_authorization") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'Authorize.net Direct Post Method API'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_AuthorizeNet-group1">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}active">{{ 'Enabled'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="{{ baseDpmHtmlName }}[active]" id="{{ dpmPrefix }}active" value="0"/>
                        <input class="switch-cbx" name="{{ baseDpmHtmlName }}[active]" {% if c.get(baseDpmConfigPath ~ "/active") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}title">{{ 'Title'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ dpmPrefix }}title" name="{{ baseDpmHtmlName }}[title]" type="text" value="{{ c.get(baseDpmConfigPath ~ '/title') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}login">{{ 'API Login ID'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ dpmPrefix }}login" name="{{ baseDpmHtmlName }}[login]" type="password" value="{{ c.get(baseDpmConfigPath ~ '/login') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}trans_key">{{ 'Transaction Key'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ dpmPrefix }}trans_key" name="{{ baseDpmHtmlName }}[trans_key]" type="password" value="{{ c.get(baseDpmConfigPath ~ '/trans_key') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}trans_md5">{{ 'Merchant MD5'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ dpmPrefix }}trans_md5" name="{{ baseDpmHtmlName }}[trans_md5]" type="password" value="{{ c.get(baseDpmConfigPath ~ '/trans_md5') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}payment_action">{{ 'Payment Action'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseDpmHtmlName }}[payment_action]" id="{{ dpmPrefix }}payment_action">
                            {{ UTIL.optionsHtml( APP.instance('FCom_AuthorizeNet_Model_Settings').paymentActions(), c.get(baseDpmConfigPath ~ '/payment_action'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}order_status">{{ 'New Order Status'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseDpmHtmlName }}[order_status]" id="{{ dpmPrefix }}order_status">
                            {{ UTIL.optionsHtml( APP.instance('FCom_AuthorizeNet_Model_Settings').orderStatuses(), c.get(baseDpmConfigPath ~ '/payment_action'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}test">{{ 'Test Mode'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="{{ baseDpmHtmlName }}[test]" id="{{ dpmPrefix }}test" value="0"/>
                        <input class="switch-cbx" name="{{ baseDpmHtmlName }}[test]" {% if c.get(baseDpmConfigPath ~ "/payment_action") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}cgi_url">{{ 'Gateway URL'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ dpmPrefix }}cgi_url" name="{{ baseDpmHtmlName }}[cgi_url]" type="text" value="{{ APP.instance('FCom_AuthorizeNet_Model_Settings').gatewayUrl(c) }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}currency">{{ 'Accepted Currency'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseDpmHtmlName }}[currency]" id="{{ dpmPrefix }}currency">
                            {{ UTIL.optionsHtml( APP.instance('FCom_AuthorizeNet_Model_Settings').currencies(), c.get(baseDpmConfigPath ~ '/currency'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}debug">{{ 'Debug'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="{{ baseDpmHtmlName }}[debug]" id="{{ dpmPrefix }}debug" value="0"/>
                        <input class="switch-cbx" name="{{ baseDpmHtmlName }}[debug]" {% if c.get(baseDpmConfigPath ~ "/debug") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}email_customer">{{ 'Email Customer'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="{{ baseDpmHtmlName }}[email_customer]" id="{{ dpmPrefix }}email_customer" value="0"/>
                        <input class="switch-cbx" name="{{ baseDpmHtmlName }}[email_customer]" {% if c.get(baseDpmConfigPath ~ "/email_customer") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}merchant_email">{{ 'Merchant\'s Email'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ dpmPrefix }}merchant_email" name="{{ baseDpmHtmlName }}[merchant_email]" type="text" value="{{ c.get(baseDpmConfigPath ~ '/merchant_email') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}cctypes">{{ 'Credit Card Types'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseDpmHtmlName }}[cctypes][]" id="{{ dpmPrefix }}cctypes" multiple="multiple">
                            {{ UTIL.optionsHtml( APP.instance('FCom_AuthorizeNet_Model_Settings').cardTypes(), c.get(baseDpmConfigPath ~ '/cctypes'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}useccv">{{ 'Credit Card Verification'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="{{ baseDpmHtmlName }}[useccv]" id="{{ dpmPrefix }}useccv" value="0"/>
                        <input class="switch-cbx" name="{{ baseDpmHtmlName }}[useccv]" {% if c.get(baseDpmConfigPath ~ "/useccv") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}allowspecific">{{ 'Payment from Applicable Countries'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseDpmHtmlName }}[allowspecific]" id="{{ dpmPrefix }}allowspecific">
                            {{ UTIL.optionsHtml( {0:'All Allowed Countries', 1:'Specific Countries'}, c.get(baseDpmConfigPath ~ '/allowspecific'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}specificcountry">{{ 'Payment from Specific Countries'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="{{ baseDpmHtmlName }}[specific_country][]" id="{{ dpmPrefix }}specificcountry" multiple="multiple">
                            {{ UTIL.optionsHtml( APP.instance('FCom_AuthorizeNet_Model_Settings').countries(), c.get(baseDpmConfigPath ~ '/specific_country'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}min_order_total">{{ 'Minimum Order Total'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ dpmPrefix }}min_order_total" name="{{ baseDpmHtmlName }}[min_order_total]" type="text" value="{{ c.get(baseDpmConfigPath ~ '/min_order_total') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}max_order_total">{{ 'Maximum Order Total'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ dpmPrefix }}max_order_total" name="{{ baseDpmHtmlName }}[max_order_total]" type="text" value="{{ c.get(baseDpmConfigPath ~ '/max_order_total') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ dpmPrefix }}sort_order">{{ 'Sort Order'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" id="{{ dpmPrefix }}sort_order" name="{{ baseDpmHtmlName }}[sort_order]" type="text" value="{{ c.get(baseDpmConfigPath ~ '/sort_order') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
