{% set prod = THIS.get('product') %}
{% set cat = THIS.get('category') %}
{% set imgBaseUrl = APP.src('@FCom_FrontendTheme1/img') %}
<div class="f-site-main" role="main">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Category</a></li>
      <li class="active">{{ prod.get('product_name') }}</li>
    </ol>
    <form action="{{ APP.href('cart/add') }}" method="post" onsubmit="" >
      <input type="hidden" name="id" value="{{ prod.id() }}">
      <input type="hidden" name="action" value="add">
      <div class="row">
        <!-- Product Image Column -->
        <div class="col-md-5 f-col-prod-img">
          <ul class="thumbnails rslides f-prod-imgs">
            <li><img class="f-prod-img img-responsive" src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product.jpg') }}" alt=""/></li>
            <li><img class="f-prod-img img-responsive" src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt=""/></li>
            <li><img class="f-prod-img img-responsive" src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt=""/></li>
          </ul>
          <p class="text-center"><small>Mouse move on Image to zoom</small></p>
          <ul class="f-prod-more-view-imgs row">
            <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product.jpg') }}" alt="" title=""></a></li>
            <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt="" title=""></a></li>
            <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb2.jpg') }}" alt="" title=""></a></li>
            <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="" title=""></a></li>
          </ul>
        </div>
        <script>
          $(function() {
          $(".rslides").responsiveSlides({
            speed: 500,        // Integer: Speed of the transition, in milliseconds
            timeout: 4000,        // Integer: Time between slide transitions, in milliseconds
            pager: true,         // Boolean: Show pager, true or false
            nav: true,         // Boolean: Show navigation, true or false
            random: true,        // Boolean: Randomize the order of the slides, true or false
            pause: true,         // Boolean: Pause on hover, true or false
            pauseControls: true    // Boolean: Pause when hovering controls, true or false
          });
        </script>
        <!-- /.f-col-prod-img -->
        
        <!-- Product Select Column-->
        <div class="col-md-7 f-col-prod-select">
          <h1 class="f-prod-name">Realistically longer name {{ prod.get('product_name') }}</h1>
          <div class="f-prod-avg-rating">
            <div class="glyphicon f-rating-stars f-sm-stars">
              <span class="f-filled-stars" style="width:100%;"></span>
              <span class="f-empty-stars"></span>
            </div>
            <a href="#f-prod-tab-reviews">53 Reviews</a>
          </div>
          <table class="f-price-group">
            {% if prod.get('base_price') == 0 %}
              <tr class="f-reg-price">
                <th class="f-price-label">Price:</th>
                <td class="f-price">{{ 'FREE'|_ }}</td>
              </tr>
            {% elseif prod.get('base_price') != p.get('sale_price') and p.get('sale_price') != 0 %}
              <tr class="f-special-price">
                <th class="f-price-label">Price:</th>
                <td class="f-price">{{ prod.get('sale_price') | currency }}</td>
              </tr>
              <tr class="f-old-price">
                <th class="f-price-label">Was:</th>
                <td class="f-price">{{ prod.get('base_price') | currency }}</td>
              </tr>
            {% else %}
              <tr class="f-reg-price">
                <th class="f-price-label">Price:</th>
                <td class="f-price">{{ prod.get('base_price') | currency }}</td>
              </tr>
            {% endif %}
          </table>
          <!-- /.f-price-group -->
          
          <div class="f-prod-select">
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="#" class="control-label">Width:</label>
                <p class="form-control-static">M</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="#" class="control-label">Color:</label>
                <select class="form-control" id="#">
                  <option>Select Color</option>
                  <option>Red</option>
                  <option>Green</option>
                  <option>Blue</option>
                  <option>Black</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="#" class="control-label">Size:</label>
                <select class="form-control" id="#">
                <option>Select Size</option>
                <option>24</option>
                <option>36</option>
                <option>48</option>
                </select>
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="#" value="#" checked> Checkbox label
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="#" id="#" value="#" checked> Radio label
              </label>
            </div>
            <div class="f-prod-add-cart">
              <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</button>
              <a class="btn btn-link" href="#">Add to Wishlist</a>
              <a class="btn btn-link" href="#">Add to Compare</a>
            </div>
          </div>
          <!-- /.f-prod-select -->
          
          <div class="f-prod-info">
            <div class="tab-content">
              <div class="tab-pane active" id="f-prod-tab-description">
                <div class="f-tab-heading">
                  <h5 class="f-tab-title">Product Description</h5>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit </li>
                  <li>Faucibus porta lacus fringilla vel Aenean sit amet erat nunc Eget porttitor lorem</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.f-prod-info -->
          
        </div>
        <!-- /.f-col-prod-select -->
      </div>
      <!-- /.row -->
      
      <div class="row">
        <div class="col-md-7 f-col-prod-select">
          <div class="f-prod-info">
            <div class="tab-content">
              <section class="tab-pane active" id="f-prod-tab-specs">
                <div class="f-tab-heading">
                  <h5 class="f-tab-title">Specifications</h5>
                </div>
                <div class="table-responsive f-prod-specs-table">
                  <table class="table table-condensed">
                    <col class="col-md-4 col-sm-4"/>
                    <col class="col-md-8 col-sm-8"/>
                    <tr>
                      <th class="f-prod-specs-group-title" colspan="2">
                        <h5>Group Heading</h5>
                      </th>
                    </tr>
                    <tr>
                      <th>Type</th>
                      <td>Cameras</td>
                    </tr>
                    <tr>
                      <th>Cameras Included</th>
                      <td>1</td>
                    </tr>
                    <tr>
                      <th>Camera Type</th>
                      <td>Digital</td>
                    </tr>
                    <tr>
                      <th>Camera Style</th>
                      <td>Fixed</td>
                    </tr>
                    <tr>
                      <th>Camera Placement</th>
                      <td>Outdoor/Indoor</td>
                    </tr>
                    <tr>
                      <th class="f-prod-specs-group-title" colspan="2">
                        <h5>Group Heading</h5>
                      </th>
                    </tr>
                    <tr>
                      <th>Type</th>
                      <td>Cameras</td>
                    </tr>
                    <tr>
                      <th>Cameras Included</th>
                      <td>1</td>
                    </tr>
                    <tr>
                      <th>Camera Type</th>
                      <td>Digital</td>
                    </tr>
                    <tr>
                      <th>Camera Style</th>
                      <td>Fixed</td>
                    </tr>
                    <tr>
                      <th>Camera Placement</th>
                      <td>Outdoor/Indoor</td>
                    </tr>
                    <tr>
                      <th class="f-prod-specs-group-title" colspan="2">
                        <h5>Group Heading</h5>
                      </th>
                    </tr>
                    <tr>
                      <th>Type</th>
                      <td>Cameras</td>
                    </tr>
                    <tr>
                      <th>Cameras Included</th>
                      <td>1</td>
                    </tr>
                    <tr>
                      <th>Camera Type</th>
                      <td>Digital</td>
                    </tr>
                    <tr>
                      <th>Camera Style</th>
                      <td>Fixed</td>
                    </tr>
                    <tr>
                      <th>Camera Placement</th>
                      <td>Outdoor/Indoor</td>
                    </tr>
                  </table>
                </div>
              </section>
              <section class="tab-pane active f-prod-reviews" id="f-prod-tab-reviews">
                <div class="f-tab-heading">
                  <h5 class="f-tab-title">Customer Reviews</h5>
                  <a href="#" class="btn btn-sm btn-primary">Write your own review</a>
                </div>
                <div class="f-prod-review-avg clearfix">
                  <h5>Avg. Customer Rating (53 Reviews):</h5>
                  <div class="glyphicon f-rating-stars f-lg-stars">
                    <span class="f-filled-stars" style="width:80%;"></span>
                    <span class="f-empty-stars"></span>
                  </div>
                  <strong>4 / 5</strong>
                  <div class="f-prod-review-attrs">
                    <dl class="dl-horizontal">
                      <dt>Value</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:80%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        4</dd>
                      <dt>Features</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        5</dd>
                      <dt>Quality</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:80%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        4</dd>
                    </dl>
                  </div>
                </div>
                <article class="f-prod-review-post clearfix">
                  <h5>I love Fulleron!! Great value and service.</h5>
                  <span class="meta">by John Doe on October 12, 2013</span>
                  <div class="col-md-5 col-sm-5 f-prod-review-attrs">
                    <dl class="dl-horizontal">
                      <dt><strong>Overall</strong></dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        <strong>5 / 5</strong>
                      </dd>
                      <dt>Value</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        5</dd>
                      <dt>Features</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        5</dd>
                      <dt>Quality</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        5</dd>
                    </dl>
                  </div>
                  <div class="col-md-7 col-sm-7 f-prod-review">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
                    <p>Making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                  </div>
                </article>
                <article class="f-prod-review-post clearfix">
                  <h5>I love Fulleron!! Great value and service.</h5>
                  <span class="meta">by John Doe on October 12, 2013</span>
                  <div class="col-md-5 col-sm-5 f-prod-review-attrs">
                    <dl class="dl-horizontal">
                      <dt><strong>Overall</strong></dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        <strong>5 / 5</strong>
                      </dd>
                      <dt>Value</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        5</dd>
                      <dt>Features</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        5</dd>
                      <dt>Quality</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        5</dd>
                    </dl>
                  </div>
                  <div class="col-md-7 col-sm-7 f-prod-review">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                  </div>
                </article>
                <article class="f-prod-review-post clearfix">
                  <h5>I love Fulleron!! Great value and service.</h5>
                  <span class="meta">by John Doe on October 12, 2013</span>
                  <div class="col-md-5 col-sm-5 f-prod-review-attrs">
                    <dl class="dl-horizontal">
                      <dt><strong>Overall</strong></dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        <strong>5 / 5</strong>
                      </dd>
                      <dt>Value</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        5</dd>
                      <dt>Features</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        5</dd>
                      <dt>Quality</dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        5</dd>
                    </dl>
                  </div>
                  <div class="col-md-7 col-sm-7 f-prod-review">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                  </div>
                </article>
                <p><a href="#"><strong>Read all 53 customer reviews &rsaquo;</strong></a></p>
              </section>
            </div>
          </div>
        </div><!-- /.f-col-prod-select -->
        
        <div class="col-md-5 f-col-related-prods">
        
          <!-- Product Listing -->
          <div class="f-widget f-widget-featured-prods">
            <header class="f-widget-header">
              <strong class="f-widget-title">Related Products</strong>
            </header>
            <div class="f-prod-listing f-prod-listing-grid">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <div class="thumbnail">
                    <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <table class="f-price-group">
                          <tr class="f-special-price">
                            <th class="f-price-label">Price:</th>
                            <td class="f-price">$59.99</td>
                          </tr>
                          <tr class="f-old-price">
                            <th class="f-price-label">Was:</th>
                            <td class="f-price">$109.99</td>
                          </tr>
                      </table>
                      <!-- /.f-price-group -->
                      <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="thumbnail">
                    <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <table class="f-price-group">
                          <tr class="f-special-price">
                            <th class="f-price-label">Price:</th>
                            <td class="f-price">$59.99</td>
                          </tr>
                          <tr class="f-old-price">
                            <th class="f-price-label">Was:</th>
                            <td class="f-price">$109.99</td>
                          </tr>
                      </table>
                      <!-- /.f-price-group -->
                      <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="thumbnail">
                    <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <div class="f-price-group">
                      <span class="f-price">$58.49</span>
                      </div>
                      <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
                    </div>
                  </div>
                </div>
                <div class="clearfix visible-lg visible-md visible-sm"></div>
                <div class="col-md-4 col-sm-4">
                  <div class="thumbnail">
                    <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <table class="f-price-group">
                          <tr class="f-special-price">
                            <th class="f-price-label">Price:</th>
                            <td class="f-price">$59.99</td>
                          </tr>
                          <tr class="f-old-price">
                            <th class="f-price-label">Was:</th>
                            <td class="f-price">$109.99</td>
                          </tr>
                      </table>
                      <!-- /.f-price-group -->
                      <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="thumbnail">
                    <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb2.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <table class="f-price-group">
                          <tr class="f-special-price">
                            <th class="f-price-label">Price:</th>
                            <td class="f-price">$59.99</td>
                          </tr>
                          <tr class="f-old-price">
                            <th class="f-price-label">Was:</th>
                            <td class="f-price">$109.99</td>
                          </tr>
                      </table>
                      <!-- /.f-price-group -->
                      <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="thumbnail">
                    <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <table class="f-price-group">
                          <tr class="f-special-price">
                            <th class="f-price-label">Price:</th>
                            <td class="f-price">$59.99</td>
                          </tr>
                          <tr class="f-old-price">
                            <th class="f-price-label">Was:</th>
                            <td class="f-price">$109.99</td>
                          </tr>
                      </table>
                      <!-- /.f-price-group -->
                      <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
                    </div>
                  </div>
                </div>
              </div><!-- /.row -->
            </div><!-- /.f-prod-listing -->
          </div><!-- /.f-widget -->
        </div><!-- /.f-col-related-prods -->
      </div><!-- /.row -->
    </form>
    
    <!-- You may also like -->
    <div class="f-widget f-widget-featured-prods">
      <header class="f-widget-header">
        <strong class="f-widget-title">You may also like these items</strong>
      </header>
      <div class="f-prod-listing f-prod-listing-grid">
        <div class="row">
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb2.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm"></div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb2.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 ">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.f-prod-listing -->
    </div><!-- /.f-widget -->
    
  </div>
</div>
