{% set prod = THIS.get('product') %}
{% set cat = THIS.get('category') %}
{% set imgBaseUrl = APP.src('@FCom_FrontendTheme1/img') %}
<div class="f-site-main" role="main">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Category</a></li>
      <li class="active">{{ prod.get('product_name') }}</li>
    </ol>
    <form action="{{ APP.href('cart/add') }}" method="post" onsubmit="" >
      <input type="hidden" name="id" value="{{ prod.id() }}">
      <input type="hidden" name="action" value="add">
      <div class="row">
        <!-- Product Image Column -->
        <div class="col-md-5 f-col-prod-img">
          <ul class="thumbnails rslides f-prod-imgs">
            <li><img class="f-prod-img img-responsive" src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/pixel-gray.gif') }}" alt=""/></li>
            <li><img class="f-prod-img img-responsive" src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/pixel-gray.gif') }}" alt=""/></li>
            <li><img class="f-prod-img img-responsive" src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/pixel-gray.gif') }}" alt=""/></li>
          </ul>
          <p class="text-center"><small>Mouse move on Image to zoom</small></p>
          <ul class="f-prod-more-view-imgs row">
            <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/pixel-gray-800x800.gif') }}" alt="" title=""></a></li>
            <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/pixel-gray-800x800.gif') }}" alt="" title=""></a></li>
            <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/pixel-gray-800x800.gif') }}" alt="" title=""></a></li>
            <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/pixel-gray-800x800.gif') }}" alt="" title=""></a></li>
            <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/pixel-gray-800x800.gif') }}" alt="" title=""></a></li>
            <li class="col-md-2 col-xs-2"><a><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/pixel-gray-800x800.gif') }}" alt="" title=""></a></li>
          </ul>
        </div>
        <script>
          $(function() {
          $(".rslides").responsiveSlides({
            speed: 500,        // Integer: Speed of the transition, in milliseconds
            timeout: 4000,        // Integer: Time between slide transitions, in milliseconds
            pager: true,         // Boolean: Show pager, true or false
            nav: true,         // Boolean: Show navigation, true or false
            random: true,        // Boolean: Randomize the order of the slides, true or false
            pause: true,         // Boolean: Pause on hover, true or false
            pauseControls: true    // Boolean: Pause when hovering controls, true or false
          });
        </script>
        <!-- /.f-col-prod-img -->
        
        <!-- Product Select Column-->
        <div class="col-md-7 f-col-prod-select">
          <h1 class="f-prod-name">{{ prod.get('product_name') }}</h1>
          <div class="f-prod-avg-rating">
            <div class="glyphicon f-rating-stars f-sm-stars">
              <span class="f-filled-stars" style="width:100%;"></span>
              <span class="f-empty-stars"></span>
            </div>
            <a href="#f-prod-tab-reviews">3 Reviews</a>
          </div>
          <div class="f-price-group">
            {% if prod.get('base_price') == 0 %}
              <span class="f-special-price">{{ 'FREE'|_ }}</span>
            {% elseif prod.get('base_price') != p.get('sale_price') and p.get('sale_price') != 0 %}
              <span class="f-special-price">{{ prod.get('sale_price') | currency }}</span>
              <span class="f-old-price">{{ prod.get('base_price') | currency }}</span>
            {% else %}
              <span class="f-price">{{ prod.get('base_price') | currency }}</span>
            {% endif %}
          </div>
          <!-- /.f-price-group -->
          
          <div class="f-prod-select">
            <select class="selectsize">
              <option>Select Size</option>
              <option>Red</option>
              <option>Green</option>
              <option>Blue</option>
              <option>Black</option>
            </select>
            <select class="selectqty">
              <option>Select</option>
              <option>24</option>
              <option>36</option>
              <option>48</option>
            </select>
            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" name="#" value="#"> Checkbox label</label>
                <label class="radio">
                  <input type="radio" name="#" id="#" value="#" checked="checked"> Radiobox label</label>
              </div>
            </div>
          </div>
          <!-- /.f-prod-select -->
          
          <div class="f-prod-add-cart">
            <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
            <a class="btn btn-link" href="#">Add to Wishlist</a>
            <a class="btn btn-link" href="#">Add to Compare</a>
          </div>
          
          <div class="f-prod-info">
            <div class="tab-content">
              <div class="tab-pane active" id="f-prod-tab-description">
                <h3 class="f-tab-heading">Product Description</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit </li>
                  <li>Faucibus porta lacus fringilla vel Aenean sit amet erat nunc Eget porttitor lorem</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.f-prod-info -->
          
        </div>
        <!-- /.f-col-prod-select -->
      </div>
      <!-- /.row -->
      
      <div class="row">
        <div class="col-md-7 f-col-prod-select">
          <div class="f-prod-info">
            <div class="tab-content">
              <section class="tab-pane active" id="f-prod-tab-specs">
                <h3 class="f-tab-heading">Specifications</h3>
                <div class="table-responsive f-prod-specs-table">
                  <table class="table table-condensed">
                    <col class="col-md-4 col-sm-4"/>
                    <col class="col-md-8 col-sm-8"/>
                    <tr>
                      <th class="f-prod-specs-group-title" colspan="2">
                        <h5>Group Heading</h5>
                      </th>
                    </tr>
                    <tr>
                      <th>Type</th>
                      <td>Cameras</td>
                    </tr>
                    <tr>
                      <th>Cameras Included</th>
                      <td>1</td>
                    </tr>
                    <tr>
                      <th>Camera Type</th>
                      <td>Digital</td>
                    </tr>
                    <tr>
                      <th>Camera Style</th>
                      <td>Fixed</td>
                    </tr>
                    <tr>
                      <th>Camera Placement</th>
                      <td>Outdoor/Indoor</td>
                    </tr>
                    <tr>
                      <th class="f-prod-specs-group-title" colspan="2">
                        <h5>Group Heading</h5>
                      </th>
                    </tr>
                    <tr>
                      <th>Type</th>
                      <td>Cameras</td>
                    </tr>
                    <tr>
                      <th>Cameras Included</th>
                      <td>1</td>
                    </tr>
                    <tr>
                      <th>Camera Type</th>
                      <td>Digital</td>
                    </tr>
                    <tr>
                      <th>Camera Style</th>
                      <td>Fixed</td>
                    </tr>
                    <tr>
                      <th>Camera Placement</th>
                      <td>Outdoor/Indoor</td>
                    </tr>
                    <tr>
                      <th class="f-prod-specs-group-title" colspan="2">
                        <h5>Group Heading</h5>
                      </th>
                    </tr>
                    <tr>
                      <th>Type</th>
                      <td>Cameras</td>
                    </tr>
                    <tr>
                      <th>Cameras Included</th>
                      <td>1</td>
                    </tr>
                    <tr>
                      <th>Camera Type</th>
                      <td>Digital</td>
                    </tr>
                    <tr>
                      <th>Camera Style</th>
                      <td>Fixed</td>
                    </tr>
                    <tr>
                      <th>Camera Placement</th>
                      <td>Outdoor/Indoor</td>
                    </tr>
                  </table>
                </div>
              </section>
              <section class="tab-pane active f-prod-reviews" id="f-prod-tab-reviews">
                <h3 class="f-tab-heading">Customer Reviews</h3>
                <div class="f-prod-review-avg clearfix">
                  <strong>Avg. Customer Rating:</strong>
                  <div class="glyphicon f-rating-stars f-lg-stars">
                    <span class="f-filled-stars" style="width:100%;"></span>
                    <span class="f-empty-stars"></span>
                  </div>
                  <strong>5 Stars</strong>
                  (20 Customer reviews)
                  <div class="f-prod-review-attrs">
                    <dl class="dl-horizontal">
                      <dt>Value</dt>
                      <dd>5</dd>
                      <dt>Features</dt>
                      <dd>5</dd>
                      <dt>Quality</dt>
                      <dd>5</dd>
                    </dl>
                  </div>
                </div>
                <article class="f-prod-review-post clearfix">
                  <h5>I love Fulleron!! Great value and service.</h5>
                  <span class="meta">by John Doe on October 12, 2013</span>
                  <div class="col-md-4 f-prod-review-attrs">
                    <dl class="dl-horizontal">
                      <dt><strong>Overall</strong></dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        <strong>5</strong>
                      </dd>
                      <dt>Value</dt>
                      <dd>5</dd>
                      <dt>Features</dt>
                      <dd>5</dd>
                      <dt>Quality</dt>
                      <dd>5</dd>
                    </dl>
                  </div>
                  <div class="col-md-8 f-prod-review">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                  </div>
                </article>
                <article class="f-prod-review-post clearfix">
                  <h5>I love Fulleron!! Great value and service.</h5>
                  <span class="meta">by John Doe on October 12, 2013</span>
                  <div class="col-md-4 f-prod-review-attrs">
                    <dl class="dl-horizontal">
                      <dt><strong>Overall</strong></dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        <strong>5</strong>
                      </dd>
                      <dt>Value</dt>
                      <dd>5</dd>
                      <dt>Features</dt>
                      <dd>5</dd>
                      <dt>Quality</dt>
                      <dd>5</dd>
                    </dl>
                  </div>
                  <div class="col-md-8 f-prod-review">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                  </div>
                </article>
                <article class="f-prod-review-post clearfix">
                  <h5>I love Fulleron!! Great value and service.</h5>
                  <span class="meta">by John Doe on October 12, 2013</span>
                  <div class="col-md-4 f-prod-review-attrs">
                    <dl class="dl-horizontal">
                      <dt><strong>Overall</strong></dt>
                      <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                          <span class="f-filled-stars" style="width:100%;"></span>
                          <span class="f-empty-stars"></span>
                        </div>
                        <strong>5</strong>
                      </dd>
                      <dt>Value</dt>
                      <dd>5</dd>
                      <dt>Features</dt>
                      <dd>5</dd>
                      <dt>Quality</dt>
                      <dd>5</dd>
                    </dl>
                  </div>
                  <div class="col-md-8 f-prod-review">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                  </div>
                </article>
              </section>
              <section class="tab-pane active" id="f-prod-tab-tags">
                <h3 class="f-tab-heading">Tags</h3>
              </section>
            </div>
          </div>
        </div><!-- /.f-col-prod-select -->
        
        <div class="col-md-5 f-col-related-prods">
        
          <!-- Product Listing -->
          <div class="f-widget f-widget-featured-prods">
            <header class="f-widget-header">
              <strong class="f-widget-title">Related Products</strong>
            </header>
            <div class="f-prod-listing f-prod-listing-grid">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="thumbnail">
                    <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <div class="f-price-group">
                      <span class="f-price">$58.49</span>
                      </div>
                      <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="thumbnail">
                    <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <div class="f-price-group">
                      <span class="f-price">$58.49</span>
                      </div>
                      <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="thumbnail">
                    <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <div class="f-price-group">
                      <span class="f-price">$58.49</span>
                      </div>
                      <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="thumbnail">
                    <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <div class="f-price-group">
                      <span class="f-price">$58.49</span>
                      </div>
                      <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="thumbnail">
                    <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <div class="f-price-group">
                      <span class="f-price">$58.49</span>
                      </div>
                      <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="thumbnail">
                    <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
                    <div class="caption">
                      <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                      <div class="f-price-group">
                      <span class="f-price">$58.49</span>
                      </div>
                      <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
                    </div>
                  </div>
                </div>
              </div><!-- /.row -->
            </div><!-- /.f-prod-listing -->
          </div><!-- /.f-widget -->
        </div><!-- /.f-col-related-prods -->
      </div><!-- /.row -->
    </form>
    
    <!-- You may also like -->
    <div class="f-widget f-widget-featured-prods">
      <header class="f-widget-header">
        <strong class="f-widget-title">You may also like these items</strong>
      </header>
      <div class="f-prod-listing f-prod-listing-grid">
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <div class="thumbnail">
              <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <div class="f-price-group">
                <span class="f-price">$58.49</span>
                </div>
                <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="thumbnail">
              <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <div class="f-price-group">
                <span class="f-price">$58.49</span>
                </div>
                <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="thumbnail">
              <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <div class="f-price-group">
                <span class="f-price">$58.49</span>
                </div>
                <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="thumbnail">
              <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <div class="f-price-group">
                <span class="f-price">$58.49</span>
                </div>
                <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="thumbnail">
              <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <div class="f-price-group">
                <span class="f-price">$58.49</span>
                </div>
                <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="thumbnail">
              <a href="#"><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/pixel-gray.gif" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <div class="f-price-group">
                <span class="f-price">$58.49</span>
                </div>
                <p><a href="#" class="btn btn-primary btn-xs">Add to Cart</a> <a href="#" class="btn btn-link btn-xs">View Details</a></p>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.f-prod-listing -->
    </div><!-- /.f-widget -->
    
  </div>
</div>
