<style>
.zoom:after { content:''; display:block; width:33px; height:33px; position:absolute; top:0; right:0;
  background:url("{{ APP.src('@FCom_Core/img/zoom-corner.png') }}"); }
.zoom img { display: block; }
.zoom img::selection { background-color: transparent; }
</style>

{% set prod = THIS.get('product') %}
{% set images = prod.media('I') %}
{% set cat = THIS.get('category') %}
{% set relatedProducts = prod.getRelatedProducts() %}
{% set upsellProducts = prod.getUpsellProducts() %}
{% set recentlyViewed = APP.instance('FCom_Catalog_Frontend').getRecentlyViewedProducts() %}
<div class="f-site-main" role="main">
  <div class="container">
    {{ THIS.view('breadcrumbs') | raw }}
    <div class="row">
      <!-- Product Image Column -->
      <div class="col-md-5 f-col-prod-img">
        <div class="f-rslides-container">
          <ul class="thumbnails f-rslides f-prod-imgs" id="product-rslides">
{% for img in images %}
            <li><img class="f-prod-img img-responsive" src="{{ img.getUrl() }}" alt=""/></li>
{% endfor %}
          </ul>
        </div>
        <p class="text-center"><small>{{ 'Mouse move on Image to zoom'|_ }}</small></p>
        <ul class="f-prod-more-view-imgs row" id="product-rslides-pager">
{% for img in images %}
          <li class="col-md-2 col-xs-2"><a href="#"><img src="{{ img.getUrl() }}" alt="" title=""></a></li>
{% endfor %}
        </ul>
      </div>
      <script>
        require(['jquery', 'responsiveslides', 'jquery.zoom'], function($) {
          $("#product-rslides").responsiveSlides({
            auto: false,
            speed: 500,
            nav: true,
            namespace: "f",
            manualControls: '#product-rslides-pager'
          });

          $('#product-rslides li').addClass('zoom').zoom();
        });
      </script>
      <!-- /.f-col-prod-img -->

      <!-- Product Select Column-->
      <div class="col-md-7 f-col-prod-select">
        <form action="{{ APP.href('cart/add') }}" method="post" onsubmit="" >
          <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
          <input type="hidden" name="id" value="{{ prod.id() }}">
          <input type="hidden" name="action" value="add">
          <h1 class="f-prod-name">{{ prod.get('product_name') }}</h1>

{% if prod.getAverageStars() %}
          <div class="f-prod-avg-rating">
            <div class="glyphicon f-rating-stars f-sm-stars">
              <span class="f-filled-stars" style="width:{{ prod.getAverageStars() }}%;"></span>
              <span class="f-empty-stars"></span>
            </div>
            <a href="#f-prod-tab-reviews">{{ '%s Review(s)'|_(prod.getNumReviews()) }}</a>
          </div>
{% endif %}
          <div class="f-price-group">
{#
            <table>
              <tr class="f-old-price">
                <th class="f-price-label">Was:</th>
                <td class="f-price">$39.99</td>
              </tr>
              <tr class="f-map-price">
                <td colspan="2">Add to cart to see your price!</td>
              </tr>
            </table> <!-- /.f-map-price -->
#}
            <table>
              {% if prod.get('base_price') == 0 %}
                <tr class="f-reg-price">
                  <th class="f-price-label">Price:</th>
                  <td class="f-price">{{ 'FREE'|_ }}</td>
                </tr>
              {% elseif prod.get('base_price') != prod.get('sale_price') and prod.get('sale_price') is not null %}
                {% if prod.get('sale_price') == 0 %}
                  <tr class="f-reg-price">
                    <th class="f-price-label">Price:</th>
                    <td class="f-price">{{ 'FREE'|_ }}</td>
                  </tr>
                {% else %}
                  <tr class="f-special-price">
                    <th class="f-price-label">Price:</th>
                    <td class="f-price">{{ prod.get('sale_price') | currency }}</td>
                  </tr>
                {% endif %}
                <tr class="f-old-price">
                  <th class="f-price-label">Was:</th>
                  <td class="f-price">{{ prod.get('base_price') | currency }}</td>
                </tr>
              {% else %}
                <tr class="f-reg-price">
                  <th class="f-price-label">Price:</th>
                  <td class="f-price">{{ prod.get('base_price') | currency }}</td>
                </tr>
              {% endif %}
            </table>
            {{ THIS.view('customer-groups/product-tier-prices').set('product', prod) | raw }}
          </div> <!-- /.f-price-group -->
          <div class="f-prod-select">
{#
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="#" class="control-label">Width:</label>
                <p class="form-control-static">M</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="#" class="control-label">Color:</label>
                <select class="form-control" id="#">
                  <option>Select Color</option>
                  <option>Red</option>
                  <option>Green</option>
                  <option>Blue</option>
                  <option>Black</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="#" class="control-label">Size:</label>
                <select class="form-control" id="#">
                <option>Select Size</option>
                <option>24</option>
                <option>36</option>
                <option>48</option>
                </select>
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="#1" value="#" checked> Checkbox label
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="#2" value="#" checked> Radio label
              </label>
            </div>
#}
            <div class="f-prod-add-cart">
              <p class="f-stock-notice f-in-stock">In Stock.</p>
              <button type="submit" class="btn btn-primary btn-lg" title="{{ "Add to Cart"| _ }}">
                  <span class="glyphicon glyphicon-shopping-cart"></span>{{ "Add to Cart"| _ }}</button>
                <a class="btn btn-link" href="{{ APP.href('wishlist/add?id=') ~ prod.id() }}"
                   rel="nofollow">{{ "Add to Wishlist"|_ }}</a>
                <a class="btn btn-link" href="{{ APP.href('catalog/compare/add?id=') ~ prod.id() }}"
                   rel="nofollow">{{ "Add to Compare"|_ }}</a>
            </div>
          </div> <!-- /.f-prod-select -->
        </form>
        </div> <!-- /.f-col-prod-select -->
      </div> <!-- /.row -->
      <div class="f-prod-info">
        <div class="tab-content">
          <section class="tab-pane active" id="f-prod-tab-description">
            <div class="f-tab-heading">
              <h5 class="f-tab-title">{{ 'Product Description'|_ }}</h5>
            </div>
            {{ prod.get('description') | raw }}
          </section>
{#
          <section class="tab-pane active" id="f-prod-tab-specs">
            <div class="f-tab-heading">
              <h5 class="f-tab-title">{{ 'Specifications'|_ }}</h5>
            </div>
            <div class="table-responsive f-prod-specs-table">
              <table class="table table-condensed">
                <col class="col-md-4 col-sm-4"/>
                <col class="col-md-8 col-sm-8"/>
                <tr>
                  <th class="f-prod-specs-group-title" colspan="2">
                    <h5>Group Heading</h5>
                  </th>
                </tr>
                <tr>
                  <th>Type</th>
                  <td>Cameras</td>
                </tr>
                <tr>
                  <th>Cameras Included</th>
                  <td>1</td>
                </tr>
                <tr>
                  <th>Camera Type</th>
                  <td>Digital</td>
                </tr>
                <tr>
                  <th>Camera Style</th>
                  <td>Fixed</td>
                </tr>
                <tr>
                  <th>Camera Placement</th>
                  <td>Outdoor/Indoor</td>
                </tr>
                <tr>
                  <th class="f-prod-specs-group-title" colspan="2">
                    <h5>Group Heading</h5>
                  </th>
                </tr>
                <tr>
                  <th>Type</th>
                  <td>Cameras</td>
                </tr>
                <tr>
                  <th>Cameras Included</th>
                  <td>1</td>
                </tr>
                <tr>
                  <th>Camera Type</th>
                  <td>Digital</td>
                </tr>
                <tr>
                  <th>Camera Style</th>
                  <td>Fixed</td>
                </tr>
                <tr>
                  <th>Camera Placement</th>
                  <td>Outdoor/Indoor</td>
                </tr>
                <tr>
                  <th class="f-prod-specs-group-title" colspan="2">
                    <h5>Group Heading</h5>
                  </th>
                </tr>
                <tr>
                  <th>Type</th>
                  <td>Cameras</td>
                </tr>
                <tr>
                  <th>Cameras Included</th>
                  <td>1</td>
                </tr>
                <tr>
                  <th>Camera Type</th>
                  <td>Digital</td>
                </tr>
                <tr>
                  <th>Camera Style</th>
                  <td>Fixed</td>
                </tr>
                <tr>
                  <th>Camera Placement</th>
                  <td>Outdoor/Indoor</td>
                </tr>
              </table>
            </div>
          </section>
#}
          {{ THIS.view('prodreviews/product-details').set('prod', prod) | raw }}
          </div>
        </div><!-- /.f-prod-info -->
      <br/>
      {% if relatedProducts %}
        <!-- You may also like -->
        <div class="f-widget f-widget-featured-prods">
          <header class="f-widget-header">
            <strong class="f-widget-title">{{ 'Related Products'|_ }}</strong>
          </header>
          {{ THIS.view('catalog/product/grid-tiles').set('products', relatedProducts) | raw }}
        </div><!-- /.f-widget -->
      {% endif %}

      {% if upsellProducts %}
        <!-- You may also like -->
        <div class="f-widget f-widget-featured-prods">
          <header class="f-widget-header">
            <strong class="f-widget-title">{{ 'You may also like these items'|_ }}</strong>
          </header>
          {{ THIS.view('catalog/product/grid-tiles').set('products', upsellProducts) | raw }}
        </div><!-- /.f-widget -->
      {% endif %}

      {% if recentlyViewed %}
        <!-- You may also like -->
        <div class="f-widget f-widget-featured-prods">
          <header class="f-widget-header">
            <strong class="f-widget-title">You recently viewed these items</strong>
          </header>
          {{ THIS.view('catalog/product/grid-tiles').set('products', recentlyViewed) | raw }}
        </div>
      {% endif %}
    </div>
    {{ THIS.hook('after_product_details') | raw }}
  </div>
</div>
