<style>
.zoom:after { content:''; display:block; width:33px; height:33px; position:absolute; top:0; right:0;
  background:url("{{ APP.src('@FCom_Core/img/zoom-corner.png') }}"); }
.zoom img { display: block; }
.zoom img::selection { background-color: transparent; }
</style>

{% set prod = THIS.get('product') %}
{% set images = prod.media('I') %}
{% set cat = THIS.get('category') %}
{% set customFields = prod.getDataSerialized('custom_fields') %}
{% set shopper = prod.getDataSerialized('frontend_fields') %}
{% set variants = prod.getDataSerialized('variants') %}
{% set modelField = APP.instance('FCom_CustomField_Model_Field') %}
{% set productLink = prod.getProductLink() %}
{% set recentlyViewed = APP.instance('FCom_Catalog_Frontend').getRecentlyViewedProducts() %}

    {{ THIS.view('breadcrumbs') | raw }}
    {{ THIS.view('core/messages') | raw }}
    <div class="row">
      <!-- Product Image Column -->
      <div class="col-md-5 f-col-prod-img">
        <div class="f-rslides-container">
          <ul class="thumbnails f-rslides f-prod-imgs" id="product-rslides">
{% for img in images %}
            <li><img data-id="{{ img.id() }}"  class="f-prod-img img-responsive" src="{{ img.getUrl() }}" alt=""/></li>
{% endfor %}
          </ul>
        </div>
        <p class="text-center"><small>{{ 'Mouse move on Image to zoom'|_ }}</small></p>
        <ul class="f-prod-more-view-imgs row" id="product-rslides-pager">
{% for img in images %}
          <li class="col-md-2 col-xs-2"><a href="#"><img data-id="{{ img.id() }}" src="{{ img.getUrl() }}" alt="" title=""></a></li>
{% endfor %}
        </ul>
        <a href="#" class="hidden" id="display-all-image"><i class="glyphicon glyphicon-refresh"></i> {{ "Display all images"|_ }}</a>
      </div>
      <!-- /.f-col-prod-img -->

      <!-- Product Select Column-->
      <div class="col-md-7 f-col-prod-select">
        <form action="{{ APP.href('cart/add') }}" method="post" onsubmit="" >
          <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
          <input type="hidden" name="id" value="{{ prod.id() }}">
          <input type="hidden" name="action" value="add">
          <h1 class="f-prod-name">{{ prod.get('product_name') }}</h1>

{% if prod.getAverageStars() %}
          <div class="f-prod-avg-rating">
            <div class="glyphicon f-rating-stars f-sm-stars">
              <span class="f-filled-stars" style="width:{{ prod.getAverageStars() }}%;"></span>
              <span class="f-empty-stars"></span>
            </div>
            <a href="#f-prod-tab-reviews">{{ '%s Review(s)'|_(prod.getNumReviews()) }}</a>
          </div>
{% endif %}
          <div class="f-price-group">
            <table>
              {% if prod.get('base_price') == 0 %}
                <tr class="f-reg-price">
                  <th class="f-price-label">Price:</th>
                  <td class="f-price">{{ 'FREE'|_ }}</td>
                </tr>
              {% elseif prod.get('base_price') != prod.get('sale_price') and prod.get('sale_price') is not null %}
                {% if prod.get('sale_price') == 0 %}
                  <tr class="f-reg-price">
                    <th class="f-price-label">Price:</th>
                    <td class="f-price">{{ 'FREE'|_ }}</td>
                  </tr>
                {% else %}
                  <tr class="f-special-price">
                    <th class="f-price-label">Price:</th>
                    <td class="f-price">{{ prod.get('sale_price') | currency }}</td>
                  </tr>
                {% endif %}
                <tr class="f-old-price">
                  <th class="f-price-label">Was:</th>
                  <td class="f-price">{{ prod.get('base_price') | currency }}</td>
                </tr>
              {% else %}
                <tr class="f-reg-price">
                  <th class="f-price-label">Price:</th>
                  <td class="f-price">{{ prod.get('base_price') | currency }}</td>
                </tr>
              {% endif %}
            </table>
            {{ THIS.view('customer-groups/product-tier-prices').set('product', prod) | raw }}
          </div> <!-- /.f-price-group -->
          <div class="f-prod-select">
            {{ THIS.hook('catalog/product/details:before_add_cart') | raw }}
            <div class="f-prod-add-cart">
                {% if variants.variants_fields %}
                    <section class="tab-pane active" id="f-prod-tab-variant">
                        {% for field  in variants.variants_fields %}
                            <div class="form-group" style="overflow: hidden">
                                <label class="col-md-3 control-label">{{ modelField.getFrontendLabel(field.field_code) |_ }}</label>
                                <div class="col-md-5">
                                    <select id="{{ field.field_code }}" name="{{ field.field_code }}" class="form-control variant" style="width:auto">
                                        {% for key in field.options %}
                                            <option value="{{ key|_ }}">{{ key |_ }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group overflow-hidden">
                            <label class="col-md-3 control-label ">{{ 'Sku: ' |_ }}</label>
                            <div class="col-md-5 f-price-group" style="margin: 0px;">
                                <div class="f-reg-price">
                                    <span class="f-price" id="sku-variant">{{ prod.get('local_sku') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group overflow-hidden">
                            <label class="col-md-3 control-label ">{{ 'Price: ' |_ }}</label>
                            <div class="col-md-2 f-price-group" style="margin: 0px;">
                                <div class="f-reg-price">
                                    <span class="f-price" id="price-variant"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group overflow-hidden">
                            <label class="col-md-3 control-label">{{ 'Quantity: ' |_ }}</label>
                            <div class="col-md-2">
                                <input type="text" name="qty" class="form-control col-md-2" id="quantity-variant" value="1"/>
                            </div>
                        </div>
                    </section>
                {% endif %}
              <p class="f-stock-notice f-in-stock" id="prod-in-stock">In Stock.</p>
              <button type="submit" class="btn btn-primary btn-lg" title="{{ "Add to Cart"| _ }}" id="prod-add-to-card">
                  <span class="glyphicon glyphicon-shopping-cart"></span>{{ "Add to Cart"| _ }}</button>
                <a class="btn btn-link" href="{{ APP.href('wishlist/add?id=') ~ prod.id() }}"
                   rel="nofollow">{{ "Add to Wishlist"|_ }}</a>
                <a class="btn btn-link btn-compare" href="{{ APP.href('catalog/compare/add?id=') ~ prod.id() }}"
                   rel="nofollow"><span class="glyphicon glyphicon-unchecked"></span>{{ "Add to Compare"|_ }}</a>
            </div>
          </div> <!-- /.f-prod-select -->
        </form>
      </div> <!-- /.f-col-prod-select -->
    </div> <!-- /.row -->
    <div class="f-prod-info">
      <div class="tab-content">
          {% if shopper %}
              <section class="tab-pane active" id="f-prod-tab-description2">
                  <div class="f-tab-heading">
                      <h5 class="f-tab-title">{{ 'Shopper'|_ }}</h5>
                  </div>

                  {% for sh in shopper %}
                      <div class="form-group" style="overflow: hidden">
                          <label class="col-md-2 control-label">{{ sh.label|_ }}</label>
                          {% set options = sh.options|split(',') %}
                          <div class="col-md-3">
                              <select name="{{ sh.name }}" class="form-control">
                                  {% for op in options %}
                                      <option value="{{ op }}">{{ op|_ }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <label class="col-md-3 control-label">{{ "Price: "~sh.price |_ }}</label>
                      </div>
                  {% endfor %}

              </section>
          {% endif %}
        <section class="tab-pane active" id="f-prod-tab-description">
          <div class="f-tab-heading">
            <h5 class="f-tab-title">{{ 'Product Description'|_ }}</h5>
          </div>
          {{ prod.get('description') | raw }}
            {% if customFields %}
                <div class="f-tab-heading">
                    <h5 class="f-tab-title">{{ 'Additional Info'|_ }}</h5>
                </div>
                {% for cf in customFields %}
                    <div class="form-group" style="overflow: hidden">
                        <label class="col-md-2 control-label">{{ cf.set_name |_ }}</label> <br>
                        {% for field in cf.fields %}
                            <div class="col-md-12">
                                <label class="control-label">{{ field.field_name ~": "~ field.value |_ }}</label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </section>
        {{ THIS.view('prodreviews/product-details').set('prod', prod) | raw }}
        </div>
      </div><!-- /.f-prod-info -->
    <br/>
    {% for product in productLink %}
        {% if product.product  %}
            <div class="f-widget f-widget-featured-prods">
                <header class="f-widget-header">
                    <strong class="f-widget-title">{{ product.title }}</strong>
                </header>
                {{ THIS.view('catalog/product/grid-tiles').set('products', product.product) | raw }}
            </div><!-- /.f-widget -->
        {% endif %}
    {% endfor %}

    {% if recentlyViewed %}
      <!-- You may also like -->
      <div class="f-widget f-widget-featured-prods">
        <header class="f-widget-header">
          <strong class="f-widget-title">{{ "You recently viewed these items"|_ }}</strong>
        </header>
        {{ THIS.view('catalog/product/grid-tiles').set('products', recentlyViewed) | raw }}
      </div>
    {% endif %}

{{ THIS.view('catalog/product/quickview') | raw }}
<script>
    require(['jquery', 'responsiveslides', 'jquery.zoom'], function ($) {
        var pager = $('#product-rslides-pager');
        var quantityVariant = $('#quantity-variant');
        var priceVariant = $('#price-variant');
        var skuVariant = $('#sku-variant');
        var displayAllImage = $('#display-all-image');
        $("#product-rslides").responsiveSlides({
            auto: false,
            speed: 500,
            nav: true,
            namespace: "f",
            manualControls: '#product-rslides-pager'
        });

        $('#product-rslides li').addClass('zoom').zoom();
        var variants = $.parseJSON('{{ UTIL.toJson(variants.variants)|raw }}');
        var fields = Object.keys(variants[0].fields);
        var base_price = '{{ prod.get('base_price')| currency }}';
        var sku_prod = '{{ prod.get('local_sku')}}';
        var vr = [];
        var firstOptions = [];
        var beforeField = [];

        if (variants.length > 0) {
            variants.forEach(function(obj) {
                if (obj.fields[fields[0]] == variants[0].fields[fields[0]]) {
                    vr.push(obj);
                }
            })
            if (variants[0].qty == 0 || variants[0].qty == '') {
                quantityVariant.val(0);
                $('#prod-in-stock').html('Items not available.');
                $('#prod-add-to-card').prop('disabled', true);
            } else {
                quantityVariant.val(1);
                $('#prod-in-stock').html(variants[0].qty + ' Items In Stock.');
                $('#prod-add-to-card').prop('disabled', false);

            }
            priceVariant.html(variants[0].price);
            skuVariant.html(variants[0].sku);
            fields.forEach(function (key) {
                setUpField(beforeField, { field_code: key, value: variants[0].fields[key], current: null });
                beforeField.push(key);
            })
        }


        function setUpField(before, data) {
            $('.variant').each(function () {
                var self = this;

                if (($(this).attr('name').indexOf(before) == -1 || before.length == 0) && $(this).attr('name') == data.field_code) {
                    var first = true;
                     if(before.length > 0) {
                        first = false;
                         $(self).html('');
                     };
                    var op = [];
                    vr.forEach(function (obj) {
                        if(first) {
                            if (op.length == 0 && firstOptions.indexOf(data.value) != -1) {
                                $(self).find('option[value="'+ obj.fields[data.field_code] +'"]').prop('selected', true);
                            }
                            op.push(obj.fields[data.field_code]);
                        } else {
                                var flag = true
                                before.forEach(function(val) {
                                    if (obj.fields[val] != $('#'+ val).val()) {
                                        flag = false;
                                    }
                                })
                                if (flag) {
                                    if (op.indexOf(obj.fields[data.field_code]) == -1) {
                                        $(self).append("<option value='"+ obj.fields[data.field_code] +"'>"+ obj.fields[data.field_code] +"</option>");
                                    }
                                    op.push(obj.fields[data.field_code]);
                                }
                        }
                    })
                    if (data.value != null) {
                        $(self).find('option[value="'+ data.value +'"]').prop('selected', true);
                    }
                }
            });
        }
        function displayImage(image) {

            if (image.length == 0) {
                pager.find('li').each(function() {
                    $(this).removeClass('hidden');
                });
                $('#product-rslides').parent().find('.f_nav').removeClass('hidden');
            } else {
                $('#product-rslides').parent().find('.f_nav').addClass('hidden');
                pager.find('li').each(function() {
                    if (image.indexOf($(this).find('img').attr('data-id')) != -1) {
                        $(this).removeClass('hidden');
                        if ($(this).find('img').attr('data-id') == image[0]) {
                            $(this).children().click();
                        }
                    } else {
                        $(this).addClass('hidden')
                    }
                });
            }
        }

        $('.variant').change(function () {
            var find = null;
            var self = this;
            var beforeFlag = true;
            beforeField = [];
            vr = [];
            variants.forEach(function(obj) {
                if (obj.fields[$(self).attr('name')] == $(self).val()) {
                    vr.push(obj);
                }
            })

            fields.forEach(function (key) {
                var data = { field_code: key, value: null, current: null };
                if (beforeFlag) {
                    beforeField.push(key);
                    if (key == $(self).attr('name')) {
//                    data.value = $('#' + key).val();
//                    data.current = key;
                      beforeFlag = false;
                    }
                } else {
                    setUpField(beforeField, data);
                }


            });
            variants.forEach(function (obj) {
                var correct = true;
                $('.variant').each(function () {
                    if (obj.fields[$(this).attr('name')] != $(this).val()) {
                        correct = false;
                    }
                });
                if (correct) {
                    find = obj;
                }
            })
            var image = [];
            displayAllImage.addClass('hidden');
            if (find == null || find.qty == 0 || find.qty == '') {
                quantityVariant.val(0);
                skuVariant.html(sku_prod);
                if (find == null || find.price == '') {
                    priceVariant.html(base_price);
                }
                $('#prod-in-stock').html('Items not available.');
                $('#prod-add-to-card').prop('disabled', true);
            } else {
                quantityVariant.val(1);
                $('#prod-in-stock').html(find.qty + ' Items In Stock.');
                $('#prod-add-to-card').prop('disabled', false);
            }
            if (find != null) {
                priceVariant.html(find.price);
                skuVariant.html(find.sku);
                if (find.file_id != '') {
                    image = find.file_id.split(',');
                    displayAllImage.removeClass('hidden');
                }
            }
            displayImage(image);
        });
        displayAllImage.click(function () {
            displayImage([]);
            $(this).addClass('hidden');
        })
    })
</script>
