{% set colMd = THIS.get('col_md')|default(2) %}
{% set colSm = THIS.get('col_sm')|default(4) %}
{% set colXs = THIS.get('col_xs')|default(6) %}
{% set addToCartUrl = THIS.url('cart/add') %}

<div class="f-prod-listing f-prod-listing-grid">
  <div class="row">
  {% for p in THIS.get('products') %}
  {% set productName = p.get('product_name') %}
  {% set productUrl = p.url(THIS.get('category')) %}
    <div class="col-md-{{ colMd }} col-sm-{{ colSm }} col-xs-{{ colXs }}">
      <div class="thumbnail">
        {% if p.get('base_price') != p.get('sale_price') and p.get('sale_price') != 0 %}
            <span class="sale tooltip-test">Sale</span>
        {% endif %}
        <div class="f-col-listing-prod-img">
          <a data-toggle="modal" href="#f-prod-quickview" class="btn btn-info btn-xs f-prod-quickview-btn" data-id="{{ p.id() }}">{{ 'Quick View'|_ }}</a>
          <a href="{{ productUrl }}" class="f-prod-img">
            <img alt="{{ productName }}" src="{{ p.thumbUrl(350, 350) }}"/>
          </a>
        </div>
        <div class="caption">
          <a href="{{ productUrl }}" class="f-prod-name">{{ productName }}</a>
          <table class="f-price-group">
            {% if p.get('base_price') == 0 %}
              <tr class="f-reg-price">
                <th class="f-price-label">Price:</th>
                <td class="f-price">{{ 'FREE'|_ }}</td>
              </tr>
            {% elseif p.get('base_price') != p.get('sale_price') and p.get('sale_price') != 0 %}
              <tr class="f-special-price">
                <th class="f-price-label">Price:</th>
                <td class="f-price">{{ p.get('sale_price') | currency }}</td>
              </tr>
              <tr class="f-old-price">
                <th class="f-price-label">Was:</th>
                <td class="f-price">{{ p.get('base_price') | currency }}</td>
              </tr>
            {% else %}
              <tr class="f-reg-price">
                <th class="f-price-label">Price:</th>
                <td class="f-price">{{ p.get('base_price') | currency }}</td>
              </tr>
            {% endif %}
          </table>
          <!-- /.f-price-group -->
          <!--{{ p.get('short_description') }}-->
          <form method="post" action="{{ addToCartUrl }}" class="hidden-xs">
            <input type="hidden" name="action" value="add">
            <input type="hidden" name="qty" value="1">
            <p>
              <button type="submit" name="id" value="{{ p.id() }}" onclick="return true; FCom.cart.add({{ p.id() }}, 1); return false" class="btn btn-primary btn-sm">{{ 'Add to Cart'|_ }}</button>
              <a href="{{ productUrl }}" class="btn btn-link btn-sm">{{ 'View Details'|_ }}</a>
              {% if THIS.get('add_wishlist') %}
                <a href="{{ APP.href('wishlist/add?id=') ~ p.id() }}" class="btn btn-link btn-sm" rel="nofollow">{{ 'Add to Wishlist'|_ }}</a>
              {% endif %}
              {% if THIS.get('add_compare') %}
                <a href="{{ APP.href('catalog/compare/add?id=') ~ p.id() }}" class="btn btn-link btn-sm" rel="nofollow">{{ 'Add to Compare'|_ }}</a>
              {% endif %}
            </p>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

