{% set s = THIS.get('state') %}
{% set url = REQUEST.currentUrl() %}
{% set pageUrl = UTIL.setUrlQuery(url, {p:'-PAGE-'}) %}
{#
  {% set showPageNums = 4 %}
  {% set showPageNumsHalf = (showPageNums/2)|floor %}
  {% set startPageList = (s.p-showPageNumsHalf)|min(s.mp-showPageNums)|max(1) %}
  {% set endPageList = (startPageList+showPageNums)|min(s.mp) %}
#}
{% set viewAs = REQUEST.get('view') ? REQUEST.get('view') : 'grid' %}

{% set psOptions = { 10:10, 25:25, 50:50, 100:100 } %}
{% set sortOptions = THIS.get("sort_options") %}
{% if not sortOptions %}
    {% set sortOptions = {
        'product_name asc': 'Product Name (A-Z)',
        'product_name desc': 'Product Name (Z-A)',
        'local_sku asc': 'SKU (A-Z)',
        'local_sku desc': 'SKU (Z-A)',
        'base_price asc': 'Price (Lower first)',
        'base_price desc': 'Price (Higher first)'
    } %}
{% endif %}


<form class="form-inline" method="get" action="{{ url }}">
  <fieldset class="f-prod-listing-toolbar">
    <input type="hidden" name="q" value="{{ REQUEST.get('q') }}">
    <input type="hidden" name="view" value="{{ REQUEST.get('view') }}">
    <div class="form-group pull-right">
      <label for="#" class="control-label">Sort by:</label>
      <select name="sc" onchange="this.form.submit()" class="form-control">
        {{ UTIL.optionsHtml(sortOptions, s.sc) | raw }}
      </select>
    </div>
    <div class="form-group pull-right">
      <select class="form-control visible-xs" name="ps" onchange="this.form.submit()">
        <option value="">{{ 'Per page:'|_ }}</option>
        {% for ps in psOptions %}
          <option value="{{ ps }}" {{ ps==s.ps ? 'selected'}}>{{ ps }}</option>
        {% endfor %}
      </select>
      <ul class="pagination">
      {% for ps in psOptions %}
          <li {{ ps == s.ps ? 'class="active"' }}>
              <a href="{{ UTIL.setUrlQuery(url, {ps:ps}) }}">{{ ps }}</a>
          </li>
      {% endfor %}
      </ul>
    </div>
    {% if not THIS.get('hide_display_selector') %}
    <div class="form-group hidden-xs">
      <div class="btn-group">
        <a href="{{ UTIL.setUrlQuery(url, {view:'grid'}) }}" class="{{ viewAs=='grid'?'btn active':'btn' }}"><i class="glyphicon glyphicon-th {{ viewAs=='grid'?'icon-white' }}"></i></a>
        <a href="{{ UTIL.setUrlQuery(url, {view:'list'}) }}" class="{{ viewAs=='list'?'btn active':'btn' }}"><i class="glyphicon glyphicon-th-list {{ viewAs=='list'?'icon-white' }}"></i></a>
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <label for="#" class="control-label">Go to:</label>
      <select class="form-control" name="p" onchange="this.form.submit()">
        <option value="">Go to:</option>
        {% for p in range(1, s.mp) %}
          <option value="{{ p }}" {{ p==s.p ? 'selected'}}>Page: {{ p }}</option>
        {% endfor %}
      </select>
      <button type="submit" tabindex="-1" class="btn btn-sm js-hidden">{{ 'Go'|_ }}</button>
      <span class="hidden-xs">{{ 'of %s product(s)'|_(s.c) }}</span>
      {#
      <ul class="pagination f-search-pages-pagination">
        {% if s.p > 1 %}
          <li><a href="{{ pageUrl|replace({'-PAGE-':s.p-1}) }}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        {% endif %}
        {% if s.p > showPageNumsHalf+1 %}
          <li><a href="{{ pageUrl|replace({'-PAGE-':1}) }}">1</a></li>
        {% endif %}
        {% if s.p > showPageNumsHalf+2 %}
          <li><a href="#">...</a></li>
        {% endif %}
        {% for p in startPageList..endPageList %}
          <li {{ p == s.p ? 'class="active"' }}>
            <a href="{{ pageUrl|replace({'-PAGE-':p}) }}">{{ p }}</a>
          </li>
        {% endfor %}
        {% if s.p < s.mp-showPageNumsHalf-2 %}
          <li><a href="#">...</a></li>
        {% endif %}
        {% if s.p < s.mp-showPageNumsHalf-1 %}
          <li><a href="{{ pageUrl|replace({'-PAGE-':s.mp}) }}">{{ s.mp }}</a></li>
        {% endif %}
        {% if s.p < s.mp %}
          <li><a href="{{ pageUrl|replace({'-PAGE-': s.p+1}) }}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        {% endif %}
      </ul>
      #}
    </div>
    {{ THIS.hook('catalog/product/pager.fields', { pager_view: THIS }) | raw }}
  </fieldset>
</form>

<script>
(function() {
  var hide = document.getElementsByClassName('js-hidden');
  console.log(hide);
  for (var i=0; i<hide.length; i++) {
    hide[i].style.display = 'none';
  }
})();
</script>
