{% set prod = THIS.get('product') %}
{% set prices = prod.getFrontendPrices() %}
{% set classByType = {
  'msrp': 'f-old-price',
  'reg': 'f-reg-price',
  'new': 'f-special-price',
  'old': 'f-old-price',
} %}

<div class="f-price-group">
    <table>
{% for price in prices %}
      <tr class="{{ classByType[price.type] }}">
          <th class="f-price-label">{{ price.label|_ }}</th>
          <td class="f-price {{ price.final ? 'f-final-price' }}">{{ price.formatted ?: (price.value ? price.value|currency : 'FREE'|_) }}</td>
      </tr>
{% endfor %}
    </table>
    {{ THIS.view('customer-groups/puct-tier-prices').set('product', p) | raw }}
</div> <!-- /.f-price-group -->