{% set m = THIS.get('model') %}
{% set images = m.media('I') %}
<div class="row">
  <!-- Product Image Column -->
  <div class="f-col-prod-img col-sm-6">
    <div class="f-rslides-container">
      <ul class="thumbnails f-rslides f-prod-imgs" id="quickview-rslides">
{% for img in images %}
            <li><img class="f-prod-img img-responsive" src="{{ img.getUrl() }}" alt=""/></li>
{% endfor %}
      </ul>
    </div>
    <ul class="f-prod-more-view-imgs row" id="quickview-rslides-pager">
{% for img in images %}
          <li class="col-md-2 col-xs-2"><a href="#"><img src="{{ img.getUrl() }}" alt="" title=""></a></li>
{% endfor %}
    </ul>
    <script>
      require(['jquery', 'responsiveslides', 'jquery.zoom'], function($) {
        $("#quickview-rslides").responsiveSlides({
          speed: 500,
          timeout: 4000,
          nav: true,
          manualControls: '#quickview-rslides-pager',
          pause: true,
          pauseControls: true,
          namespace: "f"
        });
        $('#quickview-rslides li').addClass('zoom').zoom();
      });
    </script>
  </div>
  <div class="tab-content col-sm-6">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#f-tab-summary" data-toggle="tab">Summary</a></li>
      <li><a href="#f-tab-detail" data-toggle="tab">Details</a></li>
    </ul>
    <div class="tab-pane active" id="f-tab-summary">
      <h4 class="f-prod-name"><a href="{{ m.url() }}">{{ m.get('product_name') }}</a></h4>

{% if MODULES.isLoaded('FCom_ProductReviews') %}
      <div class="f-prod-avg-rating">
        <div class="glyphicon f-rating-stars f-xs-stars">
          <span class="f-filled-stars" style="width:{{ m.getAverageStars() }}%;"></span>
          <span class="f-empty-stars"></span>
        </div>
        <a href="#f-prod-tab-reviews">{{ '%s Review(s)'|_(m.getNumReviews()) }}</a>
      </div>
{% endif %}

      <table class="f-price-group">
          <tr class="f-special-price">
            <th class="f-price-label">Price:</th>
            <td class="f-price">{{ m.get('sale_price') | currency() }}</td>
          </tr>
          <tr class="f-old-price">
            <th class="f-price-label">Was:</th>
            <td class="f-price">{{ m.get('base_price') | currency() }}</td>
          </tr>
      </table>
      <!-- /.f-price-group -->

      <form class="f-prod-select form-horizontal" role="form" method="post" action="{{ APP.href('cart/add') }}">
        <input type="hidden" name="id" value="{{ m.id() }}">
        <input type="hidden" name="action" value="add">
        <div class="form-group">
          <label for="#" class="col-md-2 control-label">Width:</label>
          <div class="col-md-10">
            <p class="form-control-static">M</p>
          </div>
        </div>
        <div class="form-group">
          <label for="#" class="col-md-2 control-label">Color:</label>
          <div class="col-md-10">
            <select class="form-control" id="#">
              <option>Select Color</option>
              <option>Red</option>
              <option>Green</option>
              <option>Blue</option>
              <option>Black</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="#" class="col-md-2 control-label">Size:</label>
          <div class="col-md-10">
            <select class="form-control" id="#">
            <option>Select Size</option>
            <option>24</option>
            <option>36</option>
            <option>48</option>
            </select>
          </div>
        </div>
        <div class="f-prod-add-cart">
          <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span>{{ 'Add to Cart'|_ }}</button>
          <ul class="f-add-to-links">
            <li><a href="{{ APP.href('wishlist/add?id=') ~ m.id() }}" rel="nofollow">{{ 'Add to Wishlist'|_ }}</a></li>
            <li><a href="{{ APP.href('catalog/compare/add?id=') ~ m.id() }}" rel="nofollow">{{ 'Add to Compare'|_ }}</a></li>
          </ul>
        </div>
      </form>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="f-tab-detail">
      <div class="f-prod-short-description">
        <p>{{ m.get('description') | raw }}</p>
      </div>
    </div>
  </div>
