{% set prod = THIS.get('product') %}
{% set shopper = prod.getFrontendFields() %}
{% if shopper %}
    <div id="f-prod-tab-shopper">
        <div class="f-tab-heading">
            <h5 class="f-tab-title">{{ 'Shopper'|_ }}</h5>
        </div>
        {% for sh in shopper %}
            <div class="form-group" style="overflow: hidden">
                <label class="col-md-2 control-label">{{ sh.label|_ }}</label>
                <input type="hidden" name="shopper[{{ sh.name }}][label][{{ sh.label }}]" class="form-control"/>
                <div class="col-md-3">
                    {% if sh.input_type == 'select' %}
                        {% set options = sh.options|split(',') %}
                        <select name="shopper[{{ sh.name }}][val]" class="form-control">
                            {% for op in options %}
                                <option value="{{ op }}">{{ op|_ }}</option>
                            {% endfor %}
                        </select>
                    {% elseif  sh.input_type == 'textarea' %}
                        <textarea name="shopper[{{ sh.name }}][val]" class="form-control" cols="3" rows="2"></textarea>
                    {% elseif sh.input_type == 'text' %}
                        <input type="text" name="shopper[{{ sh.name }}][val]" class="form-control"/>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}