{% set prod = THIS.get('product') %}
{% set shopper = prod.getData('frontend_fields') %}
{% if shopper %}
    <div id="f-prod-tab-shopper">
        <div class="f-tab-heading">
            <h5 class="f-tab-title">{{ 'Shopper'|_ }}</h5>
        </div>
        {% for sh in shopper %}
            <div class="form-group" style="overflow: hidden">
                <label class="col-md-2 control-label">{{ sh.label|_ }}</label>
                {% set options = sh.options|split(',') %}
                <div class="col-md-3">
                    <select name="shopper[{{ sh.name }}]" class="form-control">
                        {% for op in options %}
                            <option value="{{ op }}">{{ op|_ }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="col-md-3 control-label">{{ "Price: "~ sh.price|currency |_ }}</label>
            </div>
        {% endfor %}
    </div>
{% endif %}