{% set m = THIS.get('model') %}
{% set t = THIS.get('atype') ~ '_' %}
{% set countries = LOCALE.getAvailableCountries() %}
{% set country = m.get(t ~ 'country') %}

<div class="adr">
    <div class="street-address">{{  m.get(t ~ 'street1') }}</div>
    {% if m.get(t ~ 'street2') %}<div class="extended-address">{{ m.get(t ~ 'street2') }}</div>{% endif %}
    {% if m.get(t ~ 'street3') %}<div class="extended-address">{{ m.get(t ~ 'street3') }}</div>{% endif %}
    <span class="locality">{{  m.get(t ~ 'city') }}</span>,
    <span class="region">{{  m.get(t ~ 'region') }}</span>
    <span class="postal-code">{{  m.get(t ~ 'postcode') }}</span>
    <div class="country-name">{{ countries[country] ?: country }}</div>
</div>