{% set cart = APP.instance('Sellvana_Sales_Model_Cart').sessionCart() %}
{% set cartQty = cart.itemQty() ?: 0 %}

<li class="dropdown f-header-mini-cart-trigger">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-shopping-cart"></span><span class="f-header-util-links-label">{{ 'Cart'|_ }} ({{ cartQty }}) <b class="caret"></b></span><span class="f-header-util-qty">{{ cartQty }}</span>
  </a>
  <ul class="dropdown-menu">
    <li role="presentation" class="dropdown-header">{{ cartQty ? 'Recently added to cart'|_ : 'Cart is empty'|_ }}</li>
    <li>{{ THIS.view('cart/header-partial') | raw }}</li>
  </ul>
</li>
