{% set orderStateCustomCtrl = APP.instance('FCom_Sales_Admin_Controller_OrderStateCustom') %}
<script>    
require(['jquery', 'underscore', 'backbone', 'jquery.validate'], function($, _, Backbone) {
    var orderCustomStateGrid;
    var orderStateCustomForm = $('#orderstatecustom-modal-form');
    window.orderCustomStateGridRegister = function(grid) {
         orderCustomStateGrid=grid;
         
         orderCustomStateGrid.getGridSkeleton().Views.RowView.prototype._callbackCustom = function (ev) {
             
                orderCustomStateGrid.getModalForm().modalType = 'editable';
    		orderCustomStateGrid.getGridSkeleton().currentRow = this.model;
    		orderCustomStateGrid.getModalForm().render();                 
		$('#btn-orderstatecustom-grid-modal').trigger('click');
                        
         };    
        
        orderCustomStateGrid.getGridSkeleton().Views.ModalForm.prototype.el = '#orderstatecustom-modal-form';            
        orderCustomStateGrid.build();             
     };
     
     $('#add_new_orderstatecustom').click(function () {
    	
        orderCustomStateGrid.getModalForm().modalType = 'addable';
        orderCustomStateGrid.getModalForm().render();         
        $('#btn-orderstatecustom-grid-modal').trigger('click');
    });
    
    $('button.orderstatecustom-modal-save').click(function() {
        if (orderStateCustomForm.valid()) {
            if (orderCustomStateGrid.getModalForm().saveChanges()) {
            	$('button.orderstatecustom-modal-close').trigger('click');
            }
        }
    }); 
});
</script>

<div class="f-admin-main-view">
  <div class="page-header f-admin-page-header">
      <h1 class="f-page-title">
          {#<i class="icon-file"></i>#}
          <span>{{ "Order State Custom" |_ }}</span>
      </h1>
      
      <div class="btn-group">
          <button id="add_new_orderstatecustom" class="btn grid-new btn-primary _modal" type="button"><span>{{ "Add Order State Custom" |_ }}</span></button>
      </div>
  </div>

  <div class="f-admin-main">
      {{ THIS.view('core/backbonegrid').set('grid', orderStateCustomCtrl.gridConfig())| raw }}
  </div>
</div>
  
<div class='modal fade' id='orderstatecustom-grid-modal'>
    <div class='modal-dialog' style='width:600px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='orderstatecustom-modal-header'> {{ "Order State Custom" |_ }}</h4>
            </div>
            <div class='modal-body'>
                    <form class="form form-horizontal validate-form" id="orderstatecustom-modal-form" novalidate="novalidate"></form>
            </div>
             <div class='modal-footer'>
                <button class='btn btn-primary orderstatecustom-modal-save' type='button'>{{ "Save"|_ }}</button>
                <button class='btn btn-default btn-close orderstatecustom-modal-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
            </div>
        </div>
    </div>
</div>
<a role="button" href="#orderstatecustom-grid-modal" data-toggle="modal" style='display:none;' id='btn-orderstatecustom-grid-modal'>hidden</a>
