{% set d = THIS.get('customer') %}
<!--{ Content-Type: text/html; charset=UTF-8 }-->
<!--{ To: "{{ "%s %s" | format(d.get('firstname'), d.get('lastname')) }}" <{{ d.get('email') }}> }-->
<!--{ From: "{{ "Fulleron"| _ }}" <support@fulleron.com> }-->
<!--{ Subject: {{ "Password reset confirmation" | _ }} }-->

<p>{{ "Hello, %s." | _ |format(d.get('firstname')) }}</p>

<p>{{ "Thank you, your password has been successfully reset."| _ }}</p>
