{% set d = THIS.get('customer') %}
<!--{ Content-Type: text/html; charset=UTF-8 }-->
<!--{ To: "{{ d.get('firstname') ~ ' ' ~ d.get('lastname') }}" <{{ d.get('email') }}> }-->
<!--{ From: "{{ CONFIG.get('modules/FCom_Core/support_name') }}" <{{ CONFIG.get('modules/FCom_Core/support_email') }}> }-->
<!--{ Subject: {{ "Password reset confirmation" | _ }} }-->

<p>{{ "Hello, %s." | _(d.get('firstname')) }}</p>

<p>{{ "Thank you, your password has been successfully reset."| _ }}</p>
