<!--{permission: settings/payment_ogone}-->
{% set c = THIS.get('model') %}
{% set coreMain = APP.instance('FCom_Core_Main') %}
{% set fieldData = { model: c, settings_module:'Sellvana_PaymentOgone' } %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<h2>{{ "Ogone Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-Sellvana_PaymentOgone'}) }}
     {{ forms.accordion_panel_start({label:'Ogone API'|_, id:'settings-Sellvana_PaymentOgone-group0', in:1}) }}
        {{ forms.select(fieldData, {field:'mode', label:'Test/Live Mode'|_, options: {0:'Test', 1:'Live'} }) }}
        {{ forms.input(fieldData, {field:'pspid', label:'PSPID'|_ }) }}
        {{ forms.input(fieldData, {field:'feedback_message', label:'Feedback Message'|_ }) }}
    {{ forms.accordion_panel_end }}
    {{ forms.accordion_panel_start({label:'Owner Information'|_, id:'settings-Sellvana_PaymentOgone-group1'}) }}
        {{ forms.input(fieldData, {field:'owner_address', label:'Address'|_ }) }}
        {{ forms.input(fieldData, {field:'owner_town', label:'Town'|_ }) }}
        {{ forms.input(fieldData, {field:'owner_zip', label:'Zip'|_ }) }}
        {{ forms.select(fieldData, {field:'owner_country', label:'Country'|_, options: coreMain.getAllowedCountries(), default: coreMain.getDefaultCountry() }) }}
        {{ forms.input(fieldData, {field:'owner_phone', label:'Phone'|_ }) }}

    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}
