{% set c = CONFIG.get('modules/FCom_Feedback') %}
{% if REQUEST.area()=='FCom_Admin' %}
  {% set u = APP.instance('FCom_Admin_Model_User').sessionUser() %}
{% endif %}
{% if c['enable_' ~ REQUEST.area()] %}
<style>

/* Feedback button */
.btn-send-feedback {
  position:fixed;
  bottom:0;
  left:-99px;
  z-index:9999;
  font: 12px Arial;
  text-transform: none;
  bottom:10px !important;
  padding:5px 6px 4px 6px;
  border-radius:0 4px 4px 0;
  -webkit-transition: left .3s ease-in-out;
  -moz-transition: left .3s ease-in-out;
  -ms-transition: left .3s ease-in-out;
  -o-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  }

.btn-send-feedback:after {
  padding-left: 8px;
  font-size: 24px;
  content: "\2709";
  line-height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  }

.btn-send-feedback:hover { left: 0; }
.modal-step  { display:none; }
.modal.modal-step1 .modal-step1 { display:block; }
.modal.modal-step2 .modal-step2 { display:block; }
</style>

  <!-- Button trigger modal -->
  <button class="btn-send-feedback btn btn-primary" data-toggle="modal" data-target="#feedback-modal">
    {{ 'Send Feedback'|_ }}
  </button>

  <!-- Modal -->
  <div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="feedback-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <form method="post" id="feedback-form" role="form" action="{{ APP.href('core_feedback') }}">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="feedback-modal-label">{{ 'Send Feedback'|_ }}</h4>
          </div>

          <div class="modal-body modal-step modal-step1">
              <div class="row">
                  <div class="form-group col-sm-12">
                      <label class="control-label">{{ "Help us make Sellvana better. Share your ideas, thoughts and feedback." |_ }}</label>
                      <hr>
                  </div>
              </div>
            <div class="row">
              <div class="form-group col-sm-6">
                  <label class="control-label">{{ "Your Name"|_ }}</label>
                  <div class="controls">
                     <input type="text" class="form-control required" name="feedback[name]" value="{{ u.fullName() }}">
                  </div>
              </div>
              <div class="form-group col-sm-6">
                  <label class="control-label">{{ "Your Email"|_ }}</label>
                  <div class="controls">
                     <input type="email" class="form-control required" name="feedback[email]" value="{{ u.email }}">
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                  <label class="control-label">{{ "Comments"|_ }}</label>
                  <div class="controls">
                     <textarea class="form-control required" name="feedback[comments]" rows="5"></textarea>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-body modal-step modal-step2">
            <div id="feedback-response-body">
              {{ 'Thank you for your feedback!'|_ }}
            </div>
          </div>

          <div class="modal-footer modal-step modal-step1">
            <button type="submit" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|_ }}</button>
            <button type="submit" class="btn btn-primary">{{ 'Send Feedback'|_ }}</button>
          </div>
          <div class="modal-footer modal-step modal-step2">
            <button type="submit" class="btn btn-primary" data-dismiss="modal">{{ 'Close'|_ }}</button>
          </div>

        </form>

      </div>
    </div>
  </div>

  <script>
    require(['jquery', 'jquery.validate'], function($) {
      $('#feedback-modal').on('show.bs.modal', function(e) {
        $('#feedback-modal').removeClass('modal-step2').addClass('modal-step1');
      })
      $('#feedback-form').validate({
        submitHandler: function(form) {
          var $form = $(form);
          $.post($form.attr('action'), $form.serializeArray(), function(data, status, xhr) {
            if (data.msg) $('#feedback-response-body').html(data.msg);
            $('#feedback-modal').removeClass('modal-step1').addClass('modal-step2');
            $('input,textarea', '#feedback-form').val('');
          })
        }
      })
    })
  </script>
{% endif %}
