{% set c = THIS.get('model') %}

<h2>{{ "Core Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_Core">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "DB Settings"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_Core-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Host"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[db][host]" value="{{ c.get('db/host') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Database"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[db][dbname]" value="{{ c.get('db/dbname') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Username"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[db][username]" value="{{ c.get('db/username') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Password"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="password" name="config[db][password]" placeholder="*****" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Enable Logging"|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[db][logging]" value="0"/>
                        <input class="switch-cbx" name="config[db][logging]" {% if c.get('db/logging') == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Implicit Migration"|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[db][implicit_migration]" value="0"/>
                        <input class="switch-cbx" name="config[db][implicit_migration]" {% if c.get('db/implicit_migration') == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "Website"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Core-group1">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Company Name"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Core][company_name]" value="{{ c.get('modules/FCom_Core/company_name') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Site Title"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Core][site_title]" value="{{ c.get('modules/FCom_Core/site_title') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Admin Email"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Core][admin_email]" value="{{ c.get('modules/FCom_Core/admin_email') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Sales Name"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Core][sales_name]" value="{{ c.get('modules/FCom_Core/sales_name') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Sales Email"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Core][sales_email]" value="{{ c.get('modules/FCom_Core/sales_email') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Support Name"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Core][support_name]" value="{{ c.get('modules/FCom_Core/support_name') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Support Email"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Core][support_email]" value="{{ c.get('modules/FCom_Core/support_email') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Copyright Message"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Core][copyright_message]" value="{{ c.get('modules/FCom_Core/copyright_message') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "Session"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Core-group2">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Session Handler"|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="config[cookie][session_handler]">
                            {{ UTIL.optionsHtml(SESSION.getHandlers(), c.get('cookie/session_handler'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Cookie Timeout"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[cookie][timeout]" value="{{ c.get('cookie/timeout') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Cookie Domain"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[cookie][domain]" value="{{ c.get('cookie/domain') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Cookie Path"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[cookie][path]" value="{{ c.get('cookie/path') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Session Namespace"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[cookie][session_namespace]" value="{{ c.get('cookie/session_namespace') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Verify Session IP"|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[cookie][session_check_ip]" value="0"/>
                        <input class="switch-cbx" name="config[cookie][session_check_ip]" {% if c.get('cookie/session_check_ip') == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "System"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Core-group3">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Hide script file name in URL"|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[web][hide_script_name]" value="0"/>
                        <input class="switch-cbx" name="config[web][hide_script_name]" {% if c.get('web/hide_script_name') == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "Optimizations"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Core-group4">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Module Manifest Files Cache"|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="config[core][cache][manifest_files]">
                            {{ UTIL.optionsHtml({'':'Enable in staging or production modes', 'enable':'Enable always', 'disable':'Disable always'}, c.get('core/cache/manifest_files'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Layout Files Cache"|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="config[core][cache][layout_files]">
                            {{ UTIL.optionsHtml({'':'Enable in staging or production modes', 'enable':'Enable always', 'disable':'Disable always'}, c.get('core/cache/layout_files'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "View Template Files Cache"|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="config[core][cache][view_files]">
                            {{ UTIL.optionsHtml({'':'Enable in staging or production modes', 'enable':'Enable always', 'disable':'Disable always'}, c.get('core/cache/view_files'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Twig Cache"|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="config[core][cache][twig]">
                            {{ UTIL.optionsHtml({'':'Enable in staging or production modes', 'enable':'Enable always', 'disable':'Disable always'}, c.get('core/cache/twig'))|raw }}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "CSRF Protection"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Core-group5">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Check Method"|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="config[web][csrf_check_method]">
                            {{ UTIL.optionsHtml({'referrer':'Referrer', 'token':'Token'}, c.get('web/csrf_check_method'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Web Root (optional)"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[web][csrf_web_root]" value="{{ c.get('web/csrf_web_root') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
