{% set c = THIS.get('model') %}
{% set mode = c.get("mode_by_ip/FCom_Admin")|split("\n")|join('|') %}
<h2>{{ "Admin Settings"|_}}</h2>
<div class="accordion accordion-blue panel-group" id="settings-FCom_Admin">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "HTML"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_Admin-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="input-theme-selection">{{ "Theme"|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="config[modules][FCom_Admin][theme]" id="input-theme-selection">
                            {{ UTIL.optionsHtml(LAYOUT.getThemes("FCom_Admin", true), c.get('modules/FCom_Admin/theme'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="add-js-files">{{ "Additional JS Files"|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control" name="config[modules][FCom_Admin][add_js_files]" id="add-js-files" rows="5">{{ c.get("modules/FCom_Admin/add_js_files")|raw }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="add-css-files">{{ "Additional CSS Files"|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control" name="config[modules][FCom_Admin][add_css_files]" id="add-css-files" rows="5">{{ c.get("modules/FCom_Admin/add_css_files")|raw }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="add-js-code">{{ "Additional JS Code"|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control js-code-editor" name="config[modules][FCom_Admin][add_js_code]" id="add-js-code" rows="5">{{ c.get("modules/FCom_Admin/add_js_code")|raw }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="add-css-style">{{ "Additional CSS Style"|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control js-code-editor" name="config[modules][FCom_Admin][add_css_style]" id="add-css-style" rows="5">{{ c.get("modules/FCom_Admin/add_css_style")|raw }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "Area Settings"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Admin-group1">
            <div class="panel-body">
                <div class="form-group ip-mode" id="setting-ip-mode-fcom-admin">
                    <label class="col-md-2 control-label">{{ "IP: Mode"|_ }}</label>
                    <div class="col-md-8 row group-ip-mode" style="margin-bottom: 15px">
                        <div class="col-md-3 text-right">
                            <label class="control-label">{{ "Default"|_ }}</label>
                            <input type="hidden" value="*" class="text-ip-mode" name="config[mode_by_ip][FCom_Admin]"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control select2-offscreen select-mode">
                                <option value="PRODUCTION">{{ "PRODUCTION"|_ }}</option>
                                <option value="DEBUG">{{ "DEBUG"|_ }}</option>
                                <option value="STAGING">{{ "STAGING"|_ }}</option>
                                <option value="DEVELOPMENT">{{ "DEVELOPMENT"|_ }}</option>
                                <option value="MIGRATION">{{ "MIGRATION"|_ }}</option>
                                <option value="MIGRATION">{{ "MIGRATION"|_ }}</option>
                                <option value="INSTALLATION">{{ "INSTALLATION"|_ }}</option>
                                <option value="RECOVERY">{{ "RECOVERY"|_ }}</option>
                                <option value="DISABLED">{{ "DISABLED"|_ }}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-xs add-ip-mode" style="margin-top: 5px;" type="button">
                                <i class="icon-plus"></i>
                            </button>
                        </div>
                        {#<textarea class="form-control" name="config[mode_by_ip][FCom_Admin]" rows="5"></textarea>#}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Modules to run in RECOVERY mode"|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control" name="config[recovery_modules][FCom_Admin]" rows="5">{{ c.get("recovery_modules/FCom_Admin")|raw }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "Users"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Admin-group2">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Strong Password Security'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[modules][FCom_Admin][password_strength]" value="0" />
                        <input type="checkbox" class="switch-cbx" name="config[modules][FCom_Admin][password_strength]" value="1"
                                {{ c.get('modules/FCom_Admin/password_strength') == '1' ? 'checked="checked"' : '' }} />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script  type="text/javascript">
    require(['backbone', 'jquery', 'fcom.ipmode', 'select2'], function(Backbone, $, ipMode) {
        var mode = '{{ mode }}';
        mode = mode.split('|');
        mode.forEach(function (obj) {
            var tmp = obj.split(':');
            if (tmp[0] == '*') {
                $('.select2-offscreen').select2().select2('val', tmp[1]);
            } else {
                var ip = new ipMode.Views();
                $('#setting-ip-mode-fcom-admin').append(ip.render(tmp[1]).el);
                ip.$el.find('.text-ip-mode').val(tmp[0]);
            }
        });
    })
</script>