{% set c = THIS.get('model') %}
{% set mode = c.get("mode_by_ip/FCom_Frontend")|split("\n")|join('|') %}
<h2>{{ "FrontEnd Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_Frontend">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "HTML"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_Frontend-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Theme"|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="config[modules][FCom_Frontend][theme]">
                            {{ UTIL.optionsHtml(LAYOUT.getThemes('FCom_Frontend', true), c.get('modules/FCom_Frontend/theme'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Additional JS Files"|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control" name="config[modules][FCom_Frontend][add_js_files]" rows="5">{{ c.get('modules/FCom_Frontend/add_js_files') }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Additional CSS Files"|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control" name="config[modules][FCom_Frontend][add_css_files]" rows="5">{{ c.get('modules/FCom_Frontend/add_css_files') }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Additional JS Code"|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control js-code-editor" name="config[modules][FCom_Frontend][add_js_code]" rows="5" data-mode="javascript">{{ c.get('modules/FCom_Frontend/add_js_code') }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Additional CSS Style"|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control js-code-editor" name="config[modules][FCom_Frontend][add_css_style]" rows="5" data-mode="css"> {{ c.get('modules/FCom_Frontend/add_css_style') }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "Area Settings"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Frontend-group1">
            <div class="panel-body">
                <div class="form-group ip-mode" id="setting-ip-mode-fcom-frontend">
                    <label class="col-md-2 control-label">{{ "IP: Mode"|_ }}</label>
                    <div class="col-md-8 row group-ip-mode" style="margin-bottom: 15px" >
                        <div class="col-md-3 text-right">
                            <label class="control-label">{{ "Default"|_ }}</label>
                            <input type="hidden" value="*" class="text-ip-mode" name="config[mode_by_ip][FCom_Frontend]"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control select-mode" >
                                <option value="PRODUCTION">{{ "PRODUCTION"|_ }}</option>
                                <option value="DEBUG">{{ "DEBUG"|_ }}</option>
                                <option value="STAGING">{{ "STAGING"|_ }}</option>
                                <option value="DEVELOPMENT">{{ "DEVELOPMENT"|_ }}</option>
                                <option value="MIGRATION">{{ "MIGRATION"|_ }}</option>
                                <option value="MIGRATION">{{ "MIGRATION"|_ }}</option>
                                <option value="INSTALLATION">{{ "INSTALLATION"|_ }}</option>
                                <option value="RECOVERY">{{ "RECOVERY"|_ }}</option>
                                <option value="DISABLED">{{ "DISABLED"|_ }}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-xs add-ip-mode" style="margin-top: 5px;" type="button">
                                <i class="icon-plus"></i>
                            </button>
                        </div>
                    </div>
                    {#<div class="col-md-5">#}
                        {##}
                        {#<textarea class="form-control" name="config[mode_by_ip][FCom_Frontend]" rows="5">{{ c.get('mode_by_ip/FCom_Frontend') }}</textarea>#}
                    {#</div>#}
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Modules to run in RECOVERY mode"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[recovery_modules][FCom_Frontend]" value="{{ c.get('recovery_modules/FCom_Frontend') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script  type="text/javascript">
    require(['backbone', 'jquery', 'fcom.ipmode','select2'], function(Backbone, $, ipMode) {
        var mode = '{{ mode }}';
        mode = mode.split('|');
        var select = $('#setting-ip-mode-fcom-frontend').find('select').select2();
        mode.forEach(function (obj) {
            var tmp = obj.split(':');
            if (tmp[0] == '*') {
                select.select2('val', tmp[1]);
            } else {
                var ip = new ipMode.Views();
                $('#setting-ip-mode-fcom-frontend').append(ip.render(tmp[1]).el);
                ip.$el.find('.text-ip-mode').val(tmp[0]);
            }
        });

    })
</script>