<!--{ label: Feedback Tool }-->
<!--{ group: other }-->
<!--{ pos: 100 }-->

{% set c = THIS.get('model') %}
{% set fieldData = { model: c, settings_module:'Sellvana_Feedback' } %}
{% import THIS.view('core/form-elements').twigName() as forms %}
<h2>{{ "Feedback Tool"|_}}</h2>
{{ forms.accordion_start({id:'settings-Sellvana_Feedback'}) }}
     {{ forms.accordion_panel_start({label:'General Settings'|_, id:'settings-Sellvana_Feedback-group0', in:1}) }}
        {{ forms.boolean(fieldData, {field:'enable_FCom_Admin', label:'Enable for Admin'|_ }) }}
        {{ forms.boolean(fieldData, {field:'enable_FCom_Frontend', label:'Enable for Frontend'|_ }) }}
        {{ forms.boolean(fieldData, {field:'send_mod_versions', label:'Send enabled modules versions'|_ }) }}
     {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}
