{% set c = THIS.get('model') %}

<h2>{{ "CMS Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_Cms">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'CMS Frontend Configuration'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_Cms-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Enable CMS Pages'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[modules][FCom_Cms][page_enable]" value="0"/>
                        <input class="switch-cbx" name="config[modules][FCom_Cms][page_enable]" {% if c.get('modules/FCom_Cms/page_enable') == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'CMS Page URL Prefix'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Cms][page_url_prefix]" value="{{ c.get('modules/FCom_Cms/page_url_prefix') }}" />
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Enable CMS Nav'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[modules][FCom_Cms][nav_enable]" value="0"/>
                        <input class="switch-cbx" name="config[modules][FCom_Cms][nav_enable]" {% if c.get('modules/FCom_Cms/nav_enable') == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'CMS Nav URL Prefix'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Cms][nav_url_prefix]" value="{{ c.get('modules/FCom_Cms/nav_url_prefix') }}" />
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
