{% set c = THIS.get('model') %}
{% set fieldData = { model: c, id_prefix:'FCom_Cms', name_prefix:'config[modules][FCom_Cms]' } %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
<h2>{{ "CMS Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-FCom_Cms'}) }}
     {{ forms.accordion_panel_start({label:'CMS Frontend Configuration'|_, id:'settings-FCom_Cms-group0', in:1}) }}
        <div class="form-group">
            <label class="col-md-2 control-label">{{ 'Enable CMS Pages'|_ }}</label>
            <div class="col-md-5">
                <input type="hidden" name="config[modules][FCom_Cms][page_enable]" value="0"/>
                <input class="switch-cbx" name="config[modules][FCom_Cms][page_enable]" {% if c.get('modules/FCom_Cms/page_enable') == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
            </div>
        </div>
        {{ forms.input(fieldData|merge({field:'page_url_prefix', label:'CMS Page URL Prefix'|_, value:c.get('modules/FCom_Cms/page_url_prefix')})) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}

