{% set c = THIS.get('model') %}
{% set fieldData = { model: c, settings_module:'FCom_Cms' } %}
{% import THIS.view('core/form-elements').twigName() as forms %}
<h2>{{ "CMS Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-FCom_Cms'}) }}
     {{ forms.accordion_panel_start({label:'CMS Frontend Configuration'|_, id:'settings-FCom_Cms-group0', in:1}) }}
        {{ forms.boolean(fieldData, {field:'page_enable', label:'Enable CMS Pages'|_ }) }}
        {{ forms.input(fieldData, {field:'page_url_prefix', label:'CMS Page URL Prefix'|_ }) }}
        {{ forms.input(fieldData, {field:'index_page', label:'Homepage CMS Page Handle (optional)'|_ }) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}

