{% set c = THIS.get('model') %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
{% set fieldData = { model: c, id_prefix:'FCom_Email', name_prefix:'config[modules][FCom_Email]' } %}
<h2>{{ "Email Settings"|_}}</h2>

{{ forms.accordion_start({id:'settings-FCom_Email'}) }}
     {{ forms.accordion_panel_start({label:'Email Sending'|_, id:'settings-FCom_Email-group0', in:1}) }}
        {{ forms.input(fieldData|merge({field:'smtp_host', label:'SMTP Host'|_, value:c.get('modules/FCom_Email/smtp_host')})) }}
        {{ forms.input(fieldData|merge({field:'sendmail_from', label:'Sendmail From'|_, value:c.get('modules/FCom_Email/sendmail_from')})) }}
        {{ forms.select(fieldData|merge({field:'default_handler', label:'Default Handler'|_, options: UTIL.arrayToOptions(APP.instance('BEmail').getHandlers(), 'description'), value: c.get('modules/FCom_Email/default_handler')})) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}

