{% set c = THIS.get('model') %}
{% set services = APP.instance('FCom_ShippingUps_ShippingMethod').getServices() %}

<h2>{{ "ShippingUPS Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_ShippingUps">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'UPS API'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_ShippingUps-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Access Key'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_ShippingUps][access_key]" value="{{ c.get('modules/FCom_ShippingUps/access_key') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'UPS Account'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_ShippingUps][account]" value="{{ c.get('modules/FCom_ShippingUps/account') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Password'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_ShippingUps][password]" value="{{ c.get('modules/FCom_ShippingUps/password') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Rate API URL'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_ShippingUps][rate_api_url]" value="{{ c.get('modules/FCom_ShippingUps/rate_api_url') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Shipping services'|_ }}</label>
                    <div class="col-md-5">
                        {% for sId, sName in services %}
                            <div class="switch-checkbox">
                                <input type="hidden" name="config[modules][FCom_ShippingUps][services][s{{ sId }}]" value="0" />
                                <input class="switch-cbx" type="checkbox" name="config[modules][FCom_ShippingUps][services][s{{ sId }}]" id="FCom_ShippingUPS-service-{{ sId }}" {% if c.get('modules/FCom_ShippingUps/services/s'~sId) == 1 %}checked="checked"{% endif %} value="1" />
                                {{ sName }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
