{% set customer = APP.instance('FCom_Customer_Model_Customer').sessionUser() %}
{% set isLoggedIn = customer.isLoggedIn() %}

<li class="dropdown">
{% if isLoggedIn %}
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-user"></span>
    <span class="f-header-util-links-label"><img src="{{ UTIL.gravatar(customer.get('email'), {s:20}) }}" width="20" height="20"> {{ 'My Account'|_ }} <b class="caret"></b></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{{ APP.href('customer/myaccount') }}">{{ 'Account Info'|_ }}</a></li>
    <li><a href="{{ APP.href('customer/order') }}">{{ 'Order Status'|_ }}</a></li>
    <li><a href="{{ APP.href('wishlist') }}">{{ 'Wishlist'|_ }}</a></li>
    <li class="divider"></li>
    <li><a href="{{ APP.href('logout') }}">{{ 'Log Out'|_ }}</a></li>
  </ul>
{% else %}
  <a href="{{ APP.href('login') }}">
    <span class="glyphicon glyphicon-user"></span>
    <span class="f-header-util-links-label">Log In</span>
  </a>
{% endif %}
</li>
