<div class="portal-login-box-container portal-register-box-container">
    <div class="portal-login-box">
        <header class="portal-login-header">
            <strong class="logo">{{"Fulleron"|_}}</strong>
        </header>
        {{ THIS.messagesHtml() | raw }}
        <!--<div class="msg success-msg">Something went wrong</div>-->
        <form action="{{ APP.href('customer/register') }}" method="post" id="register-form">
            <fieldset>
              <div class="row-fluid">
                <div class="control-group span6">
                  <label for="register-firstname" class="control-label required">{{ "First Name" | _ }}</label>
                  <div class="controls">
                    <input type="text" name="model[firstname]" class="required" id="register-firstname"/>
                  </div>
                </div>
                <div class="control-group span6">
                  <label for="register-lastname" class="control-label required">{{ "Last Name" | _ }}</label>
                  <div class="controls">
                    <input type="text" name="model[lastname]" class="required" id="register-lastname"/>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label for="register-street1" class="control-label required">{{ "Address" | _ }}</label>
                <div class="controls">
                  <input type="text" name="address[street1]" class="required" id="register-street1"/>
                </div>
              </div>
              <div class="row-fluid">
                <div class="control-group span6">
                  <label for="register-email" class="control-label required">{{ "Email" | _ }}</label>
                  <div class="controls">
                    <input type="email" name="model[email]" class="required" id="register-email"/>
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="control-group span6">
                  <label for="model-password" class="control-label required">{{ "Password" | _ }}</label>
                  <div class="controls">
                    <input type="password" name="model[password]" class="required" id="model-password"/>
                  </div>
                </div>
                <div class="control-group span6">
                  <label for="register-password_confirm" class="control-label required">{{ "Confirm Password" | _ }}</label>
                  <div class="controls">
                    <input type="password" name="model[password_confirm]" class="required" equalto="#model-password" id="register-password_confirm"/>
                  </div>
                </div>
              </div>
              <div class="btn-group">
                <span class="required-notice">* {{ "Indicates Required Fields" | _ }}</span>
                  <input type="submit" class="btn btn-primary" value="{{ "Register" | _ }}"/>
              </div>
            </fieldset>
        </form>
    </div>
</div>
<script>
require(['jquery', 'jquery.validate'], function($) {
    $(function() {
        $('#register-form').validate();
    })
})
</script>
