<!--{ label: {{ 'SKU Information'|_ }} }-->
<!--{ position: 10 }-->

{% set m = THIS.get('model') %}
{% set validator = THIS.get('validator') %}
{% set fieldData = { validator:validator } %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<fieldset name="main-product">
    <div class="f-section">
        <h4>{{ "Inventory & Shipping"|_ }}</h4>
        <hr>
        {{ forms.boolean(fieldData,  { field: 'manage_inventory', label: 'Manage Inventory'|_ }) }}
        {{ forms.input(fieldData,    { field: 'inventory_sku', label: 'Inventory SKU'|_, required:1 }) }}

        {{ forms.input(fieldData,    { field: 'qty_in_stock', label: 'Qty In Stock'|_, type: 'number' }) }}
        {{ forms.input(fieldData,    { field: 'unit_cost', label: 'Inventory Unit Cost'|_ }) }}
        {{ forms.boolean(fieldData,  { field: 'allow_backorder', label: 'Allow Backorders'|_ }) }}
        <hr>
        {{ forms.input(fieldData,    { field: 'qty_warn_customer', label: 'Minimal Qty to warn customer on frontend'|_, type: 'number'}) }}
        {{ forms.input(fieldData,    { field: 'qty_notify_admin', label: 'Minimal Qty to notify admin'|_, type: 'number' }) }}
        {{ forms.input(fieldData,    { field: 'qty_cart_min', label: 'Minimal Qty in Cart'|_, type: 'number' }) }}
        {{ forms.input(fieldData,    { field: 'qty_cart_inc', label: 'Qty in Cart Increment'|_, type: 'number' }) }}
        {{ forms.input(fieldData,    { field: 'qty_buffer', label: 'Buffer Qty In Stock'|_, type: 'number' }) }}
        <hr>
        {{ forms.boolean(fieldData,  { field: 'pack_separate', label: 'Pack Separately for Shipment'|_}) }}
        {{ forms.input(fieldData,    { field: 'net_weight', label: 'Net Weight'|_ }) }}
        {{ forms.input(fieldData,    { field: 'shipping_weight', label: 'Shipping Weight'|_ }) }}
        {{ forms.input(fieldData,    { field: 'shipping_size', label: 'Shipping Size (WxDxH)'|_ }) }}
    </div>
</fieldset>