{% set token = SESSION.csrfToken() %}
{% set cartItem = THIS.get('item') %}
{% if not item.get('auto_added') %}
    {% set itemPromos = APP.instance('Sellvana_Promo_Model_PromoCartItem').getItemRelatedPromos(item) %}

    {% if itemPromos %}
        {% for pci in itemPromos %}
            {% set item = pci.getData('free_items') %}
            {% if item and not pci.getData('all_added') %}
                <tr><td colspan="6">

                    {{ pci.get('customer_label') }}: {{ pci.get('customer_details') }}
                    {% if pci.get('coupon_code') %}
                        (Coupon: {{ pci.get('coupon_code') }})
                    {% endif %}

                    {% if item.sku|length > 1 %}
                        <a href="{{ UTIL.setUrlQuery(APP.href('promo/cart/add_free_item'), {
                            promo:pci.get('promo_id'), token:token, parent:cartItem.id(), all:1
                        }) }}">
                            [{{ 'Add All Products'|_ }}]
                        </a>
                    {% endif %}
                    <br>
                    {% for sku, p in pci.products %}
                        {% if not item.already_added[sku] %}
                            <a href="{{ p.url() }}">
                                <img src="{{ p.thumbUrl(30, 30) }}" width="30" height="30" alt="{{ p.get('product_name') }}"/>
                                {{ p.get('product_name') }}
                            </a>
                            <a href="{{ UTIL.setUrlQuery(APP.href('promo/cart/add_free_item'), {
                                promo:pci.get('promo_id'), sku:sku, parent:cartItem.id(), token:token
                            }) }}">
                                [{{ 'Add'|_ }}]
                            </a>
                        {% endif %}
                    {% endfor %}
                </td></tr>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}