{% set sites = APP.instance('Sellvana_MultiSite_Model_Site').siteOptions() %}
{% if sites %}
    <div id="multisite" style="display: inline-block">
        {{ THIS.view('core/multisite-griddle').set('config', {
            siteContainer: 'multisite',
            sites: sites,
            defaultSite: REQUEST.get('site')|default('')
        }) | raw }}
    </div>

    <script type="text/javascript">
        window.onMultiSiteChange = function (e, selection) {
            var site = selection.id;
            location.href = '{{ APP.href('settings') }}' + (site ? '?site=' + site : '');
        }
    </script>

    {#<select id="multisite-selector">
        <option value="">{{ 'Default configuration'|_ }}</option>
        {{ UTIL.optionsHtml(sites, REQUEST.get('site')) | raw }}
    </select>
    <script>
        require(['jquery'], function($) {
            $('#multisite-selector').change(function(ev) {
                var site = $(ev.target).val();
                location.href = '{{ APP.href('settings') }}' + (site ? '?site=' + site : '');
            })
        })
    </script>#}
{% endif %}