{% set m = THIS.get('model') %}
{% set promo = APP.instance('FCom_Promo_Model_Promo') %}
{% set locale = APP.instance('BLocale') %}
{% set validator = THIS.get('validator') %}
{% if APP.m('FCom_CustomerGroups').run_status == 'LOADED' %}
    {% set customerGroups = APP.instance('FCom_CustomerGroups_Model_Group').groupsOptions() %}
{% endif %}
{% if APP.m('FCom_MultiSite').run_status == 'LOADED' %}
    {% set sites = APP.instance('FCom_MultiSite_Model_Site').siteOptions() %}
{% endif %}

<fieldset class="adm-section-group">
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-description">{{ 'Description'|_ }}</label>
        <div class="col-md-5">
            <input class="form-control required" id="model-description " type="text" name="model[description]" value="{{ validator.fieldValue('description') }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-coupon">{{ 'Coupon code'|_ }}</label>

        <div class="col-md-5">
            <input class="form-control" id="model-coupon" type="text" name="model[coupon]"
                   value="{{ validator.fieldValue('coupon') }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-status">{{ 'Status'|_ }}</label>

        <div class="col-md-5">
            <select class="form-control" name="model[status]">
                {{ UTIL.optionsHtml(promo.fieldOptions('status'), validator.fieldValue('status'))|raw }}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-from_date">{{ 'Date Range'|_ }}</label>
        <div class="col-md-5">
            {{ 'Start:'|_ }}
            <div>
                <div class='datepicker input-group' id='model-from_date'>
                    <input class='form-control' id="model-from_date" data-format='mm/dd/yy' name="model[from_date]"
                           type='text' value="{{ locale.datetimeDbToLocal(validator.fieldValue('from_date'))|raw }}"/>
                    <span class='input-group-addon'>
                        <span data-date-icon='icon-calendar' data-time-icon='icon-time'></span>
                    </span>
                </div>
            </div>
            <br />
            {{ ' End:'|_ }}
            <div>
                <div class='datepicker input-group' id='model-from_date'>
                    <input class='form-control' id="model-to_date" data-format='mm/dd/yy' name="model[to_date]"
                           type='text' value="{{ locale.datetimeDbToLocal(validator.fieldValue('to_date'))|raw }}"/>
                    <span class='input-group-addon'>
                        <span data-date-icon='icon-calendar' data-time-icon='icon-time'></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-from_date">{{ 'Promotion Structure'|_ }}</label>
        <div class="col-md-5">
            {{ 'BUY'|_ }}
            <select class="form-control" name="model[buy_type]">{{ UTIL.optionsHtml(promo.fieldOptions('buy_type'), validator.fieldValue('buy_type'))|raw }}</select>
            <br />
            {{ 'FROM'|_ }}
            <select class="form-control" name="model[buy_group]">{{ UTIL.optionsHtml(promo.fieldOptions('buy_group'), validator.fieldValue('buy_group'))|raw }}</select>
            <br />
            {{ 'GET'|_ }}
            <select class="form-control" name="model[get_type]">{{ UTIL.optionsHtml(promo.fieldOptions('get_type'), validator.fieldValue('get_type'))|raw }}</select>
            <br />
            {{ 'OF'|_ }}
            <select class="form-control" name="model[get_group]">{{ UTIL.optionsHtml(promo.fieldOptions('get_group'), validator.fieldValue('get_group'))|raw }}</select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-details">{{ 'Details'|_ }}</label>
        <div class="col-md-5">
            <textarea class="form-control" id="model-details" name="model[details]" rows="5">{{ validator.fieldValue('details')  }}</textarea>
            {% if customerGroups is defined %}
                {{ 'CUSTOMER GROUPS'|_ }}
                <select class="form-control" name="model[customer_groups]" multiple
                        size="4">{{ UTIL.optionsHtml(customerGroups, validator.fieldValue('customer_groups'))|raw }}</select>
                <br/>
            {% endif %}
            {% if sites is defined %}
                {{ 'Sites'|_ }}
                <select class="form-control" name="model[sites]" multiple
                        size="4">{{ UTIL.optionsHtml( sites, validator.fieldValue('sites') )|raw }}</select>
                <br/>
            {% endif %}
        </div>
    </div>

</fieldset>
<script>
    require(['jquery', 'bootstrap', 'datetimepicker', 'fcom.admin.form'], function($) {
        $(function() {
            //adminForm.wysiwygCreate('model-details');
            //$('#model-from_date,#model-to_date').datepicker();
        })
    })
</script>
