{% set m = THIS.model %}
{% set promo = APP.instance('FCom_Promo_Model_Promo') %}
{% set locale = APP.instance('BLocale') %}

<fieldset class="adm-section-group">
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-description">{{ 'Description'|_ }}</label>
        <div class="col-md-5">
            <input class="form-control"id="model-description"  type="text" name="model[description]" value="{{ THIS.q(m.get('description')) }}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-from_date">{{ 'Date Range'|_ }}</label>
        <div class="col-md-5">
            {{ 'Start:'|_ }}
            <input type="text" id="model-from_date" name="model[from_date]" value="{{ locale.datetimeDbToLocal(m.get('from_date'))|raw }}" class="datepicker"/>
            {{ ' End:'|_ }}
            <input type="text" id="model-to_date" name="model[to_date]" value="{{ locale.datetimeDbToLocal(m.get('to_date'))|raw }}" class="datepicker"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-from_date">{{ 'Promotion Structure'|_ }}</label>
        <div class="col-md-5">
            <table class="adm-form-subtable">
                <tr>
                    <td>{{ 'BUY'|_ }}</td>
                    <td><select name="model[buy_type]">{{ UTIL.optionsHtml(promo.fieldOptions('buy_type'), m.get('buy_type'))|raw }}</select></td>
                    <td>{{ 'FROM'|_ }}</td>
                    <td><select name="model[buy_group]">{{ UTIL.optionsHtml(promo.fieldOptions('buy_group'), m.get('buy_group'))|raw }}</select></td>
                    <td>{{ 'GET'|_ }}</td>
                    <td><select name="model[get_type]">{{ UTIL.optionsHtml(promo.fieldOptions('get_type'), m.get('get_type'))|raw }}</select></td>
                    <td>{{ 'OF'|_ }}</td>
                    <td><select name="model[get_group]">{{ UTIL.optionsHtml(promo.fieldOptions('get_group'), m.get('get_group'))|raw }}</select></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-details">{{ 'Details'|_ }}</label>
        <div class="col-md-5">
            <textarea class="form-control" id="model-details" name="model[details]">{{ THIS.q(m.get('details'))  }}</textarea>
        </div>
    </div>

</fieldset>
<script>
    require(['jquery', 'jquery-ui', 'fcom.admin.form'], function($) {
        $(function() {
            //adminForm.wysiwygCreate('model-details');
            $('#model-from_date,#model-to_date').datepicker();
        })
    })
</script>
