{% set m = THIS.get('model') %}
{% set promoCtrl = APP.instance('FCom_Promo_Admin_Controller') %}
{% set getType = m.get('get_type') %}

<fieldset id="details-layout">
    <div class="ui-layout-west">
        <input type="hidden" name="_del_group_ids" value=""/>
        <div class="form-group">
            <div class="col-md-10">
                {{ "BUY"|_ }}
                <input type="text" name="model[buy_amount]" value="{{ m.get('buy_amount') }}" style="width:50px"/>
                {{ m.get('buy_type') ? m.fieldOptions('buy_type', m.get('buy_type')) : '' }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                {% for g in m.groups() %}
                    {% if g.get('group_type') == 'buy' %}
                        {{ THIS.view('promo/group').set({ 'm': m, 'g': g, 'p': promoCtrl }) | raw }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if m.get('buy_group') != 'one' %}
            <div class="form-group">
                <div class="col-md-10">
                    <button type="button" class="st1 sz2 btn btn-primary" id="add-group-buy">{{ "Add BUY Group"|_ }}</button>
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <div class="col-md-10">
                {{ "GET"|_ }}
                {% if m.get('get_type') != 'free' %}
                <input type="text" name="model[get_amount]" value="{{ m.get('get_amount') }}" style="width:50px"/>
                {% endif %}
                {{ m.get('get_type') ? m.fieldOptions('get_type', m.get('get_type')) }}
            </div>
        </div>

        {% if m.get('get_group') == 'diff_group' %}
            <div class="form-group">
                <div class="col-md-10">
                    {% for g in m.groups() %}
                        {% if g.get('group_type') == 'get' %}
                            {{ THIS.view('promo/group').set({ 'm': m, 'g': g, 'p': promoCtrl }) | raw }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <button type="button" class="st1 sz2 btn btn-primary" id="add-group-get">{{ "Add GET Group"|_ }}</button>
                </div>
            </div>
        {% endif %}
    </div>
    <a role="button" href="#promo-grid-modal" data-toggle="modal" style='display:none;'
       id="btn-fieldset-grid-modal">{{ "Add"|_ }}</a>

    <div class="modal fade" id="promo-grid-modal" tabindex="-1">
        <div class="modal-dialog" style="width:900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                    <h4 class="modal-title" id="myModalLabel">{{ "Add products" | _ }}</h4>
                </div>
                <div class="modal-body">
                    {{ THIS.view("core/backbonegrid").set("grid", APP.instance("FCom_Catalog_Admin_Controller_Products").productLibraryGridConfig("productLibrary")) | raw }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-close promo-prod-modal-close" data-dismiss="modal" type="button">{{ "Close"|_ }}</button>
                </div>
            </div>
        </div>
    </div>
    {#
    <div class="ui-layout-center">
        <div class="form-group">
            <div class="col-md-12">
                {{ THIS.view('core/backbonegrid').set('grid', APP.instance('FCom_Catalog_Admin_Controller_Products').productLibraryGridConfig('c')) | raw }}
            </div>
        </div>
    </div>
    #}
</fieldset>

{#

<script>
    require(["jquery", "fcom.admin"], function($) {
        $(function() {
            /*var layout = $('#details-layout').height($('.adm-wrapper').height()).layout({
                useStateCookie: true,
                west__minWidth: 400,
                west__spacing_open: 20,
                west__closable: false,
                triggerEventsOnLoad: true,
                onresize: function (pane, $Pane, paneState)
                {
                    $('.ui-jqgrid-btable:visible', $Pane).each(function (index)
                    {
                        $(this).setGridWidth(paneState.innerWidth - 20);
                    });
                }
            });*/
            $(window).resize(function(ev) { $("#details-layout").height($(".adm-wrapper").height()); });

            $("#details-layout .ui-layout-west .ui-jqgrid-btable").each(function(idx, el) {
                new FCom.Admin.TargetGrid({source:'#productLibrary', target:el});
            });

            (function() {
                var newId = 0, baseUrl = '{{ APP.href('promo/form/' ~ m.get('id') ~ '/group') }}';
                function addGroup(type) {
                    var url = baseUrl+'?type='+type+'&group_id='+(--newId);
                    $.get(url, function(data, status, xhr) {
                        $('#group-container-'+type).append(data);
                        layout.resizeAll();
                    });
                    return false;
                }
                $('#add-group-buy').click(function(ev) { return addGroup('buy'); });
                $('#add-group-get').click(function(ev) { return addGroup('get'); });
            })();

            function removeGroup(el) {
                var grid = $(el).parents('.ui-jqgrid');
                var gId = $('.ui-jqgrid-title input[name=_group_id]', grid).val();
                var deleteIds = $('input[name=_del_group_ids]');
                if (gId>0) deleteIds.val(deleteIds.val()+','+gId);
                grid.remove();
            }
        })
    })
</script>
#}
