
<div class="f-admin-main-view">
  <div class="page-header f-admin-page-header">
    <h1 class="f-page-title">{{ 'Install Module' }}</h1>
  </div>
  <div class="f-admin-main">
      {{ THIS.view('core/messages') | raw }}
      <div class="panel">
        <div class="panel-body">

<form method="post">
    {% for modName, modInfo in THIS.get('install') %}
        <div class="row">
            {{ modName }}:
            <select name="install[{{ modName }}][version]">
                {% for cn, c in modInfo.channels %}
                    <option value="{{ cn }}">{{ c.name ~ ': ' ~ c.version ~ ' (' ~ c.published_at ~ ')' }}</option>
                {% endfor %}
            </select>
            <label>{{ 'Auto-enable:'|_ }} <input type="checkbox" name="install[{{ modName }}][enable]" value="1"/></label>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">{{ 'Install'|_ }}</button>
</form>
        </div>
      </div>
    </div>
</div>
