
<div class="f-admin-main-view">
  <div class="page-header f-admin-page-header">
    <h1 class="f-page-title">Publish</h1>
  </div>
  <div class="f-admin-main">
      <div class="panel">
        <div class="panel-body">
          <form method="post" action="{{ APP.href('marketclient/publish/module') }}">
            <ul class="list-group">
  {% for modName, mod in THIS.get('modules') %}
              <li class="list-group-item">
              {% if mod.status == 'available' %}
                  <button type="submit" name="mod_name" value="{{ modName }}" class="btn btn-primary btn-small" onclick="return confirm('{{ 'Are you sure you want to publish %s ?'|_(modName) }}')">
                      {{ 'Publish'|_ }}
                  </button>
              {% endif %}
              {{ modName }}
              </li>
  {% endfor %}
            </ul>
          </form>
          </div>
      </div>
    </div>
  </div>
</div>
