{% set config = THIS.get('config') %}
{% set mediaLib =  APP.instance('FCom_Admin_Controller_MediaLibrary') %}
{% set uploadConfig = mediaLib.uploadConfig(config.type) %}
{% set mediaLibAttachConfig = mediaLib.gridConfig({'id': config.id, 'folder': uploadConfig.folder, 'config': config.config, 'mode': config.mode}) %}
{#{{ dump(uploadConfig) }}#}
{% if config.title %}
<div class='modal fade' id='{{config.id}}_modal' tabindex='-1'>
    <div class='modal-dialog' style='width:900px;'>
        <div class='modal-content'>

            <div class='modal-header'>
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                <h4 class="modal-title" id="myLangLabel">{{ config.title}} </h4>
            </div>

{% endif %}
            <div class='modal-body'>
                <div class='row'>
                    <div class='tabbable'>
                        <ul class='nav nav-tabs prod-type f-horiz-nav-tabs'>
                            <li class='active'>
                                <a data-toggle='tab' href='#{{config.id}}-attach_library'>
                                    {{ 'Library'|_ }}
                                </a>
                            </li>
                            {% if uploadConfig.can_upload %}
                            <li>
                                <a data-toggle='tab' href='#{{config.id}}-media-upload'>
                                    {{ 'Upload'|_ }}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <div class='tab-content'>
                            <div class='tab-pane active' id='{{config.id}}-attach_library'>
                                {{ THIS.view('core/backbonegrid').set('grid', mediaLibAttachConfig) | raw }}
                            </div>
                            {% if uploadConfig.can_upload %}
                                {{ THIS.view('core/medialib/upload').set({'config': config, 'uploadConfig': uploadConfig})|raw }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
{% if config.title %}
            <div class='modal-footer'>
                <button class='btn btn-primary btn-add btn_{{config.id}}_add disabled' data-dismiss='modal' type='button'>{{ "Add"|_ }}</button>
                <button class='btn btn-default btn-close btn_{{config.id}}_close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script type="text/javascript">
    require(['jquery'], function ($) {
        var mediaGrid = window['{{ config.id }}_grid'];
        $('#{{ config.id }}').on('click', '.btn-rescan-media', function () {
            $.post('{{ APP.href("media/grid/rescan?folder=") | raw }}{{ config.folder | raw}}&&type={{ config.type }}', {do: 'rescan'}, function (response) {
                if (response.status == 'success') {
                    $.bootstrapGrowl("Rescan success", {type: 'success', align: 'center', width: 'auto'});
                    mediaGrid.getRows().fetch();
                } else {
                    $.bootstrapGrowl("Error:<br>" + response.message, {
                        type: 'danger',
                        align: 'center',
                        width: 'auto',
                        delay: 5000
                    });
                }
            });
        });
    })
</script>
