{% for msg in THIS.getMessages() %}
    <div class="alert alert-dismissable alert-{{ msg.class }}">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        {% if msg.title %}
            <h4><i class="icon-{{ msg.icon }}-sign"></i> {{ msg.title }}</h4>
        {% else %}
            <i class="icon-{{ msg.icon }}-sign"></i>
        {% endif %}
        {% if msg.msgs %}
            {% for m in msg.msgs %}
                {{ m }}<br>
            {% endfor %}
        {% else %}
            {{ msg.msg }}
        {% endif %}
    </div>
{% endfor %}
