<script>
    require(['jquery', 'react', 'bootstrap-ladda', 'jquery.validate', 'unique', 'bootstrap-ladda-spin'], function($, React, Ladda) {
        $(document).on('click', '.btn-progress', function (e) {
            var that = this,
                    url = '{{ APP.href('/catalogindex/reindex?CLEAR=1') }}',
                    progressUrl = '{{ APP.href('/catalogindex/progress') }}',
                    $progressBar = $('<div class="progress progress-striped active" style="margin-bottom: 0; width: 100%;"><div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%"></div></div>'),
                    $localNoti = $('#header-notifications-local').show(),
                    $localNotiDropdown = $localNoti.find('.dropdown-menu').html('');

            var loader = Ladda.create(this);

            $localNoti.find('#header-notifications-local-count').html('1');
            $localNoti.find('i.icon-bell').css('color', 'red');

            loader.start();
            this.querySelector('.ladda-label').innerHTML = "{{ 'Indexing'|_ }}";

            var $msgBoard = $('<span/>');

            $progressBar.children('#progress-bar').append($msgBoard);
            $localNotiDropdown
                    .append('<li class="task" style="padding: 10px;"><h4>{{ 'Running Tasks'|_ }}:</h4><span>{{ 'Reindexing'|_ }}:</span></li>')
                    .children('li.task')
                    .append($progressBar[0]);

            function channel_index_progress() {
                $.get(progressUrl, function (msg) {
                    if (msg.total && msg.reindexed != undefined && msg.total != 0) {
                        var reindexed = parseInt(msg.reindexed);
                        var total = parseInt(msg.total);
                        var percentComplete = (reindexed * 100 / total);
                        $progressBar.find('#progress-bar').css('width', percentComplete + '%');
                        $msgBoard.text(reindexed + ' / ' + total);
                    }
                });
            }

            var updateInterval = setInterval(channel_index_progress, 3000);

            $.ajax({
                type: 'POST',
                url: url,
                data: {CLEAR: 1},
                complete: function (data) {
                    clearInterval(updateInterval);
                    $progressBar.find('#progress-bar').css('width', '100%');
                    $msgBoard.html('{{ "Reindexing completed."|_ }}');
                }
            }).always(function () {
                $localNoti.find('.dropdown-toggle').dropdown('toggle');
                $localNoti.find('#header-notifications-local-count').html('0');
                $localNoti.find('i.icon-bell').css('color', '');
                loader.stop();
                that.querySelector('.ladda-label').innerHTML = "{{ 'Force Reindex'|_ }}";
            });
        });
    });
</script>