{% set fieldSetsCtrl = APP.instance('FCom_CustomField_Admin_Controller_FieldSets') %}

<script>
require(['jquery', 'underscore', 'backbone', 'jquery.validate'], function($, _, Backbone) {
    var fieldsGrid, optionsGrid, selectedRow;
    var optionForm = $('#options-form');
    window.optionsGridRegister = function(grid) {
            optionsGrid = grid;
            optionsGrid.build();
    };

    window.fieldsGridRegister = function(grid) {
        fieldsGrid = grid;
        fieldsGrid.getGridSkeleton().Views.RowView.prototype._callbackCustom = function (ev) {

            selectedRow = this.model;

            optionsGrid.getRows().url = '{{ APP.href('customfields/fieldsets/field_option_grid_data?field_id=') | raw }}'
                                                    + selectedRow.get('id');
            optionsGrid.getRows().fetch({
                reset: true,
                success: function () {
                    console.log('success');
                    optionsGrid.getGridView().render();
                    $('#btn-field-grid-modal').trigger('click');
                    $('#options-form').validate();
                }
            });

            $('#field-modal-header').html(selectedRow.get('field_name'));
        }

        fieldsGrid.getGridSkeleton().Views.RowView.prototype.afterRender = function() {
            var inputType = this.model.get('admin_input_type');
            console.log(inputType);
            if (inputType !== 'select' && inputType !== 'multiselect') {
                this.$el.find('button.btn-custom').remove();
            }
        }

        fieldsGrid.build();
    };

    $('button.field-modal-save').click(function() {
        if (optionForm.valid()) {
            var dataForm = optionForm.serializeArray();
            rows = optionsGrid.getRows().toJSON();
            rows.forEach(function (data, index) {
                data.label =  dataForm[index]['value'];
            });

            $.post('{{ APP.href('customfields/fieldsets/field_option_grid_data') | raw }}',
                    {
                        field_id: selectedRow.get('id'),
                        rows: rows
                    },
                    function (data) {
                                        selectedRow.set('num_options', rows.length);
                                        selectedRow.trigger('render');
                                        $('button.field-modal-close').trigger('click');
                                    }
            );


        }
    });
});

</script>

<div class="f-admin-main-view">
  <div class="page-header f-admin-page-header">
      <h1 class="f-page-title">
          {#<i class="icon-file"></i>#}
          <span>{{ "Fields" |_ }}</span>
      </h1>
      {#<div class="page-header">#}
          {##}
      {#</div>#}
      <div class="btn-group">
          <button id="add_new_field" class="btn grid-new btn-primary _modal" type="button"><span>{{ "Add a field" |_ }}</span></button>
      </div>
  </div>

  <div class="f-admin-main">
      {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.fieldsGridConfig())| raw }}
  </div>
</div>

<div class='modal fade' id='field-grid-modal' tabindex='-1'>
    <div class='modal-dialog' style='width:600px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='field-modal-header'> {{ "Options" |_ }}</h4>
            </div>
            <div class='modal-body'>
                <form action="#" id="options-form">
                    <div class='row'>
                        <div class='col-sm-12'>
                            {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.optionsGridConfig()) | raw }}
                        </div>
                    </div>
                </form>
            </div>
             <div class='modal-footer'>
                <button class='btn btn-primary field-modal-save' type='button'>{{ "Save"|_ }}</button>
                <button class='btn btn-default btn-close field-modal-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
            </div>
        </div>
    </div>
</div>
<a role="button" href="#field-grid-modal" data-toggle="modal" style='display:none;' id='btn-field-grid-modal'>hidden</a>