{% set fieldSetsCtrl = APP.instance('FCom_CustomField_Admin_Controller_FieldSets') %}

<script>
require(['jquery', 'underscore', 'backbone'], function($, _, Backbone) {
    var selFieldSetRow,selFieldRow,originOptionsId=[];
    if (typeof(g_vent) === 'undefined')
        g_vent = _.extend({}, Backbone.Events);

    $('body').removeClass('main-nav-opened');
    $('body').addClass('main-nav-closed');

    g_vent.bind('async_edit', function(ev) {
        console.log(ev);
        if (ev.grid === 'fieldsets') {
            selFieldSetRow = ev.row;
            g_vent.trigger('fetch_rows', {
                                            grid: 'fieldset-modal-selected-grid',
                                            url: '{{ APP.href('customfields/fieldsets/set_field_grid_data?set_id=') | raw }}'+ev.row.id,
                                            callback: function() {
                                                $('a#btn-fieldset-grid-modal').trigger('click');
                                            }
                                        }
            );
        }

        if (ev.grid === 'fields') {
            selFieldRow = ev.row;
            g_vent.trigger('fetch_rows', {
                                            grid: 'options-grid',
                                            url: '{{ APP.href('customfields/fieldsets/field_option_grid_data?field_id=') | raw }}'+ev.row.id,
                                            callback: function() {
                                                $('a#btn-field-grid-modal').trigger('click');
                                                g_vent.trigger('get_rows', function(rows){
                                                    originOptionsId = _.pluck(rows, 'id');
                                                });
                                            }
                                        }
            );
        }
    });

    g_vent.bind('add', function(ev) {
        if (ev.grid === 'fieldset-modal-add-grid') {
            g_vent.trigger('silent_inject', {grid: 'fieldset-modal-selected-grid', rows: ev.rows});
            g_vent.trigger('clear_selection', {grid: 'fieldset-modal-add-grid'});
        }
    });

    $('button.fieldset-modal-save').click(function() {
        g_vent.trigger( 'get_rows',
                       {
                            grid: 'fieldset-modal-selected-grid',
                            callback: function(rows) {
                                $.post('{{ APP.href('customfields/fieldsets/set_field_grid_data') | raw }}',
                                        {
                                            set_id: selFieldSetRow.id,
                                            field_ids: _.pluck(rows, 'id').join(',')
                                        },
                                        function (data) {
                                            selFieldSetRow.num_fields = rows.length;
                                            g_vent.trigger('update_row', {grid: 'fieldsets', row: selFieldSetRow});
                                            $('button.fieldset-modal-close').trigger('click');
                                        }
                                );
                            }
                        }
        );
    });

    $('button.field-modal-save').click(function() {
        g_vent.trigger( 'get_rows',
                       {
                            grid: 'options-grid',
                            callback: function(rows) {
                                $.post('{{ APP.href('customfields/fieldsets/field_option_grid_data') | raw }}',
                                        {
                                            field_id: selFieldRow.id,
                                            rows: rows
                                        },
                                        function (data) {
                                            selFieldRow.num_options = rows.length;
                                            g_vent.trigger('update_row', {grid: 'fields', row: selFieldRow});
                                            $('button.field-modal-close').trigger('click');
                                        }
                                );
                            }
                        }
        );
    });

});

/**
* callback function for checking edit button disablity on fields grid
**/
function afterRowRenderFieldsGrid(el, row)
{
    if(row.admin_input_type === 'select') {
        el.find('a.btn-edit.async_edit:first').removeClass('disabled');
    } else {
        el.find('a.btn-edit.async_edit:first').addClass('disabled');
    }
}
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1 class="pull-left">
                <i class="icon-file"></i>
                <span>{{ "FIeld Sets" |_ }}</span>
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.fieldSetsGridConfig())| raw }}
    </div>
    <div class="col-sm-8">
        {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.fieldsGridConfig())| raw }}
    </div>
</div>

<div class='modal fade' id='field-grid-modal' tabindex='-1'>
    <div class='modal-dialog' style='width:500px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='myModalLabel'>Options</h4>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class='col-sm-12'>
                        {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.optionsGridConfig()) | raw }}
                    </div>
                </div>
            </div>
             <div class='modal-footer'>
                <button class='btn btn-primary field-modal-save' data-dismiss='modal' type='button'>{{ "Save"|_ }}</button>
                <button class='btn btn-default btn-close field-modal-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
            </div>
        </div>
    </div>
</div>

<a role="button" href="#fieldset-grid-modal" data-toggle="modal" style='display:none;' id='btn-fieldset-grid-modal'>{{ "Add"|_ }}</a>
<a role="button" href="#field-grid-modal" data-toggle="modal" style='display:none;' id='btn-field-grid-modal'>hidden</a>


<div class='modal fade' id='fieldset-grid-modal' tabindex='-1'>
    <div class='modal-dialog' style='width:800px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='myModalLabel'>Fields</h4>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class='col-sm-12'>
                    <div class='tabbable'>
                        <ul class='nav nav-tabs prod-type'>
                            <li class='active'>
                                <a data-toggle='tab' href='#selected_fields'>
                                    Linked Fields
                                </a>
                            </li>
                            <li>
                                <a data-toggle='tab' href='#add_fields'>
                                    Select Different Fields
                                </a>
                            </li>
                        </ul>
                        <div class='tab-content'>
                            <div class='tab-pane active' id='selected_fields'>
                                {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.fieldsetModalSelectedGridConfig()) | raw }}
                            </div>
                            <div class='tab-pane' id='add_fields'>
                                {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.fieldsetModalAddGridConfig()) | raw }}
                            </div>
                        </div>
                    </div>
            </div>
             <div class='modal-footer'>
                <button class='btn btn-primary fieldset-modal-save' data-dismiss='modal' type='button'>{{ "Save"|_ }}</button>
                <button class='btn btn-default btn-close fieldset-modal-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
            </div>
        </div>
    </div>
</div>








