{% set fieldSetsCtrl = APP.instance('FCom_CustomField_Admin_Controller_FieldSets') %}

<script>
require(['jquery', 'underscore', 'backbone'], function($, _, Backbone) {
    var selFieldSetRow,selFieldRow,originOptionsId=[];
    if (typeof(g_vent) === 'undefined')
        g_vent = _.extend({}, Backbone.Events);

    g_vent.bind('custom_callback', function (ev) {
        console.log(ev);
        if (ev.grid === 'fieldsets') {
            selFieldSetRow = ev.row;
            g_vent.trigger('fetch_rows', {
                        grid: 'fieldset-modal-selected-grid',
                        url: '{{ APP.href('customfields/fieldsets/set_field_grid_data?set_id=') | raw }}' + ev.row.id,
                        callback: function () {
                            $('a#btn-fieldset-grid-modal').trigger('click');
                        }
                    }
            );
        }
    });

    g_vent.bind('add', function (ev) {
        if (ev.grid === 'fieldset-modal-add-grid') {
            g_vent.trigger('silent_inject', {grid: 'fieldset-modal-selected-grid', rows: ev.rows});
            g_vent.trigger('clear_selection', {grid: 'fieldset-modal-add-grid'});
        }
    });

    $('button.fieldset-modal-save').click(function () {
        g_vent.trigger('get_rows',
                {
                    grid: 'fieldset-modal-selected-grid',
                    callback: function (rows) {
                        $.post('{{ APP.href('customfields/fieldsets/set_field_grid_data') | raw }}',
                                {
                                    set_id: selFieldSetRow.id,
                                    field_ids: _.pluck(rows, 'id').join(',')
                                },
                                function (data) {
                                    selFieldSetRow.num_fields = rows.length;
                                    g_vent.trigger('update_row', {grid: 'fieldsets', row: selFieldSetRow});
                                    $('button.fieldset-modal-close').trigger('click');
                                }
                        );
                    }
                }
        );
    });


});

/**
* callback function for checking edit button disablity on fields grid
**/
</script>

<div class="page-header">
    <h1 class="f-page-title">
        <i class="icon-file"></i>
        {{ "Field Sets" |_ }}
    </h1>
    <div class="btn-group">
        <button id="add_new_field_set" class="btn grid-new btn-primary _modal" type="button"><span>{{ "Add a FieldSet" |_ }}</span></button>
    </div>
</div>
<div class="f-admin-main">
    {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.fieldSetsGridConfig())| raw }}
</div>
<a role="button" href="#fieldset-grid-modal" data-toggle="modal" style='display:none;' id='btn-fieldset-grid-modal'>{{ "Add"|_ }}</a>



<div class='modal fade' id='fieldset-grid-modal' tabindex='-1'>
    <div class='modal-dialog' style='width:800px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='myModalLabel'>Fields</h4>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='tabbable'>
                            <ul class='nav nav-tabs prod-type'>
                                <li class='active'>
                                    <a data-toggle='tab' href='#selected_fields'>
                                        Linked Fields
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle='tab' href='#add_fields'>
                                        Select Different Fields
                                    </a>
                                </li>
                            </ul>
                            <div class='tab-content'>
                                <div class='tab-pane active' id='selected_fields'>
                                    {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.fieldsetModalSelectedGridConfig()) | raw }}
                                </div>
                                <div class='tab-pane' id='add_fields'>
                                    {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.fieldsetModalAddGridConfig()) | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='modal-footer'>
                        <button class='btn btn-primary fieldset-modal-save' data-dismiss='modal' type='button'>{{ "Save"|_ }}</button>
                        <button class='btn btn-default btn-close fieldset-modal-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








