{% set fieldSetsCtrl = APP.instance('FCom_CustomField_Admin_Controller_FieldSets') %}

<script>
require(['jquery', 'underscore', 'backbone', 'jquery.validate'], function($, _, Backbone) {
    var selFieldSetRow,selFieldRow,originOptionsId=[];
    if (typeof(g_vent) === 'undefined')
        g_vent = _.extend({}, Backbone.Events);
    var optionForm = $('#options-form')
    g_vent.bind('custom_callback', function(ev) {
        console.log(ev);
        if (ev.grid === 'fields') {
            selFieldRow = ev.row;
            g_vent.trigger('fetch_rows', {
                                            grid: 'options-grid',
                                            url: '{{ APP.href('customfields/fieldsets/field_option_grid_data?field_id=') | raw }}'+ev.row.id,
                                            callback: function() {
                                                $('a#btn-field-grid-modal').trigger('click');
                                                optionForm.validate();
                                                g_vent.trigger('get_rows', function(rows){
                                                    originOptionsId = _.pluck(rows, 'id');
                                                });
                                            }
                                        }
            );
        }
    });
    $('button.field-modal-save').click(function() {
        if (optionForm.valid()) {
            g_vent.trigger( 'get_rows',
                    {
                        grid: 'options-grid',
                        callback: function(rows) {
                            var dataForm = optionForm.serializeArray();
                            rows.forEach(function (data, index) {
                                data.label =  dataForm[index]['value'];
                            })
                            $.post('{{ APP.href('customfields/fieldsets/field_option_grid_data') | raw }}',
                                    {
                                        field_id: selFieldRow.id,
                                        rows: rows
                                    },
                                    function (data) {
                                        selFieldRow.num_options = rows.length;
                                        g_vent.trigger('update_row', {grid: 'fields', row: selFieldRow});
                                        $('button.field-modal-close').trigger('click');
                                    }
                            );
                        }
                    }
            );
        }
    });
});

/**
* callback function for checking edit button disablity on fields grid
**/
function afterRowRenderFieldsGrid(el, row)
{
    console.log(row);
    if(row.admin_input_type !== 'select' &&  row.admin_input_type !== 'multiselect') {
        el.find('button.btn-custom').remove();
    }
}
</script>

<div class="f-admin-main-view">
  <div class="page-header f-admin-page-header">
      <h1 class="f-page-title">
          {#<i class="icon-file"></i>#}
          <span>{{ "Fields" |_ }}</span>
      </h1>
      {#<div class="page-header">#}
          {##}
      {#</div>#}
      <div class="btn-group">
          <button id="add_new_field" class="btn grid-new btn-primary _modal" type="button"><span>{{ "Add a field" |_ }}</span></button>
      </div>
  </div>
  
  <div class="f-admin-main">
      {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.fieldsGridConfig())| raw }}
  </div>
</div>

<div class='modal fade' id='field-grid-modal' tabindex='-1'>
    <div class='modal-dialog' style='width:600px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='myModalLabel'> {{ "Options" |_ }}</h4>
            </div>
            <div class='modal-body'>
                <form action="#" id="options-form">
                    <div class='row'>
                        <div class='col-sm-12'>
                            {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.optionsGridConfig()) | raw }}
                        </div>
                    </div>
                </form>
            </div>
             <div class='modal-footer'>
                <button class='btn btn-primary field-modal-save' type='button'>{{ "Save"|_ }}</button>
                <button class='btn btn-default btn-close field-modal-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
            </div>
        </div>
    </div>
</div>
<a role="button" href="#field-grid-modal" data-toggle="modal" style='display:none;' id='btn-field-grid-modal'>hidden</a>







