{% set m = THIS.get('model') %}
{% set validator = THIS.get('validator') %}
{% set fieldData = { validator:validator } %}
{% set fieldInput = fieldData|merge({input_div_class: 'col-md-2', label_class: 'text-left col-md-5 ' , attr: 'data-rule-number="true"'}) %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
{% set stock = APP.instance('FCom_Stock_Model_Sku') %}

<fieldset name="main-product">
    <div class="f-section">
        <h4>{{ "Stock Control Policy"|_ }}</h4>
        <hr/>
        <div class="form-group ">
            <label class="control-label col-md-2" for="model-manage_stock" style="text-align: left">{{ "Stock Management"|_ }}</label>
            <div class="col-md-5">
                <select id="model-manage_stock" name="model[manage_stock]" class="form-control" style="">
                    {{ UTIL.optionsHtml(stock.manageStockOptions()) | raw }}
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="control-label col-md-2" for="model-qty" style="text-align: left">{{ "Quantity"|_ }}</label>
            <div class="col-md-2">
                <input type="text" id="model-qty" name="model[qty]" class="form-control" data-rule-number="true">
            </div>
        </div>
        <div class="form-group ">
            <label class="control-label col-md-2" style="text-align: left" for="model-out_stock">{{ "When Out of Stock"|_ }}</label>
            <div class="col-md-3">
                <select id="model-out_stock" name="model[out_stock]" class="form-control">
                    {{ UTIL.optionsHtml(stock.outStockOptions()) | raw }}
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label"><a href="#">{{ "Restore to default" }}</a></label>
            </div>
        </div>
        <hr/>
        <div class="form-group ">
            <label class="text-left control-label col-md-4"  style="text-align: left" for="model-maximum_quantity_shopping">{{ "Maximum quantity allowed in shopping cart"|_ }}</label>
            <div class="col-md-2">
                <input type="text" id="model-maximum_quantity_shopping" name="model[maximum_quantity_shopping]" class="form-control" data-rule-number="true">
            </div>
            <div class="col-md-2">
                <label class="control-label"><a href="#">{{ "Restore to default" }}</a></label>
            </div>
        </div>
        <div class="form-group ">
            <label class="text-left control-label col-md-4"  style="text-align: left" for="model-quantity_items_status">{{ "Quantity for item's status to become out of come"|_ }}</label>
            <div class="col-md-2">
                <input type="text" id="model-quantity_items_status" name="model[quantity_items_status]" class="form-control" data-rule-number="true">
            </div>
            <div class="col-md-2">
                <label class="control-label"><a href="#">{{ "Restore to default" }}</a></label>
            </div>
        </div>
        <div class="form-group ">
            <label class="text-left control-label col-md-4" style="text-align: left" for="model-notify_administrator_quantity">{{ "Notify administrator for quantity below"|_ }}</label>
            <div class="col-md-2">
                <input type="text" id="model-notify_administrator_quantity" name="model[notify_administrator_quantity]" class="form-control" data-rule-number="true">
            </div>
            <div class="col-md-2">
                <label class="control-label"><a href="#">{{ "Restore to default" }}</a></label>
            </div>
        </div>
    </div>
</fieldset>