{% set validator = THIS.validator('address-form', THIS.get('address')) %}

    <div class="f-checkout-form">
      <header class="f-page-header">
        <h1 class="f-page-title">{{ THIS.title }}</h1>
      </header>
      <form action="{{ APP.href('checkout/address') }}" method="post" id="address-form" role="form">
        <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
        <input type="hidden" name="same_address" value="0">
        <input type="hidden" name="t" value="{{ THIS.get('address_type') }}">
        <fieldset>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="address-firstname" class="control-label required">{{ "First name" |_ }}</label>
              <input type="text" name="firstname" id="address-firstname" value="{{ validator.fieldValue('firstname') }}" class="required{{ ' ' ~ validator.fieldClass('firstname') }} form-control">
              {{ validator.errorHtml("firstname", "address-firstname") | raw }}
            </div>
            <div class="form-group col-sm-6">
              <label for="address-lastname" class="control-label required">{{ "Last name" |_ }}</label>
              <input type="text" name="lastname" id="address-lastname" value="{{ validator.fieldValue('lastname') }}" class="required{{ ' ' ~ validator.fieldClass('lastname') }} form-control">
                {{ validator.errorHtml("lastname", "address-lastname") | raw }}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="address-email" class="control-label required">{{ "E-mail" |_ }}</label>
              <input type="text" name="email" id="address-email" value="{{ validator.fieldValue('email') }}" class="required{{ ' ' ~ validator.fieldClass('email') }} form-control">
                {{ validator.errorHtml("email", "address-email") | raw }}
            </div>
          </div>
          <div class="form-group">
            <label for="address-street1" class="control-label required">{{ "Street 1" |_ }}</label>
            <input type="text" name="street1" id="address-street1" value="{{ validator.fieldValue('street1') }}" class="required{{ ' ' ~ validator.fieldClass('street1') }} form-control">
              {{ validator.errorHtml("street1", "address-street1") | raw }}
          </div>
          <div class="form-group">
            <label for="address-street2" class="control-label">{{ "Street 2" |_ }}</label>
            <input type="text" name="street2" id="address-street2" value="{{ validator.fieldValue('street2') }}" class="{{ ' ' ~ validator.fieldClass('street2') }} form-control">
              {{ validator.errorHtml("street2", "address-street2") | raw }}
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="address-city" class="control-label required">{{ "City" |_ }}</label>
              <input type="text" name="city" id="address-city" value="{{ validator.fieldValue('city') }}" class="required{{ ' ' ~ validator.fieldClass('city') }} form-control">
                {{ validator.errorHtml("city", "address-city") | raw }}
            </div>
              {{ THIS.view('geo/embed') | raw }}
            <script>
              require(['jquery'], function($) {
                $(function() {
                    $('.geo-country').geoCountryRegion({country:'{{ validator.fieldValue('country') }}', region:'{{ validator.fieldValue('region') }}'});
                })
              })
            </script>
            <div class="form-group col-sm-6">
              <label for="address-country" class="control-label required">{{ "Country" |_ }}</label>
              {% set countries = THIS.get('countries') %}
              {% set defC = validator.fieldValue('country') %}
              <select class="geo-country required{{ ' ' ~ validator.fieldClass('country') }} form-control" name="country" id="address-country">
                <option value="">{{ "Select an option" |_ }}</option>
                  {% for iso, country in countries %}
                  <option value="{{ iso }}" {{ defC == iso ? "selected" }}>{{ country }}</option>
                  {% endfor %}
              </select>
              {{ validator.errorHtml("country", "address-country") | raw }}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="address-region" class="control-label required">{{ "Region" |_ }}</label>
              <select class="geo-region required{{ ' ' ~ validator.fieldClass('region') }} form-control" style="display: none" name="region" id="address-region">
                  <option value="">{{ "Select an option" |_ }}</option>
              </select>
              <input type="text" class="geo-region required{{ ' ' ~ validator.fieldClass('region') }} form-control" name="region" id="address-region" value="{{ validator.fieldValue('region') }}"/>
              {{ validator.errorHtml("region", "address-region") | raw }}
            </div>
            <div class="form-group col-sm-6">
              <label for="address-postcode" class="control-label required">{{ "Zip / Postal Code" |_ }}</label>
              <input type="text" name="postcode" id="address-postcode" value="{{ validator.fieldValue('postcode') }}" class="required{{ ' ' ~ validator.fieldClass('postcode') }} form-control">
                {{ validator.errorHtml("postcode", "address-postcode") | raw }}
            </div>
          </div>

          {% if 's' == THIS.get('address_type') %}
          <div class="checkbox">
            <label for="same_address">
              <input type="checkbox" class="checkbox" id="same_address" name="same_address" value="1" {{ validator.fieldValue('same_address') ? 'checked' }}>
                    {{ "Billing address is same as shipping" |_ }}
            </label>
          </div>
          {% endif %}
          <div class="form-group">
            <button class="btn btn-primary btn-lg" type="submit">{{ "Save address" |_ }}</button>
          </div>
        </fieldset>
      </form>
    </div>

<script>
require(['jquery', 'jquery.validate'], function($) {
    $(function() {
        $('#address-form').validate();
    })
})
</script>
