{% set loggedIn = APP.instance('FCom_Customer_Model_Customer').isLoggedIn() %}
{% set cart = APP.instance('FCom_Sales_Model_Cart').sessionCart() %}
{% set cartItems = cart.items() %}
{% set shipping_estimates = SESSION.data('shipping_estimate') %}
{% set checkout_methods = APP.instance('FCom_Sales_Main').getCheckoutMethods() %}

{% if false == cartItems %}
    <p class="note-msg">{{ "You have an empty cart." |_ }}</p>
{% else %}
    <div class="col-cart-left data-table">
        <header class="page-title">
            <h1 class="title">{{ "Shopping Cart" |_ }}</h1>
        </header>
        <form name="cart" action="{{ APP.href('cart/add') }}" method="post">
            <table>
                <col width="30"/>
                <col width="60"/>
                <col/>
                <col width="120"/>
                <col width="80"/>
                <col width="120"/>
                <thead>
                    <tr>
                        <th class="a-center">{{ 'Remove' |_ }}</th>
                        <th colspan="2" class="a-left">{{ "Product" |_ }}</th>
                        <th class="a-right">{{ "Price" |_ }}</th>
                        <th class="a-center">{{ "Qty" |_ }}</th>
                        <th class="a-right">{{ "Subtotal" |_ }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cartItems %}
                    {% set p = item.product() %}
                    {% if p %}
                        <tr id="tr-product-{{ p.id }}">
                            <td class="a-center"><label><input type="checkbox" name="remove[]" class="remove-checkbox f-none" value="{{ item.id }}"></label></td>
                            <td>
                                <img src="{{ p.thumbUrl(80, 80) }}" width="80" height="80" class="product-image" alt="{{ p.product_name }}"/>
                            </td>
                            <td>
                                <span class="product-name"><a href="{{ p.url(THIS.get('category')) }}">{{ p.product_name }}</a></span>
                            </td>
                            <td class="a-right">
                                <div class="price-box {{ loggedIn ? 'logged-in' : 'logged-out' }}">
                                    <div class=""><span class="price">{{ p.base_price | currency }}</span></div>
                                </div>
                            </td>
                            <td class="a-center">
                                <input type="text" size="3" name="qty[{{ item.id }}]" class="qty" value="{{ item.qty*1 }}"/>
                            </td>
                            <td class="a-right">
                                <div class="price-box">
                                    <div class=""><span class="price">{{ item.rowTotal() | currency }}</span></div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
                <tfoot>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="submit" class="button btn-aux"><span>{{ "Update Cart" |_ }}</span></button></td>
                    <td class="a-right"><span class="cart-subtotal">{{ cart.get('subtotal') | currency }}</span></td>
                </tfoot>
            </table>
        </form>
        <section class="col2-set sub-cart">
            <form action="{{ APP.href('cart/add') }}" method="post" class="col first">
                <header>{{ "Promo Code" |_ }}</header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
                <p><input type="text"/><button class="button btn-aux"><span>{{ "Submit" |_ }}</span></button></p>
            </form>
            <form action="{{ APP.href('cart/add') }}" method="post" class="col last">
                <header>{{ "Shipping Estimate" |_ }}</header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </p>
                {% if (shipping_estimates) %}
                    <ul class="shipping-estimates">
                        {% for estimate in shipping_estimates %}
                            <li>{{ estimate.description }} ({{ estimate.estimate | currency }})</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p><strong>{{ "Post code" |_ }}</strong><br/>
                <input type="text" size="4" name="postcode" value="" style="width:150px;"/><button type="submit" class="button btn-aux"><span>{{ "Submit" |_ }}</span></button></p>
            </form>
        </section>
        {{ THIS.hook('promotions') | raw }}
    </div>
    <div class="col-cart-right">
        <div class="cart-totals">
            <table>
                {% for total in cart.getTotals() %}
                    {% if not total.isHidden() %}
                        <tr class="{{ total.getRowClass() }}">
                            <td>{{ total.getLabelFormatted() }}</td>
                            <td>{{ total.getValueFormatted() }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <ul class="checkout-btns">
            {% for checkout in checkout_methods %}
                {% set button = checkout.getCartCheckoutButton() %}
                {% if button %}
                    <li>
                        {% if button.html %}
                            {{ button.html | raw }}
                        {% else %}
                            <a href="{{ button.href }}" class="button btn-sz2"><span>{{ button.label |_ }}</span></a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="clearer"></div>
    <br/><br/>
{% endif %}

