{% set cart = THIS.get('cart') %}
{% set field = APP.instance('FCom_CustomField_Model_Field') %}
    <header class="f-page-header">
      <h1 class="f-page-title">{{ 'Review and Place Order'|_ }}</h1>
    </header>
    <div class="row">
      <form action="{{ APP.href('checkout') }}{{ REQUEST.get('guest') == 'yes' ? '?guest=yes' : '' }}" method="post">
        <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
        <div class="f-col-main col-sm-9">
          <div class="alert alert-info"><strong>{{ 'Review the information below then click "Place your order"!' |_ }}</strong></div>

          {{ THIS.view('core/messages') | raw }}
          <div class="row">
            <div class="col-sm-6">
                <h4>{{ "Shipping to" |_}}</h4>
                {{ THIS.get('shipping_address').as_html() | raw }}
                {% if THIS.get('guest_checkout') %}
                    <small><a href="{{ APP.href('checkout/address?t=s') }}">{{ 'Change' |_ }}</a></small>
                {% else %}
                    <small><a href="{{ APP.href('customer/address/choose?t=s') }}">{{ 'Change' |_ }}</a></small>
                {% endif %}
            </div>
          {% if THIS.get('shipping_methods') %}
            <div class="col-sm-6">
              <h4>{{ "Shipping Options" |_ }}:</h4>
              <dl>
                {% for shippingMethod, shippingClass in THIS.get('shipping_methods') %}
                  <dt>{{ shippingClass.getDescription() }} ({{ shippingClass.getEstimate() }})
                  {% for serviceKey, service in shippingClass.getServicesSelected() %}
                    <dd>
                      <input type="radio" name="shipping" value="{{ shippingMethod ~ ':' ~ serviceKey }}"
                      {{ shippingMethod == cart.get('shipping_method') and
                              serviceKey == cart.get('shipping_service') ? 'checked' }}> {{service}}
                    </dd>
                  {% endfor %}
                {% endfor %}
              </dl>
              <button type="submit" name="update" class="btn btn-default btn-sm">{{ "Apply changes" |_ }}</button>
            </div>
          {% endif %}
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h4>{{ "Billing address" |_ }}</h4>
              {% if cart.get('shipping_same') %}
                  <p>{{ 'Same as shipping' |_ }}</p>
              {% else %}
                  {{ THIS.get('billing_address').as_html() | raw }}
              {% endif %}

              {% if THIS.get('guest_checkout') %}
                  <small><a href="{{ APP.href('checkout/address?t=b') }}">{{ "Change" |_ }}</a></small>
              {% else %}
                  <small><a href="{{ APP.href('customer/address/choose?t=b') }}">{{ "Change" |_ }}</a></small>
              {% endif %}
            </div>
            <div class="col-sm-6">
              {{ THIS.view('checkout/payment') | raw }}
            </div>
          </div>
          <h4>{{ "Items in cart" |_ }}</h4>
          <div class="responsive-table">
            <table class="table">
              <col width="500"/>
              <col width="70"/>
              <col width="70"/>
              <col width="70"/>
              <thead>
                <tr>
                  <th>{{ "Product" |_ }}</th>
                  <th>{{ "Price" |_ }}</th>
                  <th>{{ "Qty" |_ }}</th>
                  <th>{{ "Subtotal" |_ }}</th>
                </tr>
              </thead>
              <tbody>
          {% for item in cart.items() %}
              {% set p = item.product() %}
              {% if p %}
                {% if item.data.variants is defined %}
                   {% set variants = item.data.variants %}
                {% else  %}
                   {% set variants = [{variant_price: item.get('price'), variant_qty: item.get('qty')}] %}
                {% endif %}
                {% for idVariant, variant in variants %}
                    <tr id="tr-product-{{p.get('id')}}">
                      <td>
                          <span class="product-name"><a href="{{ p.url(THIS.get('category')) }}">{{ p.get('product_name') }}</a></span>
                          {% if variant.field_values is defined %}
                              <ul>
                                  {% for key, value in variant.field_values %}
                                      <li>{{ field.getFrontendLabel(key) }}: {{ value }}</li>
                                  {% endfor %}
                              </ul>
                          {% endif %}
                          {% if variant.shopper is defined %}
                              <label class="col-md-12 control-label">{{ "Shopper"|_ }}</label>
                              <ul>
                                  {% for key, value in variant.shopper %}
                                      <li>{{ field.getFrontendLabel(key) }}: {{ value }}</li>
                                  {% endfor %}
                              </ul>
                          {% endif %}
                      </td>
                      <td>
                          <div class="price-box">
                              {{ variant.variant_price | currency }}
                          </div>
                      </td>
                      <td>
                          <div class="price-box">
                              {{ variant.variant_qty | number_format }}
                          </div>
                      </td>
                      <td>
                        <span class="f-price-group">
                          <span class="f-price">{{ item.rowTotal() | currency }}</span>
                        </span>
                      </td>
                    </tr>
                {% endfor %}
              {% endif %}
          {% endfor %}
              </tbody>
              <tfoot>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tfoot>
            </table>
          </div>
          <p><strong><a href="{{APP.href('cart')}}">{{ "Need to change quantities or remove items?" |_ }}</a></strong></p>

          {% if THIS.get('guest_checkout') %}
          {% set validator = THIS.validator('checkout-register', THIS.get('address')) %}
          <div class="form-group">
            <label for="#" class="checkbox">
              <input type="checkbox" name="create_account" value="1" class="required form-control">
              {{ "Create an account?" |_ }}
            </label>
          </div>
          <div class="form-group">
            <label for="#" class="control-label">{{ 'E-mail' |_ }}</label>
            <div class="controls">
              <input type="text" id="account-email" name="account[email]" value="{{ THIS.billing_address.email }}" class="required form-control {{ validator.fieldClass('email') }}">
                {{ validator.errorHtml("email", "account-email") | raw }}
            </div>
          </div>
          <div class="form-group">
            <label for="#" class="control-label">{{ "Password" |_ }}</label>
            <div class="controls">
              <input type="password" id="account-password" name="account[password]" class="required form-control {{ validator.fieldClass('password') }}" pattern=".{6,}"/>
                {{ validator.errorHtml("password", "account-password") | raw }}
            </div>
          </div>
          <div class="form-group">
            <label for="#" class="control-label">{{ "Confirm Password" |_ }}</label>
            <div class="controls">
              <input type="password" id="account-password_confirm" name="account[password_confirm]" pattern=".{6,}"
                     class="required form-control {{ validator.fieldClass('password_confirm') }}" equalto="#account-password"/>
                {{ validator.errorHtml("password_confirm", "account-password_confirm") | raw }}
            </div>
          </div>
          {% endif %}

        </div><!-- /.f-col-main -->

        <div class="f-col-sidebar f-col-cart-totals gray col-sm-3">
            {% if THIS.get('totals') %}
              <div class="form-group">
                <label class="control-label">{{ "Enter Coupon/promo code" |_ }}</label>
                <input type="text" name="coupon_code" class="form-control input-sm">
              </div>
              <button type="submit" name="coupon_submit" class="btn btn-sm btn-default">{{ "Apply" |_ }}</button>
              <hr/>
              <table class="table">
              {% for total in THIS.get('totals') %}
                  <tr class="{{ total.getRowClass() }}">
                      <td class="title">{{ total.getLabelFormatted() }}</td>
                      <td>{{ total.getValueFormatted() }}{% if total.getError() %}<br/>(<span class="error">{{ total.getError() }}</span>){% endif %}</td>
                  </tr>
              {% endfor %}
              </table>
            {% endif %}
            <ul class="f-cart-btn-group">
                <li><input type="submit" name="place_order" value="Order" class="btn btn-primary btn-lg"></li>
            </ul>
        </div>
        <!-- /.f-col-sidebar -->

        </form>
    </div><!-- /.row -->

