<div class="page-main-wrapper">
    <div class="page-main">
        <form action="{{ APP.href('login') }}" method="post" id="login-form">
                    <input type="hidden" name="backroute" value="checkout" />
            <fieldset class="login-form">
                <header class="page-title">
                    <h1 class="title">{{ 'Login' |_ }}</h1>
                </header>
                {{ THIS.messagesHtml() | raw }}
                <ul class="form-group">
                    <li class="row-label"><label for="#">{{ "Email" |_ }}</label>
                        <input type="email" name="login[email]" class="required"/></li>
                    <li class="row-label"><label for="#">{{ "Password" |_ }}</label>
                        <input type="password" name="login[password]" class="required"/></li>
                </ul>
                <p class="checkbox-row">
                    <label for="remember-me"><input type="checkbox" id="remember-me"/>{{ "Remember Me" |_ }}</label>
                </p>
                <div class="buttons-set">
                    <button class="button" type="submit"><span>{{ "Login" |_ }}</span></button>
                    <a href="{{ APP.href('customer/password/recover') }}">{{ "Forgot your password?" |_ }}</a></a>
                </div>
                <div class="divider"></div>
                <p>{{ "No Account?" |_ }} <strong><a href="{{ APP.href('checkout') }}?guest=yes">{{ "Checkout as a guest" |_ }} &raquo;</strong></a></p>
            </fieldset>
        </form>
    </div>
</div>
<script>
require(['jquery', 'jquery.validate'], function($) {
    $(function() {
        $('#login-form').validate();
    })
})
</script>
