<div class="page-main-wrapper">
    <div class="page-main">
        <form action="{{ APP.href('login') }}" method="post" id="login-form">
                    <input type="hidden" name="backroute" value="checkout" />
            <fieldset class="login-form form-horizontal">
                <header class="main-title">
                    <h1 class="title">{{ 'Login' |_ }}</h1>
                </header>
                {{ THIS.messagesHtml() | raw }}
                <div class="control-group">
                  <label for="#" class="control-label">{{ "Email" |_ }}</label>
                  <div class="controls">
                    <input type="email" name="login[email]" class="required"/>
                  </div>
                </div>
                <div class="control-group">
                  <label for="#" class="control-label">{{ "Password" |_ }}</label>
                  <div class="controls">
                    <input type="password" name="login[password]" class="required"/>
                  </div>
                </div>
                <label for="remember-me" class="checkbox">
                  <input type="checkbox" id="remember-me" class="checkbox"/>
                  {{ "Remember Me" |_ }}
                </label>
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">{{ "Login" |_ }}</button>
                    <a href="{{ APP.href('customer/password/recover') }}">{{ "Forgot your password?" |_ }}</a>
                </div>
                <div class="divider"></div>
                <p>{{ "No Account?" |_ }} <strong><a href="{{ APP.href('checkout') }}?guest=yes">{{ "Checkout as a guest" |_ }} &raquo;</strong></a></p>
            </fieldset>
        </form>
    </div>
</div>
<script>
require(['jquery', 'jquery.validate'], function($) {
    $(function() {
        $('#login-form').validate();
    })
})
</script>
