<div class="f-site-main" role="main">
  <div class="container">
    <form action="{{ APP.href('checkout/shipping') }}" method="post">
      <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
      <h4>{{ "Shipping to" |_ }}</h4>
      <b>({{ "Show active shipping address if any" |_ }})</b><br/>
      Jon Doe<br>
      Some address here<br>
      Some address here<br>
      Some address here<br>
      Some address here<br><br>
      <b>(or show form for address)</b><br/>
      {{ "Address" |_ }}: <input type="text" name="address[shipping]" value=""><br/><br/>
      <h4>{{ "Shipping Options" |_ }}:</h4>
      <ul>
        <li><input type="radio" name="shipping_method">{{ "Free Standard Shipping" |_ }} (3-5 days)</li>
        <li><input type="radio" name="shipping_method">UPS {{ "Shipping" |_ }} (2 days)</li>
        <li><input type="radio" name="shipping_method">{{ "Fedex Shipping" |_ }} (2 days)</li>
      </ul>
      <input type="submit" class="btn btn-primary" value="{{ "Continue to payment" |_ }}">
    </form>
  </div>
</div>
