{% set order = THIS.get('order') %}
{% set billing = order.billing() %}
<div class="f-site-main" role="main">
  <div class="container">
    <header class="f-page-header">
      <h1 class="f-page-title">{{ 'Thank you for your order!'|_ }}</h1>
    </header>
    <p>{{ "Your order has successfully been submitted." |_ }}
{% if THIS.get('user') %}<br/>
    Your {{ "order number is" |_ }} #<a href="{{ APP.href('customer/order/view') ~ '?id=' ~ order.id() }}">{{ order.id() }}</a>. Please note for your record.
{% endif %}
    </p>
    <h4>{{ "Your billing information" |_ }}</h4>
    <address>
      {{ billing.get('firstname') ~ ' ' ~ billing.get('lastname') ~ ' (' ~ billing.get('email') ~ ')' }}
    </address>
  </div>
</div>
