{% set categories = APP.instance('FCom_Catalog_Model_Category').getTopNavCategories(2) %}
{% set activeCategory = 'home' %}

<div id="categorymenu">
    <nav class="subnav">
        <ul class="nav-pills categorymenu">
{% for cat in categories %}
<!-- TODO: correct active category -->
            <li><a class="{{ activeCategory == cat.get('url_path') ? 'active' }}" href="{{ APP.href(cat.get('url_path')) }}">{{ cat.get('node_name') }}</a>
{% if cat.get('children') %}
                <div>
                    <ul>
{% for cat1 in cat.get('children') %}
                        <li><a href="{{ APP.href(cat1.get('url_path')) }}">{{ cat1.get('node_name') }}</a>
{% if cat1.get('children') %}
                            <div>
                                <ul>
{% for cat2 in cat1.get('children') %}
                                    <li><a href="{{ APP.href(cat2.get('url_path')) }}">{{ cat2.get('node_name') }}</a></li>
                                </ul>
{% endfor %}
                            </div>
{% endif %}
                        </li>
{% endfor %}
                    </ul>
                </div>
{% endif %}
            </li>
{% endfor %}
        </ul>
    </nav>
</div>
