{% set prodCtrl = APP.instance('FCom_CustomField_Admin_Controller_Products') %}
{% set fieldSetsCtrl = APP.instance('FCom_CustomField_Admin_Controller_FieldSets') %}


<script>
require(['backbone', 'underscore', 'jquery'], function(Backbone, _, $) {
    var mainGrid, subGrid;
    window.frontendFieldGridRegister = function(grid) {
        mainGrid = grid;
        grid.build();
        $(mainGrid.getGridSkeleton().AddButton).click(function() {
            $('#btn_add_frontend').trigger('click');
        });
    }

    window.addFieldGridRegister = function(grid) {
        subGrid = grid;
        grid.build();

        $(subGrid.getGridSkeleton().AddButton).click(function() {
            var ids = subGrid.getSelectedRows().pluck('id').join(',');
            $.post('{{ APP.href('/customfields/products/get_fields') }}', {ids: ids}, function (response) {
                mainGrid.getRows().add(response);
            });
            subGrid.getGridView().clearSelectedRows();
            $('.btn-prod-frontend-close').trigger('click');
        });
    }
    $('#catalog-products-form').submit(function (ev) {
        var rows = mainGrid.getRows().toJSON();

        var res = [];
        for (var i in rows) {
            res.push(_.pick(rows[i], 'id', 'field_code', 'name', 'label', 'input_type', 'price', 'options'));
        }

        $("#prod_frontend_data").val(JSON.stringify(res));
    });

});
</script>

<input type='hidden' id='prod_frontend_data' name='prod_frontend_data' />
<div class="row">
    <div class="col-sm-10">
        {{ THIS.view('core/backbonegrid').set('grid', prodCtrl.frontendFieldGrid(model))| raw }}
    </div>
</div>

<a role="button" href="#prod-frontend-add" data-toggle="modal" style='display:none;' id='btn_add_frontend'></a>
<div class='modal fade' id='prod-frontend-add' tabindex='-1'>
    <div class='modal-dialog' style='width:800px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='myModalLabel'>{{ "Add products"|_ }}</h4>
            </div>
            <div class='modal-body'>
                {{ THIS.view('core/backbonegrid').set('grid', fieldSetsCtrl.fieldsetModalAddGridConfig()) | raw }}
            </div>
            <div class='modal-footer'>
                <button class='btn btn-default btn-close btn-prod-frontend-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
            </div>
        </div>
    </div>
</div>



