{% if THIS.getCrumbs() %}
    <ul class="breadcrumb">
{% for c in THIS.getCrumbs() %}
        <li {{ c.li_class ? 'class="#{ c.li_class }"'  }}>
{% if c.href %}
            <a href="{{ c.href }}" {{ c.title ? 'title="#{ c.title }"' }}>{{ c.label }}</a>
{% else %}
            {{ c.label }}
{% endif %}
        </li>
{% endfor %}
    </ul>
{% endif %}
