{% set customer = APP.instance('FCom_Customer_Model_Customer') %}
{% set storeName = CONFIG.get('modules/FCom_Core/store_name') %}
{% set imgBaseUrl = APP.src('@FCom_FrontendTheme1/img') %}

<!-- Header Start -->
<header>
    <div class="headerstrip">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ APP.href() }}" class="logo pull-left"><img src="{{ APP.src('@FCom_Core/img/logo.svg') }}" alt="{{ storeName }}" title="{{ storeName }}"></a>

                    <div class="pull-right">

                        <div class="row">
                            <div class="col-lg-6">
                                <form class="form-search top-search" action="{{ APP.href('catalog/search') }}">
                                    <input type="text" class="input-medium search-query" placeholder="Search Here…" name="q" value="{{ REQUEST.get('q') }}">
                                </form>
                            </div>
                            <div class="col-lg-6">
                                {{ THIS.view('checkout/cart/block') | raw }}
                            </div>
                        </div>
                        <div class="pull-right">
                            <select>
                                <option value="USD" selected>$ USD</option>
                                <option value="EUR">&euro; EUR</option>
                                <option value="GBP">&pound; GBP</option>
                            </select>
                            <select>
                                <option value="EN" selected>EN</option>
                                <option value="ES">ES</option>
                                <option value="DE">DE</option>
                            </select>
                            <a href="{{ APP.href('wishlist') }}">{{ 'Wishlist'|_ }}</a>
                            {% if customer.isLoggedIn() %}
                                <a href="{{ APP.href('customer/myaccount') }}">{{ 'My Account'|_ }}</a>
                                <a href="{{ APP.href('logout') }}">{{ 'Log off'|_ }}</a>
                            {% else %}
                                <a href="{{ APP.href('login') }}">{{ 'Log In'|_ }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {{ THIS.view('nav') | raw }}
    </div>
</header>
<!-- Header End -->
