<div class="f-site-footer">
    <div class="container">
        <div class="row">
            <dl class="col-md-3 col-sm-3">
                <dt class="col-title">{{ 'Customer Service'|_ }}</dt>
                <dd><a href="#">{{ 'Contact Us'|_ }}</a></dd>
                <dd><a href="#">{{ 'Return Policy'|_ }}</a></dd>
                <dd><a href="#">{{ 'Shipping Policy'|_ }}</a></dd>
                <dd><a href="#">{{ 'Help'|_ }}</a></dd>
            </dl>
            <dl class="col-md-3 col-sm-3">
                <dt class="col-title">{{ 'Recommended Categories'|_ }}</dt>
            </dl>
            <dl class="col-md-3 col-sm-3">
                <dt class="col-title">{{ 'Recommended Products'|_ }}</dt>
            </dl>
            {{ THIS.hook('footer-widget') | raw }}
        </div>
        <p class="f-copyright">&copy; {{ 'now'|date('Y') }} {{ CONFIG.get('modules/FCom_Core/copyright_message') }} {{ "All rights reserved."|_ }}
            <a href="{{ APP.href('privacy') }}">{{ "Privacy Notice"|_ }}</a>
            <a href="{{ APP.href('tnc') }}">{{ "Terms and Conditions"|_ }}</a>
        </p>
    </div>
</div>