
<div class="f-header-col-callouts hidden-xs">
  <div class="container">
    <div class="row">
      <a href="#" class="col-sm-4">
        {{ 'Free Ground Shipping'|_ }}
        <small>{{ 'On orders over $100'|_ }}</small>
      </a>
      <a href="#" class="col-sm-4">
        {{ 'We Ship Globally'|_ }}
        <small>{{ 'See list of countries'|_ }}</small>
      </a>
      <a href="#" class="col-sm-4">
        {{ 'Easy returns and exchange'|_ }}
        <small>{{ "We've made it easy for you!"|_ }}</small>
      </a>
    </div>
  </div>
</div>
