{% set imgBaseUrl = APP.src('@Sellvana_FrontendThemeBootSimple/Frontend/img') %}
<div class="f-site-main" role="main">
  <div class="container f-home-hero-callouts">
    <div class="row">
      <div class="f-callout col-md-6">
        <img class="img-responsive" src="{{ imgBaseUrl }}/ph/pixel-gray-800x800.gif" alt=""/>
      </div>
      <div class="f-callout col-md-6">
        <img class="img-responsive" src="{{ imgBaseUrl }}/ph/pixel-gray-800x800.gif" alt=""/>
      </div>
    </div>
  </div>
  <div class="container">
    {{ THIS.hook('homepage-additional') | raw }}
  </div><!-- /.container -->
  <!--<ul class="rslides">
    <li><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/image.jpg" alt=""/></li>
    <li><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/image.jpg" alt=""/></li>
    <li><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/image.jpg" alt=""/></li>
  </ul>-->
</div><!-- /.f-site-main -->
