<style>
    .f-page-dashboard ul { border:dashed 1px gray; padding:5px; }
    #layout-editor-area-header, #layout-editor-area-footer { min-height:100px }
    #layout-editor-area-left, #layout-editor-area-center, #layout-editor-area-right { min-height: 400px }

    .js-library-container .box-header { display: none }
    .widget-actual { display: none }
    .widget-preview { cursor: pointer }
    .js-area-container { background:#FAFAFA }
    .js-area-container .widget-preview { display: none }
    .js-area-container .widget-actual { display: block }
    .js-area-container .box { background:#F0F0F0; border: dotted 1px #CCC; margin:3px; padding:3px; }
    .js-area-container .box-main-contents { background: #F0FFF0; }
</style>

{% macro widget(a) %}

    <div class="box {{ a.box_class }}">
        <div class="box-header js-sortable-handle {{ a.header_class }}">
            <div class="title"><i class="icon-{{ a.icon }}"></i>{{ a.title }}</div>
            <div class="actions">
                <!--<a class="btn box-collapse btn-link js-collapse" href="#"><i class="icon-chevron-down"></i></a>-->
                {% if a.macro != 'widget_main_contents' %}
                    <a class="btn box-remove btn-link js-remove" href="#"><i class="icon-remove"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="widget-contents widget-preview">{{ a.title }}</div>
        <div class="widget-contents widget-actual">{{ attribute(_self, a.macro, [a]) }}</div>
    </div>

{% endmacro %}

{% macro widget_main_contents(a) %}

{% endmacro %}

{% macro widget_cms_block(a) %}
    <select><option>CMS Block...</option></select>
{% endmacro %}

{% macro widget_template(a) %}
    <select><option>Template...</option></select>
{% endmacro %}

{% macro widget_banner(a) %}
    <select><option>Banner...</option></select>
{% endmacro %}

{% macro widget_text(a) %}
    <textarea style="width:100%"></textarea>
{% endmacro %}

{% macro widget_remove(a) %}
    <select><option>Remove Block...</option></select>
{% endmacro %}

<div class="f-admin-main-view">
    <div class="page-header f-admin-page-header">
        <h1 class="f-page-title">
            <i class="icon-dashboard"></i>
            {{ 'Layout Editor'|_ }}
        </h1>
    </div>

    <div class="f-admin-main f-page-dashboard">
        {{ THIS.view('core/messages')|raw }}

        <div class="row">
            <div class="col-md-2">
                <h4>{{ 'Widget Library'|_ }}</h4>
                <ul id="layout-editor-library" class="js-library-container js-sortable-container">
                    <li>
                        {{ _self.widget({title:'CMS Block'|_, macro:'widget_cms_block'}) }}
                    </li>
                    <li>
                        {{ _self.widget({title:'Template'|_, macro:'widget_template'}) }}
                    </li>
                    <li>
                        {{ _self.widget({title:'Banner'|_, macro:'widget_banner'}) }}
                    </li>
                    <li>
                        {{ _self.widget({title:'Text'|_, macro:'widget_text'}) }}
                    </li>
                    <li>
                        {{ _self.widget({title:'Remove'|_, macro:'widget_remove'}) }}
                    </li>
                </ul>
                <!--
                <ul id="layout-editor-trash" class="js-trash-container js-sortable-container">
                    <li><div class="box">{{ 'Trash'|_ }}</div></li>
                </ul>
                -->
            </div>

            <div id="layout-editor-container" class="col-md-10">
<!--
                <div class="btn-group">
                    <label class="btn btn-default active">
                        <input id="layout_show_header" name="layout_show_header" checked value="1" type="checkbox" autocomplete="off"> Show Header
                    </label>
                    <label class="btn btn-default active">
                        <input id="layout_show_footer" name="layout_show_footer" checked value="1" type="checkbox" autocomplete="off"> Show Footer
                    </label>
                </div>

                <div id="layout-editor-layout_type-container" class="btn-group">
                    <label class="btn btn-default active">
                        <input id="layout_type-3col" name="layout_type" value="3col" type="radio" checked> 3 Columns
                    </label>
                    <label class="btn btn-default">
                        <input id="layout_type-2col_left" name="layout_type" value="2col_left" type="radio"> 2 Columns - Left
                    </label>
                    <label class="btn btn-default">
                        <input id="layout_type-2col_right" name="layout_type" value="2col_right" type="radio"> 2 Columns - Right
                    </label>
                    <label class="btn btn-default">
                        <input id="layout_type-1col" name="layout_type" value="1col" type="radio"> 1 Column
                    </label>
                </div>
-->
                <div id="layout-editor-header_footer-container" class="btn-group">
                    <button class="btn btn-default active" id="layout_show_header" name="layout_show_header" value="1" data-target="header">{{ 'Show Header'|_ }}</button>
                    <button class="btn btn-default active" id="layout_show_footer" name="layout_show_footer" value="1" data-target="footer">{{ 'Show Footer'|_ }}</button>
                </div>

                <div id="layout-editor-layout_type-container" class="btn-group pull-right">
                    <button class="btn btn-default active" name="layout_type" value="3col">{{ '3 Columns'|_ }}</button>
                    <button class="btn btn-default" name="layout_type" value="2col_left">{{ '2 Columns (Left)'|_ }}</button>
                    <button class="btn btn-default" name="layout_type" value="2col_right">{{ '2 Columns (Right)'|_ }}</button>
                    <button class="btn btn-default" name="layout_type" value="1col">{{ '1 Column'|_ }}</button>
                </div>

                <div class="row" id="layout-editor-container-header">
                    <div class="col-md-12">
                        <ul id="layout-editor-area-header" class="js-area-container js-sortable-container">

                        </ul>
                    </div>
                </div>
                <div class="row" id="layout-editor-container-middle">
                    <div class="col-md-3" id="layout-editor-col-left">
                        <ul id="layout-editor-area-left" class="js-area-container js-sortable-container">

                        </ul>
                    </div>
                    <div class="col-md-6" id="layout-editor-col-center">
                        <ul id="layout-editor-area-center" class="js-area-container js-sortable-container">
                            {{ _self.widget({title:"MAIN CONTENTS", macro:'widget_main_contents', box_class:'box-main-contents'}) }}
                        </ul>
                    </div>
                    <div class="col-md-3" id="layout-editor-col-right">
                        <ul id="layout-editor-area-right" class="js-area-container js-sortable-container">

                        </ul>
                    </div>
                </div>
                <div class="row" id="layout-editor-container-footer">
                    <div class="col-md-12">
                        <ul id="layout-editor-area-footer" class="js-area-container js-sortable-container">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    require(['jquery', 'jquery-ui'], function($) {
        var copyHelper;

        $('.js-library-container').sortable({
            connectWith: '.js-area-container',
            forcePlaceholderSize: false,
            helper: function(e, li) {
                copyHelper = li.clone().insertAfter(li);
                return li.clone();
            },
            stop: function() {
                copyHelper && copyHelper.remove();
            }
        });
        $('.js-area-container').sortable({
            connectWith: '.js-area-container, .js-trash-container',
            forcePlaceholderSize: false,
            receive: function(e, ui) {
                copyHelper = null;
            }
        });
        $('.js-trash-container').sortable({
            receive: function(e, ui) {
                ui.item.remove();
            }
        });

        $('#layout-editor-layout_type-container button').click(function(ev) {
            var $el = $(ev.target);
            $el.siblings().removeClass('active');
            $el.addClass('active');

            switch (ev.target.value) {
                case '3col':
                    $('#layout-editor-col-left,#layout-editor-col-right').removeClass('hidden');
                    $('#layout-editor-col-center').removeClass('col-md-9 col-md-12').addClass('col-md-6');
                    break;
                case '2col_left':
                    $('#layout-editor-col-left').removeClass('hidden');
                    $('#layout-editor-col-right').addClass('hidden');
                    $('#layout-editor-col-center').removeClass('col-md-6 col-md-12').addClass('col-md-9');
                    break;
                case '2col_right':
                    $('#layout-editor-col-left').addClass('hidden');
                    $('#layout-editor-col-right').removeClass('hidden');
                    $('#layout-editor-col-center').removeClass('col-md-6 col-md-12').addClass('col-md-9');
                    break;
                case '1col':
                    $('#layout-editor-col-left,#layout-editor-col-right').addClass('hidden');
                    $('#layout-editor-col-center').removeClass('col-md-6 col-md-9').addClass('col-md-12');
                    break;
            }
        });

        $('#layout-editor-header_footer-container button').click(function(ev) {
            var $el = $(ev.target), $container = $('#layout-editor-container-' + $el.data('target'));
            $el.val(1 - $el.val());
            $el.toggleClass('active');
            if ($el.val() == 1) {
                $container.removeClass('hidden')
            } else {
                $container.addClass('hidden');
            }
        });
    });
</script>