<div id="main-nav-bg" class="f-admin-nav-bg"></div>

<nav id="main-nav" class="f-admin-nav">
  <div class="navigation">

    <div class="search">
      <form action="{{ APP.href("header_search") }}" method="get">
        <div class="search-wrapper">
          <input value="" class="search-query form-control" placeholder="{{ "Search..." |_ }}" autocomplete="off" name="q" type="text" />
          <button class="btn btn-link icon-search" name="button" type="submit"></button>
        </div>
      </form>
    </div>

    <ul class="nav nav-stacked">
      {% for n1 in THIS.getNodes() %}
        <li class="{{ n1.class }} {{ n1.active ? "active" }}">
          <a href="{{ n1.href }}" title="{{ n1.label }}" {{ n1.target ? 'target=' ~ n1.target }}
              class="{{ n1.children ? "dropdown-collapse" }} {{ n1.active ? "in" }}">
            <i class="{{ n1.icon_class }}"></i>
            <span>{{ n1.label }}</span>
            {% if n1.children %}
              <i class="icon-angle-down angle-down"></i>
            {% endif %}
          </a>
          {% if n1.children %}
            <ul class="nav nav-stacked {{ n1.active ? "in" }}">

              {% for n2 in n1.children %}
                <li class="{{ n2.class }} {{ n2.active ? "active" }}">
                  <a href="{{ n2.href }}" title="{{ n2.label }}" {{ n2.target ? 'target=' ~ n2.target }}
                      class="{{ n2.children ? "dropdown-collapse" }} {{ n2.active ? "in" }}">
                    <i class="{{ n2.icon_class }}"></i>
                    <span>{{ n2.label }}</span>
                    {% if n2.children %}
                      <i class="icon-angle-right angle-right"></i>
                    {% endif %}
                  </a>
                  {% if n2.children %}
                    <ul class="nav nav-stacked {{ n2.active ? "in" }}">

                      {% for n3 in n2.children %}
                        <li class="{{ n3.class }} {{ n3.active ? "active" }}">
                          <a href="{{ n3.href }}" title="{{ n3.label }}" {{ n3.target ? 'target=' ~ n3.target }}>
                            <i class="{{ n3.icon_class }}"></i>
                            <span>{{ n3.label }}</span>
                          </a>
                        </li>
                      {% endfor %}

                    </ul>
                  {% endif %}
                </li>
              {% endfor %}

            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
