<div class="f-site-main" role="main">
    <div class="container">
        <div class="row f-mb-slideout-menu">
            <div class="col-sm-12 f-col-main">
                <header class="f-page-header">
                    <h1 class="f-page-title">{{ THIS.get('type') == 's' ? "Choose your shipping address"| _  : "Choose your billing address"| _  }}</h1>
                </header>
                {{ THIS.view('core/messages') | raw }}
                <div class="f-address-list">
                    {% for address in THIS.get('addresses') %}
                        <div class="f-address-list-item{% if address.get('id') == THIS.get('customer').get('default_shipping_id') or address.get('id') == THIS.get('customer').get('default_billing_id') %} well{% endif %}">
                            {% if ('s' == THIS.get('type')) %}
                                {% if address.get('id') == THIS.get('customer').get('default_shipping_id') %}
                                    <strong>{{ "Default shipping address" | _ }}</strong><br/>
                                {% endif %}
                            {% else %}
                                {% if address.get('id') == THIS.get('customer').get('default_billing_id') %}
                                    <strong>{{ "Default billing address" | _ }}</strong><br/>
                                {% endif %}
                            {% endif %}

                            {{ APP.instance("FCom_Customer_Model_Address").as_html(address) | raw }}
                            <a href="{{ APP.href("customer/address/choose") }}?id={{ address.get('id') }}&t={{ THIS.get('type') }}">{{ "Select" | _ }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
