{% set validator = THIS.validator('address-form', THIS.get('address')) %}
{% set address = THIS.get('address') %}

<form action="{{ App.href('customer/address') }}" method="post" class="address-form" id="address-form">
    {% if address.get('id') %}
    <input type="hidden" name="id" value="{{ address.get('id') }}">
    {% endif %}
    <fieldset>
      <div class="row-fluid">
        <div class="control-group span6">
          <label for="address-firstname" class="control-label required">{{ "First name" | _ }}</label>
          <div class="controls">
            <input type="text" name="firstname" id="address-firstname" value="{{ validator.fieldValue("firstname") }}"
                   class="required{{ ' ' ~ validator.fieldClass('firstname') }}">
              {{ validator.errorHtml("firstname", "address-firstname") | raw }}
          </div>
        </div>
        <div class="control-group span6">
          <label for="address-lastname" class="control-label required">{{ "Last name" | _ }}</label>
          <div class="controls">
            <input type="text" name="lastname" id="address-lastname" value="{{ validator.fieldValue("lastname") }}">
              {{ validator.errorHtml("lastname", "address-lastname") | raw }}
          </div>
        </div>
      </div>
        <div class="control-group">
            <label for="address-email" class="control-label">{{ "E-mail" |_ }}</label>
            <div class="controls">
            <input type="text" name="email" id="address-email" value="{{ validator.fieldValue('email') }}"
                   class="required{{ ' ' ~ validator.fieldClass('email') }}">
            {{ validator.errorHtml("email", "address-email") | raw }}
        </div>
        </div>
      <div class="control-group">
        <label for="address-street1" class="control-label required">{{ "Street 1" | _ }}</label>
        <div class="controls">
          <input type="text" name="street1" id="address-street1" value="{{ validator.fieldValue("street1") }}">
            {{ validator.errorHtml("street1", "address-street1") | raw }}
        </div>
      </div>
      <div class="control-group">
        <label for="address-street2" class="control-label">{{ "Street 2" | _ }}</label>
        <div class="controls">
          <input type="text" name="street2" id="address-street2" value="{{ validator.fieldValue("street2") }}">
            {{ validator.errorHtml("street2", "address-street2") | raw }}
        </div>
      </div>
      <div class="row-fluid">
        <div class="control-group span6">
          <label for="address-city" class="control-label required">{{ "City" | _ }}</label>
          <div class="controls">
            <input type="text" name="city" id="address-city" value="{{ validator.fieldValue("city") }}">
              {{ validator.errorHtml("city", "address-city") | raw }}
          </div>
        </div>
        <div class="control-group span6">
          {{ THIS.view('geo/embed') | raw}}
          <script>
              require(['jquery'], function($) {
                  $(function() {
                      $('.geo-country').geoCountryRegion({country:'{{ validator.fieldValue('country') }}', region:'{{ validator.fieldValue('region') }}'});
                  })
              })
          </script>
          <label for="address-country" class="control-label required">{{ "Country" | _ }}</label>
          <div class="controls">
            {% set countries = THIS.get('countries') %}
            {% set defC = validator.fieldValue('country') %}
              {#{{ dump(countries) }}#}
            <select class="geo-country select2" name="country" id="address-country">
                <option value="">{{ "Select an option" | _ }}</option>
                {% for iso, country in countries %}
                <option value="{{ iso }}" {{ defC == iso ? "selected" }}>{{ country }}</option>
                {% endfor %}
            </select>
              {{ validator.errorHtml("country", "address-country") | raw }}
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="control-group span6">
          <label for="address-region" class="control-label required">{{ "State/Region" | _ }}</label>
          <div class="controls">
            <select class="geo-region required select2" name="region" id="address-region" style="display:none;">
                <option value="">{{ "Select an option" | _ }}</option>
            </select>
            <input type="text" class="geo-region" name="region" id="address-region"/>
              {{ validator.errorHtml("region", "address-region") | raw }}
          </div>
        </div>
        <div class="control-group span6">
          <label for="address-postcode" class="control-label required">{{ "Zip / Postal Code" | _ }}</label>
          <div class="controls">
            <input type="text" name="postcode" id="address-postcode" value="{{ validator.fieldValue("postcode") }}">
              {{ validator.errorHtml("postcode", "address-postcode") | raw }}
          </div>
        </div>
      </div>
      <div class="checkbox">
        <label for="address_default_shipping">
          <input type="checkbox" id="address_default_shipping" name="address_default_shipping" value="1"
          {{ THIS.default_shipping == 1 ? 'checked' }} >
          {{ "Set as default shipping address" | _ }}
        </label>
      </div>
      <div class="checkbox">
        <label for="address_default_shipping">
          <input type="checkbox" name="address_default_billing" value="1"
           {{ THIS.default_billing == 1 ? 'checked' }} >
          {{ "Set as default billing address" | _ }}
        </label>
      </div>
      <input type="submit" class="btn btn-primary" value="{{ "Save address" | _ }}">
    </fieldset>
</form>
