{% set c = THIS.get('model') %}
{% set fieldData = { model: c, id_prefix:'FCom_Blog', name_prefix:'config[modules][FCom_Blog]' } %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
<h2>{{ "Blog Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-FCom_Blog'}) }}
     {{ forms.accordion_panel_start({label:'Website'|_, id:'settings-FCom_Blog-group0', in:1}) }}
        {{ forms.input(fieldData|merge({field:'blog_title', label:'Blog Title'|_, value:c.get('modules/FCom_Blog/blog_title')})) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}
