<!--{permission: settings/cron}-->
{% set c = THIS.get('model') %}
{% set mode = c.get("mode_by_ip/FCom_Cron")|split("\n")|join('|') %}
{% set fieldData = { model: c, settings_module:'FCom_Cron' } %}
{% import THIS.view('core/form-elements').twigName() as forms %}
<h2>{{ "Crontab Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-FCom_Cron'}) }}
     {{ forms.accordion_panel_start({label:'Area Settings'|_, id:'settings-FCom_Cron-group0', in:1}) }}
        <div class="form-group" >
            <label class="col-md-2 control-label">{{ "IP: Mode"|_ }}</label>
            <div class="col-md-8  group-ip-mode"></div>
        </div>
    {{ forms.accordion_panel_end }}
    {{ forms.accordion_panel_start({label:'Cron Dispatch'|_, id:'settings-FCom_Cron-group1'}) }}
        {{ forms.input(fieldData, {field:'leeway_mins', label:'Leeway Minutes'|_ }) }}
        {{ forms.input(fieldData, {field:'timeout_mins', label:'Timeout Minutes'|_ }) }}
        {{ forms.input(fieldData, {field:'wait_sec', label:'Wait Seconds'|_ }) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}

<script  type="text/javascript">
    require(['backbone', 'jquery', 'fcom.ipmode','select2'], function(Backbone, $, ipMode) {
        var mode = '{{ mode }}';
        mode = mode.split('|');
        ipMode.initMode({el: $('#settings-FCom_Cron-group0').find('.group-ip-mode'), name: 'config[mode_by_ip][FCom_Cron]', mode: mode});
    })
</script>
