{% set u = THIS.get('user') %}
{% set resetUrl = APP.href('password/reset?token=' ~ u.get('token')) %}

<!--{ To: "{{ u.get('firstname') ~ ' ' ~ u.get('lastname') }}" <{{ u.get('email') }}> }-->
<!--{ From: "{{ CONFIG.get('modules/FCom_Core/site_title') }}" <{{ CONFIG.get('modules/FCom_Core/admin_email') }}> }-->
<!--{ Subject: {{ 'Password reset instructions'|_ }} }-->

Hello {{ u.get('firstname') ?: u.get('username') }},

Please go to this URL to reset your password:

{{ resetUrl }}

<!--======-->

{{ THIS.view('email/html-header') | raw }}

    <p>Hello {{ u.get('firstname') ?: u.get('username') }},</p>

    <p>Please click here to <a href="{{ resetUrl }}">reset your password</a></p>

{{ THIS.view('email/html-footer') | raw }}
