{% set c = THIS.get('model') %}
{% set mode = c.get("mode_by_ip/FCom_Cron")|split("\n")|join('|') %}
<h2>{{ "Crontab Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_Cron">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "Area Settings"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_Cron-group0">
            <div class="panel-body">
                <div class="form-group ip-mode" id="setting-ip-mode-fcom-cron">
                    <label class="col-md-2 control-label">{{ "IP: Mode"|_ }}</label>
                    <div class="col-md-8 row group-ip-mode" style="margin-bottom: 15px">
                        <div class="col-md-3 text-right">
                            <label class="control-label">{{ "Default"|_ }}</label>
                            <input type="hidden" value="*" class="text-ip-mode" name="config[mode_by_ip][FCom_Cron]"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control select2-offscreen select-mode">
                                <option value="PRODUCTION">{{ "PRODUCTION"|_ }}</option>
                                <option value="DEBUG">{{ "DEBUG"|_ }}</option>
                                <option value="STAGING">{{ "STAGING"|_ }}</option>
                                <option value="DEVELOPMENT">{{ "DEVELOPMENT"|_ }}</option>
                                <option value="MIGRATION">{{ "MIGRATION"|_ }}</option>
                                <option value="MIGRATION">{{ "MIGRATION"|_ }}</option>
                                <option value="INSTALLATION">{{ "INSTALLATION"|_ }}</option>
                                <option value="RECOVERY">{{ "RECOVERY"|_ }}</option>
                                <option value="DISABLED">{{ "DISABLED"|_ }}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-xs add-ip-mode" style="margin-top: 5px;" type="button">
                                <i class="icon-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {#<div class="form-group">#}
                    {#<label class="col-md-2 control-label">{{ "IP: Mode"|_ }}</label>#}
                    {#<div class="col-md-5">#}
                        {#<textarea class="form-control" name="config[mode_by_ip][FCom_Cron]" rows="5">{{ c.get('mode_by_ip/FCom_Cron') }}</textarea>#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "Cron Dispatch"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Cron-group1">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Leeway Minutes"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control"type="text" name="config[modules][FCom_Cron][leeway_mins]" value="{{ c.get('modules/FCom_Cron/leeway_mins') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Timeout Minutes"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Cron][timeout_mins]" value="{{ c.get('modules/FCom_Cron/timeout_mins') }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ "Wait Seconds"|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="config[modules][FCom_Cron][wait_sec]" value="{{ c.get('modules/FCom_Cron/wait_sec') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script  type="text/javascript">
    require(['backbone', 'jquery', 'fcom.ipmode','select2'], function(Backbone, $, ipMode) {
        var mode = '{{ mode }}';
        console.log('cronb', mode)
        mode = mode.split('|');
        var select = $('#setting-ip-mode-fcom-cron').find('select').select2();
        mode.forEach(function (obj) {
            var tmp = obj.split(':');
            if (tmp[0] == '*') {
                select.select2('val', tmp[1]);
            } else {
                var ip = new ipMode.Views();
                $('#setting-ip-mode-fcom-cron').append(ip.render(tmp[1]).el);
                ip.$el.find('.text-ip-mode').val(tmp[0]);
            }
        });
    })
</script>