{% set m = THIS.get('model') %}
{% set mode = m.get("mode_by_ip/FCom_ApiServer")|split("\n")|join('|') %}
<h2>{{ "API Server Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_ApiServer">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ "Area Settings"|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_ApiServer-group0">
            <div class="panel-body">
                <div class="form-group ip-mode" id="setting-ip-mode-fcom-api-server">
                    <label class="col-md-2 control-label">{{ "IP: Mode"|_ }}</label>
                    <div class="col-md-8 row group-ip-mode" style="margin-bottom: 15px" >
                        <div class="col-md-3 text-right">
                            <label class="control-label">{{ "Default"|_ }}</label>
                            <input type="hidden" value=""   name="config[mode_by_ip][FCom_ApiServer]"/>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control select-mode" id="ip-mode-default-api-server">
                                {{ UTIL.optionsHtml(APP.instance('FCom_Admin_Controller_Settings').getAllMode())|raw }}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-xs add-ip-mode" style="margin-top: 5px;" type="button">
                                <i class="icon-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {#<div class="col-md-5">#}
                    {#<textarea class="form-control" name="config[mode_by_ip][FCom_ApiServer]" rows="5">{{ m.get('mode_by_ip/FCom_ApiServer') }}</textarea>#}
                {#</div>#}
            </div>
        </div>
    </div>
</div>
<script  type="text/javascript">
    require(['backbone', 'jquery', 'fcom.ipmode','select2'], function(Backbone, $, ipMode) {
        var mode = '{{ mode }}';
        mode = mode.split('|');
        ipMode.initMode(mode, '#setting-ip-mode-fcom-api-server');
    })
</script>