- $formUrl = BApp::href('settings');

:javascript
    require(['jquery', 'jquery.validate', 'bootstrap', 'fcom.admin'], function($) {
        $(function() {
            function onSortableStop(event, ui) {
                var type = ui.item[0].nodeName.toLowerCase()=='li' ? 'tabs' : 'sections';
                console.log(ui.item[0].id);
                var handle = ui.item;
                if (type=='tabs') handle = handle.children('h3');
                handle.triggerHandler('focusout');

                return; //TODO: figure out whether to personalize settings items order

                var url = '#{BApp::href('my_account/personalize')}';

                switch (type) {
                case 'tabs':
                    var items = [];
                    ui.item.parent().children().each(function(idx, el) {
                        items.push(el.id.replace(/^settings-tab-/, ''));
                    });
                    //$.post(url, {'do':'settings.'+type+'.order', items:items});
                    break;

                case 'sections':
                    var items = [];
                    break;
                }
            }

            window.adminForm = FCom.Admin.form({
                form:     '#settings-form',
                tabs:     '.adm-tabs-sidebar li',
                panes:    '.adm-tabs-content',
                url_get:  '#{$formUrl}',
                url_post: '#{$formUrl}'
                //on_tab_load: initTabs
            });
            $('#settings-form').validate();
            //initTabs.apply($('#settings-form'));

            //$('.adm-tabs-sidebar > ul').sortable({axis: 'y', stop: onSortableStop, distance:5});

            FCom.Admin.Tabs('.fcom-admin-main-container', {
                url_get: "#{$formUrl}",
                cur_tab: "#{$this->cur_tab}",
                tab_load_callback: function(i) {
                    FCom.Admin.Accordion('settings-'+i);
                    FCom.Admin.initCodeEditors();
                }
            });
            $('.accordion').each(function(i, el) {
                FCom.Admin.Accordion(el.id);
            });
            FCom.Admin.initCodeEditors()
        });
    })

%form#settings-form.form.form-horizontal(action="#{$formUrl}" method="post")
    .row.fcom-admin-main-title
        .col-sm-12
            .page-header
                %h1.pull-left
                    %i.icon-cog
                    %span = $this->_('Settings')
                .pull-right
                    .btn-group
                        %button.btn(type="submit" onclick="return adminForm.saveAll(this)") = $this->_('Save All')

    .row
        .col-sm-12.fcom-admin-main-container
            .fcom-admin-main-content
                %ul.nav.nav-tabs
                    - foreach ($this->tab_groups as $gk => $group)
                        %li.dropdown
                            %a.dropdown-toggle(href="#" data-toggle="dropdown") = $group['label']
                            %ul.dropdown-menu(a="a" #{!empty($group['open']) ? '' : 'hidden'})
                                - foreach ($group['tabs'] as $k => $tab)
                                    - if (empty($tab['disabled']))
                                        %li(id="settings-tab-#{$k}")
                                            %a.js-form-tab-toggle(href="#tab-#{$k}" data-toggle="tab")
                                                %span.icon
                                                = $tab['label']
                .tab-content
                    - foreach ($this->tabs as $k=>$tab)
                        .tab-pane(id="tab-#{$k}" #{empty($tab['async']) ? 'data-loaded="true"' : ''})
                            - if (empty($tab['async']))
                                - echo $this->view($tab['view'])
-#%form#settings-form.form.form-horizontal(action="#{$formUrl}" method="post")
    %input#current_tab(type="hidden" name="current_tab" value="FCom_Admin")

    %header.fcom-admin-main-title
        %span.title = $this->_('Settings')
        .btn-group
            %button.btn(type="submit" onclick="return adminForm.saveAll(this)")
                %span = $this->_('Save All')
    .fcom-admin-main-container
        .fcom-admin-main-content
            - echo $this->messagesHtml()
            %ul.nav.nav-tabs
                - foreach ($this->tab_groups as $gk => $group)
                    %li.dropdown
                        %a.dropdown-toggle(href="#" data-toggle="dropdown") = $group['label']
                        %ul.dropdown-menu(a="a" #{!empty($group['open']) ? '' : 'hidden'})
                            - foreach ($group['tabs'] as $k => $tab)
                                - if (empty($tab['disabled']))
                                    %li(id="settings-tab-#{$k}")
                                        %a.js-form-tab-toggle(href="#tab-#{$k}" data-toggle="tab")
                                            %span.icon
                                            = $tab['label']
            .tab-content
                - foreach ($this->tabs as $k=>$tab)
                    .tab-pane(id="tab-#{$k}" #{empty($tab['async']) ? 'data-loaded="true"' : ''})
                        - if (empty($tab['async']))
                            - echo $this->view($tab['view'])
