{% set widgets = THIS.getWidgets() %}
<style>
.js-sortable-container { list-style-type: none; }
.js-sortable-handle { cursor: move; }
</style>
<div class='row' id='content-wrapper'>
  <div class='col-xs-12'>

    <div class='page-header page-header-with-buttons'>
      <h1 class='pull-left'>
        <i class='icon-dashboard'></i>
        <span>Dashboard</span>
      </h1>
      <div class='pull-right'>
        <div class='btn-group'>
          <a class="btn btn-white hidden-xs" href="#">Last month</a>
          <a class="btn btn-white" href="#">Last week</a>
          <a class="btn btn-white " href="#">Today</a>
                <a class="btn btn-white" id="daterange" href="#"><i class='icon-calendar'></i>
          <span>Custom</span>
          <b class='caret'></b>
          </a>

        </div>
      </div>
    </div>

    <ul class='js-sortable-container row'>
{% for widget in widgets %}
      <li class="col-sm-{{ widget.cols }}" id="dashboard-widget__{{ widget.key }}" data-id="{{ widget.key }}" {{ widget.hidden ? 'style="display:none"' }}>
        <div class='box'>
          <div class='box-header js-sortable-handle {{ widget.header_class }}'>
            <div class='title'>
              <i class='icon-{{ widget.icon }}'></i>
              {{ widget.title }}
            </div>
            <div class='actions'>
              <a class="btn box-remove btn-xs btn-link js-remove" href="#"><i class='icon-remove'></i></a>
              <a class="btn box-collapse btn-xs btn-link js-collapse" href="#"><i></i></a>
            </div>
          </div>

          {% if widget.view %}
            {{ THIS.view(widget.view) | raw }}
          {% else %}
            {{ widget.content | raw }}
          {% endif %}
        </div>
      </li>
{% endfor %}
    </ul>

  </div>
</div>
<script>
require(['jquery', 'jquery-ui'], function($) {
  $('.js-sortable-container').sortable({
    connectWith: '.js-sortable-container',
    handle: '.js-sortable-handle',
    update: function(ev, ui) {
      //console.log(this, ev, ui);
      var widgetIds = [], personalizeUrl = "{{ APP.href('my_account/personalize') }}";
      $(this).children().each(function(idx, el) {
        widgetIds.push($(el).data('id'));
      });
      var postData = { do:'dashboard.widget.pos', widgets:widgetIds };
      $.post(personalizeUrl, postData, function(response, status, xhr) {
        console.log(response);
      })
    }
    //delay: 100,
  })
  $('.js-sortable-')
})
</script>
