- $storeName = BConfig::i()->get('modules/FCom_Core/store_name')
%section.adm-login-form
    %form.fcom-admin-login#login-form(method="post" action="#{BApp::href('login')}")
        %fieldset
            %header.fcom-admin-login-header
                %span.fcom-admin-login-logo.fulleron-logo-md  = $storeName
                = $this->_('Log In')
            - echo $this->messagesHtml('admin')
            .fcom-admin-login-content
                .control-group
                    %label.control-label(for="inputUser") = $this->_('Email/Username')
                    .controls
                        %input.required#inputUser(type="text" name="login[username]"
                            placeholder="#{$this->_('Enter Email/Username')}")
                .control-group
                    %label.control-label(for="#") = $this->_('Password')
                    .controls
                        %input.required#inputPassword(type="password" name="login[password]"
                            placeholder="#{$this->_('Enter password')}")
                .control-group
                    .controls
                        %label.checkbox
                            %input(type="checkbox" value="remember-me") = $this->_('Keep me logged in')
                .control-group
                    .controls
                        %em
                            %a(href="#{ BApp::href('password/recover') }") = $this->_('Forgot your password?')
                        %button.btn.btn-primary(type="submit") = $this->_('Log In')
        %p.copyright.text-center
            &copy; #{date('Y').' '.$storeName.' '.$this->_('All rights reserved')}

:javascript
    $(function() {
        $('#login-form').validate();
    })
