

<script>
    function runMigrationScripts() {
        $('#form-modules').attr('action', '{{ APP.href("modules/migrate") }}').submit();
    }
</script>
<script>
/**Event Aggregator
This aggregator is for triggering slient_inject that causes main grid adding selected rows from modal grid.**/

require(['jquery', 'backbone', 'underscore'], function($, Backbone, _) {
    if(typeof(g_vent) === 'undefined')
        g_vent = _.extend({}, Backbone.Events);

    function RowModelEx() {
        g_vent.bind('mass-edit', this.mass_save);
        g_vent.bind('edit', this.save);

    }
    RowModelEx.prototype.save = function(ev) {
        if (ev.grid !== 'FCom_Admin_Controller_Modules')
            return;
        var data = {
                    module_name: ev.row.name,
                    run_level_core: ev.row.run_level_core,
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                };
        $.post("#{$this->form_url}", data, function(response, status, xhr) {
            $.bootstrapGrowl("Run level has been saved", { type:'success', align:'center', width:'auto' });
        });
    }

    RowModelEx.prototype.mass_save = function(ev) {
        if (ev.grid !== 'FCom_Admin_Controller_Modules')
            return;
        for (var i in ev.rows) {
            var data = {
                        module_name: ev.rows[i].name,
                        run_level_core: ev.rows[i].run_level_core,
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    };
            $.post("#{$this->form_url}", data, function(response, status, xhr) {
                //$.bootstrapGrowl("Run level has been saved", { type:'success', align:'center', width:'auto' });
            });
        }
    }

    var rowModelEx = new RowModelEx();
});
</script>
<form id="form-modules" method="post" name="form-modules" action="{{ THIS.get('form_url') }}">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="pull-left">
                    <i class="icon-puzzle-piece"></i>
                    <span>{{ "Modules" |_ }}</span>
                </h1>
                <div class="pull-right">
                    <button class="btn btn-success" type="button" onclick="location.href='{{APP.href('modules/market')}}'"><span>{{ 'Download new Modules'|_ }}</span></button>
                    <button class="btn btn-primary" type="button" onclick="return runMigrationScripts()"><span>{{ 'Run Migration Scripts'|_ }}</span></button>
                </div>
            </div>
        </div>
    </div>
</form>
    <div class="box col-sm-12">
        <div class="box-content">
            {{ THIS.view('core/messages') | raw }}
            {{ THIS.view('core/backbonegrid') | raw }}
        </div>
    </div>



