<!DOCTYPE html>
<html {{ THIS.getHtmlAttributes() | raw }}>
<head>
    {{ THIS.hook('head') | raw }}
</head>
<body class="{{ THIS.getBodyClass() }}">
    {% if APP.instance('FCom_Admin_Model_User').isLoggedIn() %}
        {{ THIS.view('admin/header') | raw }}
        <div class="wrapper fcom-admin-container" id="root-layout">
            {{ THIS.view('admin/nav') | raw }}
            <section id="content">
                <div class="container fcom-admin-main" id="main-container">
                    {{ THIS.hook('main') | raw }}
                </div>
            </section>
        </div>
    {% else %}
        <div class="fcom-admin-container" id="root-layout">
            {{ THIS.hook('main') | raw }}
        </div>
    {% endif %}

    {{ THIS.hook('before_body_end') | raw }}
</html>
