- $formUrl = BApp::href('settings');

:javascript
    head(function() {
        function onSortableStop(event, ui) {
            var type = ui.item[0].nodeName.toLowerCase()=='li' ? 'tabs' : 'sections';
    console.log(ui.item[0].id);
            var handle = ui.item;
            if (type=='tabs') handle = handle.children('h3');
            handle.triggerHandler('focusout');

            return; //TODO: figure out whether to personalize settings items order

            var url = '#{BApp::href('my_account/personalize')}';

            switch (type) {
            case 'tabs':
                var items = [];
                ui.item.parent().children().each(function(idx, el) {
                    items.push(el.id.replace(/^settings-tab-/, ''));
                });
                //$.post(url, {'do':'settings.'+type+'.order', items:items});
                break;

            case 'sections':
                var items = [];
                break;
            }
        }

        function initTabs() {
            $('.settings-container', this).accordion({header: '> div > h3'})
                .sortable({axis: 'y', handle: 'h3', stop: onSortableStop, distance:5});
        }
        window.adminForm = FCom.Admin.form({
            form:     '#settings-form',
            tabs:     '.adm-tabs-sidebar li',
            panes:    '.adm-tabs-content',
            url_get:  '#{$formUrl}',
            url_post: '#{$formUrl}',
            on_tab_load: initTabs
        });
        $('#settings-form').validate();
        initTabs.apply($('#settings-form'));
        $('.adm-tabs-sidebar > ul').sortable({axis: 'y', stop: onSortableStop, distance:5});
    });

%form#settings-form(action="#{$formUrl}" method="post")
    %input#current_tab(type="hidden" name="current_tab" value="FCom_Admin")

    %header.adm-page-title
        %span.title = $this->_('Settings')
        .btns-set
            %button.st1.sz2.btn(type="submit" onclick="return adminForm.saveAll(this)")
                %span = $this->_('Save All')

    - echo $this->messagesHtml()

    %section.adm-content-box.info-view-mode
        %aside.form-img-sidebar
            %nav.adm-tabs-sidebar
                %ul
                    - foreach ($this->tabs as $k=>$tab)
                        - if (empty($tab['disabled']))
                            %li(id="settings-tab-#{$k}" class="#{$k===$this->cur_tab ? 'active' : ''}")
                                %a(href="#tab-#{$k}" onclick="$('#current_tab').val('#{$k}')")
                                    %span.icon
                                    = $tab['label']
        .adm-main
            .adm-tabs-container
                - foreach ($this->tabs as $k=>$tab)
                    %section.adm-tabs-content(id="tab-#{$k}" #{$k!==$this->cur_tab ? 'hidden="hidden"' : ''}
                                                #{empty($tab['async']) ? 'data-loaded="true"' : ''})
                        - if (empty($tab['async']))
                            - echo $this->view($tab['view'])