{% set orders = APP.instance('Sellvana_Sales_Admin_Controller_Orders').getLateOrders() %}
{% set ordersCount = APP.instance('Sellvana_Sales_Admin_Controller_Orders').getLateOrdersCount() %}
<div class='box-content' style="height: 300px; overflow-y: scroll">
    {#<div id='stats-chart1'></div>#}
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <caption>{{ "Show %orders$s  of %total$s  order(s)" | _({orders: orders|length, total: ordersCount}) }}</caption>
        <tr>
            <th>{{ "ID"|_ }}</th>
            <th>{{ "Created"|_ }}</th>
            <th>{{ "Last Activity"|_ }}</th>
        </tr>
        </thead>

        {% if orders is empty %}
            <tr>
                <td colspan="6">{{ "No data"|_ }}</td>
            </tr>
        {% else %}
            {% for  order in orders %}
                <tr>
                    <td>{{ order.get('unique_id') }}</td>
                    <td>{{ order.get('create_at') }}</td>
                    <td>{{ order.get('update_at') }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
