
<div class="f-admin-main-view">
  <div class="page-header f-admin-page-header">
    <h1 class="f-page-title">
        {{ "Upload and Import Customers" |_ }}
    </h1>
  </div>

  <div class="f-admin-main">
        <div class="accordion accordion-blue panel-group" id="import-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" href="#">{{ "Step 1: Upload or select file"|_ }}</a>
                </div>
                <div class="panel-collapse collapse in" id="import-accordion-group0">
                    <div class="panel-body">
                        <form class="form form-horizontal" method="post">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ THIS.view('core/medialib').set('config', {id: 'import_files', folder: 'storage/import/customers', mode: 'link', file_types: '/(\.|\\/)(txt|csv)$/i'}) | raw }}
                                </div>
                            </div>
                            <div class="form-actions form-actions-padding-sm">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-2">
                                        <button class="btn st1 sz2 btn btn-primary" id="step1-next"type="button">{{ 'Select file and go to next step'|_ }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- import config -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" href="#">{{ "Step 2: Configure columns and other options"|_ }}</a>
                </div>
                <div class="panel-collapse collapse" id="import-accordion-group1">
                    <div class="panel-body">
                    </div>
                </div>
            </div>

            <!-- import status -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" href="#">{{ "Step 3: Proceed with Import"|_ }}</a>
                </div>
                <div class="panel-collapse collapse" id="import-accordion-group2">
                    <div class="panel-body">
                    </div>
                </div>
            </div>

            <!-- import review -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" href="#">{{ "Step 4: Review Import results"|_ }}</a>
                </div>
                <div class="panel-collapse collapse" id="import-accordion-group3">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    window.import_files_register = function(grid) {
        import_files_grid = grid;
        grid.build();
    }

    require(['jquery', 'fcom.admin'], function($) {
            FCom.Admin.Accordion('import-accordion');

            var importAccordionEle = $('#import-accordion');
            var importConfigEle = $('#import-accordion-group1');
            var importStatusEle = $('#import-accordion-group2');

            $('#step1-next').click(function(ev) {
                //import_files_grid is global object created in medialib.html.twig
                var selectedRows = import_files_grid.getSelectedRows();
                if (!selectedRows.length) {
                    alert('Please select one file');
                    return;
                }

                var filename = selectedRows.at(0).get('file_name');
                importConfigEle.prev().find('a').trigger('click');
                importConfigEle.html('Please wait loading file configuration...');
                $.getJSON('{{APP.href('customers/import/config')}}?file='+encodeURIComponent(filename), function(data, status, xhr) {
                    importConfigEle.html(data.html);
                });
            });

            importAccordionEle.on('click', '#step2-next', function(ev) {
                importStatusEle.prev().find('a').trigger('click');
                importStatusEle.html('Please wait starting import...');
                $.post('{{APP.href('customers/import/config')}}', $('#import-columns-form').serialize(), function(data, status, xhr) {
                    importStatusEle.html(data);
                });
            });

            importAccordionEle.on('click', '#step3-start', function(ev) {
                importStatusEle.load('{{APP.href('customers/import/status')}}?start=true');
            });

            importAccordionEle.on('click', '#step3-stop', function(ev) {
                $.post('{{APP.href('customers/import/stop')}}', $('#import-columns-form').serialize(), function(data, status, xhr) {
                    importStatusEle.html(data);
                });
            });
    });
</script>
