{% set cart = APP.instance('FCom_Sales_Model_Cart').sessionCart() %}
{% set cartQty = cart.itemQty() %}
{% set items = cart.recentItems() %}
{% set checkoutButton = APP.instance('FCom_Checkout_Frontend_CheckoutMethod').getCartCheckoutButton() %}

<ul class="nav topcart pull-left {{ cartQty ? 'cart-filled' : 'empty-cart' }}">
    <li class="dropdown hover carticon ">
        <a href="#" class="dropdown-toggle">
            <span class="label label-orange font14">{{ "%s item(s)" | _(cartQty) }}</span> - {{ cart.get('subtotal') | currency }}
            <b class="caret"></b></a>

{% if cartQty %}
        <ul class="dropdown-menu topcartopen ">
            <li>
                <table>
                    <tbody>
{% for item in items %}{% set p = item.product() %}{% set pUrl = p.url() %}{% set pName = p.get('product_name')  %}
                        <tr>
                            <td class="image"><a href="{{ pUrl }}" title="{{ pName }}"><img width="50" height="50" src="{{ p.thumbUrl(50) }}" alt="{{ pName }}"></a></td>
                            <td class="name"><a href="{{ pUrl }}">{{ pName }}</a></td>
                            <td class="quantity">x&nbsp;{{ item.get('qty') | number_format(0) }}</td>
                            <td class="total">{{ item.rowTotal() | currency }}</td>
                            <td class="remove"><i class="icon-remove"></i></td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td class="textright"><b>Sub-Total:</b></td>
                            <td class="textright">{{ cart.get('subtotal') | currency }}</td>
                        </tr>
<!--
                        <tr>
                            <td class="textright"><b>Eco Tax (-2.00):</b></td>
                            <td class="textright">$2.00</td>
                        </tr>
                        <tr>
                            <td class="textright"><b>VAT (17.5%):</b></td>
                            <td class="textright">$87.50</td>
                        </tr>
                        <tr>
                            <td class="textright"><b>Total:</b></td>
                            <td class="textright">$589.50</td>
                        </tr>
-->
                    </tbody>
                </table>
                <div class="well pull-right buttonwrap">
                    <a class="btn btn-orange" href="{{ APP.href('cart') }}">{{ 'View Cart'|_ }}</a>
                    <a class="btn btn-orange" href="{{ checkoutButton.href }}">{{ 'Checkout'|_ }}</a>
                </div>
            </li>
        </ul>
{% endif %}
    </li>
</ul>
