{% set prodCtrl =  APP.instance('FCom_Catalog_Admin_Controller_Products') %}
{% set customerCtrl =  APP.instance('FCom_Customer_Admin_Controller_Customers') %}
{% set orderCtrl =  APP.instance('FCom_Sales_Admin_Controller_Orders') %}
<script>
    require(['jquery', 'underscore', 'backbone', 'fcom.backbonegrid'], function ($, _, Backbone) {
        window.customerGridRegister = function (grid) {
            grid.build();
        }
    })
</script>
<div class="f-admin-main-view">
    <div class="page-header f-admin-page-header">
        <h1 class="f-page-title">
            <i class="icon-table"></i>
            {{ "Products"|_ }}
        </h1>
    </div>
    <div class="f-admin-main">
        {{ THIS.view('core/backbonegrid').set('grid', { "config" : prodCtrl.gridConfig()}) | raw }}
    </div>
    <div class="page-header f-admin-page-header">
        <h1 class="f-page-title">
            <i class="icon-table"></i>
            {{ "Customers"|_ }}
        </h1>
    </div>
    <div class="f-admin-main">
        {{ THIS.view('core/backbonegrid').set('grid', { "config" : customerCtrl.gridConfig()}) | raw }}
    </div>
    <div class="page-header f-admin-page-header">
        <h1 class="f-page-title">
            <i class="icon-table"></i>
            {{ "Orders"|_ }}
        </h1>
    </div>
    <div class="f-admin-main">
        {{ THIS.view('core/backbonegrid').set('grid', { "config" : orderCtrl.gridConfig()}) | raw }}
    </div>
</div>

