

<script>
    function runMigrationScripts() {
        $('#form-modules').attr('action', '{{ APP.href("modules/migrate") }}').submit();
    }
</script>
<script>

function afterModuleGridRowRendered(el, row)
{
    if(row.migration_available) {
        el.find('td[data-col="schema_version"]').html('<span class="badge badge-important">'+row.schema_version+'</span>');
    }

    if(row.run_status === 'LOADED') {
        el.find('td[data-col="run_status"]').html('<span class="badge badge-success">'+row.run_status+'</span>');
    } else if(row.run_status ==='ERROR') {
        el.find('td[data-col="run_status"]').html('<span class="badge badge-important">'+row.run_status+'</span>');
    }

    var badge = '';
    switch(row.run_level) {
        case 'REQUESTED':
            badge = 'success';
            break;
        case 'REQUIRED':
            badge = 'warning';
            break;
    }
    if(badge != '')
        el.find('td[data-col="run_level"]').html('<span class="badge badge-'+badge+'">'+row.run_level+'</span>');
}

/**Event Aggregator
This aggregator is for triggering slient_inject that causes main grid adding selected rows from modal grid.**/

require(['jquery', 'backbone', 'underscore'], function($, Backbone, _) {
    if (typeof(g_vent) === 'undefined') {
        g_vent = _.extend({}, Backbone.Events);
    }

    function RowModelEx() {
        g_vent.bind('mass-edit', this.mass_save);
        g_vent.bind('edit', this.save);

    }
    RowModelEx.prototype.save = function(ev) {
        if (ev.grid !== 'FCom_Admin_Admin_Controller_Modules') {
            return;
        }
        var data = {
            module_name: ev.row.name,
            run_level_core: ev.row.run_level_core/*,
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')*/
        };
        $.post("{{ THIS.get('form_url') }}", data, function(response, status, xhr) {
            $.bootstrapGrowl("Run level has been saved", { type:'success', align:'center', width:'auto' });
        });
    }

    RowModelEx.prototype.mass_save = function(ev) {
        if (ev.grid !== 'FCom_Admin_Admin_Controller_Modules') {
            return;
        }
        console.log(ev.rows);
        for (var i in ev.rows) {
            var data = {
                module_name: ev.rows[i].name,
                run_level_core: ev.rows[i].run_level_core/*,
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')*/
            };
            $.post("{{ THIS.get('form_url') }}", data, function(response, status, xhr) {
                //$.bootstrapGrowl("Run level has been saved", { type:'success', align:'center', width:'auto' });
            });
        }
    }

    var rowModelEx = new RowModelEx();
});
</script>
<form id="form-modules" method="post" name="form-modules" action="{{ THIS.get('form_url') }}">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="pull-left">
                    <i class="icon-puzzle-piece"></i>
                    <span>{{ "Modules" |_ }}</span>
                </h1>
                <div class="pull-right">
                    <button class="btn btn-success" type="button" onclick="location.href='{{APP.href('modules/market')}}'"><span>{{ 'Download new Modules'|_ }}</span></button>
                    <button class="btn btn-primary" type="button" onclick="return runMigrationScripts()"><span>{{ 'Run Migration Scripts'|_ }}</span></button>
                </div>
            </div>
        </div>
    </div>
</form>
    <div class="box col-sm-12">
        <div class="box-content">
            {{ THIS.view('core/messages') | raw }}
            {{ THIS.view('core/backbonegrid') | raw }}
        </div>
    </div>



