{% set logoSrc = APP.src('@FCom_Core/img/sellvana-logo.png') %}
{% set storeName = CONFIG.get('modules/FCom_Core/store_name') %}

<div class="f-site-header">
  <nav class="f-site-header-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ APP.href() }}" title="{{ storeName }}"><img src="{{ logoSrc }}" alt="{{ storeName }}"/></a>
      </div>
      <ul class="nav navbar-nav navbar-right f-header-util-links">

        {{ THIS.view('multilanguage/header') | raw }}
        {{ THIS.view('multicurrency/header') | raw }}
        {{ THIS.view('customer/header') | raw }}
        {{ THIS.view('checkout/cart/header') | raw }}

      </ul>
      <form class="navbar-form f-header-search-form" role="search" action="{{ APP.href('catalog/search') }}">
        <input type="text" class="form-control typeahead" placeholder="Search the store" name="q" value="{{ REQUEST.get('q') }}">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
      <script type="text/javascript">
        /*$('.f-header-search-form input.typeahead').typeahead({
          name: 'countries',
          prefetch: 'test-countries.json',
          limit: 10
        });*/
      </script>
    </div>
    <div class="f-header-search-bar">
      <div class="container">
        <a href="javascript:void()" class="navbar-toggle" data-toggle="collapse" data-target=".f-catalog-navbar .navbar-nav">
          <span class="f-navbar-toggle-icon">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </span>
          Browse
        </a>
        <form class="navbar-form f-header-search-form" role="search" action="{{ APP.href('catalog/search') }}">
          <input type="text" class="form-control typeahead" placeholder="Search the store" name="q" value="{{ REQUEST.get('q') }}">
          <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <script type="text/javascript">
          require(['jquery', 'typeahead'], function($) {
            $('.header-search-form input.typeahead').typeahead({
              name: 'countries',
              prefetch: 'test-countries.json',
              limit: 10
            });
          })
        </script>
      </div>
    </div>
  </nav><!-- /#site-header-top -->
  {{ THIS.view('catalog/nav') | raw }}
  <div class="f-header-col-callouts">
    <div class="container">
      <div class="row">
        <a href="#" class="col-sm-4">
          Free Ground Shipping
          <small>On orders over $100</small>
        </a>
        <a href="#" class="col-sm-4">
          We Ship Globally
          <small>See list of countries</small>
        </a>
        <a href="#" class="col-sm-4">
          Easy returns and exchange
          <small>We've made it easy for you!</small>
        </a>
      </div>
    </div>
  </div>
</div><!-- /#site-header -->
