<!DOCTYPE html>
<html {{ THIS.getHtmlAttributes() | raw }} >
    <head>
        {{ THIS.hook('head') | raw }}
    </head>
    <body class="{{ THIS.getBodyClass() }}">
        {{ THIS.hook('body_start')      | raw }}
        {{ THIS.hook('header')          | raw }}
        {{ THIS.hook('after_header')    | raw }}
        {{ THIS.hook('main')            | raw }}
        {{ THIS.hook('before_footer')   | raw }}
        {{ THIS.hook('footer')          | raw }}
        {{ THIS.hook('before_body_end') | raw }}
    </body>
</html>
