- $tabs = $this->sortedTabs()
- $m = $this->model

:javascript
    FCom.Admin.Tabs('.fcom-admin-main-container', { 
        //url_get: "#{$this->form_url}", 
        cur_tab: "#{$this->cur_tab}"
    });


%header.fcom-admin-main-title
    .btn-group
        %button.btn(onclick="return adminForm.saveAll(this)")
            %span = $this->_('Save')
    %h1 = str_replace('|', ' > ', $m->full_name)

.fcom-admin-main-container.fcom-admin-main-flush
    %nav
        %ul.nav.nav-tabs
            - foreach ($tabs as $k => $tab)
                %li
                    %a.js-form-tab-toggle(href="#tab-#{$k}" data-toggle="tab")
                        %span.icon
                        = $tab['label']

    .tab-content.fcom-admin-main-content
        - foreach ($tabs as $k => $tab)
            - if (!empty($tab['view']))
                .tab-pane(id="tab-#{$k}" #{empty($tab['async']) ? 'data-loaded="true"' : ''})
                    - if (empty($tab['async']))
                        - echo $this->view($tab['view'])
