- $tabs = $this->sortedTabs()
- $m = $this->model

%section.info-view-mode
    %header.adm-main-header
        .btns-set
            %button.st1.sz2.btn(onclick="return adminForm.saveAll(this)")
                %span = $this->_('Save')
        %h1 = str_replace('|', ' > ', $m->full_name)

    %nav.adm-tabs
        %ul
            - foreach ($tabs as $k => $tab)
                %li(class="#{$k===$this->cur_tab ? 'active' : ''}")
                    %a(href="#tab-#{$k}")
                        %span.icon
                        = $tab['label']

    .adm-tabs-container
        - foreach ($tabs as $k => $tab)
            - if (!empty($tab['view']))
                %section.adm-tabs-content(id="tab-#{$k}" #{$k!==$this->cur_tab ? 'hidden' : ''} #{empty($tab['async']) ? 'data-loaded="true"' : ''})
                - if (empty($tab['async']))
                    - echo $this->view($tab['view'])
