{% set formUrl = APP.href('catalog/categories/tree_form/') %}

<script>
    require(['jquery', 'jstree', 'fcom.admin', 'jquery.splitter'], function($) {
        $(function() {
            /*
            $('.fcom-admin-nav-sidebar').resizable({
                handles: 'e',
                resize: function(ev, ui) {
                    $('#categories-layout').css('padding-left', ui.size.width+'px');
                }
            });
            */
            //fix for splitter
            var categories_layout = $('#categories-layout');
            categories_layout.css('height', $(this).height());
            categories_layout.split({
                orientation: 'vertical',
                limit: 2,
                position: '25%'
            });
//            FCom.Admin.checkboxButton('#categories-tree-lock', {def:true,
//                on:{icon:'icon-lock', label:'Editing Locked'},
//                off:{icon:'icon-unlock', label:'Editing Unlocked'}
//            });
            $('.js-expand-all').click(function() { $('#categories').jstree('open_all', $('#1>ul>li')); return false });
            $('.js-collapse-all').click(function() { $('#categories').jstree('close_all', $('#1>ul>li')); return false });

            /*
            var tree = new FCom.Admin.DynaTree({el:'#categories', tree: {
                persist: true,
                children: [ // Pass an array of nodes.
                    {title: "Item 1"},
                    {title: "Folder 2", isFolder: true,
                        children: [
                            {title: "Sub-item 2.1"},
                            {title: "Sub-item 2.2"}
                        ]
                    },
                    {title: "Item 3"}
                ]
            }});
            tree.render();
            */

            FCom.Admin.tree('#categories', {
                url:'{{ APP.href('catalog/categories/tree_data') }}',
                on_click: function (n) { loadForm(n.attr('id')); } ,
                //, on_dblclick: function (n) { loadForm(n.attr('id')); }
                on_select: function (n) { loadForm(n.attr('id')); },
                lock_flag: '#categories-tree-lock',
                create_lock: true
            });
            /*
            var cmsNavLayout = $('#categories-layout').height($('.adm-wrapper').height()).layout({
                useStateCookie: true,
                west__minWidth:400,
                west__spacing_open:1,
                west__closable:false,
                triggerEventsOnLoad: true,
                onresize:function(pane, $Pane, paneState) {
                    $('.ui-jqgrid-btable:visible', $Pane).each(function(index) {
                        if (!this.id.match(/_t$/)) {
                            $(this).setGridWidth(paneState.innerWidth - 20);
                        }
                    });
                }
            });
            */
            function loadForm(id) {
                var url = '{{ formUrl }}?id='+id;
                $('#categories-form-container').load(url, function() {
                    $('#categories-tree-form').attr('action', url);
                    window.adminForm = FCom.Admin.form({
                        tabs:     '.adm-tabs li',
                        panes:    '.adm-tabs-content',
                        url_get:  url,
                        url_post: url
                    });
                });
            }

        })
    })
</script>


<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1 class="pull-left">
                <i class="icon-list-ul"></i>
                <span>{{ "Categories" |_ }}</span>
                {#<input class="entypo lock" id="categories-tree-lock" type="checkbox"/>#}
            </h1>
        </div>
    </div>
</div>

<div class="box col-sm-12">
    <div class="fcom-admin-main-container fcom-admin-sidebar-view box-content row" id="categories-layout">
        <div id="categories-wrapper">
            <div class="text-center well-sm">
                <a class="js-expand-all btn" href="#">{{ "Expand All"|_ }}</a>
                <a class="js-collapse-all btn" href="#">{{ "Collapse All"|_ }}</a>
            </div>
            <div class="fcom-admin-nav-sidebar fcom-admin-tree-sidebar col-sm-12" id="categories"></div>
        </div>
        <form class="form form-horizontal" id="categories-tree-form" action="{{ formUrl }}" method="post">
            <div id="categories-form-container" class="col-sm-12"></div>
        </form>
    </div>
</div>

