{% set type = THIS.get('type') %}
{% set customer = THIS.get('customer') %}

        <div class="row f-mb-slideout-menu">
            <div class="col-sm-12 f-col-main">
                <header class="f-page-header">
                    <h1 class="f-page-title">{{ THIS.get('header') }}</h1>
                </header>
                {{ THIS.view('core/messages') | raw }}
                <div class="f-address-list">
                    {% for address in THIS.get('addresses') %}
                        <div class="f-address-list-item
                        {% if (type == 's' and address.get('id') == customer.get('default_shipping_id')) or
                              (type == 'b' and address.get('id') == customer.get('default_billing_id')) %}
                            well
                        {% endif %}">
                            {% if ('s' == type) %}
                                {% if address.get('id') == customer.get('default_shipping_id') %}
                                    <strong>{{ "Default shipping address" | _ }}</strong><br/>
                                {% endif %}
                            {% else %}
                                {% if address.get('id') == customer.get('default_billing_id') %}
                                    <strong>{{ "Default billing address" | _ }}</strong><br/>
                                {% endif %}
                            {% endif %}

                            {{ APP.instance("Sellvana_Customer_Model_Address").as_html(address) | raw }}
                            <a href="{{ APP.href("customer/address/choose") }}?id={{ address.get('id') }}&t={{ type }}">{{ "Select" | _ }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

