<div class="row f-mb-slideout-menu">
  <div class="col-sm-9 f-col-main">
    <header class="f-page-header">
      <h1 class="f-page-title">{{"Address Book" | _ }}</h1>
      <a href="{{ APP.href("customer/address/edit") }}" class="btn btn-primary">{{ "Add new address" | _ }}</a>
      <a href="javascript:void(0);" id="button" class="f-mb-slideout-menu-toggle btn btn-default visible-xs">{{ 'Menu'|_ }}</a>
    </header>
      {{ THIS.view('core/messages') | raw }}
    <div class="f-address-list">
    {% for address in THIS.get('addresses') %}
      <div class="f-address-list-item{% if address.get('id') == THIS.get('customer').get('default_shipping_id') or address.get('id') == THIS.get('customer').get('default_billing_id') %} well{% endif %}">
        <form action="{{ APP.href("customer/address/delete") }}?id={{ address.get('id') }}" method="post">
          <input type="hidden" name="X-CSRF-TOKEN" value="{{SESSION.csrfToken()}}">
          {% if address.get('id') == THIS.get('customer').get('default_shipping_id') %}
              <strong>{{ "Default shipping address" | _ }}</strong>
          {% endif %}
          {% if address.get('id') == THIS.get('customer').get('default_shipping_id') or address.get('id') == THIS.get('customer').get('default_billing_id') %}<br/>{% endif %}
          {% if address.get('id') == THIS.get('customer').get('default_billing_id') %}
              <strong>{{ "Default billing address" | _ }}</strong>
          {% endif %}
          {{ APP.instance('Sellvana_Customer_Model_Address').as_html(address) | raw }}
          <a href="{{ APP.href("customer/address/edit") }}?id={{ address.get('id') }}">{{ "Edit" | _ }}</a>
          <button type="submit" class="f-address-remove"><span>{{ "Remove" | _ }}</span></button>
        </form>
      </div>
    {% endfor %}
    </div>
  </div>
  {{ THIS.view('customer/account/sidebar').set('current', 'addresses') | raw }}
</div>
<script>
  require(['jquery'], function($) {
    $( "#button" ).click(function() {
      $('.f-mb-slideout-menu .f-col-sidebar').toggleClass( "open" );
    });
    $('.f-address-remove').click(function(ev) {
      if (!confirm('{{ 'Are you sure you want to delete this address?'|_ }}')) {
        return false;
      }
      return true;
    });
  });
</script>
