{% set c = THIS.get('model') %}
{% import THIS.view('core/form-elements').twigName() as forms %}
{% set locales = LOCALE.getAvailableLocaleCodes() %}

<h2>{{ "API Server Settings"|_}}</h2>

{% set fieldData = { model: c, settings_module:'FCom_ApiServer' } %}
{{ forms.accordion_start({id:'settings-FCom_ApiServer'}) }}
    {{ forms.accordion_panel_start({label:'Area Settings'|_, id:'settings-FCom_Admin-group0', in:1}) }}
        <div class="form-group">
            {{ forms.label({label:'IP: mode'|_}) }}
            <div class="col-md-8 group-ip-mode"></div>
        </div>
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}

<script  type="text/javascript">
    require(['backbone', 'jquery', 'fcom.ipmode', 'select2'], function(Backbone, $, ipMode) {
        var mode = {{ UTIL.toJson(c.get("mode_by_ip/FCom_ApiServer")|split("\n")) | raw }};
        ipMode.initMode({el: $('#settings-FCom_ApiServer-group0').find('.group-ip-mode'), name: 'config[mode_by_ip][FCom_ApiServer]', mode: mode});
    })
</script>