{% set m = THIS.get('model') %}
{% set postCtrl =  APP.instance('FCom_Blog_Admin_Controller_Post') %}
<script>
/*
*Not used.
*/
</script>
<input type='hidden' name='grid[post_category][add]' id='post_ids_add' />
<input type='hidden' name='grid[post_category][del]' id='post_ids_remove'/>
<div class='row'>
    <div class='col-sm-10'>
        {{ THIS.view('core/backbonegrid').set('grid', postCtrl.postGridConfig(m)) | raw }}
    </div>
</div>
<a role="button" href="#prod-grid-add" data-toggle="modal" style='display:none;' id='btn_add_post'>{{ "Add"|_ }}</a>
<div class='modal fade' id='prod-grid-add' tabindex='-1'>
    <div class='modal-dialog' style='width:900px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='myModalLabel'>{{ "Add posts"|_ }}</h4>
            </div>
            <div class='modal-body'>
                {{ THIS.view('core/backbonegrid').set('grid', postCtrl.getAllPostConfig()) | raw }}
            </div>
            <div class='modal-footer'>
                <button class='btn btn-default btn-close post-modal-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
            </div>
        </div>
    </div>
</div>





