{% set imgBaseUrl = APP.src('@FCom_FrontendThemeBootSimple/img') %}
<div class="f-site-main" role="main">
  <div class="container f-home-hero-callouts">
    <div class="row">
      <div class="f-callout col-md-5">
        <img class="img-responsive" src="{{ imgBaseUrl }}/ph/pixel-gray-800x800.gif" alt=""/>
      </div>
      <div class="f-callout col-md-7">
        <img class="img-responsive" src="{{ imgBaseUrl }}/ph/pixel-gray-800x800.gif" alt=""/>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="f-widget f-widget-featured-prods">
      <header class="f-widget-header">
        <strong class="f-widget-title">Featured Products</strong>
      </header>
      <div class="f-prod-listing f-prod-listing-grid">
        <div class="row">
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb2.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb2.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.prod-listing -->
    </div><!-- /.widget-featured-prods -->

    <div class="f-widget f-widget-featured-prods">
      <header class="f-widget-header">
        <strong class="f-widget-title">Popular Products</strong>
      </header>
      <div class="f-prod-listing f-prod-listing-grid">
        <div class="row">
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb2.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb2.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="thumbnail">
              <a href="#" class="f-prod-img"><img src="{{ APP.src('@FCom_FrontendThemeBootSimple/img/ph/ph_product_thumb3.jpg') }}" alt="Tommy Hilfiger Montclair 3-piece Duvet Cover Set"></a>
              <div class="caption">
                <a href="#" class="f-prod-name">Tommy Hilfiger Montclair 3-piece Duvet Cover Set</a>
                <table class="f-price-group">
                    <tr class="f-special-price">
                      <th class="f-price-label">Price:</th>
                      <td class="f-price">$59.99</td>
                    </tr>
                    <tr class="f-old-price">
                      <th class="f-price-label">Was:</th>
                      <td class="f-price">$109.99</td>
                    </tr>
                </table>
                <!-- /.f-price-group -->
                <p><a href="#" class="btn btn-primary btn-sm">Add to Cart</a> <a href="#" class="btn btn-link btn-sm">View Details</a></p>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.f-prod-listing -->
    </div><!-- /.f-widget-featured-prods -->


  </div><!-- /.container -->
  <!--<ul class="rslides">
    <li><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/image.jpg" alt=""/></li>
    <li><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/image.jpg" alt=""/></li>
    <li><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/image.jpg" alt=""/></li>
  </ul>-->
</div><!-- /.f-site-main -->
<!--<script>
  $(function() {
    $(".rslides").responsiveSlides({
      speed: 500,            // Integer: Speed of the transition, in milliseconds
      timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
      pager: true,           // Boolean: Show pager, true or false
      nav: true,             // Boolean: Show navigation, true or false
      random: true,          // Boolean: Randomize the order of the slides, true or false
      pause: true,           // Boolean: Pause on hover, true or false
      pauseControls: true    // Boolean: Pause when hovering controls, true or false
  });
</script>-->
