{% set c = THIS.get('model') %}
{% set fieldData = { model: c, id_prefix:'FCom_ProductReviews', name_prefix:'config[modules][FCom_ProductReviews]' } %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
<h2>{{ "Product Reviews Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-FCom_ProductReviews'}) }}
     {{ forms.accordion_panel_start({label:'General Settings'|_, id:'settings-FCom_ProductReviews-group0', in:1}) }}
        {{ forms.boolean(fieldData|merge({field:'need_approve', label:'Custom Order Status On Payment'|_, value: c.get("modules/FCom_ProductReviews/need_approve")})) }}
     {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}
