{% set isLoggedIn = APP.instance('FCom_Customer_Model_Customer').isLoggedIn() %}

{% if isLoggedIn %}
<!-- Modal -->
<div class="modal fade" id="f-prod-review-form" tabindex="-1" role="dialog" aria-labelledby="f-prod-review-form-label" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog f-prod-review-form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ 'Review the Product'|_ }}</h4>
      </div>
      <div class="modal-body">
        {{ THIS.view('prodreviews/review-form').set('prod', THIS.get('prod')) | raw }}
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  require(['jquery'], function($) {
    $('#f-prod-review-open').attr('href', '#f-prod-review-form');
  })
</script>
{% endif %}

<section class="tab-pane active f-prod-reviews" id="f-prod-tab-reviews">
  <div class="f-tab-heading">
    <h5 class="f-tab-title">{{ 'Customer Reviews'|_ }}</h5>
    <a data-toggle="modal" href="{{ APP.href('prodreviews/add?pid=') ~ THIS.get('prod').id() }}" class="btn btn-sm btn-primary" id="f-prod-review-open">{{ 'Write your own review'|_ }}</a>
  </div>
  <div class="f-prod-review-avg clearfix">
    <h5>Avg. Customer Rating (53 Reviews):</h5>
    <div class="glyphicon f-rating-stars f-lg-stars">
      <span class="f-filled-stars" style="width:80%;"></span>
      <span class="f-empty-stars"></span>
    </div>
    <strong>4 / 5</strong>
    <div class="f-prod-review-attrs">
      <dl class="dl-horizontal">
        <dt>Value</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:80%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          4</dd>
        <dt>Features</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          5</dd>
        <dt>Quality</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:80%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          4</dd>
      </dl>
    </div>
  </div>
  <article class="f-prod-review-post clearfix">
    <h5>I love Fulleron!! Great value and service.</h5>
    <span class="meta">by John Doe on October 12, 2013</span>
    <div class="col-md-5 col-sm-5 f-prod-review-attrs">
      <dl class="dl-horizontal">
        <dt><strong>Overall</strong></dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          <strong>5 / 5</strong>
        </dd>
        <dt>Value</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          5</dd>
        <dt>Features</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          5</dd>
        <dt>Quality</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          5</dd>
      </dl>
    </div>
    <div class="col-md-7 col-sm-7 f-prod-review">
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
      <p>Making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
  </article>
  <article class="f-prod-review-post clearfix">
    <h5>I love Fulleron!! Great value and service.</h5>
    <span class="meta">by John Doe on October 12, 2013</span>
    <div class="col-md-5 col-sm-5 f-prod-review-attrs">
      <dl class="dl-horizontal">
        <dt><strong>Overall</strong></dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          <strong>5 / 5</strong>
        </dd>
        <dt>Value</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          5</dd>
        <dt>Features</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          5</dd>
        <dt>Quality</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          5</dd>
      </dl>
    </div>
    <div class="col-md-7 col-sm-7 f-prod-review">
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
  </article>
  <article class="f-prod-review-post clearfix">
    <h5>I love Fulleron!! Great value and service.</h5>
    <span class="meta">by John Doe on October 12, 2013</span>
    <div class="col-md-5 col-sm-5 f-prod-review-attrs">
      <dl class="dl-horizontal">
        <dt><strong>Overall</strong></dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          <strong>5 / 5</strong>
        </dd>
        <dt>Value</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          5</dd>
        <dt>Features</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          5</dd>
        <dt>Quality</dt>
        <dd>
          <div class="glyphicon f-rating-stars f-xs-stars">
            <span class="f-filled-stars" style="width:100%;"></span>
            <span class="f-empty-stars"></span>
          </div>
          5</dd>
      </dl>
    </div>
    <div class="col-md-7 col-sm-7 f-prod-review">
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
  </article>
  <p><a href="#"><strong>Read all 53 customer reviews &rsaquo;</strong></a></p>
</section>
