{% set reviews = THIS.get('reviews') %}

<div class="f-prod-review-avg clearfix">
    <h5>{{ "Avg. Customer Rating"|_ }} ({{ reviews.numReviews }} {{ "Reviews"|_ }}):</h5>
    <div class="glyphicon f-rating-stars f-lg-stars">
        <span class="f-filled-stars" style="width:{{ (reviews.avgRating.rating/rate.max)*100 }}%;"></span>
        <span class="f-empty-stars"></span>
    </div>
    <strong>{{ reviews.avgRating.rating }} / {{ rate.max }}</strong>
    <div class="f-prod-review-attrs">
        <dl class="dl-horizontal">
            <dt>{{ "Value"|_ }}</dt>
            <dd>
                <div class="glyphicon f-rating-stars f-xs-stars">
                    <span class="f-filled-stars" style="width:{{ (reviews.avgRating.rating1/rate.max)*100 }}%;"></span>
                    <span class="f-empty-stars"></span>
                </div>
                {{ reviews.avgRating.rating1 }}</dd>
            <dt>{{ "Features"|_ }}</dt>
            <dd>
                <div class="glyphicon f-rating-stars f-xs-stars">
                    <span class="f-filled-stars" style="width:{{ (reviews.avgRating.rating2/rate.max)*100 }}%;"></span>
                    <span class="f-empty-stars"></span>
                </div>
                {{ reviews.avgRating.rating2 }}</dd>
            <dt>{{ "Quality"|_ }}</dt>
            <dd>
                <div class="glyphicon f-rating-stars f-xs-stars">
                    <span class="f-filled-stars" style="width:{{ (reviews.avgRating.rating3/rate.max)*100 }}%;"></span>
                    <span class="f-empty-stars"></span>
                </div>
                {{ reviews.avgRating.rating3 }}</dd>
        </dl>
    </div>
</div>

{% for review in reviews.items %}
    <article class="f-prod-review-post clearfix">
        <h5>{{ review.get('title') }}</h5>
        <span class="meta">{{ "by"|_ }} {{ review.get('firstname') }} {{ review.get('lastname') }} {{ "on"|_ }} {{ review.get('create_at')|date('F j, Y') }}</span>
        <div class="col-md-5 col-sm-5 f-prod-review-attrs">
            <dl class="dl-horizontal">
                <dt><strong>{{ "Overall"|_ }}</strong></dt>
                <dd>
                    <div class="glyphicon f-rating-stars f-xs-stars">
                        <span class="f-filled-stars" style="width:{{ (review.get('rating')/rate.max)*100 }}%;"></span>
                        <span class="f-empty-stars"></span>
                    </div>
                    <strong>{{ review.get('rating') }} / {{ rate.max }}</strong>
                </dd>
                <dt>{{ "Value"|_ }}</dt>
                <dd>
                    <div class="glyphicon f-rating-stars f-xs-stars">
                        <span class="f-filled-stars" style="width:{{ (review.get('rating1')/rate.max)*100 }}%;"></span>
                        <span class="f-empty-stars"></span>
                    </div>
                    {{ review.get('rating1') }}</dd>
                <dt>{{ "Features"|_ }}</dt>
                <dd>
                    <div class="glyphicon f-rating-stars f-xs-stars">
                        <span class="f-filled-stars" style="width:{{ (review.get('rating2')/rate.max)*100 }}%;"></span>
                        <span class="f-empty-stars"></span>
                    </div>
                    {{ review.get('rating2') }}</dd>
                <dt>{{ "Quality"|_ }}</dt>
                <dd>
                    <div class="glyphicon f-rating-stars f-xs-stars">
                        <span class="f-filled-stars" style="width:{{ (review.get('rating3')/rate.max)*100 }}%;"></span>
                        <span class="f-empty-stars"></span>
                    </div>
                    {{ review.get('rating3') }}</dd>
            </dl>
        </div>
        <div class="col-md-7 col-sm-7 f-prod-review">
            {{ review.get('text') }}
        </div>
    </article>
{% endfor %}

{% if (reviews.numReviews > 1) %}
    <p><a href="#"><strong>{{ "Read all %s customer reviews"|_(reviews.numReviews) }} &rsaquo;</strong></a></p>
{% endif %}