{% set reviews = THIS.get('product_reviews') %}
{% set isLoggedIn = APP.instance("FCom_Customer_Model_Customer").isLoggedIn() %}

{% if reviews %}
    {% set prod = THIS.get('product') %}
    <a href="{{ APP.href('prodreviews/add') }}?pid={{ prod.get('id') }}">{{ "Review the product" | _ }}</a><br/><br/>
    {{ "Total reviews: %s" | _(prod.get('num_reviews')) }}<br/>
    {% for review in reviews  %}
        {% set id = review.get("id") %}
        {% set rating = review.get("id") %}
    <div>
        <input name="review[rating{{ id }}]" type="radio" class="star" disabled="disabled" value="1" {{ rating == 1 ? 'checked' }}/>
        <input name="review[rating{{ id }}]" type="radio" class="star" disabled="disabled" value="2" {{ rating == 2 ? 'checked' }} />
        <input name="review[rating{{ id }}]" type="radio" class="star" disabled="disabled" value="3" {{ rating == 3 ? 'checked' }}/>
        <input name="review[rating{{ id }}]" type="radio" class="star" disabled="disabled" value="4" {{ rating == 4 ? 'checked' }}/>
        <input name="review[rating{{ id }}]" type="radio" class="star" disabled="disabled" value="5" {{ rating == 5 ? 'checked' }}/>
        <span style="font-weight: bold; padding-left: 15px;">{{ review.get('title') }}</span>
        {{ review.get('create_at') | date("F d, Y") }}
    <br/>
        {{ review.get('text') | nl2br }}<br/>

        {% if (isLoggedIn) %}
            <a href="javascript:void(0)"
                onclick="$.get('{{ APP.href('prodreviews/offensive') }}?rid={{ review.get('id') }}');$('#offensive_msg_{{ review.get('id') }}').show()"
                class="error">{{ "Offensive review" | _}}</a>
            <div id="offensive_msg_{{ review.get('id') }}" class="alert alert-success">{{ "Thank you for your feedback!" | _}}</div>
            <div id="block_review_helpful_{{ review.get('id') }}">
                <form action="{{ APP.href('prodreviews/helpful') }}" method="post"  onsubmit="return false;">
                    <input type="hidden" name="pid" value="{{ prod.get('id') }}">
                    <input type="hidden" name="rid" value="{{ review.get('id') }}">
                    {{ "Was this review helpful to you" | _ }}?
                    <button type="submit" name="review_helpful" value="yes"
                        onclick="FCom.add_review_rating('{{ APP.href('prodreviews/helpful') }}', {{ review.get('id') }}, 'yes');">{{ "Yes" | _ }}</button>
                    <button type="submit" name="review_helpful" value="no"
                        onclick="FCom.add_review_rating('{{ APP.href('prodreviews/helpful') }}', {{ review.get('id') }}, 'no');">{{ "No" | _ }}</button>
                </form>
            </div>
            <span id="block_review_helpful_done_{{ review.get('id') }}" style="color:green"></span>
        {% endif %}
        <br/><br/>
        </div>
    {% endfor %}
{% else %}
<p><a href="{{ APP.href('prodreviews/add') }}?pid={{ prod.get('id') }}">{{ "Be the first to review this product" | _ }}</a></p>
{% endif %}
<script>require(['fcom.productreviews'])</script>
