{# Logic provided by FCom_Core_View_Backgrid #}

{% set data = THIS.getGridData() %}
{% set grid = THIS.getGrid() %}
{% set config = grid.config %}
{% set s = data.result.state %}
{% set pageUrl = THIS.pageChangeHref() %}


{# p=page, ps=pagesize, mp=maxpage, s=sort, sd=sortdir, c=totalrows #}
<div class="fcom-htmlgrid responsive-table dataTables_wrapper" id="{{ config.id }}">
  {# %form(method="get" action="#{$this->gridUrl()") #}
  {# %fieldset #}
  <div class="fcom-htmlgrid__toolbar btn-toolbar" style="height:45px">
    {# %input(type="text" name="search[_quick]" value="{{ s.search._quick ? s.search._quick }}") #}
    {# %input(type="submit" value="#{$this->_('Search')}") #}
      <!--
        <span class="fcom-htmlgrid__rows-status">{{ 'Rows %s - %s of %s'|_([1+s.rs, s.rs+s.rc, s.c]) }}</span>
        -->
        <ul class="pagination pagination-sm pagesize">
          {% for ps in THIS.pageSizeOptions() %}
            <li {{ ps==s.ps ? 'class="active"' }}>
              <a class="js-change-url page-size" href="#">{{ ps }}</a>
            </li>
          {% endfor %}
        </ul>

        <ul class="pagination pagination-sm page">
          {#
          <label>
            {{ 'Page'|_ }}
          </label>
          <input class="fcom-htmlgrid__gotopage js-change-url" data-href="{{ THIS.pageChangeHref() }}" value="{{ s.p }}">
          {{ 'of %s'|_(s.mp) }}
          #}


        </ul>

        {% for action in THIS.gridActions() %}
          {% if action.renderer %}
            {{ THIS.callUserFunc(action.renderer, [action]) | raw }}
          {% elseif action.html %}
            {{ action.html | raw }}
          {% endif %}
        {% endfor %}
        
        <span class="dropdown dd dd-nestable" style="display:inline;">
            <a data-toggle="dropdown" class="dropdown-toggle showhide_columns grid-refresh" href="#">
                Columns
                <b class="caret"></b>
            </a>
            
                <ol class="dd-list dropdown-menu">
                    <!--li calss="ui-state-default"-->
                    <!-- visibiility template -->
                    <!--/li -->
                </ol>
          
        </span>

  </div>
  {% if s.description %}
    <div class="fcom-htmlgrid__status-description">
      {{ s.description|raw }}
    </div>
  {% endif %}
  <div class="scrollable-area">
    
          
    
    <table class="fcom-htmlgrid__grid table data-table table-bordered table-striped" id = {{ config.id | raw }} >
      {#<colgroup>
        {% foreach ($config['columns'] as $colId => $column) %}
          <col>(width="#{!empty($column['width']) ? $column['width'] : ''}")</col>
        {% end %}
      </colgroup>#}
      <thead>
        <tr id="tr-sort-{{ config.id }}" role="row">
          <!-- header template -->
        </tr>
      </thead>
      <tbody>
        {#{ THIS.rowsHtml() | raw }#}
        <!-- row template -->
      </tbody>
    </table>
  </div>
</div>



<script type="template" id="{{ config.id }}-col-template">
  <div class="dd-handle dd3-handle">
    &nbsp;
  </div>
  <div class="dd3-content">
    <label>
        <input class="showhide_column" type="checkbox" datid=<%= rc.name %> <% if (rc.hidden === false) { %>checked <% } %> >
        <%= rc.label %>
    </label>
  </div>
</script>
<script type="template" id="{{ config.id }}-row-template">
  <tr id="<%= rc.id %>" class="<%= rc.cssClass %>">
  <% for (var index in rc.colsInfo) {          
    var col = rc.colsInfo[index];    
    if(col.hidden ) {      
      continue;
    }  

    print('<td>');

    if (col.cell === 'select-row') { 
        print('<input type="checkbox" name="[{{ config.id}}][checked]['+rc.id+']">');      
    } else if (col.href!='') { 
        print('<a href="{{ col.href|raw }}">' + rc[col.name] + '</a>');
    } else {
        print(rc[col.name]);
    } 

    print('</td>');
  } %>
  </tr>
</script>

<script type='template' id="{{ config.id }}-header-template">
    <th id="th-sort-<%= rc.id %>" data-id="<%= rc.name %>" <% if (rc.width) { %> style="width:<%= rc.width %>px;" <% } %> class="<%= rc.cssClass %> sort-<%= rc.sortState %>">

        <% if(rc.type === '' || rc.type === 'default') { %>
            <a class="js-change-url" style="cursor: pointer;">
                <%= rc.label %>
            </a>
        <% } else if (rc.type === 'multiselect') { %>
            <select class="js-sel">
                {{ UTIL.optionsHtml(THIS.multiselectToggleOptions(), THIS.multiselectCurrent()) | raw }}
            </select>
        <% } %>
    </th>
</script>



<script>
require(['jquery', 'fcom.backbonegrid'], function($) {
    //$(function() {
        var grid = new FCom.BackboneGrid({
            id: "{{ config.id }}",
            personalize_url: "{{ APP.href('my_account/personalize') }}",
            data_url: "{{ config.data_url }}",
            data: {{ THIS.getPageRowsData() | raw }},
            headerTemplate: "{{ config.id }}-header-template",
            rowTemplate: "{{ config.id }}-row-template",
            pageTemplate: "{{ config.id }}-pagination-template",
            colTemplate: "{{ config.id }}-col-template",
            columns: {{ THIS.getColumnsData() | raw }}
        });
    //});
});
</script>
