{#
INITIALIZATION:

{% set fieldData = { model:model, validator:validator, id_prefix:'model', name_prefix:'model', get_prefix:'config/prefix' } %}
{% include THIS.view('core/form-elements').twigName() as forms %}

EXAMPLES:

{{ forms.input(fieldData, {field:'name', label:'Label'|_, required:1}) }}

Using custom id/name:

{{ forms.input({label:'Label'|_, name:'form[name]', id:'html-id', value:fieldValue, placeholder:'Blah'|_, required:1 }) }}
{{ forms.select({label:'Label'|_, name:'form[name]', id:'html-id', options:model.fieldOptions('field'), value:validator.fieldValue('field'), required:1}) }}

#}

{% macro label(p1, p2) %}
    {% set view = LAYOUT.view('core/form-elements') %}
    {% set p = view.merge(p1, p2) %}
    <label class="control-label {{ p.label_class|default('col-md-2') }} {{ p.required ? 'required' }}"
        for="{{ view.getInputId(p) }}">{{ p.label }}</label>
{% endmacro %}

{% macro input(p1, p2) %}
    {% set view = LAYOUT.view('core/form-elements') %}
    {% set p = view.merge(p1, p2) %}
    {% import _self as forms %}
    <div class="form-group {{ p.form_group_class }}">
        {{ forms.label(p) }}
        <div class="{{ p.input_div_class|default('col-md-5') }}">
            <input type="{{ p.type|default('text') }}"
                id="{{ view.getInputId(p) }}"
                name="{{ view.getInputName(p) }}"
                class="form-control {{ p.input_class }} {{ p.required ? 'required' }}"
                style="{{ p.style }}"
                value="{{ view.getInputValue(p) }}"
                placeholder="{{ p.placeholder }}"
                {{ p.autocomplete ? 'autocomplete="' ~ p.autocomplete ~ '"' }}
                {{ p.readonly ? 'readonly' }}
                {{ p.required ? 'data-rule-required="true"' }}
                {{ p.attr | raw }}
            />
        </div>
    </div>
{% endmacro %}

{% macro select(p1, p2) %}
    {% set view = LAYOUT.view('core/form-elements') %}
    {% set p = view.merge(p1, p2) %}
    {% import _self as forms %}
    <div class="form-group {{ p.form_group_class }}">
        {{ forms.label(p) }}
        <div class="{{ p.input_div_class|default('col-md-5') }}">
            <select
                id="{{ view.getInputId(p) }}"
                name="{{ view.getInputName(p) }}"
                class="form-control {{ p.input_class }} {{ p.required ? 'required' }}"
                style="{{ p.style }}"
                {{ p.readonly ? 'readonly' }}
                {{ p.required ? 'data-rule-required="true"' }}
                {{ p.attr | raw }}
                {{ p.multiple ? 'multiple'}}
            >
                {{ UTIL.optionsHtml(p.options, view.getInputValue(p)) | raw }}
            </select>
        </div>
    </div>
    {% if p.select2 is defined %}
        <script>
            require(['jquery', 'select2'], function($) {
                $('#{{ view.getInputId(p) }}').select2({{ p.select2 is iterable ? UTIL.toJson(p.select2) : '{}' }});
            })
        </script>
    {% endif %}
{% endmacro %}

{% macro boolean(p1, p2) %}
    {% set view = LAYOUT.view('core/form-elements') %}
    {% set p = view.merge(p1, {options: { 0: 'no'|_, 1: 'YES'|_ }, style:'width:auto' }) %}
    {% set p = view.merge(p, p2) %}
    {% import _self as forms %}
    {{ forms.select(p) }}
{% endmacro %}

{#
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-hide-product">{{ 'Hide Product'|_ }}</label>
        <div class="col-md-5">
            <input type="hidden" name="model[is_hidden]" value="0" />
            <input id="model-hide-product" class="switch-cbx" name="model[is_hidden]" {% if validator.fieldValue('is_hidden') == 1 %}checked="checked"{% endif %} value='1' type='checkbox' />
        </div>
    </div>
#}

{% macro textarea(p1, p2) %}
    {% set view = LAYOUT.view('core/form-elements') %}
    {% set p = view.merge(p1, p2) %}
    {% set value = view.getInputValue(p) %}
    {% import _self as forms %}
    <div class="form-group {{ p.form_group_class }}">
        {{ forms.label(p) }}
        <div class="{{ p.input_div_class|default('col-md-5') }}">
            <textarea rows="{{ p.rows|default(5) }}"
                id="{{ view.getInputId(p) }}"
                name="{{ view.getInputName(p) }}"
                class="form-control {{ p.input_class }} {{ p.required ? 'required' }}"
                style="{{ p.style }}"
                placeholder="{{ p.placeholder }}"
                {{ p.readonly ? 'readonly' }}
                {{ p.required ? 'data-rule-required="true"' }}
                {{ p.attr | raw }}
           >{{ p.raw ? value|raw : value }}</textarea>
        </div>
    </div>
{% endmacro %}

{% macro wysiwyg(p1, p2) %}
    {% set view = LAYOUT.view('core/form-elements') %}
    {% set p = view.merge(p1, p2) %}
    {% set value = view.getInputValue(p) %}
    {% import _self as forms %}
    <div class="form-group {{ p.form_group_class }}">
        {{ forms.label(p) }}
        <div class="{{ p.input_div_class|default('col-md-5') }}">
            <textarea rows="{{ p.rows|default(5) }}"
                class="form-control ckeditor js-desc-wysiwyg {{ p.input_class }}"
                id="{{ view.getInputId(p) }}"
                name="{{ view.getInputName(p) }}"
                {{ p.attr_wysiwyg | raw }}
            >{{ p.raw ? value|raw : value }}</textarea>
            <textarea
                class="form-control js-desc-wysiwyg"
                id="{{ view.getInputId(p) }}-validation"
                style="display:none;"
                {{ p.required ? 'data-rule-required="true"' }}
                {{ p.attr | raw }}
            >{{ p.raw ? value|raw : value }}</textarea>
        </div>
    </div>
    <script>require(['jquery', 'ckeditor'], function($) { CKEDITOR.replace('{{ view.getInputId(p) }}') })</script>
{% endmacro %}

{% macro accordion_start(p) %}
<div class="accordion accordion-blue panel-group" id="{{ p.id }}">
{% endmacro %}

{% macro accordion_end(p) %}
</div>
{% endmacro %}

{% macro accordion_panel_start(p) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle" href="#">{{ p.label }}</a>
        </div>
        <div class="panel-collapse accordion-body {{ p.in ? 'in' }}" id="{{ p.id }}">
            <div class="panel-body">
{% endmacro %}

{% macro accordion_panel_end(p) %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro button_add_image(m, arr) %}
    {% set view = LAYOUT.view('core/form-elements') %}
    {% set configId = m.config_id %}
    {% import _self as forms %}
    {% for obj in arr %}
        {% set p = view.merge(m, obj) %}
        {% set value = view.getInputValue(p) %}
        <div class='form-group {{ p.form_group_class }}'>
            {{ forms.label(p) }}
            <div class='{{ p.input_div_class|default('col-md-10')}}'>
                <div class='box-content'>
                    <div class='row fileupload-buttonbar'>
                        <div class='col-sm-12'>
                    <span class='btn btn-primary fileinput-button {{ configId }}_btn_add_image'>
                        <i class='icon-plus icon-white'></i>
                        <span class="{{ configId }}_btn_add_text">
                        {% if value %}
                            {{ 'Change Image...'|_ }}
                        {% else %}
                            {{ 'Add Image...'|_ }}
                        {% endif %}
                        </span>
                        <input class="model_image_url" type="hidden" name="model[{{ p.field }}]" value="{{ value }}"/>
                    </span>
                    <span class='btn btn-primary fileinput-button {{ configId }}_btn_remove_image'
                          style='display: {% if value %} block; {% else %} none; {% endif %}'>
                        × {{ 'Remove Image...'|_ }}
                    </span>
                        </div>
                    </div>
                    <br>
                    <div class="{{ configId }}_current_image">
                        {% if value %}
                            <img src="{{ p.resize_url|replace({'--IMAGE--': value}) }}">
                        {% endif %}
                    </div>
                    <table class='table table-striped' role='presentation'>
                        <tbody class='files' data-target='#modal-gallery' data-toggle='modal-gallery'></tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}


{% macro attachment_tab_content(m, config) %}
    {% set view = LAYOUT.view('core/form-elements') %}
    {% set type = config.type %}
    {% set targetType = config.targetType %}
    {% set elementContainer = config.elementContainer %}

    {% set gridConfig = config.gridConfig %}
    {% set medialibConfig = config.medialibConfig %}

    {% set combineType = targetType ~ type %}

    <script>
        var all_{{ type }}_grid, {{ combineType }}Grid;
        require(['jquery', 'underscore', 'backbone', 'unique', 'fcom.backbonegrid'], function($, _, Backbone) {
            var elementContainer = $('{{ elementContainer }}');
            var mediaId = '{{ medialibConfig.id }}';

            var originIds, addedIds = [], removedIds = [];
            var rowsAllImages;
            function _getAttachmentsDbFields(row) {
                return {
                    id: row.id,
                    file_id: row.file_id,
                    label: row.label,
                    position: row.position,
                    create_at: row.create_at,
                    update_at: row.update_at,
                    _new: row._new
                };
            }

            /*
             *function to set attachment grid data into form fields to send them server
             *This function is callend when 'save' button of product form is clicked.
             */
            window.submitCallback.push(function() {
                console.log('set{{ type }}GridVals');
                removedIds = _.difference(originIds, {{ combineType }}Grid.getRows().pluck('id'));

                var rows = [];
                {{ combineType }}Grid.getRows().forEach(function(row) {
                    rows.push(_getAttachmentsDbFields(row.toJSON()));
                });
                console.log(rows);
                /*$('#prod-attach-rows').val(JSON.stringify(rows));
                $('#prod-attach-remove').val(removedIds.join(','));*/
                elementContainer.find('input.target-attach-rows').val(JSON.stringify(rows));
                elementContainer.find('input.target-attach-remove').val(removedIds.join(','));
            });

            /*
             *MediaGrid registery function
             */
            window.{{ medialibConfig.id }}_register = function(grid) {
                all_{{ type }}_grid = grid;
                grid.build();

                //backboneGridAllImages = all_{{ type }}_grid.getGridSkeleton();
                //rowsAllImages = all_{{ type }}_grid.getRows();
                //Depending selected rows count, disable or enable add button of popup
                all_{{ type }}_grid.getSelectedRows().on('add remove reset', function() {
                    if (all_{{ type }}_grid.getSelectedRows().length > 0) {
                        $('.btn_' + mediaId + '_add').removeClass('disabled');
                    } else {
                        $('.btn_' + mediaId + '_add').addClass('disabled');
                    }
                });

                $('.btn_' + mediaId + '_add').click(function () {
                    var gridView = {{ combineType }}Grid.getGridView();
                    all_{{ type }}_grid.getSelectedRows().forEach(function (row) {
                        if (!{{ combineType }}Grid.getRows().findWhere({file_id: row.get('id')})) {
                            var addedRow = row;
                            addedRow.set('_new', true);
                            addedRow.set('file_id', row.id);
                            addedRow.set('id', guid());
                            addedRow.set('selected', false);
                            addedRow.set('update_at', dateTimeNow());
                            addedRow.set('create_at', dateTimeNow());
                            gridView.collection.add(addedRow.toJSON(), {silent: true});
                        }
                    });

                    gridView.render();
                    all_{{ type }}_grid.getGridView().clearSelectedRows();
                    $('#' + mediaId + '_modal').modal('hide');

                });

                //todo:
            }

            /*todo: need check why we always use function hook event grid_before_create to trigger modal */
            {% if gridConfig.config.grid_before_create != '' %}
            window.{{ gridConfig.config.grid_before_create }} = function(grid) {
                {{ combineType }}Grid = grid;
                {{ combineType }}Grid.build();

                var attachmentConfig = {{ combineType }}Grid.getGridSkeleton();
                originIds = {{ combineType }}Grid.getRows().pluck('id');

                $(attachmentConfig.AddButton).click(function() {
                    $('#' + mediaId + '_modal').modal('show');
                });

            }
            {% endif %}
        });


    </script>


    {{ LAYOUT.view('core/backbonegrid').set('grid', gridConfig) | raw }}
    {% set mediaConfig = view.merge(medialibConfig, {mode: 'link', title: 'Attachments', multiSelAllowed: true}) %}
    {#todo: review merge config#}
    {{ LAYOUT.view('core/medialib').set('config', mediaConfig) | raw }}

    <input type='hidden' name="grid[{{ type }}][del]" class="target-attach-remove" />
    <input type='hidden' name="grid[{{ type }}][rows]" class="target-attach-rows" />

{% endmacro %}
