- $gridView = $this->view('core/grid')
- $config = $gridView->gridConfig()
- $defSel = !empty($config['selection']) ? join('|', $config['selection']) : '';

.fcom-datagrid-wrapper
    - echo $gridView

%input(type="hidden" id="#{$config['id']}-selection" name="datagrid[#{$config['id']}][selection]" value="#{$defSel}")

:javascript
    require(['jquery', 'fcom.core'], function($) {
        $(function() {
            var grid = new FCom.DataGrid({
                id: "#{$config['id']}",
                grid_url: "#{$config['grid_url']}",
                personalize_url: "#{BApp::href('my_account/personalize')}",
                selection: #{!empty($config['selection']) ? BUtil::toJson($config['selection']) : '{}'}
            })
        })
    })
