{% set config = THIS.getGridConfig() %}

{#{{ dump(config) }}#}

<div class="fcom-htmlgrid responsive-table f-grid-wrapper" id="{{ config.id }}" style="min-height:520px;"> </div>

{# modal body template #}
<div id="{{ config.id }}-modal">
    <a class="btn" id="{{ config.id }}-modal-form-show" role="button" href="#{{ config.id }}-modal-form" data-toggle="modal" style="display:none;"> </a>
</div>

{#<script type="text/javascript">
require(['react', 'jsx!fcom.griddle'], function(React, $, Griddle, Backbone) {
    new FCom.Griddle({{ UTIL.toJson(config) | raw }});
});
</script>#}
<script type="text/javascript">
    require(['react', 'jsx!fcom.griddle'], function(React, FComGriddleComponent) {
        var config = {{ UTIL.toJson(config) | raw }};
        React.render(
            React.createElement(FComGriddleComponent, {config: config}), document.getElementById(config.id)
        );
    });
</script>