{# Logic provided by FCom_Core_View_Backgrid #}

{% set data = THIS.getGridData() %}
{% set config = THIS.grid['config'] %}
{% set s = data.result.state %}
{% set pageUrl = THIS.pageChangeHref() %}

{# p=page, ps=pagesize, mp=maxpage, s=sort, sd=sortdir, c=totalrows #}
<div class="fcom-htmlgrid responsive-table dataTables_wrapper" id="{{ config.id }}">
  {# %form(method="get" action="#{$this->gridUrl()") #}
  {# %fieldset #}
  <div class="fcom-htmlgrid__toolbar">
    <div class="btn-toolbar">
    {# %input(type="text" name="search[_quick]" value="{{ s.search._quick ? s.search._quick }}") #}
    {# %input(type="submit" value="#{$this->_('Search')}") #}
      <!--
        <span class="fcom-htmlgrid__rows-status">{{ 'Rows %s - %s of %s'|_([1+s.rs, s.rs+s.rc, s.c]) }}</span>
        -->
        <ul class="pagination pagination-sm">
          {% for ps in THIS.pageSizeOptions() %}
            <li {{ ps==s.ps ? 'class="active"' }}>
              <a class="js-change-url" href="{{ THIS.gridUrl({ps:ps}) }}" >{{ ps }}</a>
            </li>
          {% endfor %}
        </ul>

        <ul class="pagination pagination-sm">
          {#
          <label>
            {{ 'Page'|_ }}
          </label>
          <input class="fcom-htmlgrid__gotopage js-change-url" data-href="{{ THIS.pageChangeHref() }}" value="{{ s.p }}">
          {{ 'of %s'|_(s.mp) }}
          #}

          <li class="first {{ s.p <= 1 ? 'disabled' }}">
            <a class="js-change-url" href="{{ s.p <= 1 ? '#' : pageUrl|replace({'-VALUE-': 1}) }}">&laquo;</a>
          </li>
          <li class="prev {{ s.p <= 1 ? 'disabled' }}">
            <a class="js-change-url" href="{{ s.p <= 1 ? '#' : pageUrl|replace({'-VALUE-': s.p-1}) }}")>&lsaquo;</a>
          </li>
          {% for i in range((s.p-3)|max(1), (s.p+3)|min(s.mp)|max(1)) %}
              <li {{ i == s.p ? 'class="active"' }}>
                <a class="js-change-url" data-page="" href="{{ pageUrl|replace({'-VALUE-': i}) }}">{{ i }}</a>
              </li>
          {% endfor %}
          <li class="next {{ s.p >= s.mp ? 'disabled' }}">
            <a class="js-change-url" href="{{ s.p >= s.mp ? '#' : pageUrl|replace({'-VALUE-': s.p+1}) }}")>&rsaquo;</a>
          </li>
          <li class="last {{ s.p >= s.mp ? 'disabled' }}">
            <a class="js-change-url" href="{{ s.p >= s.mp ? '#' : pageUrl|replace({'-VALUE-': s.mp}) }}">&raquo;</a>
          </li>
        </ul>

        <span class="fcom-htmlgrid__actions">
          {% for action in THIS.gridActions() %}
            {% if action.renderer %}
              {{ THIS.callUserFunc(action.renderer, [action]) | raw }}
            {% elseif action.html %}
              {{ action.html | raw }}
            {% endif %}
          {% endfor %}
        </span>
    </div>
  </div>
  <div class="clearfix"></div>
  {% if s.description %}
    <div class="fcom-htmlgrid__status-description">
      {{ s.description|raw }}
    </div>
  {% endif %}
  <div class="scrollable-area">
    <table class="fcom-htmlgrid__grid table data-table table-bordered table-striped">
      {#<colgroup>
        {% foreach ($config['columns'] as $colId => $column) %}
          <col>(width="#{!empty($column['width']) ? $column['width'] : ''}")</col>
        {% end %}
      </colgroup>#}
      <thead>
        <tr id="tr-sort-{{ config.id }}" role="row">
          {% for colId, col in config.columns %}
            <th id="th-sort-{{ config.id ~ '-' ~ col.name }}" data-id="{{ colId }}" style="{{ THIS.sortStyle(col) }}" class="{{ THIS.sortClass(col, s) }}">
              {% if col.type is empty or col.type == 'default' %}
                {% if col.sortable is not sameas(false) %}
                <a class="js-change-url" href="{{ THIS.sortHref(col) }}">
                  {% if col.no_reorder is empty %}<div class="drag-handle"></div>{% endif %}
                  {{ col.label }}
                </a>
                {% else %}
                  {{ col.label }}
                {% endif %}
              {% elseif col.type == 'multiselect' %}
                <select class="js-sel">
                    {{ UTIL.optionsHtml(THIS.multiselectToggleOptions(), THIS.multiselectCurrent()) | raw }}
                </select>
              {% endif %}
            </th>
          {% endfor %}
          {% if config.filters %}
            <tr class="fcom-htmlgrid__inline-filters id="tr-filter-{{ config.id }}>
              {% for colId, col in config.columns %}
                  <th id="th-filter-{{ config.id ~ '-' ~ col.name }}">
                      {{ THIS.colFilterHtml(col) | raw }}
                  </th>
              {% endfor %}
            </tr>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {{ THIS.rowsHtml() | raw }}
      </tbody>
    </table>
  </div>
</div>
