{% set gridView = THIS.view('core/htmlgrid') %}
{% set grid = gridView.getGrid() %}
{% set config = grid.config %}
{% set defSel = config.selection ? config.selection|join('|') %}

<div class="fcom-htmlgrid-wrapper">{{ gridView|raw }}</div>

<input type="hidden" id="{{ config.id }}-selection" name="htmlgrid[{{ config.id }}][selection]" value="{{ defSel }}">

<script>
  /*  require(['jquery', 'fcom.htmlgrid'], function($) {
        $(function() {
            var grid = new FCom.HtmlGrid({
                id: "{{ config.id }}",
                grid_url: "{{ config.grid_url }}",
                personalize_url: "{{ APP.href('my_account/personalize') }}",
                selection: {{ config.selection ? UTIL.toJson(config.selection) : '{}' }}
            })
        })
    })*/
</script>
