{# Logic provided by FCom_Core_View_Backgrid #}

{% set data = THIS.grid['config']['data'] %}
{% set config = THIS.grid['config'] %}
{% set s = data.result.state %}
{% set pageUrl = THIS.pageChangeHref() %}

{# p=page, ps=pagesize, mp=maxpage, s=sort, sd=sortdir, c=totalrows #}
<div class="fcom-htmlgrid responsive-table dataTables_wrapper" id="{{ config.id }}">
  
  
  {% if s.description %}
    <div class="fcom-htmlgrid__status-description">
      {{ s.description|raw }}
    </div>
  {% endif %}
  <div class="scrollable-area">
    <table class="fcom-htmlgrid__grid table data-table table-bordered table-striped">
      
      <thead>
        <tr id="tr-sort-{{ config.id }}" role="row">
          {% for colId, col in config.columns %}
            <th id="th-sort-{{ config.id ~ '-' ~ col.name }}" data-id="{{ col.name }}" style="{{ THIS.sortStyle(col) }}" class="{{ THIS.sortClass(col, s) }}">
              {% if col.type is empty or col.type == 'default' %}
                <a class="js-change-url" href="{{ THIS.sortHref(col) }}">
                  {% if col.no_reorder is empty %}<div class="drag-handle"></div>{% endif %}
                  {{ col.label }}
                </a>
              {% elseif col.type == 'multiselect' %}
                <select class="js-sel">
                    {{ UTIL.optionsHtml(THIS.multiselectToggleOptions(), THIS.multiselectCurrent()) | raw }}
                </select>
              {% endif %}
            </th>
          {% endfor %}
          {% if config.filters %}
            <tr class="fcom-htmlgrid__inline-filters id="tr-filter-{{ config.id }}>
              {% for colId, col in config.columns %}
                  <th id="th-filter-{{ config.id ~ '-' ~ col.name }}">
                      {{ THIS.colFilterHtml(col) | raw }}
                  </th>
              {% endfor %}
            </tr>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {{ THIS.rowsHtml() | raw }}
      </tbody>
    </table>
  </div>
</div>
