{% set order = THIS.get('order') %}
{% set billing = order.billing() %}
<!--{ Content-Type: text/html; charset=UTF-8 }-->
<!--{ From: "{{ CONFIG.get('modules/FCom_Core/email/support_name') }}" <[{{ CONFIG.get('modules/FCom_Core/email/support_email') }}]> }-->
<!--{ To: "{{ billing.get('firstname') ~ ' ' ~ billing.get('lastname') }}" <{{ billing.get('email') }}> }-->
<!--{ Subject: Thank your for payment. }-->

Hello, {{ billing.get('firstname') }}.

<p>Thank you </p>
