{% set m = THIS.get('model') %}
{% set promo = APP.instance('Sellvana_Promo_Model_Promo') %}
{% set validator = THIS.get('validator') %}
{% if APP.m('Sellvana_CustomerGroups').run_status == 'LOADED' %}
    {% set customerGroups = APP.instance('Sellvana_CustomerGroups_Model_Group').groupsOptions() %}
{% endif %}
{% if APP.m('Sellvana_MultiSite').run_status == 'LOADED' %}
    {% set sites = APP.instance('Sellvana_MultiSite_Model_Site').siteOptions() %}
{% endif %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<fieldset class="adm-section-group">
    <div class="f-section">
    {{ forms.input({label: 'Description'|_, required: 1, name: "model[description]", value: validator.fieldValue('description'), id: "model-description" }) }}
    {{ forms.input({label: 'Coupon code'|_, name: "model[coupon]", value: validator.fieldValue('coupon'), id: "model-coupon" }) }}
    {{ forms.select({label: 'Status'|_, options: promo.fieldOptions('status'), name: "model[status]", value: validator.fieldValue('status'), id: "model-status" }) }}

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-from_date">{{ 'Date Range'|_ }}</label>
        <div class="col-md-5">
            <label for="model-from_date">{{ 'Start:'|_ }}</label>
            <div>
                <div class='datepicker input-group' id='model-from_date_container'>
                    <input class='form-control' id="model-from_date" data-format='mm/dd/yy' name="model[from_date]"
                           type='text' value="{{ LOCALE.datetimeDbToLocal(validator.fieldValue('from_date'))|raw }}"/>
                    <span class='input-group-addon'>
                        <span data-date-icon='icon-calendar' data-time-icon='icon-time'></span>
                    </span>
                </div>
            </div>
            <br />
            <label for="model-to_date">{{ ' End:'|_ }}</label>
            <div>
                <div class='datepicker input-group' id='model-to_date_container'>
                    <input class='form-control' id="model-to_date" data-format='mm/dd/yy' name="model[to_date]"
                           type='text' value="{{ LOCALE.datetimeDbToLocal(validator.fieldValue('to_date'))|raw }}"/>
                    <span class='input-group-addon'>
                        <span data-date-icon='icon-calendar' data-time-icon='icon-time'></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-from_date">{{ 'Promotion Structure'|_ }}</label>
        <div class="col-md-5">
            <label>{{ 'BUY'|_ }}
            <select class="form-control" name="model[buy_type]">{{ UTIL.optionsHtml(promo.fieldOptions('buy_type'), validator.fieldValue('buy_type'))|raw }}</select>
            </label>
            <br />
            <label>{{ 'FROM'|_ }}
            <select class="form-control" name="model[buy_group]">{{ UTIL.optionsHtml(promo.fieldOptions('buy_group'), validator.fieldValue('buy_group'))|raw }}</select>
            </label>
            <br />
            <label>{{ 'GET'|_ }}
            <select class="form-control" name="model[get_type]">{{ UTIL.optionsHtml(promo.fieldOptions('get_type'), validator.fieldValue('get_type'))|raw }}</select>
            </label>
            <br />
            <label>{{ 'OF'|_ }}
            <select class="form-control" name="model[get_group]">{{ UTIL.optionsHtml(promo.fieldOptions('get_group'), validator.fieldValue('get_group'))|raw }}</select>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="model-details">{{ 'Details'|_ }}</label>
        <div class="col-md-5">
            <textarea class="form-control" id="model-details" name="model[details]" rows="5">{{ validator.fieldValue('details')  }}</textarea>
            {% if customerGroups is defined %}
                {{ 'CUSTOMER GROUPS'|_ }}
                <select class="form-control" name="model[customer_groups]" multiple
                        size="4">{{ UTIL.optionsHtml(customerGroups, validator.fieldValue('customer_groups'))|raw }}</select>
                <br/>
            {% endif %}
            {% if sites is defined %}
                {{ 'Sites'|_ }}
                <select class="form-control" name="model[sites]" multiple
                        size="4">{{ UTIL.optionsHtml( sites, validator.fieldValue('sites') )|raw }}</select>
                <br/>
            {% endif %}
        </div>
    </div>
</div>
</fieldset>
<script>
    require(['jquery', 'bootstrap', 'datetimepicker', 'fcom.admin.form'], function($) {
        $(function() {
            //adminForm.wysiwygCreate('model-details');
            //$('#model-from_date,#model-to_date').datepicker();
        })
    })
</script>
