{% set m = THIS.get('model') %}
{% set prodCtrl =  APP.instance('FCom_Catalog_Admin_Controller_Products') %}

<input type='hidden' name='grid[linked_products_similar][add]' id='similar_ids_add' />
<input type='hidden' name='grid[linked_products_similar][del]' id='similar_ids_remove'/>
<input type='hidden' name='grid[linked_products_related][add]' id='related_ids_add'/>
<input type='hidden' name='grid[linked_products_related][del]' id='related_ids_remove'/>
<input type='hidden' name='grid[linked_products_cross-sell][add]' id='cross-sell_ids_add'/>
<input type='hidden' name='grid[linked_products_cross-sell][del]' id='cross-sell_ids_remove'/>

<script>
var allProdGrid, relatedProdGrid, similarProdGrid, crossSellProdGrid, selectedGrid;
var productId = '{{ m.id() }}';
require(['jquery','underscore','backbone'], function($, _) {

    var modalGrid = 'category_all_prods_grid_{{ m.id }}';
    var relatedOriginIds = [], similarOriginIds = [], crossSellOriginIds = [];

    window.setLindedGridVals = function() {
        var similarOriginalRows = similarProdGrid.getRows();
        var relatedOriginalRows = relatedProdGrid.getRows();
        var crossSellOriginalRows = crossSellProdGrid.getRows();
        similarRows = _.filter(similarOriginalRows.toJSON(), function(row) { return row._new;});
        relatedRows = _.filter(relatedOriginalRows.toJSON(), function(row) { return row._new;});
        crossSellRows = _.filter(crossSellOriginalRows.toJSON(), function(row) { return row._new;});

        similarRows = similarRows ? _.pluck(similarRows, 'id') : [];
        relatedRows = relatedRows ? _.pluck(relatedRows, 'id') : [];
        crossSellRows = crossSellRows ? _.pluck(crossSellRows, 'id') : [];

        console.log(similarRows, relatedRows);

        $('#similar_ids_add').val(similarRows.join(','));
        $('#related_ids_add').val(relatedRows.join(','));
        $('#cross-sell_ids_add').val(crossSellRows.join(','));

        $('#related_ids_remove').val( _.difference(relatedOriginIds, relatedOriginalRows.pluck('id')).join(',') );
        $('#similar_ids_remove').val( _.difference(similarOriginIds, similarOriginalRows.pluck('id')).join(',') );
        $('#cross-sell_ids_remove').val( _.difference(crossSellOriginIds, crossSellOriginalRows.pluck('id')).join(',') );
    }

    window.allProdGridRegister = function(grid) {
        allProdGrid = grid;
        grid.build();
        var addBtn = $(allProdGrid.getGridSkeleton().AddButton);

        //Depending selected rows count, disable or enable add button of popup
        allProdGrid.getSelectedRows().on('add remove reset', function() {
            if (allProdGrid.getSelectedRows().length>0) {
                addBtn.removeClass('disabled');
            } else {
                addBtn.addClass('disabled');
            }
        });

        addBtn.click(function() {
            var gridView = selectedGrid.getGridView();
            allProdGrid.getSelectedRows().forEach(function (row) {
                if (!selectedGrid.getRows().findWhere({id: row.get('id')})) {
                    var temp = row;
                    temp.set("_new", true);
                    temp.set("position", null);
                    temp.set('selected', false);
                    gridView.collection.add(temp.toJSON());
                }
            });

            gridView.render();
            allProdGrid.getGridView().clearSelectedRows();
            $('.linked-prod-modal-close').trigger('click');
        });
    }

    window.linked_products_related_register = function(grid) {

        relatedProdGrid = grid;
        relatedProdGrid.build();

        selectedGrid = relatedProdGrid;

        relatedOriginIds = relatedProdGrid.getRows().pluck('id');
        $(relatedProdGrid.getGridSkeleton().AddButton).click(function() {
            refreshGridAdd();
            $('#btn_add_prod').trigger('click');
        });
    }

    window.linked_products_similar_register = function(grid) {
        similarProdGrid = grid;
        similarProdGrid.build();
        similarOriginIds = similarProdGrid.getRows().pluck('id');
        $(similarProdGrid.getGridSkeleton().AddButton).click(function() {
            refreshGridAdd();
            $('#btn_add_prod').trigger('click');
        });
    }

    window.linked_products_cross_sell_register = function (grid) {
        crossSellProdGrid = grid;
        crossSellProdGrid.build();
        crossSellOriginIds = crossSellProdGrid.getRows().pluck('id');
        $(crossSellProdGrid.getGridSkeleton().AddButton).click(function() {
            refreshGridAdd();
            $('#btn_add_prod').trigger('click');
        });
    }

    function refreshGridAdd() {
        var data = getExcludeId();
        allProdGrid.getGridSkeleton().current_filters['exclude_id'] = data;
        allProdGrid.getRows().fetch({reset: true});
    }

    function getExcludeId() {
        var arr = selectedGrid.getGridView().collection.pluck('id');
        arr.push(productId);
        return  arr.join(',');
    }
});
</script>

<div class='row'>
    <div class='col-sm-10'>
    <div class='tabbable'>
        <ul class='nav nav-tabs f-horiz-nav-tabs prod-type'>
            <li class='active'>
                <a data-toggle='tab' href='#related' onclick="selectedGrid = relatedProdGrid;">
                    {{ "Related"|_ }}
                </a>
            </li>
            <li>
                <a data-toggle='tab' href='#similar' onclick="selectedGrid = similarProdGrid;">
                    {{ "Upsells"|_ }}
                </a>
            </li>
            <li>
                <a data-toggle='tab' href='#cross_sell' onclick="selectedGrid = crossSellProdGrid;">
                    {{ " Cross-Sell"|_ }}
                </a>
            </li>
        </ul>
        <div class='tab-content'>
            <div class='tab-pane active' id='related'>
                {{ THIS.view('core/backbonegrid').set('grid', prodCtrl.linkedProductGridConfig(m, 'related')) | raw }}
            </div>
            <div class='tab-pane' id='similar'>
                {{ THIS.view('core/backbonegrid').set('grid', prodCtrl.linkedProductGridConfig(m, 'similar')) | raw }}
            </div>
            <div class='tab-pane' id='cross_sell'>
                {{ THIS.view('core/backbonegrid').set('grid', prodCtrl.linkedProductGridConfig(m, 'cross-sell')) | raw }}
            </div>
        </div>
    </div>
    </div>
</div>

<a role="button" href="#prod-grid-add" data-toggle="modal" style='display:none;' id='btn_add_prod'>{{ "Add"|_ }}</a>
<div class='modal fade' id='prod-grid-add' tabindex='-1'>
    <div class='modal-dialog' style='width:900px;'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='myModalLabel'>{{ "Add products"|_ }}</h4>
            </div>
            <div class='modal-body'>
                {{ THIS.view('core/backbonegrid').set('grid', prodCtrl.getAllProdConfig(m)) | raw }}
            </div>
            <div class='modal-footer'>
                <button class='btn btn-default btn-close linked-prod-modal-close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>
            </div>
        </div>
    </div>
</div>