- $m = $this->model

%fieldset.form-horizontal
    .control-group
        %label.control-label(for="model-product-name") = $this->_('Product Name')
        .controls
            %input(type="text" id="model-product-name" name="model[product_name]" value="#{$m->product_name}")
    .control-group
        %label.control-label(for="model-url-key") = $this->_('URL Key').' '.$this->_('(optional)')
        .controls
            %input(type="text" id="model-url-key" name="model[url_key]" value="#{$m->url_key}")
    .control-group
        %label.control-label(for="model-local-sku") = $this->_('Local SKU')
        .controls
            %input(type="text" id="model-local-sku" name="model[local_sku]" value="#{$m->local_sku}")
    .control-group
        %label.control-label(for="model-short-description") = $this->_('Short Description')
        .controls
            %textarea(type="text" id="model-short-description" name="model[short_description]") = $m->short_description
    .control-group
        %label.control-label(for="model-description") = $this->_('Long Description')
        .controls
            %textarea(id="general-info-description" id="model-description" name="model[description]") = $m->description
    .control-group
        %label.control-label(for="model-net-weight") = $this->_('Net Weight')
        .controls
            %input(type="text" id="model-net-weight" name="model[net_weight]" value="#{$m->net_weight}")
    .control-group
        %label.control-label(for="model-shipping-weight") = $this->_('Shipping Weight')
        .controls
            %input(type="text" id="model-shipping-weight" name="model[net_weight]" value="#{$m->ship_weight}")
    .control-group
        %label.control-label(for="model-hide-product") = $this->_('Hide Product')
        .controls
            %select(name="model[is_hidden" id="hide-product")
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $m->is_hidden)

- echo $this->hook('catalog/products/tab/main', array('model'=>$this->model))

:javascript
    require(['jquery', 'fcom.admin.form'], function($) {
        $(function() {
            //adminForm.wysiwygCreate('general-info-description');
        });
    })
