{% set m = THIS.get('model') %}
{% set validator = THIS.get('validator') %}
{% set fieldData = { validator:validator } %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<fieldset name="main-product">
  <div class="f-section">
    {{ forms.input(fieldData, {field:'cost', label:'Cost'|_}) }}

    {{ forms.input(fieldData, {field:'msrp', label:'MSRP'|_}) }}

    {{ forms.input(fieldData, {field:'map', label:'MAP'|_}) }}

    {{ forms.input(fieldData, {field:'base_price', label:'Regular Price'|_, required:1}) }}

    {{ forms.input(fieldData, {field:'sale_price', label:'Special Price'|_}) }}

    {{ forms.input(fieldData, {field:'markup', label:'Default Markup'|_}) }}
  </div>
</fieldset>

{{ THIS.hook('catalog/products-form/prices', {'model' : m}) | raw }}
