{% set c = THIS.get('model') %}
{% set services = APP.instance('Sellvana_ShippingUps_ShippingMethod').getServices() %}
{% set formats = APP.instance('Sellvana_ShippingUps_ShippingMethod').getLabelFormats() %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<h2>{{ "ShippingUPS Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-Sellvana_ShippingUps'}) }}
    {% set fieldData = { model: c, settings_module: 'Sellvana_ShippingUps', attr: 'size="50"' } %}
    {{ forms.accordion_panel_start({label:'UPS API'|_, id:'settings-Sellvana_ShippingUps-group1'}) }}
        {{ forms.input(fieldData, {field:'access_key', label:'Access Key'|_ }) }}
        {{ forms.input(fieldData, {field:'shipper_number', label:'Shipper Number'|_ }) }}
        {{ forms.input(fieldData, {field:'user_id', label:'User ID'|_ }) }}
        {{ forms.input(fieldData, {field:'password', label:'Password'|_, type:'password' }) }}
        {{ forms.input(fieldData, {field:'rate_api_url', label:'Rate API URL'|_ }) }}
        {{ forms.input(fieldData, {field:'max_package_weight', label:'Max Package Weight'|_ }) }}
    {{ forms.accordion_panel_end }}

    {% set fieldData = { model: c, settings_module:'Sellvana_ShippingUps' } %}
    {{ forms.accordion_panel_start({label:'Shipping services'|_, id:'settings-Sellvana_ShippingUps-group0', in:1 }) }}
        {{ forms.boolean(fieldData, {field:'enabled', label:'Is Method Enabled?'|_ }) }}
        {#{{ forms.select(fieldData, {field:'default_service', label:'Default Service', options:services}) }}#}
        {{ forms.select(fieldData, {field:'services', label:'Enabled Services', multiple:true, select2:true, options:services}) }}
        {{ forms.input(fieldData, {field:'package_size', label:'Package Size (LxWxH)'|_ }) }}
    {{ forms.accordion_panel_end }}

    {{ forms.accordion_panel_start({label:'Labels Configuration'|_, id:'settings-Sellvana_ShippingUps-group2'}) }}
        {{ forms.select(fieldData, {field:'shipping_label_format', label:'Shipping Label Format', options:formats}) }}
    {{ forms.accordion_panel_end }}


{{ forms.accordion_end }}

