{% set c = THIS.get('model') %}
{% set fieldData = { model: c, settings_module:'FCom_PaymentBasic' } %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
<h2>{{ "Payment Basic Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-FCom_PaymentBasic'}) }}
     {{ forms.accordion_panel_start({label:'Basic Payment Settings'|_, id:'settings-FCom_PaymentBasic-group0', in:1}) }}
        {{ forms.input(fieldData, {field:'label', label:'Label'|_ }) }}
        {{ forms.input(fieldData, {field:'sort_order', label:'Sort Order'|_ }) }}
        {{ forms.boolean(fieldData, {field:'order_status_authorized', label:'Custom Order Status On Payment'|_ }) }}
     {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}
