- $hlp = FCom_Catalog_ProductsImport::i()
- $info = $hlp->getFileInfo($this->dir.'/'.$this->file)

- if (!$info)
    %div = $this->_('Invalid file format, please go back and select another file')
    
- else
    %form#import-columns-form(method="post")
        %input(type="hidden" name="config[filename]" value="#{$this->file}")

        %table
            %tr
                %td = $this->_('Field Delimiter')
                %td 
                    %input(type="text" name="config[delim]" value="#{$info['delim']}")
            
            %tr
                %td = $this->_('Skip First Lines')
                %td 
                    %input(type="text" name="config[skip_first]" value="#{$info['skip_first']}")
            
            %tr
                %td = $this->_('Batch Size')
                %td 
                    %input(type="text" name="config[batch_size]" 
                        value="#{!empty($info['batch_size']) ? $info['batch_size'] : 100}")
            
            %tr
                %td = $this->_('Multi Value Delimiter')
                %td 
                    %input(type="text" name="config[multivalue_separator]" 
                        value="#{!empty($info['multivalue_separator']) ? $info['multivalue_separator'] : ';'}")
            
            %tr
                %td = $this->_('Nesting Level Delimiter')
                %td 
                    %input(type="text" name="config[nesting_separator]" 
                        value="#{!empty($info['nesting_separator']) ? $info['nesting_separator'] : '>'}")
            
        %br
        %table
            %tr
                %td.col
                    %table.data-table
                        %thead
                            %tr
                                %th = $this->_('Column Content')
                                %th = $this->_('DB Field')
                        %tbody
                            - foreach ($info['first_row'] as $i=>$v)
                                %tr
                                    %td = $v
                                    %td
                                        %select(name="config[columns][#{$i}]")
                                            %option
                                            - echo $this->optionsHtml($hlp->getFieldOptions(), !empty($info['columns'][$i]) ? $info['columns'][$i] : '')
                %td.col
                    %table.data-table
                        %thead
                            %tr
                                %th = $this->_('DB Field')
                                %th = $this->_('Default')
                        %tbody
                            - foreach ($hlp->getFieldData() as $k=>$f)
                                - $_default = !empty($info['defaults'][$k]) ? $info['defaults'][$k] : ''
                                %tr
                                    %td = $k
                                    %td
                                        - if (!empty($f['options']))
                                            %select(name="config[defaults][#{$k}]")
                                                %option
                                                - echo $this->optionsHtml($f['options'], $_default)
                                        - else
                                            - $_input = !empty($f['input']) ? $f['input'] : 'text'
                                            - if ($_input=='text')
                                                %input(type="text" name="config[defaults][#{$k}]" value="#{$_default}")
                                            - elseif ($_input=='textarea')
                                                %textarea(name="config[defaults][#{$k}]" style="width:400px; height:100px") = $_default

        %button#step2-next.btn.st1.sz2(type="button") = $this->_('Save configuration and go to next step')
