{% import THIS.view('core/form-elements').twigName() as forms %}
{% set fieldData = { model:SESSION.get('w'), id_prefix:'config', name_prefix:'w[config]', get_prefix:'config', label_class:'col-lg-4', input_div_class:'col-lg-7' } %}

<form class="form-horizontal" method="post" action="{{APP.href('install/step3')}}">
    <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
    <div class="panel-heading">
        <h1 class="panel-title">{{ 'Step 3 of 3: Initial Configuration' |_ }}</h1>
    </div>

    {{ forms.select(fieldData, {field:'run_mode_admin', label:'Run Mode for Admin'|_, options:THIS.debug_modes}) }}
    {{ forms.select(fieldData, {field:'run_mode_frontend', label:'Run Mode for Frontend'|_, options:THIS.debug_modes}) }}
    {{ forms.select(fieldData, {field:'run_levels_bundle', label:'Run Levels Bundle'|_, options:THIS.run_level_bundles}) }}

    {{ THIS.hook('after_form_fields') | raw }}

    <ul class="list-group list-group-flush">
        <li class="list-group-item clearfix">
            <!--<a class="btn btn-link pull-left" name="do" value="back" href="{{APP.href('install/step2')}}">&laquo; {{ 'Back' |_ }}</a>-->
            <button type="submit" class="btn btn-primary pull-right ladda-button" data-style="expand-left" name="do" value="next">{{ 'Finish' |_ }}</button>
        </li>
    </ul>
</form>
