{% set method = THIS.get('method') %}
{% set config = method.config() %}
<h4>{{ config['title'] }}</h4>
<form method="post" action="{{ method.postUrl() }}">
    {% for name, value in method.hiddenFields() %}
        <input name="{{ key }}" type="hidden" value="{{ value }}">
    {% endfor %}
    <fieldset>
        <div>
            <label for="card_num">{{ "Credit Card Number" |_}}</label>
            <input type="text" class="text required" size="15" name="x_card_num" id="card_num">
        </div>
        <div>
            <label for="exp_date">{{ "Exp." | _ }}</label>
            <input type="text" class="text required" size="6" name="x_exp_date" id="exp_date">
            <small>{{ "(expiration date as written on card)" | _ }}</small>
        </div>
        {% if config['useccv'] %}
        <div>
            <label for="card_code">{{ "CCV" | _ }}</label>
            <input type="text" class="text required" size="4" name="x_card_code" id="card_code">
        </div>
        {% endif %}
        <div>
            <p>{{ "Please enter billing address information" | _ }}</p>
        </div>
        <div>
            <label for="first_name">{{ "First Name" | _ }}</label>
            <input type="text" class="text" size="15" name="x_first_name" id="first_name">
        </div>
        <div>
            <label for="last_name">{{ "Last Name" | _ }}</label>
            <input type="text" class="text" size="14" name="x_last_name" id="last_name">
        </div>
        <div>
            <label for="address">{{ "Address" | _ }}</label>
            <input type="text" class="text" size="26" name="x_address" id="address">
        </div>
        <div>
            <label for="city">{{ "City" | _ }}</label>
            <input type="text" class="text" size="15" name="x_city" id="city">
        </div>
        <div>
            <label for="state">{{ "State" | _ }}</label>
            <input type="text" class="text" size="4" name="x_state" id="state">
        </div>
        <div>
            <label for="zip">{{ "Zip Code" | _ }}</label>
            <input type="text" class="text" size="9" name="x_zip" id="zip">
        </div>
        <div>
            <label for="country">{{ "Country" | _ }}</label>
            <input type="text" class="text" size="22" name="x_country" id="country">
        </div>
    </fieldset>
    <input type="submit" value="BUY" class="submit buy">
</form>