{% set prod = THIS.get('product') %}
{% set shopper = APP.instance('Sellvana_ShopperFields_Frontend').getProductFrontendFields(prod) %}
{% if shopper %}
    <div id="f-prod-tab-shopper">
        <div class="f-tab-heading">
            <h5 class="f-tab-title">{{ 'Shopper'|_ }}</h5>
        </div>
        {% for sh in shopper %}
            <div class="form-group" style="overflow: hidden">
                <label class="col-md-2 control-label">{{ sh.label|_ }}</label>
                <div class="col-md-3">
                    {% if sh.input_type == 'select' %}
                        {% set options = sh.options %}
                        <select name="shopper[{{ sh.name }}][val]" class="form-control js-shopperfields-select">
                            {% for op in options %}
                                <option value="{{ op.label }}" {{ not op.available ? 'disabled' }}>
                                    {{ op.label|_ }}
                                    {{ op.price ? '(' ~ op.price|currency ~ ')' }}
                                    {{ not op.available ? ' (not available)' }}
                                </option>
                            {% endfor %}
                        </select>
                        {% if sh.qty_min %}
                            {{ 'Qty:'|_ }}
                            <input type="number" name="shopper[{{ sh.name }}][qty]" class="form-control js-shopperfields-qty"
                                value="{{ sh.qty_min }}" min="{{ sh.qty_min }}" {% if op.qty_max %}max="{{ op.qty_max }}"{% endif %} >
                        {% endif %}
                    {% elseif  sh.input_type == 'textarea' %}
                        <textarea name="shopper[{{ sh.name }}][val]" class="form-control" cols="3" rows="2"></textarea>
                    {% elseif sh.input_type == 'text' %}
                        <input type="text" name="shopper[{{ sh.name }}][val]" class="form-control"/>
                    {% elseif sh.input_type == 'checkbox' %}
                        <input type="checkbox" name="shopper[{{ sh.name }}][val]" value="checkbox"/>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        require(['jquery'], function($) {

        })
    </script>
{% endif %}