{% import THIS.view('core/form-elements').twigName() as forms %}
{% set fieldOptions = THIS.getParam("fieldOptions") %}
{% set formElements = ['text','hidden', 'select', 'boolean', 'textarea', 'wysiwyg'] %}
<form class="cms-block-form" method="post">
    {% for field in fieldOptions %}
        {% set nm = field.name %}
        {% set lbl = field.label %}
        {% set typ = field.input_type %}
        {% set req = field.required %}
        {% set options = field.options %}
        {% set id = options.field_id %}
        {% set val = options.field_default_value %}
        {% set ph = options.field_placeholder %}
        {% set auto = options.autocomplete %}
        {% set ro = options.readonly %}
        {% set atr = options.attributes %}
        {% set cls = options.css_class|replace({',': ' '}) %}
        {% if typ in formElements %}
            {% if typ == 'text' %}
                {{ forms.input({id: id, required: req, label: lbl|_, name: nm, type: typ, value: val,
                    placeholder: ph, input_class: cls, autocomplete: auto, readonly: ro, attr: atr}) }}
            {% elseif typ == 'hidden' %}
                {{ forms.hidden({id: id, name: nm, type: typ, value: val}) }}
            {% elseif typ == 'select' %}
                {{ forms.select({id: id, required: req, label: lbl|_, name: nm, type: typ, value: val, placeholder: ph}) }}
            {% elseif typ == 'boolean' %}
                {{ forms.boolean({id: id, required: req, label: lbl|_, name: nm, type: typ, value: val, placeholder: ph}) }}
            {% elseif typ == 'textarea' %}
                {{ forms.textarea({id: id, required: req, label: lbl|_, name: nm, type: typ, value: val, placeholder: ph}) }}
            {% elseif typ == 'wysiwyg' %}
                {{ forms.wysiwyg({id: id, required: req, label: lbl|_, name: nm, type: typ, value: val, placeholder: ph}) }}
            {% endif %}
        {% endif %}
        {#{{ dump(field) }}#}
    {% endfor %}
</form>
