{% set wId = THIS.get('widget_id') %}
{% set url = THIS.get('url') %}
{% set height = THIS.get('height')|default(640) %}
{% set width = THIS.get('width')|default(390) %}
{% set use_iframe = THIS.get('use_iframe') %}
<div class="container">
    {% if url %}
        {% if use_iframe %}
            <iframe width="{{ width }}" height="{{ height }}" src="{{ url|raw }}" frameborder="0"
                    allowfullscreen></iframe>
        {% else %}
            <object width="{{ width }}" height="{{ height }}" data="{{ url|raw }}"></object>
        {% endif %}
    {% else %}
        <div class="danger">{{ "Missing video URL"|_ }}</div>
    {% endif %}
</div>
