{% set wId = THIS.get('widget_id') %}
{% set url = THIS.get('url') %}
{% set width = THIS.get('width')|default(640) %}
{% set height = THIS.get('height')|default(390) %}
{% set use_iframe = THIS.get('use_iframe') %}
{% set wTagId = 'widget-video-' ~ wId %}
<div class="embed-container" id="{{ wTagId }}">
    {% if url %}
        {% if use_iframe %}
            <iframe width="{{ width }}" height="{{ height }}" src="{{ url|raw }}" frameborder="0" allowfullscreen></iframe>
        {% else %}
            <object width="{{ width }}" height="{{ height }}" data="{{ url|raw }}"></object>
        {% endif %}
    {% else %}
        <div class="danger">{{ "Missing video URL"|_ }}</div>
    {% endif %}
</div>

<style>
    #{{ wTagId }} { position: relative; padding-bottom: {{ height/width*100 }}%; height: 0; overflow: hidden; max-width: {{ width }}px; }
    #{{ wTagId }} iframe,
    #{{ wTagId }} object,
    #{{ wTagId }} embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
</style>
<!--
<div class='embed-container'><iframe src='{{ url|raw }}' frameborder='0' allowfullscreen></iframe></div>
-->
