{% set customers = APP.instance('Sellvana_Customer_Admin_Dashboard').getCustomerRecent() %}
<div class='box-content' style="height: 300px; overflow-y: scroll">
    {#<div id='stats-chart2'></div>#}
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>{{ "ID"|_ }}</th>
            <th>{{ "First Name"|_ }}</th>
            <th>{{ "Last Name"|_ }}</th>
            <th>{{ "Email"|_ }}</th>
            <th>{{ "Status"|_ }}</th>
            <th>{{ "Created"|_ }}</th>
        </tr>
        </thead>
        {% if customers is empty %}
            <tr>
                <td colspan="6">{{ "No data"|_ }}</td>
            </tr>
        {% else %}
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.id|_ }}</td>
                    <td>{{ customer.firstname|_ }} </td>
                    <td>{{ customer.lastname|_ }}</td>
                    <td>{{ customer.email|_ }}</td>
                    <td>{{ customer.status|_ }}</td>
                    <td>{{ customer.create_at|locdate('datetime_short') }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
