{% set c = THIS.get('model') %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
{% set fieldDataCatalog = { model: c, settings_module:'FCom_Catalog' } %}
{% set fieldDataEmail = { model: c, settings_module:'FCom_Email' } %}
{% set fieldDataWishlist = { model: c, settings_module:'FCom_Wishlist' } %}
{% set fieldDataCustomer = { model: c, settings_module:'FCom_Customer' } %}
<h2>{{ "Admin Live Feed Settings"|_ }}</h2>
{{ forms.accordion_start({id:'settings-FCom_AdminLiveFeed'}) }}
     {{ forms.accordion_panel_start({label:'Admin Live Feed Recent Activity'|_, id:'settings-FCom_AdminLiveFeed-group0', in:1}) }}
        {{ forms.boolean(fieldDataCatalog, {field:'enable_catalog', label:'Catalog'|_ }) }}
        {{ forms.boolean(fieldDataEmail, {field:'enable_newsletter', label:'Newsletter'|_ }) }}
        {{ forms.boolean(fieldDataWishlist, {field:'enable_wishlist', label:'Wishlist'|_ }) }}
        {{ forms.boolean(fieldDataCustomer, {field:'enable_customer', label:'Customer'|_ }) }}
     {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}
