{% import "@FCom_AuthorizeNet/authorizenet/form.html.twig" as el %}

<h4>{{ "Credit Card" | _ }}</h4>
<div class="control-group">
    <label for="#" class="control-label">{{ "Card Type" | _ }}</label>

    <div class="controls">
        <div class="radio">
            <label for="#">{{ "Visa" | _ }}
                <input type="radio" name="payment[card_type]" value="visa"/>
            </label>
        </div>
        <div class="radio">
            <label for="#">{{ "MasterCard" | _ }}
                <input type="radio" name="payment[card_type]" value="master_card"/>
            </label>
        </div>
    </div>
</div>
<div class="control-group">
    <label for="#" class="control-label">{{ "Card number" | _ }}</label>

    <div class="controls">
        <input type="text" name="payment[card_number]"/>
    </div>
</div>
<div class="control-group">
    <label for="#">{{ "Name on card" | _ }}</label>

    <div class="controls">
        <input type="text" name="payment[name_on_card]"/>
    </div>
</div>
<div class="form-inline control-group">
    <label for="#">{{ "Expires" | _ }}</label>

    <div class="controls">
        <select id="expiration_month" name="payment[expiration_month]" class="month">
            <option value="">{{ "Choose" | _ }}...</option>
            {{ el.month_options() }}
        </select>
        <select id="expiration_year" name="payment[expiration_ year]" class="year">
            <option value="">{{"Choose" | _ }}...</option>
            {{ el.year_options(date().format('y'), date("+20years").format('y')) }}
        </select>
    </div>
</div>
<div class="control-group">
    <label for="#">{{ "CVV" | _ }}</label>

    <div class="controls">
        <input type="text" name="payment[cvv]"/>
    </div>
</div>
<p>
    <button type="submit" name="update" class="btn"><span>{{ "Apply changes" | _ }}</span></button>
</p>