{% set c = THIS.get('model') %}
{% set fieldData = { model: c, settings_module:'FCom_Customer' } %}
{% import THIS.view('core/form-elements').twigName() as forms %}
<h2>{{ "Customer Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-FCom_Customer'}) }}
     {{ forms.accordion_panel_start({label:'General Settings'|_, id:'settings-FCom_Customer-group0', in:1}) }}
        {{ forms.boolean(fieldData, {field:'require_approval', label:'Require Approval'|_ }) }}
        {{ forms.boolean(fieldData, {field:'use_gravatar', label:'Use Gravatar'|_ }) }}
        {{ forms.boolean(fieldData, {field:'password_strength', label:'Strong Password Security'|_ }) }}
        {{ forms.input(fieldData, {field:'password_reset_token_ttl_hr', label:'Password Reset Token TTL (hours, default 24)'|_ }) }}
        {{ forms.input(fieldData, {field:'recent_day', label:'Customer Recent Days'|_, attr: 'data-rule-number="true"' }) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}

