{% set c = THIS.get('model') %}

<h2>{{ "MarketClient Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_MarketClient">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'API information'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_MarketClient-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Auto-Login to marketplace'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[modules][FCom_MarketClient][auto_login]" value="0"/>
                        <input class="switch-cbx" name="config[modules][FCom_MarketClient][auto_login]" {% if c.get('modules/FCom_MarketClient/auto_login') == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'FTP/SFTP settings: connection Information'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_MarketClient-group1">
            <div class="panel-body">
                <small class="text-muted"></small>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Enable FTP'|_ }}</label>
                    <div class="col-md-10">
                        <input type="hidden" name="config[modules][FCom_MarketClient][ftp][enabled]" value="0"/>
                        <input class="switch-cbx" name="config[modules][FCom_MarketClient][ftp][enabled]" value='1' {% if c.get('modules/FCom_MarketClient/ftp/enabled') == 1 %}checked="checked"{% endif %} type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Hostname'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_MarketClient][ftp][hostname]" value="{{ THIS.q(c.get('modules/FCom_MarketClient/ftp/hostname')) }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'FTP Username'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_MarketClient][ftp][username]" value="{{ THIS.q(c.get('modules/FCom_MarketClient/ftp/username')) }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'FTP Password'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="password" name="config[modules][FCom_MarketClient][ftp][password]" value="{{ THIS.q(c.get('modules/FCom_MarketClient/ftp/password')) }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Connection Type'|_ }}</label>
                    <div class="col-md-10">
                        <label class="radio radio-inline">
                            <input type="radio" name="config[modules][FCom_MarketClient][ftp][type]" value="ftp" {% if c.get('modules/FCom_MarketClient/ftp/type') == 'ftp' %}checked="checked"{% endif %}/>
                            FTP
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" name="config[modules][FCom_MarketClient][ftp][type]" value="sftp" {% if c.get('modules/FCom_MarketClient/ftp/type') != 'ftp'%}checked="checked"{% endif %}/>
                            SFTP
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
