<style type="text/css">
    .dropzone, .dropzone * {
        box-sizing: border-box;
    }

    .dropzone {
        position: relative;
        text-align: center;
        border: 2px dashed #b4b9be;
        border-radius: 5px;
        min-height: 255px;
    }

    .dropzone.dz-clickable {
        cursor: pointer;
    }

    .dropzone .dz-message .note {
        font-size: 0.8em;
        font-weight: 200;
        display: block;
        margin-top: 1.4rem;
    }

    .dropzone .dz-preview {
        position: relative;
        display: inline-block;
        width: 120px;
        margin: 0.5em;
    }
    .dropzone .dz-preview .dz-progress {
        display: block;
        height: 15px;
        border: 1px solid #aaa;
    }
    .dropzone .dz-preview .dz-progress .dz-upload {
        display: block;
        height: 100%;
        width: 0;
        background: green;
    }
    .dropzone .dz-preview .dz-error-message {
        color: red;
        display: none;
    }
    .dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
        display: block;
    }
    .dropzone .dz-preview.dz-success .dz-success-mark {
        display: block;
    }
    .dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
        position: absolute;
        display: none;
        left: 30px;
        top: 30px;
        width: 54px;
        height: 58px;
        left: 50%;
        margin-left: -27px;
    }

    .select2-container {
        width: 200px;
    }
</style>
{% set categories = APP.instance('Sellvana_Catalog_Model_Category').getFlatCategories() %}
{% set defaultFileSizeConfig = CONFIG.get('modules/FCom_Admin/default_media_file_size') | default('1') %}

<form id="products-quick-add-form" action="{{ APP.href('catalog/products/quick-add') }}" method="post">
    <div class="f-admin-main-view">
        <div class="page-header f-admin-page-header">
            <h1 class="f-page-title">
                {{ "Quick Add Products" |_ }}
            </h1>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary" style="padding: 8px 15px;">{{ 'Create Products'|_ }}</button>
            </div>
        </div>

        <div class="f-admin-main f-grid-wrapper">
            {{ THIS.view('core/messages') | raw }}

            <div class="col-sm-3" style="margin-bottom: 15px;">
                <div class="input-group">
                    <input id="NOP" type="text" placeholder="Number of Products" class="form-control" />
                    <div class="input-group-btn">
                        <!-- Buttons -->
                        <button type="button" id="btn_add_products" style="padding: 7px 15px;" class="btn btn-info btn-xs">{{ 'Add Products'|_ }}</button>
                    </div>
                </div>
            </div>
            <div id="products-quick-add-container" class="col-sm-12"></div>
        </div>
    </div>
</form>

<script>
    require(['jquery', 'underscore', 'react', 'fcom.components', 'griddle.fcomSelect2', 'jquery.validate', 'fcom.admin', 'unique'], function($, _, React, Components, FComSelect2) {
        var _mainForm = $('#products-quick-add-form');
        var imageList = {}, products = [];

        window.adminForm = FCom.Admin.form({
            form: 'products-quick-add-form',
            url_get: '{{ APP.href('catalog/products/quick-add') }}',
            url_post: '{{ APP.href('catalog/products/quick-add') }}'
        });

        $.fn.setValidateForm(_mainForm);

        _mainForm.on('submit', function () {
            if (!$(this).valid()) return false;
        });

        $(document).on('click', '#btn_add_products', function (e) {
            var value = $('#NOP').val();
            BlockFormComponent.setProps({ NOP: value });
        });

        /**
         * Validate unique product sku
         *
         * @return boolean
         */
        function validateUniqueSku(value, elem) {
            var valid = true;
            if (typeof elem !== 'undefined') {
                var $parent = $(elem).parents('tr');

                var items = _mainForm.find('tr');
                items.each(function () {
                    if (!valid) {
                        return;
                    }

                    var item = $(this);
                    if (this === $parent[0]) {
                        return;
                    }

                    valid = value !== item.find('.product-sku').val();
                });
                return valid;
            }
        }

        var Blocks = React.createClass({
            getDefaultProps: function () {
                return {
                    product: {
                        id: '',
                        product_sku: '',
                        product_name: '',
                        short_description: '',
                        price: {
                            base: ''
                        },
                        is_hidden: 0,
                        categories: '',
                        manage_inventory: 0,
                        inventory_sku: '',
                        qty_in_stock: 0,
                        shipping_weight: 0,
                        description: '',
                        images: ''
                    },
                    djsComponentConfig: {
                        showButtons: true,
                        postUrl: "{{ APP.href('/media/grid/upload?type=') | raw }}" + encodeURIComponent('product-images') + '&folder=' + encodeURIComponent('media/product/images')
                    },
                    djsConfig: {
                        addRemoveLinks: true,
                        paramName: "upload",
                        autoProcessQueue: false,
                        uploadMultiple: true,
                        maxFilesize: "{{ defaultFileSizeConfig | raw }}",
                        maxFiles: 3,
                        headers: {
                            'X-CSRF-TOKEN': $('input[name="X-CSRF-TOKEN"]').val()
                        }
                    }
                };
            },
            getInitialState: function () {
                var p = $.fn.deepClone(this.props.product);
                p['id'] = guid();
                return {
                    products: [p]
                };
            },
            componentWillReceiveProps: function (nextProps) {
                var products = this.state.products;

                if (nextProps.NOP && nextProps.NOP !== '0') {
                    for (var i = 0; i < nextProps.NOP; i++) {
                        var product = $.fn.deepClone(this.props.product);
                        product['id'] = guid();
                        products.push(product);
                    }
                }

                this.setState({ products: products });
            },
            componentDidUpdate: function () {
                this.init();
            },
            componentDidMount: function () {
                this.init();
            },
            removeProduct: function (e) {
                var products = this.state.products;
                products.splice(_.findIndex(products, { id: e.currentTarget.dataset.id }), 1);
                this.setState({ products: products });
            },
            unlink: function(id) {
                $.post("{{ APP.href('/media/grid/mass-delete') }}", { oper: 'mass-delete', id: id },
                        function (r) {
                            if (r.success) {
                                $.bootstrapGrowl("{{ 'Images had removed from media library'|_ }}", {
                                    type: 'success',
                                    align: 'center',
                                    width: 'auto'
                                });
                            }
                        });
            },
            djsInit: function(dj) {
                var that = this, _this = dj;
                this.hiddenInput = $(_this.element.querySelector('input.images'));
                _this.element.querySelector("button.btn-upload").addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    _this.processQueue();
                });

                _this.element.querySelector("button.btn-cancel").addEventListener("click", function () {
                    _this.removeAllFiles(true);
                    var values = that.hiddenInput.val() ? that.hiddenInput.val().split(',') : [];
                    if (values.length) {
                        that.unlink(values);
                    }
                    that.hiddenInput.val('');
                });
            },
            djsSuccess: function (file, responseText) {
                var key = this.hiddenInput.data('key');
                var values = this.hiddenInput.val() ? this.hiddenInput.val().split(',') : [];
                _(responseText['files']).each(function (f) {
                    var index = _.indexOf(values, f.id);
                    if (index == -1) {
                        values.push(f.id);
                        if (!imageList[key]) imageList[key] = [];
                        imageList[key].push({
                            id: f.id,
                            name: f.file_name
                        });
                    }
                });
                this.hiddenInput.val(values.join(','));
            },
            djsRemovedFile: function (file) {
                var that = this;
                var key = this.hiddenInput.data('key');
                var values = this.hiddenInput.val() ? this.hiddenInput.val().split(',') : [];
                if (values.length) {
                    var images = imageList[key];
                    _(images).each(function (image) {
                        if (file.name == image.name) {
                            values.splice(_.indexOf(values, image.id), 1);
                            that.unlink(image.id);
                        }
                    });
                }
                this.hiddenInput.val(values.join(','));
            },
            handleInputChange: function (e) {
                var id = e.target.dataset.id;
                var type = e.target.dataset.type;
                var pi = _.findIndex(this.state.products, {id: id});
                if (type == 'price.base') {
                    this.state.products[pi]['price']['base'] = e.target.value;
                } else {
                    this.state.products[pi][type] = e.target.value;
                }
            },
            handleWysiwygChange: function (editor, data) {
                var id = editor.element.$.dataset.id;
                var type = editor.element.$.dataset.type;
                var pi = _.findIndex(this.state.products, {id: id});
                this.state.products[pi][type] = data;
            },
            handleSwitchChange: function (e, state) {
                var id = e.target.dataset.id;
                var type = e.target.dataset.type;
                var pi = _.findIndex(this.state.products, {id: id});
                this.state.products[pi][type] = state ? 1 : 0;
            },
            init: function () {
                $('.product-sku').each(function () {
                    $(this).rules("add", {
                        onfocusout: false,
                        onkeyup: false,
                        remote: {
                            url: '{{ APP.href('/catalog/products/quick-add/unique_sku') | raw }}',
                            type: 'post',
                            data: {
                                _key: $(this).data('id'),
                                _sku: 'product_sku'
                            },
                            dataFilter: function (responseString) {
                                var response = jQuery.parseJSON(responseString);
                                currentMessage = response.Message;
                                return response.unique;
                            }
                        },
                        messages: {
                            remote: "{{ 'This sku is already taken place.' |_ }}"
                        }
                    });
                });

                $.validator.addMethod('validateUniqueSku', validateUniqueSku, '{{ "Product sku already exists."|_ }}');
                $.validator.addClassRules('unique-sku', {
                    validateUniqueSku: true
                });
            },
            render: function () {
                return React.DOM.table({ className: 'table table-bordered table-striped' },
                    React.DOM.thead(null,
                        React.DOM.tr(null,
                            React.DOM.th(null, "{{ 'Basic Info'|_ }}"),
                            React.DOM.th(null, "{{ 'More Info'|_ }}"),
                            React.DOM.th(null, "{{ 'Stock'|_ }}"),
                            React.DOM.th(null, "{{ 'Long Description'|_ }}"),
                            React.DOM.th(null, "{{ 'Images'|_ }}"),
                            React.DOM.th(null, "{{ 'Actions'|_ }}")
                        ),
                        React.DOM.tbody({ref: 'table-body'},
                            _(this.state.products).map(function (p, i) {
                                return React.createElement(BlockForm, {
                                    key: i,
                                    product: p,
                                    djsComponentConfig: this.props.djsComponentConfig,
                                    djsConfig: this.props.djsConfig,
                                    eventHandlers: {
                                        init: this.djsInit,
                                        success: this.djsSuccess,
                                        removedfile: this.djsRemovedFile
                                    },
                                    actions: {
                                        handleInputChange: this.handleInputChange,
                                        handleSwitchChange: this.handleSwitchChange,
                                        handleWysiwygChange: this.handleWysiwygChange,
                                        removeProduct: this.removeProduct
                                    }
                                })
                            }.bind(this)),
                            React.DOM.tr(null,
                                React.DOM.td({ colSpan: 4 }),
                                React.DOM.td(null,
                                    React.DOM.button({ type: 'submit', className: 'btn btn-primary pull-right' }, "{{ 'Create Products'|_ }}")
                                ),
                                React.DOM.td(null)
                            )
                        )
                    )
                );
            }
        });

        var BlockForm = React.createClass({
            render: function () {
                var p = this.props.product;
                return React.DOM.tr(null,
                    React.DOM.td(null,
                        React.DOM.div({ className: 'form-group controls' },
                            React.createElement(Components.ControlLabel, {
                                required: true,
                                label_class: '',
                                input_id: 'products['+p.id+'][product_sku]'}, "{{ 'Product SKU'|_ }}"
                            ),
                            React.createElement(Components.ControlInput, {
                                value: p.product_sku,
                                id: 'product_sku_' + p.id,
                                name: 'products['+p.id+'][product_sku]',
                                className: 'product-sku unique-sku',
                                validation: { required: true },
                                attrs: {
                                    style: {width: "80px"},
                                    'data-id': p.id,
                                    'data-type': 'product_sku'
                                },
                                callback: this.props.actions.handleInputChange
                            })
                        ),
                        React.DOM.div({ className: 'form-group controls' },
                            React.createElement(Components.ControlLabel, {
                                required: true,
                                label_class: '',
                                input_id: 'products['+ p.id+'][product_name]'}, "{{ 'Product name'|_ }}"
                            ),
                            React.createElement(Components.ControlInput, {
                                value: p.product_name,
                                className: 'product_name',
                                id: 'products['+ p.id+'][product_name]',
                                name: 'products['+ p.id+'][product_name]',
                                validation: { required: true },
                                attrs: {
                                    'data-id': p.id,
                                    'data-type': 'product_name'
                                },
                                callback: this.props.actions.handleInputChange
                            })
                        ),
                        React.DOM.div({ className: 'form-group controls' },
                            React.createElement(Components.ControlLabel, {
                                required: true,
                                label_class: '',
                                input_id: 'products['+ p.id+'][short_description]'}, "{{ 'Short Description'|_ }}"
                            ),
                            React.createElement(Components.ControlInput, {
                                type: 'textarea',
                                id: 'products['+ p.id+'][short_description]',
                                className: 'short_description',
                                name: 'products['+ p.id+'][short_description]',
                                value: p.short_description,
                                validation: { required: true },
                                attrs: {
                                    style: {minWidth: "100px"},
                                    'data-id': p.id,
                                    'data-type': 'short_description'
                                },
                                callback: this.props.actions.handleInputChange
                            })
                        )
                    ),
                    React.DOM.td(null,
                        React.DOM.div({ className: 'form-group controls' },
                            React.createElement(Components.ControlLabel, {
                                required: true,
                                label_class: '',
                                input_id: 'products['+ p.id+'][price.base]'}, "{{ 'Price'|_ }}"
                            ),
                            React.createElement(Components.ControlInput, {
                                value: p.price.base,
                                id: 'products['+ p.id+'][price.base]',
                                name: 'products['+ p.id+'][price.base]',
                                validation: { required: true },
                                attrs: {
                                    style: {width: "80px"},
                                    'data-id': p.id,
                                    'data-type': 'price.base'
                                },
                                callback: this.props.actions.handleInputChange
                            })
                        ),
                        React.DOM.div({ className: 'form-group controls' },
                            React.createElement(Components.ControlLabel, {
                                label_class: '',
                                input_id: 'products['+ p.id+'][is_hidden]'}, "{{ 'Hidden?'|_ }}"
                            ),
                            React.createElement(Components.SpecialInput, {
                                type: 'switch',
                                id: 'products['+ p.id+'][is_hidden]',
                                name: 'products['+ p.id+'][is_hidden]',
                                value: p.is_hidden,
                                options: {
                                    size: 'normal',
                                    onSwitchChange: this.props.actions.handleSwitchChange
                                },
                                attrs: {
                                    'data-on-text': '<i class="fa fa-check" />',
                                    'data-off-text': '<i class="fa fa-close" />',
                                    'data-id': p.id,
                                    'data-type': 'is_hidden'
                                }
                            })
                            /*React.createElement(Components.ControlInput, {
                                type: 'select',
                                value: p.is_hidden,
                                className: 'is_hidden',
                                id: 'products['+p.id+'][is_hidden]',
                                name: 'products['+p.id+'][is_hidden]',
                                options: {
                                    0: "{{ 'no'|_ }}", 1: "{{ 'Yes'|_ }}"
                                },
                                attrs: {
                                    style: {width: "80px"},
                                    'data-id': p.id,
                                    'data-type': 'price.base'
                                }
                            })*/
                        ),
                        React.DOM.div({ className: 'form-group controls' },
                            React.createElement(Components.ControlLabel, {
                                label_class: '',
                                input_id: 'categories['+ p.id+']'}, "{{ 'Categories'|_ }}"
                            ),
                            React.createElement(FComSelect2, {
                                id: guid(),
                                name: 'categories['+ p.id+'][]',
                                placeholder: "{{ 'Select Categories' |_ }}",
                                multiple: true,
                                url: '{{ APP.href('/catalog/products/quick-add/categories_search') | raw }}',
                                onChange: this.props.actions.handleInputChange,
                                defaultValue: p.categories,
                                attrs: {
                                    'data-id': p.id,
                                    'data-type': 'categories'
                                }
                            })
                        )
                    ),
                    React.DOM.td(null,
                        React.DOM.div({ className: 'form-group controls' },
                            React.createElement(Components.ControlLabel, {
                                required: true,
                                label_class: '',
                                input_id: 'products['+ p.id+'][manage_inventory]'}, "{{ 'Manage?'|_ }}"
                            ),
                            React.createElement(Components.SpecialInput, {
                                type: 'switch',
                                id: 'products['+ p.id+'][manage_inventory]',
                                name: 'products['+ p.id+'][manage_inventory]',
                                value: p.manage_inventory,
                                options: {
                                    size: 'normal',
                                    onSwitchChange: this.props.actions.handleSwitchChange
                                },
                                attrs: {
                                    'data-on-text': '<i class="fa fa-check" />',
                                    'data-off-text': '<i class="fa fa-close" />',
                                    'data-id': p.id,
                                    'data-type': 'manage_inventory'
                                }
                            })
                            /*React.createElement(Components.ControlInput, {
                                type: 'select',
                                value: p.manage_inventory,
                                options: {
                                    0: "{{ 'no'|_ }}", 1: "{{ 'Yes'|_ }}"
                                },
                                className: 'manage_inventory',
                                id: 'products['+p.id+'][manage_inventory]',
                                name: 'products['+p.id+'][manage_inventory]',
                                attrs: {
                                    style: {width: "80px"},
                                    'data-id': p.id,
                                    'data-type': 'manage_inventory'
                                },
                                callback: this.props.actions.handleInputChange
                            })*/
                        ),
                        React.DOM.div({ className: 'form-group controls' },
                            React.createElement(Components.ControlLabel, {
                                label_class: '',
                                input_id: 'products['+ p.id+'][inventory_sku]'}, "{{ 'Inventory SKU'|_ }}"
                            ),
                            React.createElement(Components.ControlInput, {
                                value: p.inventory_sku,
                                className: 'inventory_sku',
                                id: 'products['+ p.id+'][inventory_sku]',
                                name: 'products['+ p.id+'][inventory_sku]',
                                attrs: {
                                    style: {width: "80px"},
                                    'data-id': p.id,
                                    'data-type': 'inventory_sku'
                                },
                                callback: this.props.actions.handleInputChange
                            })
                        ),
                        React.DOM.div({ className: 'form-group controls' },
                            React.createElement(Components.ControlLabel, {
                                label_class: '',
                                input_id: 'inventory['+ p.id+'][qty_in_stock]'}, "{{ 'Qty In Stock'|_ }}"
                            ),
                            React.createElement(Components.ControlInput, {
                                value: p.qty_in_stock,
                                className: 'qty_in_stock',
                                id: 'inventory['+ p.id+'][qty_in_stock]',
                                name: 'inventory['+ p.id+'][qty_in_stock]',
                                attrs: {
                                    style: {width: "80px"},
                                    'data-id': p.id,
                                    'data-type': 'qty_in_stock'
                                },
                                callback: this.props.actions.handleInputChange
                            })
                        ),
                        React.DOM.div({ className: 'form-group controls' },
                            React.createElement(Components.ControlLabel, {
                                label_class: '',
                                input_id: 'inventory['+ p.id+'][shipping_weight]'}, "{{ 'Ship Weight'|_ }}"
                            ),
                            React.createElement(Components.ControlInput, {
                                value: p.shipping_weight,
                                id: 'inventory['+ p.id+'][shipping_weight]',
                                name: 'inventory['+ p.id+'][shipping_weight]',
                                attrs: {
                                    style: {width: "80px"},
                                    'data-id': p.id,
                                    'data-type': 'shipping_weight'
                                },
                                callback: this.props.actions.handleInputChange
                            })
                        )
                    ),
                    React.DOM.td({ style: { width: '300px' } },
                        React.createElement(Components.SpecialInput, {
                            type: 'wysiwyg',
                            id: 'products['+ p.id+'][description]',
                            name: 'products['+ p.id+'][description]',
                            className: 'ckeditor',
                            value: p.description,
                            attrs: {
                                'data-id': p.id,
                                'data-type': 'description'
                            },
                            onChange: this.props.actions.handleWysiwygChange
                        })
                    ),
                    React.DOM.td({ style: { width: '500px' } },
                        React.createElement(Components.Dropzone, {
                            key: p.id,
                            name: 'products['+ p.id+'][images]',
                            config: this.props.djsComponentConfig,
                            djsConfig: this.props.djsConfig,
                            eventHandlers: this.props.eventHandlers
                        })
                    ),
                    React.DOM.td(null,
                        React.DOM.div({ className: 'table-actions-btns-group' },
                            React.createElement(Components.Button, {
                                    type: 'button',
                                    className: 'btn btn-link btn-delete',
                                    onClick: this.props.actions.removeProduct,
                                    'data-id': p.id
                                },
                                React.DOM.i({ className: 'icon-trash' })
                            )
                        )
                    )
                );
            }
        });

        var container = document.getElementById('products-quick-add-container');
        React.unmountComponentAtNode(container);

        var BlockFormComponent = React.render(React.createElement(Blocks), container);

        // Prevent the default action when a file is dropped on the window
        $(document).on('drop dragover', function (e) {
            e.preventDefault();
        });
    });
</script>
