{% set cart = APP.instance('FCom_Sales_Model_Cart').sessionCart() %}
<div class="row">
    <div class="col-md-9">
        <form action="{{ APP.href('checkout') }}" method="post" id="{{ type }}-form" role="form">
            <input type="hidden" name="checkout_step" value="2">

            <div class="f-checkout-form">

                <header class="f-page-header">
                    <h1 class="f-page-title">{{ 'Billing Address'|_ }}</h1>
                </header>

                {% if cart.get('same_address') %}

                {{ THIS.view('checkout-simple/partial/shipping-methods') | raw }}

                {{ THIS.view('checkout-simple/partial/payment-methods') | raw }}

                {% elseif cart.hasCompleteAddress('billing') %}
                    {{ THIS.view('checkout-simple/partial/address-card').set('address_type', 'billing') | raw }}
                {% else %}
                    {{ THIS.view('checkout-simple/partial/address-form').set('address_type', 'billing') | raw }}
                {% endif %}
            </div>
        </form>
    </div>
    <div class="col-md-3">
        {{ THIS.get('checkout-simple/partial/summary') | raw }}
    </div>
</div>