- $c = $this->model

%fieldset
    .settings-container
        .group
            %h3
                %a(href="#") = $this->_('DB Settings')
            %div
                %table
                    %tr
                        %td = $this->_('Host')
                        %td
                            %input(type="text" name="config[db][host]" value="#{ $c->get('db/host') }")
                    %tr
                        %td = $this->_('DB Name')
                        %td
                            %input(type="text" name="config[db][dbname]" value="#{ $c->get('db/dbname') }")
                    %tr
                        %td = $this->_('User')
                        %td
                            %input(type="text" name="config[db][username]" value="#{ $c->get('db/username') }")
                    %tr
                        %td = $this->_('Password')
                        %td
                            %input(type="text" name="config[db][password]" value="*****")
                    %tr
                        %td = $this->_('Enable Logging')
                        %td
                            %select(name="config[db][logging]")
                                - echo $this->optionsHtml(array(0=>'No',1=>'Yes'), $c->get('db/logging'))
                    %tr
                        %td = $this->_('Enable Logging')
                        %td
                            %select(name="config[db][implicit_migration]")
                                - echo $this->optionsHtml(array(0=>'No',1=>'Yes'), $c->get('db/impricit_migration'))
        .group
            %h3
                %a(href="#") = $this->_('Website')
            %div
                %table
                    %tr
                        %td = $this->_('Store Name')
                        %td
                            %input(type="text" name="config[modules][FCom_Core][store_name]" 
                                value="#{ $c->get('modules/FCom_Core/store_name') }")
                    %tr
                        %td = $this->_('Admin Email')
                        %td
                            %input(type="text" name="config[modules][FCom_Core][admin_email]" 
                                value="#{ $c->get('modules/FCom_Core/admin_email') }")
                    %tr
                        %td = $this->_('Copyright Message')
                        %td
                            %input(type="text" name="config[modules][FCom_Core][copyright]" 
                                value="#{ $c->get('modules/FCom_Core/copyright') }")
        .group
            %h3
                %a(href="#") = $this->_('Session')
            %div
                %table
                    %tr
                        %td = $this->_('Session Handler')
                        %td
                            %select(name="config[cookie][session_handler]")
                                - echo $this->optionsHtml(BSession::i()->getHandlers(), $c->get('cookie/session_handler'))
                    %tr
                        %td = $this->_('Cookie Timeout')
                        %td
                            %input(type="text" name="config[cookie][timeout]" value="#{ $c->get('cookie/timeout') }")
                    %tr
                        %td = $this->_('Cookie Domain')
                        %td
                            %input(type="text" name="config[cookie][domain]" value="#{ $c->get('cookie/domain') }")
                    %tr
                        %td = $this->_('Cookie Path')
                        %td
                            %input(type="text" name="config[cookie][path]" value="#{ $c->get('cookie/path') }")
                    %tr
                        %td = $this->_('Session Namespace')
                        %td
                            %input(type="text" name="config[cookie][session_namespace]" 
                                value="#{ $c->get('cookie/session_namespace') }")
                    %tr
                        %td = $this->_('Verify Session IP')
                        %td
                            %select(name="config[cookie][session_check_ip]")
                                - echo $this->optionsHtml(array(0=>'No',1=>'Yes'), $c->get('cookie/session_check_ip'))
        .group
            %h3
                %a(href="#") = $this->_('System')
            %div
                %table
                    %tr
                        %td = $this->_('Hide script file name in URL')
                        %td
                            %select(name="config[web][hide_script_name]")
                                - echo $this->optionsHtml(array(0=>'No',1=>'Yes'), $c->get('web/hide_script_name'))
