- $c = $this->model

%fieldset.form-horizontal
    .accordion#settings-FCom_Core
        .accordion-group
            .accordion-heading
                .accordion-toggle = $this->_('DB Settings')
            .accordion-body.in
                .accordion-inner
                    .control-group
                        %label.control-label = $this->_('Host')
                        .controls
                            %input(type="text" name="config[db][host]" value="#{ $c->get('db/host') }")
                    .control-group
                        %label.control-label = $this->_('DB Name')
                        .controls
                            %input(type="text" name="config[db][dbname]" value="#{ $c->get('db/dbname') }")
                    .control-group
                        %label.control-label = $this->_('User')
                        .controls
                            %input(type="text" name="config[db][username]" value="#{ $c->get('db/username') }")
                    .control-group
                        %label.control-label = $this->_('Password')
                        .controls
                            %input(type="text" name="config[db][password]" value="*****")
                    .control-group
                        %label.control-label = $this->_('Enable Logging')
                        .controls
                            %select(name="config[db][logging]")
                                - echo BUtil::optionsHtml(array(0=>'No',1=>'Yes'), $c->get('db/logging'))
                    .control-group
                        %label.control-label = $this->_('Enable Implicit Migration')
                        .controls
                            %select(name="config[db][implicit_migration]")
                                - echo BUtil::optionsHtml(array(0=>'No',1=>'Yes'), $c->get('db/impricit_migration'))
        .accordion-group
            .accordion-heading
                .accordion-toggle = $this->_('Website')
            .accordion-body
                .accordion-inner
                    .control-group
                        %label.control-label = $this->_('Store Name')
                        .controls
                            %input(type="text" name="config[modules][FCom_Core][store_name]"
                                value="#{ $c->get('modules/FCom_Core/store_name') }")
                    .control-group
                        %label.control-label = $this->_('Admin Email')
                        .controls
                            %input(type="text" name="config[modules][FCom_Core][admin_email]"
                                value="#{ $c->get('modules/FCom_Core/admin_email') }")
                    .control-group
                        %label.control-label = $this->_('Copyright Message')
                        .controls
                            %input(type="text" name="config[modules][FCom_Core][copyright]"
                                value="#{ $c->get('modules/FCom_Core/copyright') }")
        .accordion-group
            .accordion-heading
                .accordion-toggle = $this->_('Session')
            .accordion-body
                .accordion-inner
                    .control-group
                        %label.control-label = $this->_('Session Handler')
                        .controls
                            %select(name="config[cookie][session_handler]")
                                - echo BUtil::optionsHtml(BSession::i()->getHandlers(), $c->get('cookie/session_handler'))
                    .control-group
                        %label.control-label = $this->_('Cookie Timeout')
                        .controls
                            %input(type="text" name="config[cookie][timeout]" value="#{ $c->get('cookie/timeout') }")
                    .control-group
                        %label.control-label = $this->_('Cookie Domain')
                        .controls
                            %input(type="text" name="config[cookie][domain]" value="#{ $c->get('cookie/domain') }")
                    .control-group
                        %label.control-label = $this->_('Cookie Path')
                        .controls
                            %input(type="text" name="config[cookie][path]" value="#{ $c->get('cookie/path') }")
                    .control-group
                        %label.control-label = $this->_('Session Namespace')
                        .controls
                            %input(type="text" name="config[cookie][session_namespace]"
                                value="#{ $c->get('cookie/session_namespace') }")
                    .control-group
                        %label.control-label = $this->_('Verify Session IP')
                        .controls
                            %select(name="config[cookie][session_check_ip]")
                                - echo BUtil::optionsHtml(array(0=>'No',1=>'Yes'), $c->get('cookie/session_check_ip'))
        .accordion-group
            .accordion-heading
                .accordion-toggle = $this->_('System')
            .accordion-body
                .accordion-inner
                    .control-group
                        %label.control-label = $this->_('Hide script file name in URL')
                        .controls
                            %select(name="config[web][hide_script_name]")
                                - echo BUtil::optionsHtml(array(0=>'No',1=>'Yes'), $c->get('web/hide_script_name'))

        .accordion-group
            .accordion-heading
                .accordion-toggle = $this->_('CSRF Protection')
            .accordion-body
                .accordion-inner
                    .control-group
                        %label.control-label = $this->_('Check Method')
                        .controls
                            %select(name="config[web][csrf_check_method]")
                                - echo BUtil::optionsHtml(array('referrer'=>'Referrer', 'token'=>'Token'), $c->get('web/csrf_check_method'))
