{% set methods = APP.instance('FCom_Sales_Main').getAllSelectedShippingServices() %}

<h4>{{ 'Shipping Methods'|_ }}</h4>
<dl>
{% for method in methods %}
    <dt>{{ method.description |_ }}</dt>
    {% for service in method.services %}
        <dd>
            <label for="shipping_method-{{ service.value }}">
                <input type="radio" name="shipping_method" id="shipping_method-{{ service.value }}" required
                       value="{{ service.value }}" {{ service.selected ? 'checked' }}
                > {{ service.label |_ }}</label>
        </dd>
    {% endfor %}
{% endfor %}
</dl>
