{% import THIS.view('core/form-elements').twigName() as forms %}
<div class="f-section" id="coupon-generate-container">
    <form id="coupon-generate-form">
        <div class="well well-sm help-block">
            <p>{{"You can have unique coupon codes generated for you automatically if you input simple patterns."|_ }} </p>
            <p>{{ "Pattern examples:"|_}}</p>
            <p>{{ "<code>[U8]</code> - 8 alpha chars - will result to something like <code>DKABWJKQ</code>"|_|raw}}</p>
            <p>{{ "<code>[D4]</code> - 4 digits - will result to something like <code>5640</code>"|_|raw }}</p>
            <p>{{ "<code>[UD5]</code> - 5 alphanumeric - will result to something like <code>GHG76</code>"|_|raw }}</p>
            <p>{{ "<code>CODE-[U4]-[UD6]</code> - <code>CODE-HQNB-8A1NO3</code>"|_|raw }}</p>

        </div>
        <div class="form-group">
            {{ forms.input({field:'code_pattern', label:'Code Pattern'|_,
            help_block_text:'(Leave empty to auto-generate)'|_,
            input_div_class:'col-md-8', label_class: 'col-md-4'}) }}
        </div>
        <div class="form-group">
            {{ forms.input({field: 'code_length', label: 'Coupon Code Length'|_,
            help_block_text:'(Will be used only if auto-generating codes)'|_,
            input_div_class:'col-md-8', label_class: 'col-md-4'}) }}
        </div>
        <div class="form-group">
            {{ forms.input({field: 'code_uses_per_customer', label:'Uses Per Customer'|_,
            help_block_text: '(Leave empty for no limit)'|_,
            input_div_class:'col-md-8', label_class: 'col-md-4'}) }}
        </div>
        <div class="form-group">
            {{ forms.input({field: 'code_uses_total', label:'Total uses'|_,
            help_block_text: '(Leave empty for no limit)'|_,
            input_div_class:'col-md-8', label_class: 'col-md-4'}) }}
        </div>
        <div class="form-group ">
            {{ forms.input({field: 'coupon_count', label:'How many to generate'|_, value:1, label_class: 'col-md-4', input_div_class:'col-md-5'}) }}
            <div class="col-md-2"><button type="button" id="coupon-generate-btn" class="btn btn-danger">{{ "Generate"|_ }}</button></div>
        </div>
    </form>
</div>
