{% set c = THIS.get('model') %}
{% set paymentMethods = UTIL.arrayToOptions(APP.instance('FCom_Sales_Main').getPaymentMethods(), '.getName') %}
{% set shippingMethods = UTIL.arrayToOptions(APP.instance('FCom_Sales_Main').getShippingMethods(), '.getName') %}
{% set orderNumber = c.get('modules/FCom_Sales/order_number') %}
{% if orderNumber is null or orderNumber is empty %}
    {% set orderNumber = "0000000" %}
{% endif %}
<h2>{{ "Sales Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_Sales">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'Defaults'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_Sales-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Default Shipping Method'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="config[modules][FCom_Sales][default_shipping_method]">
                            {{ UTIL.optionsHtml(shippingMethods, c.get('modules/FCom_Sales/default_shipping_method'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Default Payment Method'|_ }}</label>
                    <div class="col-md-5">
                        <select class="form-control" name="config[modules][FCom_Sales][default_payment_method]">
                            {{ UTIL.optionsHtml(paymentMethods, c.get('modules/FCom_Sales/default_payment_method'))|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Orders Recent Days'|_ }}</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" data-rule-number="true" name="config[modules][FCom_Sales][recent_day]"
                               value="{{ c.get('modules/FCom_Sales/recent_day') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'Orders'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Sales-group1">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Define starting order number'|_ }}</label>
                    <div class="col-md-5">
                        <input id="FCom_Sales-order-number" type="text" class="form-control required" maxlength="14" data-rule-number="true" name="config[modules][FCom_Sales][order_number]"
                               value="{{ orderNumber }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require(['jquery', 'jquery.validate'], function ($) {
        $('#FCom_Sales-order-number').rules('add', {
            required: true,
            remote: {
                url: '{{ APP.href('orders/validate_order_number') }}',
                async: false,
                type: 'post',
                dataFilter: function (response) {
                    var res = jQuery.parseJSON(response);
                    $.validator.messages.remote = res.messages;
                    return res.status;
                }
            }
        });
    })
</script>