{% set c = THIS.get('model') %}
{% set paymentMethods = UTIL.arrayToOptions(APP.instance('FCom_Sales_Main').getPaymentMethods(), '.getName') %}
{% set shippingMethods = UTIL.arrayToOptions(APP.instance('FCom_Sales_Main').getShippingMethods(), '.getName') %}
{% set orderNumber = c.get('modules/FCom_Sales/order_number', '0000000') %}
{% set fieldData = { model: c, id_prefix:'FCom_Sales', name_prefix:'config[modules][FCom_Sales]' } %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
<h2>{{ "Sales Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-FCom_Sales'}) }}
     {{ forms.accordion_panel_start({label:'Defaults'|_, id:'settings-FCom_Sales-group0', in:1}) }}
        {{ forms.select(fieldData|merge({field:'default_shipping_method', label:'Default Shipping Method'|_, options: shippingMethods, value:c.get('modules/FCom_Sales/default_shipping_method')})) }}
        {{ forms.select(fieldData|merge({field:'default_payment_method', label:'Default Payment Method'|_, options: paymentMethods, value:c.get('modules/FCom_Sales/default_payment_method')})) }}
        {{ forms.input(fieldData|merge({field:'recent_day', label:'Orders Recent Days'|_, attr: 'data-rule-number="true"', value:c.get('modules/FCom_Sales/recent_day')})) }}
    {{ forms.accordion_panel_end }}
    {{ forms.accordion_panel_start({label:'Orders'|_, id:'settings-FCom_Sales-group1'}) }}
        {{ forms.input(fieldData|merge({field:'order_number', label:'Define starting order number'|_, required:1,attr: 'data-rule-number="true"', value: orderNumber})) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}

<script>
    require(['jquery', 'jquery.validate'], function ($) {
        $('#FCom_Sales-order-number').rules('add', {
            required: true,
            maxlength: 14,
            remote: {
                url: '{{ APP.href('orders/validate_order_number') }}',
                async: false,
                type: 'post',
                dataFilter: function (response) {
                    var res = $.parseJSON(response);
                    $.validator.messages.remote = res.messages;
                    return res.status;
                }
            }
        });
    })
</script>