{% set grid = THIS.get("grid") %}
<style type="text/css">
    .green {
        color: green;
    }
    .red {
        color: darkred;
    }
</style>
<div class="f-admin-main-view">
  <div class="page-header f-admin-page-header">
    <h1 class="f-page-title">Developers - Test</h1>
    <div class="btn-group">
        {% if THIS.get('can_cgi') %}
        <button class="btn" id="btn-test-cgi">Run tests cgi</button>
        {% endif %}
        <button class="btn" id="btn-test-web">Run tests web</button>
    </div>
  </div>
  <div class="f-admin-main">
      <div class="tab-content">
      <div id="results" class="tab-pane active" style="display: none; max-height:480px; overflow:auto;"></div>
          {#{{ dump(grid) }}#}
     {{ THIS.view('core/backbonegrid').set('grid', grid) | raw }}
    </div>
  </div>
</div>


<script type="text/javascript">
    require(['jquery'], function ($) {
        window.testsGridRegister = function (grid) {
            grid.build();
        };

        function ajax_tests_run() {
            var data = $('input[name^=tests_grid]').serializeArray();
            $.post("{{ APP.href('tests/run') }}", data)
                    .done(function (msg) {
                        var $results = $('#results');
                        $results.show().html("<h3>{{ "FCom Test suite CLI"|_ }}</h3>");
                        var res = "";
                        $(msg).each(function (i, o) {
                            res += o + '\n';
                        });
                        var c = $("<pre/>").text(res);
                        $results.append(c);

                    }).fail(function (result, msg) {
                        $('#results').text("{{ "An error occurred during test run"|_ }}")
                        console.log(msg);
                    });
            return false;
        }
        function ajax_tests_run2() {
            var data = $('input[name^=tests_grid]').serializeArray();
            $.post("{{ APP.href('tests/run2') }}", data, null, 'text')
                    .done(function (response) {
                        var $results = $('#results');
                        try {
                            var $response = $($.parseJSON(response));
                            $response.each(function (i, o) {
                                if (i == 0 && o.event == 'suiteStart' && o.suite) {
                                    var $div = $('<div class="suite-start">');
                                    $div.append('<p>{{ "Running test suite "|_ }}' + o.suite + '</p>');
                                    $div.append('<p>' + o.tests + '{{ " tests found"|_ }}');
                                    $results.html($div);
                                } else if (o.event == 'test') {
                                    var className = 'test';
                                    var iconClassName = "glyphicon glyphicon-";
                                    var title = o.test;
                                    if (o.status == 'pass') {
                                        className += ' green';
                                        iconClassName += "check";
                                    } else {
                                        className += ' red';
                                        iconClassName += "remove";
                                        title += ': ' + o.message;
                                    }

                                    var $span = $('<span class="' + className + '">');
                                    $span.append('<span class="' + iconClassName + '" title="' + title + '"/>');
                                    $results.append($span);
                                }
                                console.log(i);
                                console.log(o);
                            });
                        } catch (e) {
                            $('#results').text("{{ "An error occurred during test run"|_ }}");
                            console.log(response);
                        }
                        $results.show();
                    })
                    .fail(function (result, msg) {
                        $('#results').text("{{ "An error occurred during test run"|_ }}");
                        console.log(msg);
                    });
            return false;
        }

        $('#btn-test-web').click(ajax_tests_run2);
        $('#btn-test-cgi').click(ajax_tests_run);
    });
</script>
