<!--{ label: Page Options }-->
<!--{ pos: 20 }-->

{% set m = THIS.get('model') %}
{% set validator = THIS.get('validator', m) %}
{% import THIS.view('admin/form-elements').twigName() as forms %}

<fieldset class="form-horizontal">
    <div class="f-section">
    <div class="form-group">
        <label class="col-md-2 control-label">{{ "Page Enabled"|_ }}</label>
        <div class="col-md-5">
            <input type="hidden" name="model[page_enabled]" value="0" />
            <input class="switch-cbx" type="checkbox" name="model[page_enabled]" value="1" {% if validator.fieldValue('page_enabled') %}checked="checked"{% endif %} />
        </div>
    </div>
    {{ forms.input({label: 'Page URL Path'|_, name: "model[page_url]", value: validator.fieldValue('page_url')}) }}
    {{ forms.input({label: 'Window Title'|_, name: "model[page_title]", value: validator.fieldValue('page_title')}) }}
    {{ forms.textarea({label: 'Page Layout Update'|_, name: "model[layout_update]",  input_class: "ckeditor",value:  validator.fieldValue('layout_update'), id: "model-layout-update" }) }}
    {{ forms.input({label: 'Meta Title'|_, name: "model[meta_title]", value: validator.fieldValue('meta_title')}) }}
    {{ forms.input({label: 'Meta Description'|_, name: "model[meta_description]", value: validator.fieldValue('meta_description')}) }}
    {{ forms.input({label: 'Meta Keywords'|_, name: "model[meta_keywords]", value: validator.fieldValue('meta_keywords')}) }}
    </div>
</fieldset>
