<!--{ label: Page Options }-->
<!--{ pos: 20 }-->

{% set m = THIS.get('model') %}
{% set validator = THIS.get('validator', m) %}
{% import THIS.view('admin/form-elements').twigName() as forms %}
{% set fieldData = { validator: validator } %}
<fieldset class="form-horizontal">
    <div class="f-section">
    <div class="form-group">
        <label class="col-md-2 control-label">{{ "Page Enabled"|_ }}</label>
        <div class="col-md-5">
            <input type="hidden" name="model[page_enabled]" value="0" />
            <input class="switch-cbx" type="checkbox" name="model[page_enabled]" value="1" {% if validator.fieldValue('page_enabled') %}checked="checked"{% endif %} />
        </div>
    </div>
    {{ forms.input(fieldData|merge({field:'page_url', label:'Page URL Path'|_})) }}
    {{ forms.input(fieldData|merge({field:'page_title', label:'Window Title'|_})) }}
    {{ forms.textarea(fieldData|merge({field:'layout_update', label:'Page Layout Update'|_,  input_class: "ckeditor"})) }}
    {{ forms.input(fieldData|merge({field:'meta_title', label:'Meta Title'|_})) }}
    {{ forms.input(fieldData|merge({field:'meta_description', label:'Meta Description'|_})) }}
    {{ forms.input(fieldData|merge({field:'meta_keywords', label:'Meta Keywords'|_})) }}
    </div>
</fieldset>
