{% set c = THIS.get('model') %}
{% set locales = LOCALE.getAvailableLocaleCodes() %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<h2>{{ "FrontEnd Settings"|_}}</h2>
{% set fieldData = { model: c, settings_module:'FCom_Frontend' } %}
{{ forms.accordion_start({id:'settings-FCom_Frontend'}) }}
    {{ forms.accordion_panel_start({label:'HTML'|_, id:'settings-FCom_Frontend-group0', in:1}) }}
        {{ forms.select(fieldData, {field:'theme', label:'Theme'|_, options:LAYOUT.getThemes("FCom_Frontend", true) }) }}
        {{ forms.textarea(fieldData, {field:'add_js_files', label:'Additional JS Files'|_, raw:1 }) }}
        {{ forms.textarea(fieldData, {field:'add_css_files', label:'Additional CSS Files'|_, raw:1 }) }}
        {{ forms.textarea(fieldData, {field:'add_js_code', label:'Additional JS Code'|_, raw:1 }) }}
        {{ forms.textarea(fieldData, {field:'add_css_style', label:'Additional CSS Style'|_, raw:1 }) }}
    {{ forms.accordion_panel_end }}


    {{ forms.accordion_panel_start({label:'Area Settings'|_, id:'settings-FCom_Frontend-group1'}) }}
        <div class="form-group" >
            {{ forms.label({label:'IP: mode'|_}) }}
            <div class="col-md-8 group-ip-mode"></div>
        </div>

        {{ forms.textarea(fieldData, {name:'config[recovery][FCom_Frontend][modules]', id:'recovery-FCom_Frontend-modules',
            label:'Modules to run in RECOVERY mode'|_, value:c.get('recovery/FCom_Frontend/modules'), raw:1 }) }}
        {{ forms.input(fieldData, {name:'config[recovery][FCom_Frontend][redirect]', id:'recovery-FCom_Frontend-redirect',
            label:'URL to redirect in RECOVERY mode'|_, value:c.get('recovery/FCom_Frontend/redirect') }) }} }}

        {{ forms.boolean(fieldData, {field:'enable_locales', label:'Enable UI Multi Locale'|_ }) }}
        {{ forms.select(fieldData, {field:'default_locale', label:'Default Product Locale', options:locales }) }}
        {{ forms.select(fieldData, {field:'allowed_locales', label:'Enabled Frontend UI Locales', select2: {},
            multiple: true, options:locales }) }}
    {{ forms.accordion_panel_end }}

    {{ forms.accordion_panel_start({label:'Custom Tags'|_, id:'settings-FCom_Frontend-group2'}) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_homepage', label:'Home Page'|_, help_block_test:'test' }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_category', label:'Category Page'|_ }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_search', label:'Search Page'|_ }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_product', label:'Product Page'|_ }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_cart', label:'Shopping Cart'|_ }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_checkout', label:'Checkout Page'|_ }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_success', label:'Checkout Success Page'|_ }) }}
   {{ forms.accordion_panel_end }}

{{ forms.accordion_end }}

<script  type="text/javascript">
    require(['backbone', 'jquery', 'fcom.ipmode','select2'], function(Backbone, $, ipMode) {
        var mode = {{ UTIL.toJson(c.get("mode_by_ip/FCom_Frontend")|split("\n")) | raw }};
        ipMode.initMode({el: $('#settings-FCom_Frontend-group1').find('.group-ip-mode'), name: 'config[mode_by_ip][FCom_Frontend]', mode: mode});
    })
</script>
