-#
    /**
    * @param string $this->form_id
    * @param string $this->form_url
    * @param string $this->title
    * @param array $this->actions
    * @param string $this->cur_tab
    */

- $tabs = $this->sortedTabs()


:javascript
    require(["jquery", "underscore", "jquery.validate", "fcom.admin", "bootstrap"], function($, _) {

        $(function() {
            window.adminForm = FCom.Admin.form({
                form:     '##{$this->form_id}',
                tabs:     '.adm-tabs-sidebar li',
                panes:    '.adm-tabs-content',
                url_get:  '#{$this->form_url}',
                url_post: '#{$this->form_url}'
            });
            $("##{$this->form_id}").validate();

            var options = {
                url_get: "#{$this->form_url}"
            }
            $('.js-form-tab-toggle').click(function(ev) {
                ev.preventDefault();
                var paneSel = ev.target.href.replace(/^[^#]*/, ''), pane = $(paneSel), tabId = paneSel.replace(/^#tab-/,'');
                if (!pane.data('loaded')) {
                    var url_get = options.url_get+(options.url_get.match(/\?/) ? '&' : '?');
                    $.getJSON(url_get+'tabs='+tabId, function(data, status, req) {
                        _.each(data.tabs, function(tabHtml, i) {
                            $('#tab-'+i).html(tabHtml).data('loaded', true);
                            $('#tab-'+i+' .collapse').collapse();
                            FCom.Admin.Accordion('settings-'+i);
                            FCom.Admin.initCodeEditors()
                        });
                    });
                }
                $('#current_tab').val(ev.target.id.replace(/^tab-/, ''));
                $(this).tab('show');
            });
            $('[href="#tab-#{$this->cur_tab}"]').tab('show');
            
        });
    });


%form(id="#{ $this->form_id }" action="#{$this->form_url}" method="post")
    %header.fcom-admin-main-title
        %span.title#tab-title = $this->title
        .btn-group
            - echo join(' ', (array)$this->actions)

    - echo $this->messagesHtml('admin')
    .fcom-admin-main-container.fcom-admin-sidebar-view
        .fcom-admin-main-content.tab-content
            - foreach ($tabs as $k=>$tab)
                .tab-pane(id="tab-#{$k}" #{ empty($tab['async']) ? 'data-loaded="true"' : '' })
                    - if (empty($tab['async']))
                        - echo $this->view($tab['view'])
        %aside.fcom-admin-nav-sidebar
            - if ($this->sidebar_img)
                %img(src="#{$this->sidebar_img}" width="98" height="98")
            %nav
                %ul.nav.nav-tabs.nav-stacked#tabs
                    - foreach ($tabs as $k=>$tab)
                        - if (empty($tab['disabled']))
                            %li
                                %a.js-form-tab-toggle(href="#tab-#{$k}" data-toggle="tab")
                                    %span.icon
                                    = $tab['label']
