{% set tabs = THIS.sortedTabs() %}
{% set formUrl = THIS.get('form_url') %}
{% set formId = THIS.get('form_id') %}
{% set curTab = THIS.get('cur_tab') %}

<script>
    require(["jquery", "underscore", "jquery.validate", "fcom.admin", "bootstrap", "switch"], function($, _) {

        $(function() {
            window.adminForm = FCom.Admin.form({
                form:     '{{ formId }}',
                tabs:     '.adm-tabs-sidebar li',
                panes:    '.adm-tabs-content',
                url_get:  '{{ formUrl }}',
                url_post: '{{ formUrl }}'
            });
            $("#{{ formId }}").validate();

            FCom.Admin.Tabs('.fcom-admin-main-container', {
                url_get: "{{ formUrl }}",
                cur_tab: "{{ curTab }}",
                tab_load_callback: function(i) {
                    loadSwitchButtons();
                }
            });

            //switch button
            loadSwitchButtons = function() {
                $('#{{ formId }}').find('.switch-cbx').each(function(){
                    if ($(this).parents('.make-switch').hasClass('make-switch') == false) {
                        $(this).wrap("<div class='make-switch switch' data-off-label='&lt;i class=\"icon-remove\"&gt;&lt;/i&gt;' data-on-label='&lt;i class=\"icon-ok\"&gt;&lt;/i&gt;' data-on='primary'>").parent().bootstrapSwitch();
                    }
                });
            }

            //init
            loadSwitchButtons();
        });
    });
</script>

<form id="{{ formId }}" class="form form-horizontal" action="{{ formUrl }}" method="post">
    <div class="row fcom-admin-main-title">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="pull-left">
                    <i class="icon-table"></i>
                    {{ THIS.get('title') }}
                </h1>
                <div class="pull-right">
                    <div class="btn-group">
                        {{ THIS.actions | join(' ') | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ THIS.view('core/alerts') }}

    <div class="row fcom-admin-main-container fcom-admin-sidebar-view col-sm-12 box">
        <div class="box-content">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs nav-stacked fcom-admin-nav-sidebar" id="tabs">
                    {% if THIS.get('sidebar_img') %}
                        <li><img src="{{ THIS.get('sidebar_img') | raw }}" width="98" height="98" /></li>
                    {%  endif %}
                    {% for k, tab in tabs %}
                        {% if tab.disabled is empty %}
                            <li>
                                <a class="js-form-tab-toggle" href="#tab-{{ k }}" data-toggle="tab">
                                    <span class="icon"></span>
                                    {{ tab.label }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for k, tab in tabs %}
                        <div class="tab-pane" id="tab-{{ k }}" {% if tab.async is empty %}data-loaded="true"{% endif %}>
                            {% if tab.async is empty %}{{ THIS.view(tab.view) | raw }}{% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>