-#
    /**
    * @param string $this->form_id
    * @param string $this->form_url
    * @param string $this->title
    * @param array $this->actions
    * @param string $this->cur_tab
    */

- $tabs = $this->sortedTabs()

:javascript
    $(function() {
        window.adminForm = FCom.Admin.form({
            form:     '##{$this->form_id}',
            tabs:     '.adm-tabs-sidebar li',
            panes:    '.adm-tabs-content',
            url_get:  '#{$this->form_url}',
            url_post: '#{$this->form_url}'
        });
        $("##{$this->form_id}").validate();
    });

%form(id="#{ $this->form_id }" action="#{$this->form_url}" method="post")
    %header.fcom-admin-main-title
        %span.title#tab-title = $this->title
        .btn-group
            - echo join(' ', (array)$this->actions)

    - echo $this->messagesHtml('admin')

    .fcom-admin-main-content.info-view-mode
        %aside(class="#{$this->sidebar_img ? 'fcom-admin-nav-sidebar' : 'fcom-admin-nav-sidebar'}")
            - if ($this->sidebar_img)
                %img(src="#{$this->sidebar_img}" width="98" height="98")
            %nav
                %ul.nav.nav-tabs.nav-stacked
                    - foreach ($tabs as $k=>$tab)
                        - if (empty($tab['disabled']))
                            %li(class="#{$k===$this->cur_tab ? 'active' : ''}")
                                %a(href="#tab-#{$k}")
                                    %span.icon
                                    = $tab['label']
        .adm-main
            .adm-tabs-container
                - foreach ($tabs as $k=>$tab)
                    %section.adm-tabs-content(id="tab-#{$k}" #{ $k!==$this->cur_tab ? 'hidden' : '' } #{ empty($tab['async']) ? 'data-loaded="true"' : '' })
                        - if (empty($tab['async']))
                            - echo $this->view($tab['view'])
