-#
    /**
    * @param string $this->form_id
    * @param string $this->form_url
    * @param string $this->title
    * @param array $this->actions
    * @param string $this->cur_tab
    */

- $tabs = $this->sortedTabs()

%form(id="#{ $this->form_id }" action="#{$this->form_url}" method="post")
    %header.fcom-admin-main-title
        %span.title#tab-title = $this->title
        .btn-group
            - echo join(' ', (array)$this->actions)

    - echo $this->messagesHtml('admin')
    .fcom-admin-main-container
        %aside(class="#{$this->sidebar_img ? 'fcom-admin-nav-sidebar' : 'fcom-admin-nav-sidebar'}")
            - if ($this->sidebar_img)
                %img(src="#{$this->sidebar_img}" width="98" height="98")
            %nav
                %ul.nav.nav-tabs.nav-stacked#tabs
                    - foreach ($tabs as $k=>$tab)
                        - if (empty($tab['disabled']))
                            %li(class="#{$k===$this->cur_tab ? 'active' : ''}" data-toggle="tab")
                                %a(href="#tab-#{$k}")
                                    %span.icon
                                    = $tab['label']
        .fcom-admin-main-content.tab-content
            - foreach ($tabs as $k=>$tab)
                .tab-pane(id="tab-#{$k}" #{ $k!==$this->cur_tab ? 'hidden' : '' } #{ empty($tab['async']) ? 'data-loaded="true"' : '' })
                    - if (empty($tab['async']))
                        - echo $this->view($tab['view'])

:javascript
    require(["jquery", "jquery.validate"], function($) {
        $(function() {
            window.adminForm = FCom.Admin.form({
                form:     '##{$this->form_id}',
                tabs:     '.adm-tabs-sidebar li',
                panes:    '.adm-tabs-content',
                url_get:  '#{$this->form_url}',
                url_post: '#{$this->form_url}'
            });
            $("##{$this->form_id}").validate();

            $('#tabs a:first').tab('show');
        });
    })
