- $user = FCom_Admin_Model_User::sessionUser();
- $notifications = $this->getNotifications();
- $storeName = BConfig::i()->get('modules/FCom_Core/store_name')

%header.fcom-admin-header
    %a.fcom-admin-logo
        %img(src="#{BApp::src('@FCom_Admin/compass/img/fcom-admin-logo.png')}" alt="#{$storeName}")
    %nav.fcom-admin-header-util-links
        %ul
            - if (!empty($this->_quickSearches))
                %li.dropdown
                    %a.dropdown-toggle#utilnav-quicksearch(href="#" data-toggle="dropdown" data-target="#")
                        %span.icon-search
                        %span.title = $this->_('Quicksearch')
                    %ul.dropdown-menu(role="menu" aria-labelledby="util-quicksearch")
                        %form.sub-section(action="#" method="post")
                            %fieldset
                                %ul.form-list
                                    %li
                                        %select
                                            - foreach ($this->_quickSearches as $qs)
                                                %option(value="{$qs['href']}") = $qs['label']
                                    %li
                                        %input(type="text")
                                %input.btn.st2.sz2(type="submit" value="Search")

            - if (!empty($this->_shortcuts))
                %li.dropdown
                    %a.dropdown-toggle#utilnav-shortcuts(href="#" data-toggle="dropdown" data-target="#")
                        %span.icon-layout
                        %span.title = $this->_('Shortcuts')
                    %div.dropdown-menu(role="menu" aria-labelledby="utilnav-shortcuts")
                        %span.fcom-dropdown-menu-title = $this->_('Shortcuts')
                        %ul
                            - foreach ($this->_shortcuts as $sc)
                                %li
                                    %a(href="#{$sc['href']}") = $sc['label']
            - if (!empty($this->_recent))
                %li.dropdown
                    %a.dropdown-toggle#utilnav-recent-activity(href="#" data-toggle="dropdown" data-target="#")
                        %span.icon-monitor
                        %span.title = $this->_('Recent Activity')
                    %div.dropdown-menu(role="menu" aria-labelledby="utilnav-recent-activity")
                        %span.fcom-dropdown-menu-title = $this->_('Recent Activity')
                        %ul
                            - foreach ($this->_recent as $sc)
                                %li
                                    %a(href="#{$sc['href']}") = $sc['label']

            - if ($notifications['count'])
                %li.dropdown
                    %a.dropdown-toggle#utilnav-notifications(href="#" data-toggle="dropdown" data-target="#")
                        %span.icon-bell
                        %span.title
                            = $this->_('Notifications')
                        %span.badge.badge-warning = $notifications['count']
                    %ul.dropdown-menu(role="menu" aria-labelledby="utilnav-notifications")
                        - foreach ($notifications['groups'] as $group => $items)
                            %li.dropdown-header = $this->_($group)
                            - foreach ($items as $item)
                                %li(class="#{$item['type']}")
                                    - echo $item['html']
                            %li.dropdown-divider

            %li.dropdown
                %a.dropdown-toggle#utilnav-account(href="#" data-toggle="dropdown" data-target="#")
                    %img.avatar(src="#{BUtil::gravatar($user->email)}")
                    %span.user-name = $user->fullname()
                %ul.dropdown-menu(role="menu" aria-labelledby="utilnav-account")
                    %li
                        %a(href="#{BApp::href('my_account')}") = $this->_('My Account')
                    %li
                        %a(href="#{BApp::href('reports')}") = $this->_('My Reports')
                    %li
                        %a(href="#{BApp::href('logout')}") = $this->_('Log Out')

    %strong.adm-group-title
        - if ($this->title)
            = $this->title
        - else
            \&nbsp;

%nav.fcom-admin-nav
    - echo $this->view('admin/nav')
