- $user = FCom_Admin_Model_User::sessionUser();
- $modulesNotification = array();
- $this->hook('hook_modules_notification', array('modulesNotification' => &$modulesNotification));
- $storeName = BConfig::i()->get('modules/FCom_Core/store_name')


%header.fcom-admin-header
    %a.fcom-admin-logo
        %img(src="#{BApp::src('@FCom_Admin/compass/img/fcom-admin-logo.png')}" alt="#{$storeName}")
    %nav.fcom-admin-header-util-links
        %ul
            - if (!empty($this->_quickSearches))
                %li.dropdown
                    %a.dropdown-toggle#utilnav-quicksearch(href="#" data-toggle="dropdown" data-target="#")
                        %span.icon.entypo.search
                        %span.title = $this->_('Quicksearch')
                    %ul.dropdown-menu(role="menu" aria-labelledby="util-quicksearch")
                        %form.sub-section(action="#" method="post")
                            %fieldset
                                %ul.form-list
                                    %li
                                        %select
                                            - foreach ($this->_quickSearches as $qs)
                                                %option(value="{$qs['href']}") = $qs['label']
                                    %li
                                        %input(type="text")
                                %input.btn.st2.sz2(type="submit" value="Search")

            - if (!empty($this->_shortcuts))
                %li.dropdown
                    %a.dropdown-toggle#utilnav-shortcuts(href="#" data-toggle="dropdown" data-target="#")
                        %span.icon.entypo.layout
                        %span.title = $this->_('Shortcuts')
                    %div.dropdown-menu(role="menu" aria-labelledby="utilnav-shortcuts")
                        %span.fcom-dropdown-menu-title = $this->_('Shortcuts')
                        %ul
                            - foreach ($this->_shortcuts as $sc)
                                %li
                                    %a(href="#{$sc['href']}") = $sc['label']
            - if (!empty($this->_recent))
                %li.dropdown
                    %a.dropdown-toggle#utilnav-recent-activity(href="#" data-toggle="dropdown" data-target="#")
                        %span.icon
                        %span.title = $this->_('Recent Activity')
                    %div.dropdown-menu(role="menu" aria-labelledby="utilnav-recent-activity")
                        %span.fcom-dropdown-menu-title = $this->_('Recent Activity')
                        %ul
                            - foreach ($this->_recent as $sc)
                                %li
                                    %a(href="#{$sc['href']}") = $sc['label']

            - if ($modulesNotification)
                %li.dropdown
                    %a.dropdown-toggle#utilnav-notifications(href="#" data-toggle="dropdown" data-target="#{BApp::href('market/index')}")
                        %span.icon
                        %span.title
                            = $this->_('Notifications')
                            \&nbsp;
                            %em.count = count($modulesNotification)
                    %ul.dropdown-menu(role="menu" aria-labelledby="utilnav-notifications")
                        - foreach ($modulesNotificationa as $notifyTitle => $notifications)
                            %li
                                %a(style="text-decoration: none; font-weight: bold; color:black") = strtoupper($notifyTitle)
                        - foreach ($notifications as $notify)
                            - if ($notify->url)
                                %li
                                    %a(href="#{BApp::href($notify->url)}" title="#{$notify->text}") = $notify->module
                            - else
                                %li = $notify->module

            %li.dropdown
                %a.dropdown-toggle#utilnav-account(href="#" data-toggle="dropdown" data-target="#")
                    %span.icon.entypo.user
                    %span.user-name = $user->fullname()
                %ul.dropdown-menu(role="menu" aria-labelledby="utilnav-account")
                    %li
                        %img(src="#{BUtil::gravatar($user->email)}" style="margin:3px 13px")
                    %li
                        %a(href="#{BApp::href('my_account')}") = $this->_('My Account')
                        %a(href="#{BApp::href('reports')}") = $this->_('My Reports')
                        %a(href="#{BApp::href('logout')}") = $this->_('Log Out')

    %strong.adm-group-title
        - if ($this->title)
            = $this->title
        - else
            \&nbsp;

%nav.fcom-admin-nav 
    - echo $this->view('admin/nav')