.dropdown.clearfix(data-spy="affix" data-offset-top="50")
  /%ul.dropdown-menu(role="menu" style="display:block")
  %ul.nav.nav-tabs.nav-stacked
    - foreach ($this->getNodes() as $k1=>$n1)
      %li(class="#{$n1['class']} #{$n1['active']?'active':''} #{$n1['children']?'dropdown-submenu':''}")
        %a(href="#{$n1['href']}" class="#{'nav-group-'.$k1}")
          %span.title = $this->_($n1['label'])
        - if ($n1['children'])
          %ul.dropdown-menu
            - foreach ($n1['children'] as $k2=>$n2)
              %li(class="#{$n2['class']} #{$n2['active']?'active':''} #{$n2['children']?'dropdown-submenu':''}")
                %a(href="#{$n2['href']}" class="#{$n2['children']?'nav-group-'.$k2:''}")
                  %span.title = $this->_($n2['label'])
                - if ($n2['children'])
                  %ul.dropdown-menu
                    - foreach ($n2['children'] as $k3=>$n3)
                      %li(class="#{$n3['class']} #{$n3['active']?'active':''}")
                        %a(href="#{$n3['href']}")
                          %span.icon
                          %span.title = $this->_($n2['label'])
