<!DOCTYPE html>
<html lang="en">
    <head>
        {{ THIS.hook('head') | raw }}
    </head>
    <body class="{{ THIS.get('body_class') | join(' ') }}">
        <div class="container">

            {% if THIS.get('errors') %}
                {% for error in THIS.get('errors') %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}
            {% endif %}
            {{ THIS.view('core/messages').set('namespace', 'install') | raw }}

            <div class="panel">
                {{ THIS.hook('main') | raw }}
            </div>
        </div>
    </body>
</html>
