<!DOCTYPE html>
<html lang="en">
    <head>
        {{ THIS.hook('head') | raw }}
    </head>
    <body class="{{ THIS.get('body_class') | join(' ') }}">
        <div class="page-wrapper">
            {{ THIS.hook('header') | raw }}
            <div class="page-main-wrapper {{ THIS.get('show_left_col') ? 'col2-layout-left' : (THIS.get('show_right_col') ? 'col2-layout-right' : 'col1-layout') }} {{ THIS.get('layout_class') }}">
                {{ THIS.hook('breadcrumbs') | raw }}
                <div class="page-main">
{% if THIS.get('show_left_col') %}
                    <aside class="col-left sidebar">
                        {{ THIS.hook('sidebar-left') | raw }}
                    </aside>
{% endif %}
                    <div class="col-main">
                        {{ THIS.hook('main') | raw }}
                    </div>
{% if THIS.get('show_right_col') %}
                    <aside class="col-right sidebar">
                        {{ THIS.hook('sidebar-right') }}
                    </aside>
{% endif %}
                </div>
            </div>
            {{ THIS.hook('footer') | raw }}
        </div>
    </body>
</html>