{% set m = THIS.get('model') %}

<div class="form-group">
    <label class="col-md-2 control-label" for="model-show_content">{{ 'Show Content'|_ }}</label>
    <div class="col-md-5">
        <input type="hidden" name="model[show_content]" value="0" />
        <input id="model-is-top-menu" class="switch-cbx" name="model[show_content]" {% if m.get('show_content') == 1 %}checked="checked"{% endif %} value='1' type='checkbox' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="main-content">{{ 'Content'|_ }}</label>
    <div class="col-md-10">
        <textarea id="main-content" class="form-control ckeditor" name="model[content]" rows="5">{{ m.get('content') }}</textarea>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="model-show_products">{{ 'Show Products'|_ }}</label>
    <div class="col-md-5">
        <input type="hidden" name="model[show_products]" value="0" />
        <input id="model-is-top-menu" class="switch-cbx" name="model[show_products]" {% if m.get('show_products') == 1 %}checked="checked"{% endif %} value='1' type='checkbox' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="model-show_sub_cat">{{ 'Show Subcategories'|_ }}</label>
    <div class="col-md-5">
        <input type="hidden" name="model[show_sub_cat]" value="0" />
        <input id="model-is-top-menu" class="switch-cbx" name="model[show_sub_cat]" {% if m.get('show_sub_cat') == 1 %}checked="checked"{% endif %} value='1' type='checkbox' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="main-layout_update">{{ 'Layout Update'|_ }}</label>
    <div class="col-md-10">
        <textarea id="main-layout_update" class="form-control" rows="5" name="model[layout_update]">{{ m.get('layout_update') }}</textarea>
    </div>
</div>
