{% set m = THIS.get('model') %}
{% set views = APP.instance('FCom_Catalog_Admin').getAvailableViews() %}
{% import THIS.view('admin/form-elements').twigName() as forms %}

<div class="form-group">
    <label class="col-md-2 control-label" for="main-show_order">{{ 'Show Order'|_ }}</label>
    <div class="col-md-2">
        <input type="hidden" id="model-page_parts" name="model[page_parts]" value="{{ m.get('page_parts') }}">
        <ol id="show-order" class="dd-list columns ui-sortable" style="overflow:hidden">
{% for k, label in m.getPageParts() %}
            <li class="dd-item dd3-item" data-id="{{ k }}"><div class="icon-ellipsis-vertical dd-handle dd3-handle"></div><div class="dd3-content"><label>{{ label|_ }}</label></div></li>
{% endfor %}
        </ol>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label" for="model-show_content">{{ 'Show Custom Content'|_ }}</label>
    <div class="col-md-5">
        <input type="hidden" name="model[show_content]" value="0" />
        <input id="model-show_content" class="switch-cbx" name="model[show_content]" {% if m.get('show_content') == 1 %}checked="checked"{% endif %} value='1' type='checkbox' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="model-show_view">{{ 'Show Block / Page'|_ }}</label>
    <div class="col-md-2">
        <input type="hidden" name="model[show_view]" value="0" />
        <input id="model-show_view" class="switch-cbx" name="model[show_view]" {% if m.get('show_view') == 1 %}checked="checked"{% endif %} value='1' type='checkbox' />
    </div>
    <div class="col-md-5">
        <select name="model[view_name]" class="form-control select2" id="category-view-name-select2">
            {{ UTIL.optionsHtml(views, m.get('view_name')) | raw }}
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="model-show_sub_cat">{{ 'Show Subcategories'|_ }}</label>
    <div class="col-md-5">
        <input type="hidden" name="model[show_sub_cat]" value="0" />
        <input id="model-show_sub_cat" class="switch-cbx" name="model[show_sub_cat]" {% if m.get('show_sub_cat') == 1 %}checked="checked"{% endif %} value='1' type='checkbox' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="model-show_products">{{ 'Show Products'|_ }}</label>
    <div class="col-md-5">
        <input type="hidden" name="model[show_products]" value="0" />
        <input id="model-show_products" class="switch-cbx" name="model[show_products]" {% if m.get('show_products') == 1 %}checked="checked"{% endif %} value='1' type='checkbox' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="model-show_sidebar">{{ 'Show Sidebar'|_ }}</label>
    <div class="col-md-5">
        <input type="hidden" name="model[show_sidebar]" value="0" />
        <input id="model-show_products" class="switch-cbx" name="model[show_sidebar]" {% if m.get('show_sidebar') == 1 %}checked="checked"{% endif %} value='1' type='checkbox' />
    </div>
</div>
{{ forms.textarea({label: 'Custom Content'|_, name: "model[content]", input_div_class: "col-md-10", value:  m.get('content'), id: "model-content", input_class: "ckeditor" }) }}
<script>
require(['jquery', 'jquery-ui', 'select2'], function($) {
    $('#category-view-name-select2').select2({
        sortResults: function(results, container, query) {
            for (var i = 0 ; i < results.length; i ++ ) {
                for (var j = i+1; j < results.length; j++) {
                   if (results[i].text.toLowerCase() > results[j].text.toLowerCase()) {
                       var tmp = results[i];
                       results[i] = results[j];
                       results[j] = tmp;
                   }
                }
            }
            return results;
        }
    });
    $('#show-order').sortable({
        scroll: false,
        revert: true,
        axis:'y',
        update: function(event, ui) {
            var pageParts = [];
            $('#show-order li').each(function(idx, el) {
                pageParts.push($(el).data('id'));
            });
            $('#model-page_parts').val(pageParts.join(','));
        }
    });
})
</script>
