{% set m = THIS.model %}

<div class="form-group">
    <label class="col-md-2 control-label" for="main-node_name">{{ 'Node Name'|_ }}</label>
    <div class="col-md-5">
        <input class="form-control" id="main-node_name" type="text" name="model[node_name]" value="{{ m.node_name }}" />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="main-url_key">{{ 'Url Key'|_ }}</label>
    <div class="col-md-5">
        <input class="form-control" id="main-url_key" type="text" name="model[url_key]" value="{{ m.url_key }}" />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="model-is-top-menu">{{ 'Show in top menu'|_ }}</label>
    <div class="col-md-5">
        <select class="form-control" id="model-is-top-menu" name="model[is_top_menu]">
            {{ UTIL.optionsHtml({0:'No', 1:'Yes'}, m.is_top_menu)|raw }}
        </select>
    </div>
</div>