{% set m = THIS.get('model') %}
<div class="form-group">
    <div class="col-md-2 control-label">{{ "ID: %s"|_(m.id()) }}</div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="main-node_name">{{ 'Category Name'|_ }}</label>
    <div class="col-md-5">
        <input class="form-control" id="main-node_name" type="text" name="model[node_name]" value="{{ m.get('node_name') }}" />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="main-url_key">{{ 'Url Key'|_ }}</label>
    <div class="col-md-5">
        <input class="form-control" id="main-url_key" type="text" name="model[url_key]" value="{{ m.get('url_key') }}" />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="model-is-top-menu">{{ 'Display'|_ }}</label>
    <div class="col-md-5">
        <input type="hidden" name="model[is_top_menu]" value="0" />
        <input id="model-is-top-menu" class="switch-cbx" name="model[is_top_menu]" {% if m.get('is_top_menu') == 1 %}checked="checked"{% endif %} value='1' type='checkbox' />
    </div>
</div>
