{% set tabs = THIS.sortedTabs() %}
{% set m = THIS.get('model') %}

<script>
    require(['fcom.admin', 'jquery.validate'], function() {
        FCom.Admin.Tabs('.f-admin-main-container', {
            url_get: "{{ THIS.get('form_url') }}",
            cur_tab: "{{ THIS.get('cur_tab') }}"
        });
        var mainForm = $('form#categories-tree-form');
        var elem = mainForm.find('input, textarea, select');
        function processFlag (validator) {
            var info = {};
            for(key in validator.invalid) {
                var element = jQuery('input[name="'+key+'"], textarea[name="'+key+'"], select[name="'+key+'"]');
                if (element.length>0) {
                    var tab = element.parents('div.tab-pane');
                    var key = '#'+tab.attr('id');
                    if (typeof(info[key]) === 'undefined')
                        info[key] = 1;
                    else
                        info[key]++;
                }
            }

            mainForm.find('ul.nav-tabs').find('li a').each(function(index) {
                var val = info[$(this).attr('href')];

                if (typeof(val) !== 'undefined')
                {
                    if ($(this).find('i.error').length === 0) {
                        $(this).append('<i class="icon-warning-sign error"></i>');
                    }
                } else {
                    $(this).find('i.error').remove();
                }
            });

            for (key in info) {
                $('a[href="'+key+'"]').trigger('click');
                break;
            }
        }
        mainForm.validate({
            ignore: [],
            invalidHandler: function(event, validator) {
                processFlag(validator);
            },
            submitHandler: function (form) {
                processFlag({invalid: null});
                if (CKEDITOR !== 'undefined') {
                    for (key in CKEDITOR.instances) {
                        $('#' + key).val(CKEDITOR.instances[key].getData());
                    }
                }
                $.ajax({
                    type: "POST",
                    url: mainForm.attr('action'),
                    data: mainForm.serialize(),
                    success: function (data)
                    {
                        if (data.status == 'error') {
                            $.bootstrapGrowl("{{ 'Error' |_ }}:<br>" + data.message, { type: 'danger', align: 'center', width: 'auto', delay: 5000});
                        }
                        if (data.status == 'success') {
                            $.bootstrapGrowl("Saved", { type: 'success', align: 'center', width: 'auto' });
                            var nodeSelected = $.jstree._focused().get_selected();
                            $.jstree._focused().set_text(nodeSelected, $('#model-node_name').val());
                            $('.page-header .f-page-title').html(data.path.replace(/\|/g, ' '));
                        }
                        console.log(self);
                    },
                    error: function (xhr, textStatus, errorThrown)
                    {
                        alert("[ERROR]<br>" + textStatus);
                    }
                });
            }
        });
        elem.on('change', function () {
            mainForm.find('ul.nav-tabs').find('li.active').each(function () {
                if ($(this).children('a').find('i.icon-pencil').length === 0) {
                    if ($(this).children('a').children('i.error').length !== 0) {
                        $('<i class="icon-pencil"></i>').insertBefore($(this).children('a').children('i.error'));
                    } else {
                        $(this).children('a').append('<i class="icon-pencil"></i>');
                    }
                }
            })
        });
        mainForm.on('keypress', 'input', function (e) {
            var charCode = e.charCode || e.keyCode || e.which;
            if (charCode == 13) {
                //enter will submit instead call first input type submit
                if ($(e.target).parents('div.f-grid-wrapper').length == 0) {
                    mainForm.submit();
                }
                //prevent enter to submit form to avoid filter issue
                return false;
            }
        });
        var categoriesTree = FCom.Admin.load('trees', '#categories');
        if (categoriesTree) {
            $('.page-header').find('button.tree-action').on('click', function(){
                var action = $(this).attr('data-action');
                var selected = categoriesTree.jstree('get_selected');
                switch (action) {
                    case 'create':
                        categoriesTree.jstree('create', selected, 'inside', { data: 'New Node'}, false, false);
                        break;
                    case 'remove':
                        categoriesTree.jstree('remove', selected);
                        break;
                    case 'clone':
                        categoriesTree.trigger('clone.jstree', selected);
                        break;
                    case 'reorder':
                        categoriesTree.trigger('reorder.jstree', selected);
                        break;
                    case 'refresh':
                        categoriesTree.jstree('refresh', selected);
                        break;
                }
                return false;
            });
        }
    });

</script>

  <div class="page-header f-admin-page-header">
    <div class="f-page-title">{{ m.get('full_name')|replace('|', ' > ') }}</div>
    <div class="btn-group">
      <button class="btn btn-primary btn-sm tree-action" data-action="create">{{ 'Create Subnode'|_ }}</button>
      <button class="btn btn-primary btn-sm tree-action" data-action="clone">{{ 'Clone'|_ }}</button>
      <button class="btn btn-primary btn-sm tree-action" data-action="reorder">{{ 'Reorder Subnodes A-Z'|_ }}</button>
      <button class="btn btn-primary btn-sm tree-action" data-action="refresh">{{ 'Refresh Subnodes'|_ }}</button>
      <button class="btn btn-primary btn-sm tree-action" data-action="remove">{{ 'Delete'|_ }}</button>
      <button class="btn btn-primary btn-sm" id="category_save" type="submit" name="action" value="save">{{ 'Save'|_ }}</button>
    </div>
  </div>
  {#<div class="tree-action">
    <div class="btn-group">

    </div>
  </div>#}
  <div class="f-admin-main">
    <ul class="nav nav-tabs f-horiz-nav-tabs">
      {% for k, tab in tabs %}
          <li>
              <a class="js-form-tab-toggle" href="#tab-{{ k }}" data-toggle="tab"><span class="icon"></span>{{ tab.label }} </a>
          </li>
      {% endfor %}
    </ul>
    <div class="tab-content f-admin-main-content">
      {% for k, tab in tabs %}
        {% if tab.view is not empty %}
            <div class="tab-pane" id="tab-{{ k }}" {% if tab.async is empty %}data-loaded="true"{% endif %}>
                {% if tab.async is empty %}{{ THIS.view(tab.view)|raw }}{% endif %}
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
