{% set wishlists = THIS.get('wishlists') %}
{% set wishlist = THIS.get('wishlist').items(false, true) %}

<div class="row f-mb-slideout-menu">
    <div class="col-sm-9 f-col-main">
    <header class="f-page-header">
        <h1 class="f-page-title">{{ "Wishlists" | _ }}</h1>
        <div class="btn-group btn-xs" role="group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a data-toggle="modal" href='#new-wishlist-modal'>{{ 'Create a Wishlists' | _ }}</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-toggle="modal" href='#wishlist-setting-modal'>{{ 'Wishlists Settings' | _ }}</a></li>
            </ul>
        </div>
        <a href="javascript:void(0);" id="button" class="f-mb-slideout-menu-toggle btn btn-default visible-xs">{{ 'Menu'|_ }}</a>
    </header>
    {{ THIS.view('core/messages') | raw }}
    {% if wishlists %}
        <form name="cart" action="{{ APP.href('wishlist') }}" method="post">
            {% for wId, wishlist in wishlists %}
                <h2>{{ wishlist.get('title') | default('Default Wishlist') }}</h2>
                <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
                <div class="table-responsive">
                    <table class="table">
                        <col width="30"/>
                        <col width="60"/>
                        <col/>
                        <col width="180"/>
                        <col width="70"/>
                        <col width="70"/>
                        <thead>
                            <tr>
                                <th>{{ "Select" | _ }}</th>
                                <th colspan="2">{{ "Product" | _ }}</th>
                                <th>{{ "Price" | _ }}</th>
                                <th>{{ 'Move' | _ }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in wishlist.items() %}
                                {% set p = item.product() %}
                                <tr id="f-product-row-{{ p.get('id') }}">
                                    <td>
                                        <label><input type="checkbox" name="selected[]" class="selected-checkbox" value="{{ item.get('id')}}"></label>
                                    </td>
                                    <td>
                                        <img src="{{ p.thumbUrl(85, 60) }}" width="85" height="60" class="product-img" alt="{{ p.getName() }}"/>
                                    </td>
                                    <td>
                                        <strong class="f-prod-name"><a href="{{ p.url(THIS.get('category')) }}">{{ p.getName() }}</a></strong>
                                    </td>
                                    <td>
                                        <div class="price-box">
                                            <span class="price">{{ p.getCatalogPrice() | currency }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <select data-wishlist="{{ wId }}" data-product="{{ p.get('id') }}" class="slt-wishlist-move">
                                            {% for oId, wl in wishlists %}
                                                {% if wl.id != wishlist.id %}
                                                    <option value="{{ oId }}">{{ wl.title }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <td colspan="4">
                                <button type="submit" class="btn btn-primary btn-xs" name="do" value="add_to_cart.{{ wId }}">{{ "Add Selected To Cart" | _ }}</button>
                                <button type="submit" class="btn btn-warning btn-xs" name="do" value="remove.{{ wId }}">{{ "Remove Selected" | _ }}</button>
                            </td>
                        </tfoot>
                    </table>
                </div>
            {% endfor %}
        </form>
    {% else %}
        <div class="alert alert-info">{{ "There are no products in wishlist" | _ }}.</div>
    {% endif %}
    </div>
    {{ THIS.view('customer/account/sidebar').set('current', 'wishlist') | raw }}
</div>

<div class="modal fade" id="new-wishlist-modal">
    <form id="new-wishlist-form" action="{{ APP.href('wishlist/create') }}" method="POST" role="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'Create a List' | _ }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert" style="display: none;"></div>
                    <div class="form-group">
                        <label for="">{{ 'List Title' | _ }}</label>
                        <input type="text" class="form-control" required="required" name="title" placeholder="Wishlist title">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-xs" data-loading-text="{{ 'Wishlist creating...' | _ }}">{{ 'Create a Wishlist' | _ }}</button>
                    <button type="button" class="btn btn-warning btn-xs" data-dismiss="modal">{{ 'Cancel' | _ }}</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="wishlist-setting-modal">
    <form id="wishlist-setting-form" action="{{ APP.href('wishlist/settings') }}" method="POST" role="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'List Settings' | _ }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert" style="display: none;"></div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>{{ "Wish Lists" | _ }}</th>
                                <th style="text-align: center;">{{ "Default" | _ }}</th>
                                <th style="text-align: center;">{{ "Delete" | _ }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for wId, wishlist in wishlists %}
                            <tr>
                                <td><input type="text" name="Wishlist[{{ wId }}][title]" class="form-control" value="{{ wishlist.title }}" required="required"></td>
                                <td style="text-align: center;">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="Wishlist[is_default]" value="{{ wishlist.id }}" {{ wishlist.is_default == '1' ? 'checked' : '' }}>
                                        </label>
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="delete[]" value="{{ wishlist.id }}">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-xs" data-loading-text="{{ 'Updating...' | _ }}">{{ 'Submit' | _ }}</button>
                    <button type="button" class="btn btn-warning btn-xs" data-dismiss="modal">{{ 'Cancel' | _ }}</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    require(['jquery', 'jquery.validate', 'select2'], function($) {
        jQuery(document).ready(function($) {
            var $mainForm = $('form[name="cart"]');

            $( "#button" ).click(function() {
                $('.f-mb-slideout-menu .f-col-sidebar').toggleClass( "open" );
            });

            $('.slt-wishlist-move').each(function() {
                $(this).select2().on("change", function(e) {
                    var $o   = $(e.target);
                    var wlId = $o.data('wishlist');
                    var pId  = $o.data('product');

                    if (!wlId || !pId) {
                        return false;
                    }

                    $.ajax("{{ APP.href('wishlist/move') }}?product="+pId+"&wishlist="+wlId+'&id='+$o.val(), {
                        dataType: "json"
                    }).done(function(r) {
                        if (r.success == true) {
                            setInterval(function() {
                                window.location.href = "{{ APP.href('wishlist') }}";
                            }, 1000);
                        }
                    });
                }).select2('val', null);
            });

            $('#new-wishlist-form').validate({ rules: { title: "required" } });
            $(document).on('submit', '#new-wishlist-form', function(e) {
                e.preventDefault();
                var $form      = $(this);
                var $btnSubmit = $(this).find('button[type="submit"]');
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    beforeSend: function() {
                        $form.find('.alert').removeClass('alert-success alert-danger').empty().hide();
                        $btnSubmit.button('loading');
                    }
                }).done(function(r) {
                    if (r.success == true) {
                        $form.find('.alert').addClass('alert-success').html(r.title).show();
                        setInterval(function() {
                            window.location.href = "{{ APP.href('wishlist') }}";
                        }, 1000);
                    } else {
                        $form.find('.alert').addClass('alert-danger').html(r.title).show();
                    }
                })
                .always(function() {
                    $btnSubmit.button('reset');
                });
            });

            $('#wishlist-setting-form').validate({ rules: { title: "required" } });
            $(document).on('submit', '#wishlist-setting-form', function(e) {
                e.preventDefault();
                var $form      = $(this);
                var $btnSubmit = $(this).find('button[type="submit"]');
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    beforeSend: function() {
                        $form.find('.alert').removeClass('alert-success alert-danger').empty().hide();
                        $btnSubmit.button('loading');
                    }
                }).done(function(r) {
                    if (r.success == true) {
                        $form.find('.alert').addClass('alert-success').html(r.title).show();
                        setInterval(function() {
                            window.location.href = "{{ APP.href('wishlist') }}";
                        }, 1000);
                    } else {
                        $form.find('.alert').addClass('alert-danger').html(r.title).show();
                    }
                }).always(function() {
                    $btnSubmit.button('reset');
                });
            });
        });
    });
</script>
