{% macro widget__insert_media(widget, library, context) %}
    {% import LAYOUT.view('core/form-elements').twigName() as forms %}
    {% import LAYOUT.view('core/layout-editor').twigName() as layout %}
    {{ forms.input({label: "Width"|_, name: "#{context.prefix}[widgets][#{widget.id}][width]", value: widget.width|default('640'), field: "width-#{widget.id}"}) }}
    {{ forms.input({label: "Height"|_, name: "#{context.prefix}[widgets][#{widget.id}][height]", value: widget.height|default('320'), field: "height-#{widget.id}"}) }}
    {{ forms.hidden({name: "#{context.prefix}[widgets][#{widget.id}][src]", value: widget.src, field: "src-#{widget.id}"}) }}
    <div id="lib-images-{{ widget.id }}">
        {% set type = 'images' %}
        {% set medialibConfig = {
            id: 'all_' ~ type,
            type: type,
            config:  APP.instance('FCom_Admin_Controller_MediaLibrary').gridConfigLibrary({'id': 'all_' ~ type})
        } %}

        <!-- Att -->
        <button type="button" class='btn btn-primary' id='{{ medialibConfig.id }}-media-modal-toggle'>{{ "Select Image"|_ }}</button>
        {#{{ dump(medialibConfig) }}#}
        {{ LAYOUT.view('core/medialib-griddle').set('config', medialibConfig)|raw }}
        <script type="text/javascript">
            require(['jquery'], function ($) {
                var mediaModal = $('#{{ medialibConfig.id }}-media-modal');
                if (mediaModal) {
                    $('#{{ medialibConfig.id }}-media-modal-toggle').on('click', function () {
                        mediaModal.modal('show');
                    });
                }
            });
        </script>
        <!-- Att end -->
    </div>
    {{ layout.widget_custom_params(widget, library, context) }}
{% endmacro %}
