{% set c = THIS.get('model') %}

<h2>{{ "Disqus Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_Disqus">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'Disqus Settings'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_Disqus-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Show on all pages'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[modules][FCom_Disqus][show_on_all_pages]" value="0"/>
                        <input class="switch-cbx" name="config[modules][FCom_Disqus][show_on_all_pages]" {% if c.get("modules/FCom_Disqus/show_on_all_pages") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Show on product pages'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[modules][FCom_Disqus][show_on_product]" value="0"/>
                        <input class="switch-cbx" name="config[modules][FCom_Disqus][show_on_product]" {% if c.get("modules/FCom_Disqus/show_on_product") == 1 %}checked="checked"{% endif %} value='1' type='checkbox'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Comments Javascript Code'|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control" class="js-code-editor" name="config[modules][FCom_Disqus][comments_code]" data-mode="javascript" rows="5">{{ c.get('modules/FCom_Disqus/comments_code') }}</textarea>
                        <p><a href="http://disqus.com/admin/settings/universalcode/" target="_blank">{{ 'Get your code here (requires disqus.com account)' | raw }} </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Counts Javascript Code'|_ }}</label>
                    <div class="col-md-5">
                        <textarea class="form-control" class="js-code-editor"name="config[modules][FCom_Disqus][counts_code]" data-mode="javascript" rows="5">{{ c.get('modules/FCom_Disqus/counts_code') }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() { FCom.Admin.initCodeEditors() })
</script>
