{% set c = THIS.get('model') %}

<h2>{{ "Paypal Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_Paypal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'Production'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_Paypal-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Username'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_PayPal][production][username]" value="{{ THIS.q(c.get('modules/FCom_PayPal/production/username')) }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Password'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_PayPal][production][password]" value="{{ THIS.q(c.get('modules/FCom_PayPal/production/password')) }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Signature'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_PayPal][production][signature]" value="{{ THIS.q(c.get('modules/FCom_PayPal/production/signature')) }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Show shipping address on PayPal'|_ }}</label>
                    <div class="col-md-10">
                        <label class="radio radio-inline">
                            <input type="radio" name="config[modules][FCom_PayPal][show_shipping]"
                                   value="on" {% if c.get('modules/FCom_PayPal/show_shipping') == 'on' %}checked="checked"{% endif %} /> Yes
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" name="config[modules][FCom_PayPal][show_shipping]"
                                   value="off" {% if c.get('modules/FCom_PayPal/show_shipping') == 'off' %}checked="checked"{% endif %} /> No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'Sandbox'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body" id="settings-FCom_Paypal-group1">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Sandbox mode'|_ }}</label>
                    <div class="col-md-10">
                        <label class="radio radio-inline">
                            <input type="radio" name="config[modules][FCom_PayPal][sandbox][mode]"
                                   value="on" {% if c.get('modules/FCom_PayPal/sandbox/mode') == 'on' %}checked="checked"{% endif %} /> Yes
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" name="config[modules][FCom_PayPal][sandbox][mode]"
                                   value="off" {% if c.get('modules/FCom_PayPal/sandbox/mode') == 'off' %}checked="checked"{% endif %} /> No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Username'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_PayPal][sandbox][username]" value="{{ THIS.q(c.get('modules/FCom_PayPal/sandbox/username')) }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Password'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_PayPal][sandbox][password]" value="{{ THIS.q(c.get('modules/FCom_PayPal/sandbox/password')) }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Signature'|_ }}</label>
                    <div class="col-md-5">
                        <input class="form-control" size="50" type="text" name="config[modules][FCom_PayPal][sandbox][signature]" value="{{ THIS.q(c.get('modules/FCom_PayPal/sandbox/signature')) }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
